Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

Add name to Core Team list in README (#5801)
  README.md
Owners: none

Add name to Core Team list in README (#5801)
  README.md
Owners: none

Move BadgeAchievements::SendEmailNotificationWorker to Sidekiq (#5779) [deploy]
  app/models/badge_achievement.rb
  app/workers/badge_achievements/send_email_notification_worker.rb
  spec/system/internal/admin_awards_badges_spec.rb
  spec/workers/badge_achievements/send_email_notification_worker_spec.rb
Owners: @thepracticaldev/sre, @jacobherrington, @zhao-andy

Move BadgeAchievements::SendEmailNotificationWorker to Sidekiq (#5779) [deploy]
  app/models/badge_achievement.rb
  app/workers/badge_achievements/send_email_notification_worker.rb
  spec/system/internal/admin_awards_badges_spec.rb
  spec/workers/badge_achievements/send_email_notification_worker_spec.rb
Owners: @thepracticaldev/sre, @jacobherrington, @zhao-andy

Update yarn.lock (#5811)
  config/environments/development.rb
  yarn.lock
Owners: @thepracticaldev/sre, @maestromac

Update yarn.lock (#5811)
  config/environments/development.rb
  yarn.lock
Owners: @thepracticaldev/sre, @maestromac

Remove BustHomepageCacheJob and spec (#5777) [deploy]
  app/jobs/reactions/bust_homepage_cache_job.rb
  spec/jobs/reactions/bust_homepage_cache_job_spec.rb
Owners: @thepracticaldev/sre

Remove BustHomepageCacheJob and spec (#5777) [deploy]
  app/jobs/reactions/bust_homepage_cache_job.rb
  spec/jobs/reactions/bust_homepage_cache_job_spec.rb
Owners: @thepracticaldev/sre

track stripe errors in Datadog so we can alert on them (#5797)
  app/controllers/stripe_active_cards_controller.rb
  spec/requests/stripe_active_cards_spec.rb
Owners: none

track stripe errors in Datadog so we can alert on them (#5797)
  app/controllers/stripe_active_cards_controller.rb
  spec/requests/stripe_active_cards_spec.rb
Owners: none

Introduce Elasticsearch to DEV env (#5762) [deploy]
  Envfile
  Gemfile
  Gemfile.lock
  config/initializers/elasticsearch.rb
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/windows.md
Owners: @maestromac, @thepracticaldev/sre, @jacobherrington

Introduce Elasticsearch to DEV env (#5762) [deploy]
  Envfile
  Gemfile
  Gemfile.lock
  config/initializers/elasticsearch.rb
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/windows.md
Owners: @maestromac, @thepracticaldev/sre, @jacobherrington

Read Gemfile ruby from .ruby-version (#5780)
  Gemfile
Owners: @maestromac

Read Gemfile ruby from .ruby-version (#5780)
  Gemfile
Owners: @maestromac

User counters using PostgreSQL JSON (#5373) [deploy]
  app/models/user.rb
  app/models/user_counter.rb
  app/serializers/hash_serializer.rb
  db/migrate/20200106074859_create_user_counters.rb
  db/schema.rb
  lib/tasks/counters.rake
  spec/factories/user_counters.rb
  spec/models/user_counter_spec.rb
  spec/models/user_spec.rb
Owners: @thepracticaldev/sre

User counters using PostgreSQL JSON (#5373) [deploy]
  app/models/user.rb
  app/models/user_counter.rb
  app/serializers/hash_serializer.rb
  db/migrate/20200106074859_create_user_counters.rb
  db/schema.rb
  lib/tasks/counters.rake
  spec/factories/user_counters.rb
  spec/models/user_counter_spec.rb
  spec/models/user_spec.rb
Owners: @thepracticaldev/sre

add missing sha512 to ES mac docs (#5863)
  docs/installation/mac.md
Owners: @jacobherrington

add missing sha512 to ES mac docs (#5863)
  docs/installation/mac.md
Owners: @jacobherrington

chore: add a core team member (#5812)
  README.md
Owners: none

chore: add a core team member (#5812)
  README.md
Owners: none

Fix typo in ReactionObserver (#5834) [deploy]
  app/observers/reaction_observer.rb
Owners: none

Fix typo in ReactionObserver (#5834) [deploy]
  app/observers/reaction_observer.rb
Owners: none

Return a 404 response If @event is Not Found (#5798) [deploy]
  app/controllers/events_controller.rb
  spec/requests/events_spec.rb
Owners: none

Return a 404 response If @event is Not Found (#5798) [deploy]
  app/controllers/events_controller.rb
  spec/requests/events_spec.rb
Owners: none

Replace the initial migration for strong_migrations gem (#5865)
  config/initializers/strong_migrations.rb
Owners: @thepracticaldev/sre

Replace the initial migration for strong_migrations gem (#5865)
  config/initializers/strong_migrations.rb
Owners: @thepracticaldev/sre

Add whitespace to internal users edit page (#5840)
  app/views/internal/users/edit.html.erb
Owners: @jacobherrington, @zhao-andy

Add whitespace to internal users edit page (#5840)
  app/views/internal/users/edit.html.erb
Owners: @jacobherrington, @zhao-andy

Remove old ResaveArticlesJob and spec (#5867)
  app/jobs/users/resave_articles_job.rb
  spec/jobs/users/resave_articles_job_spec.rb
Owners: @thepracticaldev/sre

Remove old ResaveArticlesJob and spec (#5867)
  app/jobs/users/resave_articles_job.rb
  spec/jobs/users/resave_articles_job_spec.rb
Owners: @thepracticaldev/sre

Remove old SubscribeToMailchimpNewsletterJob & spec (#5868)
  app/jobs/users/subscribe_to_mailchimp_newsletter_job.rb
  spec/jobs/users/subscribe_to_mailchimp_newsletter_job_spec.rb
Owners: @thepracticaldev/sre

Remove old SubscribeToMailchimpNewsletterJob & spec (#5868)
  app/jobs/users/subscribe_to_mailchimp_newsletter_job.rb
  spec/jobs/users/subscribe_to_mailchimp_newsletter_job_spec.rb
Owners: @thepracticaldev/sre

Remove BadgeAchievements::SendEmailNotificationJob (#5869) [deploy]
  app/jobs/badge_achievements/send_email_notification_job.rb
  spec/jobs/badge_achievements/send_email_notification_job_spec.rb
Owners: @thepracticaldev/sre

Remove BadgeAchievements::SendEmailNotificationJob (#5869) [deploy]
  app/jobs/badge_achievements/send_email_notification_job.rb
  spec/jobs/badge_achievements/send_email_notification_job_spec.rb
Owners: @thepracticaldev/sre

Render main image in article preview for v2 editor (#5873) [deploy]
  app/javascript/article-form/elements/__tests__/__snapshots__/bodyPreview.test.jsx.snap
  app/javascript/article-form/elements/__tests__/bodyPreview.test.jsx
  app/javascript/article-form/elements/bodyPreview.jsx
Owners: none

Render main image in article preview for v2 editor (#5873) [deploy]
  app/javascript/article-form/elements/__tests__/__snapshots__/bodyPreview.test.jsx.snap
  app/javascript/article-form/elements/__tests__/bodyPreview.test.jsx
  app/javascript/article-form/elements/bodyPreview.jsx
Owners: none

Remove footer rendering from shecoded.html.erb (#5823)
  app/views/pages/shecoded.html.erb
Owners: none

Remove footer rendering from shecoded.html.erb (#5823)
  app/views/pages/shecoded.html.erb
Owners: none

Cleanup proptypes exports (#5874)
  app/javascript/sidebar-widget/sidebarUser.jsx
  app/javascript/src/components/common-prop-types/default-children-prop-types.js
  app/javascript/src/components/common-prop-types/index.js
  app/javascript/src/components/common-prop-types/user-prop-types.js
Owners: none

Cleanup proptypes exports (#5874)
  app/javascript/sidebar-widget/sidebarUser.jsx
  app/javascript/src/components/common-prop-types/default-children-prop-types.js
  app/javascript/src/components/common-prop-types/index.js
  app/javascript/src/components/common-prop-types/user-prop-types.js
Owners: none

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Team snackCase
/app/assets/stylesheets/internal/ @jacobherrington @zhao-andy
/app/controllers/internal/        @jacobherrington @zhao-andy
/app/views/internal/              @jacobherrington @zhao-andy
/app/views/moderation/            @jacobherrington @zhao-andy
/spec/system/internal/            @jacobherrington @zhao-andy
/spec/requests/internal/          @jacobherrington @zhao-andy
/docs/                            @jacobherrington
