Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

Bump assets version (#5587)
  config/initializers/assets.rb
Owners: @thepracticaldev/sre

Bump assets version (#5587)
  config/initializers/assets.rb
Owners: @thepracticaldev/sre

Add Follows::CreateChatChannelWorker for Sidekiq (#5458)
  app/models/follow.rb
  app/workers/follows/create_chat_channel_worker.rb
  spec/models/follow_spec.rb
  spec/workers/follows/create_chat_channel_worker_spec.rb
Owners: @thepracticaldev/sre

Add Follows::CreateChatChannelWorker for Sidekiq (#5458)
  app/models/follow.rb
  app/workers/follows/create_chat_channel_worker.rb
  spec/models/follow_spec.rb
  spec/workers/follows/create_chat_channel_worker_spec.rb
Owners: @thepracticaldev/sre

Add mentions send email notifications worker (#5549)
  app/models/mention.rb
  app/workers/mentions/send_email_notification_worker.rb
  spec/workers/mentions/send_email_notification_worker_spec.rb
Owners: @thepracticaldev/sre

Add mentions send email notifications worker (#5549)
  app/models/mention.rb
  app/workers/mentions/send_email_notification_worker.rb
  spec/workers/mentions/send_email_notification_worker_spec.rb
Owners: @thepracticaldev/sre

Remove NewFollowerJob and spec (#5569) [deploy]
  app/jobs/notifications/new_follower_job.rb
  spec/jobs/notifications/new_follower_job_spec.rb
  spec/models/notification_spec.rb
Owners: @thepracticaldev/sre

Remove NewFollowerJob and spec (#5569) [deploy]
  app/jobs/notifications/new_follower_job.rb
  spec/jobs/notifications/new_follower_job_spec.rb
  spec/models/notification_spec.rb
Owners: @thepracticaldev/sre

Refactor RateLimitChecker (#5521)
  app/labor/rate_limit_checker.rb
  app/models/site_config.rb
  spec/labor/rate_limit_checker_spec.rb
  spec/requests/follows_create_spec.rb
Owners: none

Refactor RateLimitChecker (#5521)
  app/labor/rate_limit_checker.rb
  app/models/site_config.rb
  spec/labor/rate_limit_checker_spec.rb
  spec/requests/follows_create_spec.rb
Owners: none

Change CreateJob to CreateWorker and move to sidekiq (#5559)
  app/controllers/api/v0/reactions_controller.rb
  app/workers/reactions/create_worker.rb
  spec/workers/reactions/create_worker_spec.rb
Owners: @thepracticaldev/sre

Change CreateJob to CreateWorker and move to sidekiq (#5559)
  app/controllers/api/v0/reactions_controller.rb
  app/workers/reactions/create_worker.rb
  spec/workers/reactions/create_worker_spec.rb
Owners: @thepracticaldev/sre

Remove git add from lint staged (#5607)
  package.json
Owners: none

Remove git add from lint staged (#5607)
  package.json
Owners: none

Replace ProMemberships::PopulateHistoryJob with ProMemberships::PopulateHistoryWorker for Sidekiq 5305 (#5584)
  app/services/pro_memberships/creator.rb
  app/workers/pro_memberships/populate_history_worker.rb
  spec/requests/pro_memberships_spec.rb
  spec/workers/pro_memberships/populate_history_worker_spec.rb
Owners: @thepracticaldev/sre

Replace ProMemberships::PopulateHistoryJob with ProMemberships::PopulateHistoryWorker for Sidekiq 5305 (#5584)
  app/services/pro_memberships/creator.rb
  app/workers/pro_memberships/populate_history_worker.rb
  spec/requests/pro_memberships_spec.rb
  spec/workers/pro_memberships/populate_history_worker_spec.rb
Owners: @thepracticaldev/sre

Refactor/user bust cache job (#5563)
  app/jobs/users/bust_cache_job.rb
  app/models/comment.rb
  app/models/user.rb
  app/workers/users/bust_cache_worker.rb
  spec/jobs/users/bust_cache_job_spec.rb
  spec/requests/pro_memberships_spec.rb
  spec/services/pro_memberships/biller_spec.rb
  spec/workers/users/bust_cache_worker_spec.rb
Owners: @thepracticaldev/sre

Refactor/user bust cache job (#5563)
  app/jobs/users/bust_cache_job.rb
  app/models/comment.rb
  app/models/user.rb
  app/workers/users/bust_cache_worker.rb
  spec/jobs/users/bust_cache_job_spec.rb
  spec/requests/pro_memberships_spec.rb
  spec/services/pro_memberships/biller_spec.rb
  spec/workers/users/bust_cache_worker_spec.rb
Owners: @thepracticaldev/sre

Fix Travis S3 Artifact AddOn (#5610)
  .travis.yml
Owners: none

Fix Travis S3 Artifact AddOn (#5610)
  .travis.yml
Owners: none

Fix error handling bugs in stackexchange tag (#5490)
  app/liquid_tags/stackexchange_tag.rb
  spec/liquid_tags/stackexchange_tag_spec.rb
  spec/support/fixtures/vcr_cassettes/stackexchange_api.yml
  spec/support/fixtures/vcr_cassettes/stackexchange_tag_deleted_question.yml
  spec/support/fixtures/vcr_cassettes/stackexchange_tag_stackexchange.yml
  spec/support/fixtures/vcr_cassettes/stackexchange_tag_stackoverflow.yml
Owners: none

Fix error handling bugs in stackexchange tag (#5490)
  app/liquid_tags/stackexchange_tag.rb
  spec/liquid_tags/stackexchange_tag_spec.rb
  spec/support/fixtures/vcr_cassettes/stackexchange_api.yml
  spec/support/fixtures/vcr_cassettes/stackexchange_tag_deleted_question.yml
  spec/support/fixtures/vcr_cassettes/stackexchange_tag_stackexchange.yml
  spec/support/fixtures/vcr_cassettes/stackexchange_tag_stackoverflow.yml
Owners: none

[deploy] Raise not_found for spam-banished users (#5586)
  app/controllers/stories_controller.rb
  app/decorators/organization_decorator.rb
  app/decorators/user_decorator.rb
  spec/decorators/user_decorator_spec.rb
  spec/models/organization_spec.rb
  spec/requests/user/user_profile_spec.rb
Owners: none

[deploy] Raise not_found for spam-banished users (#5586)
  app/controllers/stories_controller.rb
  app/decorators/organization_decorator.rb
  app/decorators/user_decorator.rb
  spec/decorators/user_decorator_spec.rb
  spec/models/organization_spec.rb
  spec/requests/user/user_profile_spec.rb
Owners: none

Utilize NewComment::Send in Notification model (#5565) [deploy]
  app/models/notification.rb
  spec/models/notification_spec.rb
  spec/requests/comments_update_spec.rb
Owners: none

Utilize NewComment::Send in Notification model (#5565) [deploy]
  app/models/notification.rb
  spec/models/notification_spec.rb
  spec/requests/comments_update_spec.rb
Owners: none

Optimize Notifications::Update and it specs (#5417)
  app/models/notification.rb
  app/services/notifications/update.rb
  spec/services/notifications/update_spec.rb
Owners: none

Optimize Notifications::Update and it specs (#5417)
  app/models/notification.rb
  app/services/notifications/update.rb
  spec/services/notifications/update_spec.rb
Owners: none

feat: add per-user Open Dyslexic font setting (#5037) [deploy]
  app/assets/fonts/OpenDyslexic-Bold.otf
  app/assets/fonts/OpenDyslexic-BoldItalic.otf
  app/assets/fonts/OpenDyslexic-Italic.otf
  app/assets/fonts/OpenDyslexic-Regular.otf
  app/assets/stylesheets/_fonts.scss
  app/assets/stylesheets/scaffolds.scss
  app/assets/stylesheets/theme-selector.scss
  app/models/user.rb
  app/views/layouts/_user_config.html.erb
  app/views/users/_ux.html.erb
  config/initializers/assets.rb
  docs/backend/roles.md
  docs/frontend/liquid-tags.md
  docs/getting-started/workflow.md
  spec/models/user_spec.rb
Owners: @thepracticaldev/sre, @jacobherrington

feat: add per-user Open Dyslexic font setting (#5037) [deploy]
  app/assets/fonts/OpenDyslexic-Bold.otf
  app/assets/fonts/OpenDyslexic-BoldItalic.otf
  app/assets/fonts/OpenDyslexic-Italic.otf
  app/assets/fonts/OpenDyslexic-Regular.otf
  app/assets/stylesheets/_fonts.scss
  app/assets/stylesheets/scaffolds.scss
  app/assets/stylesheets/theme-selector.scss
  app/models/user.rb
  app/views/layouts/_user_config.html.erb
  app/views/users/_ux.html.erb
  config/initializers/assets.rb
  docs/backend/roles.md
  docs/frontend/liquid-tags.md
  docs/getting-started/workflow.md
  spec/models/user_spec.rb
Owners: @thepracticaldev/sre, @jacobherrington

remove unused Algolia module from Tweet (#5617)
  app/models/tweet.rb
Owners: none

remove unused Algolia module from Tweet (#5617)
  app/models/tweet.rb
Owners: none

Retry more for Articles::UpdateAnalyticsWorker since it can fail due to API rate limit errors (#5618)
  app/workers/articles/update_analytics_worker.rb
Owners: @thepracticaldev/sre

Retry more for Articles::UpdateAnalyticsWorker since it can fail due to API rate limit errors (#5618)
  app/workers/articles/update_analytics_worker.rb
Owners: @thepracticaldev/sre

Delete unused OrganizationObserver (#5619) [deploy]
  app/observers/organization_observer.rb
Owners: none

Delete unused OrganizationObserver (#5619) [deploy]
  app/observers/organization_observer.rb
Owners: none

Adds 4estate.media to Mastodon instance whitelist (#5625)
  app/lib/constants.rb
Owners: none

Adds 4estate.media to Mastodon instance whitelist (#5625)
  app/lib/constants.rb
Owners: none

Add nickytonline to core team (#5628) [ci skip]
  README.md
Owners: none

Add nickytonline to core team (#5628) [ci skip]
  README.md
Owners: none

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Jacob
/app/assets/stylesheets/internal/ @jacobherrington
/app/controllers/internal/        @jacobherrington
/app/views/internal/              @jacobherrington
/app/views/moderation/            @jacobherrington
/spec/system/internal/            @jacobherrington
/spec/requests/internal/          @jacobherrington
/docs/                            @jacobherrington

# Andy
/app/assets/stylesheets/internal/ @zhao-andy
/app/controllers/internal/        @zhao-andy
/app/views/internal/              @zhao-andy
/app/views/moderation/            @zhao-andy
/spec/system/internal/            @zhao-andy
/spec/requests/internal/          @zhao-andy
