Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

Fixed rubocop issues (#5506)
  spec/models/organization_spec.rb
  spec/models/user_spec.rb
  spec/workers/comments/calculate_score_worker_spec.rb
  spec/workers/comments/send_email_notification_worker_spec.rb
  spec/workers/notifications/new_reaction_worker_spec.rb
  spec/workers/podcast_episodes/bust_cache_worker_spec.rb
Owners: none

Fixed rubocop issues (#5506)
  spec/models/organization_spec.rb
  spec/models/user_spec.rb
  spec/workers/comments/calculate_score_worker_spec.rb
  spec/workers/comments/send_email_notification_worker_spec.rb
  spec/workers/notifications/new_reaction_worker_spec.rb
  spec/workers/podcast_episodes/bust_cache_worker_spec.rb
Owners: none

Destroy messages if chat channels are destroyed (#5498)
  app/models/chat_channel.rb
  spec/models/chat_channel_spec.rb
Owners: none

Destroy messages if chat channels are destroyed (#5498)
  app/models/chat_channel.rb
  spec/models/chat_channel_spec.rb
Owners: none

Remove temporary site config script and unused ENV var (#5455) [deploy]
  Envfile
  app/views/users/_account.html.erb
  lib/tasks/temporary/migrate_environment_variables_site_config.rake
Owners: none

Remove temporary site config script and unused ENV var (#5455) [deploy]
  Envfile
  app/views/users/_account.html.erb
  lib/tasks/temporary/migrate_environment_variables_site_config.rake
Owners: none

Return 429 Too Many Requests instead of raising (#5504)
  app/controllers/comments_controller.rb
  spec/requests/comments_create_spec.rb
Owners: none

Return 429 Too Many Requests instead of raising (#5504)
  app/controllers/comments_controller.rb
  spec/requests/comments_create_spec.rb
Owners: none

Move Twitch webhook registration from ActiveJob to Sidekiq (#5414)
  app/controllers/users_controller.rb
  app/jobs/streams/twitch_webhook_registration_job.rb
  app/workers/streams/twitch_webhook_registration_worker.rb
  lib/tasks/twitch.rake
  spec/jobs/streams/twitch_webhook_registration_job_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/workers/streams/twitch_webhook_registration_worker_spec.rb
Owners: @thepracticaldev/sre

Move Twitch webhook registration from ActiveJob to Sidekiq (#5414)
  app/controllers/users_controller.rb
  app/jobs/streams/twitch_webhook_registration_job.rb
  app/workers/streams/twitch_webhook_registration_worker.rb
  lib/tasks/twitch.rake
  spec/jobs/streams/twitch_webhook_registration_job_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/workers/streams/twitch_webhook_registration_worker_spec.rb
Owners: @thepracticaldev/sre

ActiveRecord count optimizations (#5478) [deploy]
  app/labor/email_logic.rb
  app/models/application_record.rb
  app/views/internal/users/_notes.erb
  app/views/moderations/mod.html.erb
  app/views/partnerships/index.html.erb
  app/views/stories/_sign_in_invitation.html.erb
  app/views/users/_account.html.erb
  lib/tasks/fetch.rake
  spec/labor/email_logic_spec.rb
  spec/models/application_record_spec.rb
Owners: @zhao-andy

ActiveRecord count optimizations (#5478) [deploy]
  app/labor/email_logic.rb
  app/models/application_record.rb
  app/views/internal/users/_notes.erb
  app/views/moderations/mod.html.erb
  app/views/partnerships/index.html.erb
  app/views/stories/_sign_in_invitation.html.erb
  app/views/users/_account.html.erb
  lib/tasks/fetch.rake
  spec/labor/email_logic_spec.rb
  spec/models/application_record_spec.rb
Owners: @zhao-andy

Add visual indication for listing buffer actions (#5411)
  app/views/internal/articles/_article_script.html.erb
Owners: @zhao-andy

Add visual indication for listing buffer actions (#5411)
  app/views/internal/articles/_article_script.html.erb
Owners: @zhao-andy

Remove unused Envfile variables (#5474)
  Envfile
  config/sample_application.yml
  docker-run.sh
  docs/backend/auth-github.md
  docs/backend/auth-twitter.md
Owners: @thepracticaldev/sre, @jacobherrington

Remove unused Envfile variables (#5474)
  Envfile
  config/sample_application.yml
  docker-run.sh
  docs/backend/auth-github.md
  docs/backend/auth-twitter.md
Owners: @thepracticaldev/sre, @jacobherrington

Use .execute to avoid any possibility of prepared statements (#5509) [deploy]
  app/models/application_record.rb
Owners: none

Use .execute to avoid any possibility of prepared statements (#5509) [deploy]
  app/models/application_record.rb
Owners: none

Modify podcast design details and functionality (#5472) [deploy]
  app/assets/javascripts/initializePage.js.erb
  app/assets/javascripts/initializers/initializeFetchFollowedArticles.js.erb
  app/assets/javascripts/initializers/initializePodcastPlayback.js
  app/assets/stylesheets/articles.scss
  app/assets/stylesheets/ltags/PodcastTag.scss
  app/assets/stylesheets/podcast-episodes-show.scss
  app/assets/stylesheets/scaffolds.scss
  app/assets/stylesheets/shared.scss
  app/controllers/stories_controller.rb
  app/models/podcast.rb
  app/views/articles/index.html.erb
  app/views/podcast_episodes/_liquid.html.erb
  app/views/podcast_episodes/_podcast_bar.html.erb
  app/views/podcast_episodes/show.html.erb
  app/views/stories/_main_stories_feed.html.erb
Owners: none

Modify podcast design details and functionality (#5472) [deploy]
  app/assets/javascripts/initializePage.js.erb
  app/assets/javascripts/initializers/initializeFetchFollowedArticles.js.erb
  app/assets/javascripts/initializers/initializePodcastPlayback.js
  app/assets/stylesheets/articles.scss
  app/assets/stylesheets/ltags/PodcastTag.scss
  app/assets/stylesheets/podcast-episodes-show.scss
  app/assets/stylesheets/scaffolds.scss
  app/assets/stylesheets/shared.scss
  app/controllers/stories_controller.rb
  app/models/podcast.rb
  app/views/articles/index.html.erb
  app/views/podcast_episodes/_liquid.html.erb
  app/views/podcast_episodes/_podcast_bar.html.erb
  app/views/podcast_episodes/show.html.erb
  app/views/stories/_main_stories_feed.html.erb
Owners: none

Handle liquid tag errors in comments form (#5485) [deploy]
  app/assets/javascripts/initializers/initializeCommentsPage.js.erb
  app/controllers/comments_controller.rb
Owners: none

Handle liquid tag errors in comments form (#5485) [deploy]
  app/assets/javascripts/initializers/initializeCommentsPage.js.erb
  app/controllers/comments_controller.rb
Owners: none

Fix podcast NaN time issue (#5513) [deploy]
  app/assets/javascripts/initializers/initializePodcastPlayback.js
  app/views/podcast_episodes/_liquid.html.erb
  app/views/podcast_episodes/_podcast_bar.html.erb
Owners: none

Fix podcast NaN time issue (#5513) [deploy]
  app/assets/javascripts/initializers/initializePodcastPlayback.js
  app/views/podcast_episodes/_liquid.html.erb
  app/views/podcast_episodes/_podcast_bar.html.erb
Owners: none

adding section for switching to free plan (#5514)
  docs/backend/algolia.md
Owners: @jacobherrington

adding section for switching to free plan (#5514)
  docs/backend/algolia.md
Owners: @jacobherrington

Currect .menubg top position (#5505)
  app/assets/stylesheets/top-bar.scss
Owners: none

Currect .menubg top position (#5505)
  app/assets/stylesheets/top-bar.scss
Owners: none

Comments API: fix caching issues (#4744) [deploy]
  app/controllers/api/v0/comments_controller.rb
  app/jobs/comments/bust_cache_job.rb
  app/views/api/v0/comments/_comment.json.jbuilder
  app/views/api/v0/comments/_comment_with_children.json.jbuilder
  app/views/api/v0/comments/_comments_with_children.json.jbuilder
  app/views/api/v0/comments/index.json.jbuilder
  app/views/api/v0/comments/show.json.jbuilder
  spec/requests/api/v0/comments_spec.rb
Owners: @thepracticaldev/sre

Comments API: fix caching issues (#4744) [deploy]
  app/controllers/api/v0/comments_controller.rb
  app/jobs/comments/bust_cache_job.rb
  app/views/api/v0/comments/_comment.json.jbuilder
  app/views/api/v0/comments/_comment_with_children.json.jbuilder
  app/views/api/v0/comments/_comments_with_children.json.jbuilder
  app/views/api/v0/comments/index.json.jbuilder
  app/views/api/v0/comments/show.json.jbuilder
  spec/requests/api/v0/comments_spec.rb
Owners: @thepracticaldev/sre

Scrub unused data sent to Honeycomb to save space (#5512) [deploy]
  config/initializers/honeycomb.rb
Owners: @thepracticaldev/sre

Scrub unused data sent to Honeycomb to save space (#5512) [deploy]
  config/initializers/honeycomb.rb
Owners: @thepracticaldev/sre

Fix spec that broke after we merged #4744 (#5529) [deploy]
  spec/jobs/comments/bust_cache_job_spec.rb
Owners: none

Fix spec that broke after we merged #4744 (#5529) [deploy]
  spec/jobs/comments/bust_cache_job_spec.rb
Owners: none

Log DB Table sizes in a Sidekiq Worker (#5518)
  app/workers/metrics/record_db_table_counts_worker.rb
  lib/tasks/fetch.rake
  spec/workers/metrics/record_db_table_counts_worker_spec.rb
Owners: @thepracticaldev/sre

Log DB Table sizes in a Sidekiq Worker (#5518)
  app/workers/metrics/record_db_table_counts_worker.rb
  lib/tasks/fetch.rake
  spec/workers/metrics/record_db_table_counts_worker_spec.rb
Owners: @thepracticaldev/sre

Change Notifications::RemoveAllJob to Notifications::RemoveAllWorker and move to sidekiq (#5451)
  app/models/notification.rb
  app/workers/notifications/remove_all_worker.rb
  spec/jobs/notifications/remove_all_job_spec.rb
  spec/models/comment_spec.rb
  spec/models/notification_spec.rb
  spec/requests/articles/articles_destroy_spec.rb
  spec/services/articles/destroyer_spec.rb
  spec/workers/notifications/remove_all_worker_spec.rb
Owners: @thepracticaldev/sre

Change Notifications::RemoveAllJob to Notifications::RemoveAllWorker and move to sidekiq (#5451)
  app/models/notification.rb
  app/workers/notifications/remove_all_worker.rb
  spec/jobs/notifications/remove_all_job_spec.rb
  spec/models/comment_spec.rb
  spec/models/notification_spec.rb
  spec/requests/articles/articles_destroy_spec.rb
  spec/services/articles/destroyer_spec.rb
  spec/workers/notifications/remove_all_worker_spec.rb
Owners: @thepracticaldev/sre

Remove unnecessary heroku slug commit values in cache keys (#5524)
  app/views/articles/index.html.erb
  app/views/stories/_main_stories_feed.html.erb
Owners: none

Remove unnecessary heroku slug commit values in cache keys (#5524)
  app/views/articles/index.html.erb
  app/views/stories/_main_stories_feed.html.erb
Owners: none

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Jacob
/app/assets/stylesheets/internal/ @jacobherrington
/app/controllers/internal/        @jacobherrington
/app/views/internal/              @jacobherrington
/app/views/moderation/            @jacobherrington
/spec/system/internal/            @jacobherrington
/spec/requests/internal/          @jacobherrington
/docs/                            @jacobherrington

# Andy
/app/assets/stylesheets/internal/ @zhao-andy
/app/controllers/internal/        @zhao-andy
/app/views/internal/              @zhao-andy
/app/views/moderation/            @zhao-andy
/spec/system/internal/            @zhao-andy
/spec/requests/internal/          @zhao-andy
