Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

Replace ban/banned with suspend/suspended in user facing text (#5816) [deploy]
  CODE_OF_CONDUCT.md
  app/controllers/application_controller.rb
  app/controllers/articles_controller.rb
  app/controllers/chat_channels_controller.rb
  app/controllers/classified_listings_controller.rb
  app/controllers/messages_controller.rb
  app/controllers/users_controller.rb
  app/views/pages/_coc_text.html.erb
  app/views/users/_org_non_member.html.erb
  config/initializers/honeybadger.rb
  spec/requests/classified_listings_spec.rb
  spec/system/banned_user_interactions_spec.rb
Owners: @thepracticaldev/sre

Replace ban/banned with suspend/suspended in user facing text (#5816) [deploy]
  CODE_OF_CONDUCT.md
  app/controllers/application_controller.rb
  app/controllers/articles_controller.rb
  app/controllers/chat_channels_controller.rb
  app/controllers/classified_listings_controller.rb
  app/controllers/messages_controller.rb
  app/controllers/users_controller.rb
  app/views/pages/_coc_text.html.erb
  app/views/users/_org_non_member.html.erb
  config/initializers/honeybadger.rb
  spec/requests/classified_listings_spec.rb
  spec/system/banned_user_interactions_spec.rb
Owners: @thepracticaldev/sre

Validate that API article params are a Hash (#5963)
  app/controllers/api/v0/articles_controller.rb
  spec/requests/api/v0/articles_spec.rb
Owners: none

Validate that API article params are a Hash (#5963)
  app/controllers/api/v0/articles_controller.rb
  spec/requests/api/v0/articles_spec.rb
Owners: none

Removed unused special_sidebar (#5929)
  app/views/articles/_special_sidebar.html.erb
Owners: none

Removed unused special_sidebar (#5929)
  app/views/articles/_special_sidebar.html.erb
Owners: none

Remove indexing from ChatChannel model in seed script (#6001)
  db/seeds.rb
Owners: @thepracticaldev/sre

Remove indexing from ChatChannel model in seed script (#6001)
  db/seeds.rb
Owners: @thepracticaldev/sre

Add multiplier for seeds and use it for articles and users (#6003)
  db/seeds.rb
  docs/getting-started/db.md
Owners: @thepracticaldev/sre, @jacobherrington

Add multiplier for seeds and use it for articles and users (#6003)
  db/seeds.rb
  docs/getting-started/db.md
Owners: @thepracticaldev/sre, @jacobherrington

Sort reserved words (#6000)
  config/initializers/reserved_words.rb
Owners: @thepracticaldev/sre

Sort reserved words (#6000)
  config/initializers/reserved_words.rb
Owners: @thepracticaldev/sre

Add foreman to bin/setup (#6007)
  bin/setup
Owners: none

Add foreman to bin/setup (#6007)
  bin/setup
Owners: none

soft save notification_subscription and then check persisted (#5962) [deploy]
  app/controllers/notification_subscriptions_controller.rb
Owners: none

soft save notification_subscription and then check persisted (#5962) [deploy]
  app/controllers/notification_subscriptions_controller.rb
Owners: none

Remove full_page from the Page TEMPLATE_OPTIONS (#5981)
  app/models/page.rb
Owners: none

Remove full_page from the Page TEMPLATE_OPTIONS (#5981)
  app/models/page.rb
Owners: none

Copy .ruby-version into Dockerfile (#5976)
  Dockerfile
Owners: none

Copy .ruby-version into Dockerfile (#5976)
  Dockerfile
Owners: none

Do not allow staff_user_id to be mutated (#6009) [deploy]
  app/controllers/internal/configs_controller.rb
  app/views/internal/configs/show.html.erb
  spec/requests/internal/configs_spec.rb
Owners: @jacobherrington, @zhao-andy

Do not allow staff_user_id to be mutated (#6009) [deploy]
  app/controllers/internal/configs_controller.rb
  app/views/internal/configs/show.html.erb
  spec/requests/internal/configs_spec.rb
Owners: @jacobherrington, @zhao-andy

Fixed false negative of a frontend test suite failing. (#6005)
  jest.config.js
Owners: none

Fixed false negative of a frontend test suite failing. (#6005)
  jest.config.js
Owners: none

Add `/embed` to list of disallowed path matches (#6019) [deploy]
  app/views/service_worker/index.js.erb
Owners: none

Add `/embed` to list of disallowed path matches (#6019) [deploy]
  app/views/service_worker/index.js.erb
Owners: none

Add Elasticsearch to Docker Compose (#5978)
  .gitignore
  docker-compose.yml
  docs/installation/docker.md
Owners: @jacobherrington

Add Elasticsearch to Docker Compose (#5978)
  .gitignore
  docker-compose.yml
  docs/installation/docker.md
Owners: @jacobherrington

Index Tags to Elasticsearch after they are created (#5958) [deploy]
  app/models/tag.rb
  app/serializers/search/tag_serializer.rb
  app/services/search/tag.rb
  app/workers/search/tag_es_index_worker.rb
  spec/models/tag_spec.rb
  spec/services/search/tag_spec.rb
  spec/workers/search/tag_es_index_worker_spec.rb
Owners: @thepracticaldev/sre

Index Tags to Elasticsearch after they are created (#5958) [deploy]
  app/models/tag.rb
  app/serializers/search/tag_serializer.rb
  app/services/search/tag.rb
  app/workers/search/tag_es_index_worker.rb
  spec/models/tag_spec.rb
  spec/services/search/tag_spec.rb
  spec/workers/search/tag_es_index_worker_spec.rb
Owners: @thepracticaldev/sre

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Team snackCase
/app/assets/stylesheets/internal/ @jacobherrington @zhao-andy
/app/controllers/internal/        @jacobherrington @zhao-andy
/app/views/internal/              @jacobherrington @zhao-andy
/app/views/moderation/            @jacobherrington @zhao-andy
/spec/system/internal/            @jacobherrington @zhao-andy
/spec/requests/internal/          @jacobherrington @zhao-andy
/docs/                            @jacobherrington
