Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/hells-bells, @forem/sre, @jacobherrington, @forem/systems, @nickytonline

Generalize social image path and clean up code (#11741)
  app/services/images/generate_social_image.rb
  spec/services/images/generate_social_image_spec.rb
Owners: none

Generalize social image path and clean up code (#11741)
  app/services/images/generate_social_image.rb
  spec/services/images/generate_social_image_spec.rb
Owners: none

Revert "Bump husky from 4.3.0 to 4.3.4 (#11764)" (#11785)
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

Revert "Bump husky from 4.3.0 to 4.3.4 (#11764)" (#11785)
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

[Hotfix] Allow blank values for payment_pointer (#11786)
  app/models/user.rb
  spec/models/user_spec.rb
Owners: none

[Hotfix] Allow blank values for payment_pointer (#11786)
  app/models/user.rb
  spec/models/user_spec.rb
Owners: none

Use custom, dynamic, error pages (#11744)
  app/controllers/errors_controller.rb
  app/models/comment.rb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/service_unavailable.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/views/service_worker/index.js.erb
  config/application.rb
  config/routes.rb
  spec/requests/errors_request_spec.rb
Owners: @forem/sre

Use custom, dynamic, error pages (#11744)
  app/controllers/errors_controller.rb
  app/models/comment.rb
  app/views/errors/internal_server_error.html.erb
  app/views/errors/not_found.html.erb
  app/views/errors/service_unavailable.html.erb
  app/views/errors/unprocessable_entity.html.erb
  app/views/service_worker/index.js.erb
  config/application.rb
  config/routes.rb
  spec/requests/errors_request_spec.rb
Owners: @forem/sre

Remove concept of "ongoing" field tests and clarify a/b test instructions/expectations. (#11734)
  app/controllers/stories/feeds_controller.rb
  app/models/comment.rb
  app/models/page_view.rb
  app/models/reaction.rb
  app/workers/field_tests/prune_old_experiments_worker.rb
  config/field_test.yml
  config/schedule.yml
  docs/technical-overview/ab_testing.md
  spec/factories/field_test_memberships.rb
  spec/requests/comments_spec.rb
  spec/requests/page_views_spec.rb
  spec/requests/reactions_spec.rb
  spec/requests/stories/feeds_spec.rb
  spec/workers/field_tests/prune_old_experiments_worker_spec.rb
  spec/workers/users/record_field_test_event_worker_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

Remove concept of "ongoing" field tests and clarify a/b test instructions/expectations. (#11734)
  app/controllers/stories/feeds_controller.rb
  app/models/comment.rb
  app/models/page_view.rb
  app/models/reaction.rb
  app/workers/field_tests/prune_old_experiments_worker.rb
  config/field_test.yml
  config/schedule.yml
  docs/technical-overview/ab_testing.md
  spec/factories/field_test_memberships.rb
  spec/requests/comments_spec.rb
  spec/requests/page_views_spec.rb
  spec/requests/reactions_spec.rb
  spec/requests/stories/feeds_spec.rb
  spec/workers/field_tests/prune_old_experiments_worker_spec.rb
  spec/workers/users/record_field_test_event_worker_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

Deployment Task: Update onboarding fields prior to #11629 (#11704)
  app/services/profile_fields/add_base_fields.rb
  app/services/profile_fields/field_definition.rb
  app/services/profile_fields/import_from_csv.rb
  lib/data/dev_profile_fields.csv
  lib/tasks/temporary/profile_onboarding_fields.rake
  spec/fixtures/files/profile_fields.csv
  spec/requests/profile_field_groups_request_spec.rb
Owners: none

Deployment Task: Update onboarding fields prior to #11629 (#11704)
  app/services/profile_fields/add_base_fields.rb
  app/services/profile_fields/field_definition.rb
  app/services/profile_fields/import_from_csv.rb
  lib/data/dev_profile_fields.csv
  lib/tasks/temporary/profile_onboarding_fields.rake
  spec/fixtures/files/profile_fields.csv
  spec/requests/profile_field_groups_request_spec.rb
Owners: none

Fix Rspec warning regarding specific error class (#11787)
  spec/labor/assign_tag_moderator_spec.rb
Owners: none

Fix Rspec warning regarding specific error class (#11787)
  spec/labor/assign_tag_moderator_spec.rb
Owners: none

Move profile initialization to after_initialize hook (#11783)
  app/models/profile.rb
  config/application.rb
Owners: @forem/sre

Move profile initialization to after_initialize hook (#11783)
  app/models/profile.rb
  config/application.rb
Owners: @forem/sre

Remove timeframer from app/labor (#11782)
  app/controllers/stories/feeds_controller.rb
  app/controllers/stories_controller.rb
  app/models/timeframe.rb
  app/services/articles/feeds/large_forem_experimental.rb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/index.html.erb
  app/views/articles/search.html.erb
  app/views/articles/tag_index.html.erb
  app/views/articles/tags/_sidebar_additional.html.erb
  app/views/organizations/show.html.erb
  app/views/podcast_episodes/index.html.erb
  spec/labor/timeframer_spec.rb
  spec/models/timeframe_spec.rb
Owners: @forem/hells-bells

Remove timeframer from app/labor (#11782)
  app/controllers/stories/feeds_controller.rb
  app/controllers/stories_controller.rb
  app/models/timeframe.rb
  app/services/articles/feeds/large_forem_experimental.rb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/index.html.erb
  app/views/articles/search.html.erb
  app/views/articles/tag_index.html.erb
  app/views/articles/tags/_sidebar_additional.html.erb
  app/views/organizations/show.html.erb
  app/views/podcast_episodes/index.html.erb
  spec/labor/timeframer_spec.rb
  spec/models/timeframe_spec.rb
Owners: @forem/hells-bells

🚀 Ability to allow tag moderators to create chat channels (#9741)
  .github/PULL_REQUEST_TEMPLATE.md
  app/assets/stylesheets/chat.scss
  app/controllers/chat_channel_memberships_controller.rb
  app/controllers/chat_channels_controller.rb
  app/helpers/chat_channel_membership_helper.rb
  app/helpers/chat_channel_memberships_helper.rb
  app/helpers/chat_channels_helper.rb
  app/javascript/chat/__tests__/channelButton.test.jsx
  app/javascript/chat/__tests__/chat.test.jsx
  app/javascript/chat/__tests__/membership.test.jsx
  app/javascript/chat/actions/chat_channel_setting_actions.js
  app/javascript/chat/channels.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/components/ChannelButton.jsx
  app/javascript/chat/components/ChannelImage.jsx
  app/javascript/chat/components/CreateChatModal.jsx
  app/javascript/chat/components/channelButton.jsx
  app/javascript/common-prop-types/channel-list-prop-type.js
  app/models/chat_channel.rb
  app/policies/chat_channel_policy.rb
  app/services/chat_channels/send_invitation.rb
  app/services/chat_channels/update_channel.rb
  app/views/chat_channels/index.html.erb
  config/routes.rb
  docs/contributing/forem.md
  docs/frontend/readme.md
  lib/data_update_scripts/20201118141822_gradual_article_cache_bust.rb
  spec/factories/chat_channels.rb
  spec/requests/chat_channels_spec.rb
  yarn.lock
Owners: @forem/sre, @forem/oss, @jacobherrington, @nickytonline

🚀 Ability to allow tag moderators to create chat channels (#9741)
  .github/PULL_REQUEST_TEMPLATE.md
  app/assets/stylesheets/chat.scss
  app/controllers/chat_channel_memberships_controller.rb
  app/controllers/chat_channels_controller.rb
  app/helpers/chat_channel_membership_helper.rb
  app/helpers/chat_channel_memberships_helper.rb
  app/helpers/chat_channels_helper.rb
  app/javascript/chat/__tests__/channelButton.test.jsx
  app/javascript/chat/__tests__/chat.test.jsx
  app/javascript/chat/__tests__/membership.test.jsx
  app/javascript/chat/actions/chat_channel_setting_actions.js
  app/javascript/chat/channels.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/components/ChannelButton.jsx
  app/javascript/chat/components/ChannelImage.jsx
  app/javascript/chat/components/CreateChatModal.jsx
  app/javascript/chat/components/channelButton.jsx
  app/javascript/common-prop-types/channel-list-prop-type.js
  app/models/chat_channel.rb
  app/policies/chat_channel_policy.rb
  app/services/chat_channels/send_invitation.rb
  app/services/chat_channels/update_channel.rb
  app/views/chat_channels/index.html.erb
  config/routes.rb
  docs/contributing/forem.md
  docs/frontend/readme.md
  lib/data_update_scripts/20201118141822_gradual_article_cache_bust.rb
  spec/factories/chat_channels.rb
  spec/requests/chat_channels_spec.rb
  yarn.lock
Owners: @forem/sre, @forem/oss, @jacobherrington, @nickytonline

Remove @storybook/components from yarn.lock (#11789)
  yarn.lock
Owners: @forem/oss, @nickytonline

Remove @storybook/components from yarn.lock (#11789)
  yarn.lock
Owners: @forem/oss, @nickytonline

Fix broken experience level button in moderation panel (#11797)
  app/javascript/actionsPanel/actionsPanel.js
  app/javascript/packs/commentModPage.js
Owners: none

Fix broken experience level button in moderation panel (#11797)
  app/javascript/actionsPanel/actionsPanel.js
  app/javascript/packs/commentModPage.js
Owners: none

Fix Mod Center compatibility issue with dark themes (Date column) (#11795)
  app/assets/stylesheets/views/mod-center.scss
Owners: none

Fix Mod Center compatibility issue with dark themes (Date column) (#11795)
  app/assets/stylesheets/views/mod-center.scss
Owners: none

Upgrade Admin to Stimulus 2.0 (#11776)
  app/javascript/admin/__tests__/controllers/article_controller.test.js
  app/javascript/admin/__tests__/controllers/buffer_controller.test.js
  app/javascript/admin/__tests__/controllers/config_controller.test.js
  app/javascript/admin/controllers/article_controller.js
  app/javascript/admin/controllers/buffer_controller.js
  app/javascript/admin/controllers/config_controller.js
  app/javascript/admin/controllers/image_upload_controller.js
  app/javascript/admin/controllers/modal_controller.js
  app/javascript/admin/controllers/reaction_controller.js
  app/views/admin/articles/_individual_article.html.erb
  app/views/admin/articles/index.html.erb
  app/views/admin/configs/show.html.erb
  app/views/admin/feedback_messages/_abuse_reports.html.erb
  app/views/admin/listings/index.html.erb
  app/views/admin/profile_fields/_add_group_modal.html.erb
  app/views/admin/profile_fields/_add_profile_field_modal.html.erb
  app/views/admin/profile_fields/_edit_group_modal.html.erb
  app/views/admin/shared/_image_uploader.html.erb
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

Upgrade Admin to Stimulus 2.0 (#11776)
  app/javascript/admin/__tests__/controllers/article_controller.test.js
  app/javascript/admin/__tests__/controllers/buffer_controller.test.js
  app/javascript/admin/__tests__/controllers/config_controller.test.js
  app/javascript/admin/controllers/article_controller.js
  app/javascript/admin/controllers/buffer_controller.js
  app/javascript/admin/controllers/config_controller.js
  app/javascript/admin/controllers/image_upload_controller.js
  app/javascript/admin/controllers/modal_controller.js
  app/javascript/admin/controllers/reaction_controller.js
  app/views/admin/articles/_individual_article.html.erb
  app/views/admin/articles/index.html.erb
  app/views/admin/configs/show.html.erb
  app/views/admin/feedback_messages/_abuse_reports.html.erb
  app/views/admin/listings/index.html.erb
  app/views/admin/profile_fields/_add_group_modal.html.erb
  app/views/admin/profile_fields/_add_profile_field_modal.html.erb
  app/views/admin/profile_fields/_edit_group_modal.html.erb
  app/views/admin/shared/_image_uploader.html.erb
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

Invalidate cache for all org users' profiles (#11796)
  app/controllers/organizations_controller.rb
Owners: none

Invalidate cache for all org users' profiles (#11796)
  app/controllers/organizations_controller.rb
Owners: none

GitHub workflow for /ci trigger (#11794)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/buildkite.yml
  .github/workflows/pr.yml
Owners: none

GitHub workflow for /ci trigger (#11794)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/buildkite.yml
  .github/workflows/pr.yml
Owners: none

Updating navigation (especially mobile) (#10424)
  app/assets/images/search.svg
  app/assets/javascripts/initializePage.js
  app/assets/javascripts/initializers/initializeBaseUserData.js
  app/assets/javascripts/initializers/initializeTouchDevice.js
  app/assets/stylesheets/components/hamburger.scss
  app/assets/stylesheets/components/header.scss
  app/assets/stylesheets/components/stories.scss
  app/assets/stylesheets/crayons.scss
  app/javascript/packs/base.js
  app/javascript/packs/homePage.jsx
  app/javascript/topNavigation/__tests__/utilities.test.js
  app/javascript/topNavigation/utilities.js
  app/views/articles/_sidebar.html.erb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/_sidebar_nav.html.erb
  app/views/articles/index.html.erb
  app/views/articles/search.html.erb
  app/views/layouts/_main_nav.html.erb
  app/views/layouts/_nav_menu.html.erb
  app/views/layouts/_sidebar_nav_link.html.erb
  app/views/layouts/_sidebar_tags.html.erb
  app/views/layouts/_top_bar.html.erb
  app/views/shared/_auth_widget.html.erb
  app/views/shared/_hamburger.html.erb
  app/views/shell/_top.html.erb
  docs/technical-overview/ab_testing.md
  package.json
  spec/services/images/generate_social_image_spec.rb
  spec/system/authentication/user_logs_in_with_facebook_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
  spec/system/homepage/user_visits_homepage_spec.rb
  yarn.lock
Owners: @forem/hells-bells, @forem/oss, @jacobherrington, @nickytonline

Updating navigation (especially mobile) (#10424)
  app/assets/images/search.svg
  app/assets/javascripts/initializePage.js
  app/assets/javascripts/initializers/initializeBaseUserData.js
  app/assets/javascripts/initializers/initializeTouchDevice.js
  app/assets/stylesheets/components/hamburger.scss
  app/assets/stylesheets/components/header.scss
  app/assets/stylesheets/components/stories.scss
  app/assets/stylesheets/crayons.scss
  app/javascript/packs/base.js
  app/javascript/packs/homePage.jsx
  app/javascript/topNavigation/__tests__/utilities.test.js
  app/javascript/topNavigation/utilities.js
  app/views/articles/_sidebar.html.erb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/_sidebar_nav.html.erb
  app/views/articles/index.html.erb
  app/views/articles/search.html.erb
  app/views/layouts/_main_nav.html.erb
  app/views/layouts/_nav_menu.html.erb
  app/views/layouts/_sidebar_nav_link.html.erb
  app/views/layouts/_sidebar_tags.html.erb
  app/views/layouts/_top_bar.html.erb
  app/views/shared/_auth_widget.html.erb
  app/views/shared/_hamburger.html.erb
  app/views/shell/_top.html.erb
  docs/technical-overview/ab_testing.md
  package.json
  spec/services/images/generate_social_image_spec.rb
  spec/system/authentication/user_logs_in_with_facebook_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
  spec/system/homepage/user_visits_homepage_spec.rb
  yarn.lock
Owners: @forem/hells-bells, @forem/oss, @jacobherrington, @nickytonline

Update buildkite.yml (#11799)
  .github/workflows/buildkite.yml
Owners: none

Update buildkite.yml (#11799)
  .github/workflows/buildkite.yml
Owners: none

Fix YAML so it is actually valid GitHub Action YAMLs. (#11801)
  .github/workflows/pr.yml
Owners: none

Fix YAML so it is actually valid GitHub Action YAMLs. (#11801)
  .github/workflows/pr.yml
Owners: none

Replace the "setup onboarding profile fields" temp rake task with a data update script (#11800)
  lib/data_update_scripts/20201208151516_set_onboarding_profile_fields_for_existing_forems.rb
  lib/tasks/temporary/profile_onboarding_fields.rake
  spec/lib/data_update_scripts/set_onboarding_profile_fields_for_existing_forems_spec.rb
Owners: @forem/sre

Replace the "setup onboarding profile fields" temp rake task with a data update script (#11800)
  lib/data_update_scripts/20201208151516_set_onboarding_profile_fields_for_existing_forems.rb
  lib/tasks/temporary/profile_onboarding_fields.rake
  spec/lib/data_update_scripts/set_onboarding_profile_fields_for_existing_forems_spec.rb
Owners: @forem/sre

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/oss    @nickytonline
