Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre

Bug Fix: Article Posted Date and Author Card Posted Date do not match (#9272)
  app/decorators/article_decorator.rb
  app/views/articles/_about_author.html.erb
  app/views/articles/show.html.erb
  spec/decorators/article_decorator_spec.rb
  spec/system/articles/user_visits_an_article_spec.rb
Owners: @thepracticaldev/hells-bells

Bug Fix: Article Posted Date and Author Card Posted Date do not match (#9272)
  app/decorators/article_decorator.rb
  app/views/articles/_about_author.html.erb
  app/views/articles/show.html.erb
  spec/decorators/article_decorator_spec.rb
  spec/system/articles/user_visits_an_article_spec.rb
Owners: @thepracticaldev/hells-bells

[deploy] Fix double render of home feed (#9438)
  app/javascript/articles/Feed.jsx
  app/javascript/packs/homePage.jsx
Owners: none

[deploy] Fix double render of home feed (#9438)
  app/javascript/articles/Feed.jsx
  app/javascript/packs/homePage.jsx
Owners: none

[deploy] Default to adding users as members to a chat channel and not mods (#9446)
  app/controllers/internal/chat_channels_controller.rb
  spec/requests/internal/chat_channel_spec.rb
Owners: @thepracticaldev/snackcase

[deploy] Default to adding users as members to a chat channel and not mods (#9446)
  app/controllers/internal/chat_channels_controller.rb
  spec/requests/internal/chat_channel_spec.rb
Owners: @thepracticaldev/snackcase

Bug Fix:Validate User Password Length is Between 8-100 characters (#9447)
  app/controllers/users_controller.rb
  app/models/user.rb
  spec/models/user_spec.rb
  spec/requests/user/user_settings_spec.rb
Owners: none

Bug Fix:Validate User Password Length is Between 8-100 characters (#9447)
  app/controllers/users_controller.rb
  app/models/user.rb
  spec/models/user_spec.rb
  spec/requests/user/user_settings_spec.rb
Owners: none

[deploy] Make profile settings save button sticky when modified (#9378)
  app/assets/stylesheets/settings.scss
  app/javascript/packs/stickySaveFooter.js
  app/views/users/_profile.html.erb
  spec/system/user/user_edits_profile_spec.rb
Owners: none

[deploy] Make profile settings save button sticky when modified (#9378)
  app/assets/stylesheets/settings.scss
  app/javascript/packs/stickySaveFooter.js
  app/views/users/_profile.html.erb
  spec/system/user/user_edits_profile_spec.rb
Owners: none

[deploy] Changes expiration of invitation links to 80h (#9449)
  app/controllers/chat_channel_memberships_controller.rb
Owners: none

[deploy] Changes expiration of invitation links to 80h (#9449)
  app/controllers/chat_channel_memberships_controller.rb
Owners: none

[deploy] 🐞Bugfix: Redundant messages issue in connect (#9432)
  app/javascript/chat/chat.jsx
Owners: none

[deploy] 🐞Bugfix: Redundant messages issue in connect (#9432)
  app/javascript/chat/chat.jsx
Owners: none

[deploy] 🐞Bugfix: Sidebar scroll issues when list is long (#9451)
  app/assets/stylesheets/chat.scss
Owners: none

[deploy] 🐞Bugfix: Sidebar scroll issues when list is long (#9451)
  app/assets/stylesheets/chat.scss
Owners: none

[deploy] 🐞Hotfix: Search toggle breaks in some cases (#9454)
  app/javascript/chat/chat.jsx
Owners: none

[deploy] 🐞Hotfix: Search toggle breaks in some cases (#9454)
  app/javascript/chat/chat.jsx
Owners: none

[deploy] Fix bug remove searched membership (#9426)
  app/javascript/chat/ChatChannelSettings/MembershipManager/ManageActiveMembership.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/Membership.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/MembershipSection.jsx
Owners: none

[deploy] Fix bug remove searched membership (#9426)
  app/javascript/chat/ChatChannelSettings/MembershipManager/ManageActiveMembership.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/Membership.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/MembershipSection.jsx
Owners: none

[deploy] Update /ban for Connect (#9459)
  app/controllers/chat_channels_controller.rb
  app/javascript/chat/chat.jsx
  app/models/role.rb
  app/policies/chat_channel_policy.rb
  spec/models/role_spec.rb
  spec/policies/chat_channel_policy_spec.rb
  spec/requests/chat_channels_spec.rb
Owners: none

[deploy] Update /ban for Connect (#9459)
  app/controllers/chat_channels_controller.rb
  app/javascript/chat/chat.jsx
  app/models/role.rb
  app/policies/chat_channel_policy.rb
  spec/models/role_spec.rb
  spec/policies/chat_channel_policy_spec.rb
  spec/requests/chat_channels_spec.rb
Owners: none

[deploy] Redirect override (#9469)
  app/controllers/chat_channel_memberships_controller.rb
Owners: none

[deploy] Redirect override (#9469)
  app/controllers/chat_channel_memberships_controller.rb
Owners: none

[deploy] Validate password confirmation when updating password (#9458)
  app/models/user.rb
  app/services/authentication/authenticator.rb
  spec/requests/user/user_settings_spec.rb
Owners: none

[deploy] Validate password confirmation when updating password (#9458)
  app/models/user.rb
  app/services/authentication/authenticator.rb
  spec/requests/user/user_settings_spec.rb
Owners: none
