Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre

Replace deprecated content_type with media_type (#8846)
  spec/requests/listings_spec.rb
  spec/requests/pages_spec.rb
Owners: none

Replace deprecated content_type with media_type (#8846)
  spec/requests/listings_spec.rb
  spec/requests/pages_spec.rb
Owners: none

modify meta tag according to the twitter doc to return large images (#8858)
  app/views/comments/index.html.erb
Owners: none

modify meta tag according to the twitter doc to return large images (#8858)
  app/views/comments/index.html.erb
Owners: none

[deploy] Remove github from reserved words (#8860)
  config/initializers/reserved_words.rb
Owners: @thepracticaldev/sre

[deploy] Remove github from reserved words (#8860)
  config/initializers/reserved_words.rb
Owners: @thepracticaldev/sre

[deploy] User subscriptions API and backend updates (#8779)
  app/controllers/internal/configs_controller.rb
  app/controllers/user_subscriptions_controller.rb
  app/helpers/rate_limit_checker_helper.rb
  app/liquid_tags/user_subscription_tag.rb
  app/models/article.rb
  app/models/site_config.rb
  app/models/user_subscription.rb
  app/services/rate_limit_checker.rb
  app/services/user_subscriptions/subscription_cache_checker.rb
  config/routes.rb
  db/migrate/20200618212422_add_subscribed_to_user_subscriptions_count_to_users.rb
  db/schema.rb
  spec/models/article_spec.rb
  spec/models/user_subscription_spec.rb
  spec/requests/internal/configs_spec.rb
  spec/requests/user_subscriptions_spec.rb
  spec/services/user_subscriptions/subscription_cache_checker_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/sre

[deploy] User subscriptions API and backend updates (#8779)
  app/controllers/internal/configs_controller.rb
  app/controllers/user_subscriptions_controller.rb
  app/helpers/rate_limit_checker_helper.rb
  app/liquid_tags/user_subscription_tag.rb
  app/models/article.rb
  app/models/site_config.rb
  app/models/user_subscription.rb
  app/services/rate_limit_checker.rb
  app/services/user_subscriptions/subscription_cache_checker.rb
  config/routes.rb
  db/migrate/20200618212422_add_subscribed_to_user_subscriptions_count_to_users.rb
  db/schema.rb
  spec/models/article_spec.rb
  spec/models/user_subscription_spec.rb
  spec/requests/internal/configs_spec.rb
  spec/requests/user_subscriptions_spec.rb
  spec/services/user_subscriptions/subscription_cache_checker_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/sre

[deploy] Use Action Mailer parameterized syntax (#8853)
  app/controllers/chat_channel_memberships_controller.rb
  app/controllers/internal/feedback_messages_controller.rb
  app/controllers/internal/users_controller.rb
  app/controllers/video_states_controller.rb
  app/labor/assign_tag_moderator.rb
  app/labor/email_digest.rb
  app/labor/unread_notifications_emailer.rb
  app/mailers/digest_mailer.rb
  app/mailers/notify_mailer.rb
  app/mailers/verification_mailer.rb
  app/models/message.rb
  app/services/exporter/service.rb
  app/services/moderator/manage_activity_and_roles.rb
  app/services/users/request_destroy.rb
  app/workers/badge_achievements/send_email_notification_worker.rb
  app/workers/comments/send_email_notification_worker.rb
  app/workers/follows/send_email_notification_worker.rb
  app/workers/mentions/send_email_notification_worker.rb
  app/workers/users/delete_worker.rb
  config/initializers/new_framework_defaults_6_0.rb
  spec/labor/email_digest_spec.rb
  spec/mailers/digest_mailer_spec.rb
  spec/mailers/notify_mailer_spec.rb
  spec/mailers/previews/digest_mailer_preview.rb
  spec/mailers/previews/notify_mailer_preview.rb
  spec/mailers/previews/verification_mailer_preview.rb
  spec/mailers/verification_mailer_spec.rb
  spec/requests/internal/users_spec.rb
  spec/requests/user/user_destroy_spec.rb
  spec/workers/badge_achievements/send_email_notification_worker_spec.rb
  spec/workers/comments/send_email_notification_worker_spec.rb
  spec/workers/follows/send_email_notification_worker_spec.rb
  spec/workers/users/delete_worker_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/sre

[deploy] Use Action Mailer parameterized syntax (#8853)
  app/controllers/chat_channel_memberships_controller.rb
  app/controllers/internal/feedback_messages_controller.rb
  app/controllers/internal/users_controller.rb
  app/controllers/video_states_controller.rb
  app/labor/assign_tag_moderator.rb
  app/labor/email_digest.rb
  app/labor/unread_notifications_emailer.rb
  app/mailers/digest_mailer.rb
  app/mailers/notify_mailer.rb
  app/mailers/verification_mailer.rb
  app/models/message.rb
  app/services/exporter/service.rb
  app/services/moderator/manage_activity_and_roles.rb
  app/services/users/request_destroy.rb
  app/workers/badge_achievements/send_email_notification_worker.rb
  app/workers/comments/send_email_notification_worker.rb
  app/workers/follows/send_email_notification_worker.rb
  app/workers/mentions/send_email_notification_worker.rb
  app/workers/users/delete_worker.rb
  config/initializers/new_framework_defaults_6_0.rb
  spec/labor/email_digest_spec.rb
  spec/mailers/digest_mailer_spec.rb
  spec/mailers/notify_mailer_spec.rb
  spec/mailers/previews/digest_mailer_preview.rb
  spec/mailers/previews/notify_mailer_preview.rb
  spec/mailers/previews/verification_mailer_preview.rb
  spec/mailers/verification_mailer_spec.rb
  spec/requests/internal/users_spec.rb
  spec/requests/user/user_destroy_spec.rb
  spec/workers/badge_achievements/send_email_notification_worker_spec.rb
  spec/workers/comments/send_email_notification_worker_spec.rb
  spec/workers/follows/send_email_notification_worker_spec.rb
  spec/workers/users/delete_worker_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/sre

Mod Center MVP 🎉 (#8744)
  app/assets/stylesheets/moderators.scss
  app/controllers/moderations_controller.rb
  app/javascript/actionsPanel/initializeActionsPanelToggle.js
  app/javascript/modCenter/moderationArticles.jsx
  app/javascript/modCenter/singleArticle/articlePropTypes.js
  app/javascript/modCenter/singleArticle/index.jsx
  app/javascript/modCenter/singleArticle/singleArticle.test.jsx
  app/javascript/modCenter/singleArticle/util.js
  app/javascript/packs/modCenter.jsx
  app/views/moderations/_mod_sidebar_left.html.erb
  app/views/moderations/_mod_sidebar_right.html.erb
  app/views/moderations/index.html.erb
  spec/requests/moderations_spec.rb
Owners: none

Mod Center MVP 🎉 (#8744)
  app/assets/stylesheets/moderators.scss
  app/controllers/moderations_controller.rb
  app/javascript/actionsPanel/initializeActionsPanelToggle.js
  app/javascript/modCenter/moderationArticles.jsx
  app/javascript/modCenter/singleArticle/articlePropTypes.js
  app/javascript/modCenter/singleArticle/index.jsx
  app/javascript/modCenter/singleArticle/singleArticle.test.jsx
  app/javascript/modCenter/singleArticle/util.js
  app/javascript/packs/modCenter.jsx
  app/views/moderations/_mod_sidebar_left.html.erb
  app/views/moderations/_mod_sidebar_right.html.erb
  app/views/moderations/index.html.erb
  spec/requests/moderations_spec.rb
Owners: none

Extract Welcome Broadcast Styling Into Its Own Stylesheet (#8862) [deploy]
  app/assets/stylesheets/minimal.scss
  app/assets/stylesheets/notifications-welcome-broadcast.scss
  app/assets/stylesheets/notifications.scss
Owners: none

Extract Welcome Broadcast Styling Into Its Own Stylesheet (#8862) [deploy]
  app/assets/stylesheets/minimal.scss
  app/assets/stylesheets/notifications-welcome-broadcast.scss
  app/assets/stylesheets/notifications.scss
Owners: none

Update self hosting docs with info on Forem (#8863)
  docs/self-hosting.md
Owners: @thepracticaldev/oss, @jacobherrington

Update self hosting docs with info on Forem (#8863)
  docs/self-hosting.md
Owners: @thepracticaldev/oss, @jacobherrington

[deploy] Bug Fix: Return An Empty Array if Error Occurs in RSS Reader (#8864)
  app/services/rss_reader.rb
Owners: none

[deploy] Bug Fix: Return An Empty Array if Error Occurs in RSS Reader (#8864)
  app/services/rss_reader.rb
Owners: none

[deploy] Disable ahoy.js cookie tracking (#8866)
  app/assets/javascripts/base.js.erb
Owners: none

[deploy] Disable ahoy.js cookie tracking (#8866)
  app/assets/javascripts/base.js.erb
Owners: none

Flaky Spec/Bug Fix:Dont Send Mod Notification if No Commentable (#8869)
  app/models/notification.rb
Owners: none

Flaky Spec/Bug Fix:Dont Send Mod Notification if No Commentable (#8869)
  app/models/notification.rb
Owners: none

[deploy] Paginate /dashboard posts (#8868)
  app/controllers/dashboards_controller.rb
  app/views/dashboards/_analytics.html.erb
  app/views/dashboards/_dashboard_article_row.html.erb
  app/views/dashboards/show.html.erb
  spec/requests/dashboard_spec.rb
Owners: none

[deploy] Paginate /dashboard posts (#8868)
  app/controllers/dashboards_controller.rb
  app/views/dashboards/_analytics.html.erb
  app/views/dashboards/_dashboard_article_row.html.erb
  app/views/dashboards/show.html.erb
  spec/requests/dashboard_spec.rb
Owners: none

Change the moderate language to reflect mod panel language (#8870)
  app/views/moderations/mod.html.erb
Owners: none

Change the moderate language to reflect mod panel language (#8870)
  app/views/moderations/mod.html.erb
Owners: none

Fix accessiblity warnings on Listings page (#8841)
  app/views/listings/index.html.erb
Owners: none

Fix accessiblity warnings on Listings page (#8841)
  app/views/listings/index.html.erb
Owners: none

Fix typo in dashboard sort element (#8875)
  app/assets/javascripts/initializers/initializeDashboardSort.js
  app/views/dashboards/show.html.erb
Owners: none

Fix typo in dashboard sort element (#8875)
  app/assets/javascripts/initializers/initializeDashboardSort.js
  app/views/dashboards/show.html.erb
Owners: none

[deploy] Only clear negative reactions when using thumbsup (#8874)
  app/controllers/reactions_controller.rb
  spec/requests/moderations_spec.rb
  spec/requests/reactions_spec.rb
Owners: none

[deploy] Only clear negative reactions when using thumbsup (#8874)
  app/controllers/reactions_controller.rb
  spec/requests/moderations_spec.rb
  spec/requests/reactions_spec.rb
Owners: none

Disable ahoy.js visit tracking on server-side (#8872)
  app/assets/javascripts/base.js.erb
Owners: none

Disable ahoy.js visit tracking on server-side (#8872)
  app/assets/javascripts/base.js.erb
Owners: none

[deploy] Use fragment for linking to comments for SEO (#8882)
  app/views/comments/index.html.erb
Owners: none

[deploy] Use fragment for linking to comments for SEO (#8882)
  app/views/comments/index.html.erb
Owners: none

Spec Fix: Use Truncation For Tests Where Transactions Get Stuck (#8865)
  .travis.yml
  Gemfile
  Gemfile.lock
  spec/services/rss_reader_spec.rb
  spec/support/database_cleaner.rb
  spec/system/dashboards/user_sorts_dashboard_articles_spec.rb
  vendor/cache/database_cleaner-1.8.5.gem
  vendor/cache/database_cleaner-active_record-1.8.0.gem
Owners: @thepracticaldev/sre, @thepracticaldev/oss

Spec Fix: Use Truncation For Tests Where Transactions Get Stuck (#8865)
  .travis.yml
  Gemfile
  Gemfile.lock
  spec/services/rss_reader_spec.rb
  spec/support/database_cleaner.rb
  spec/system/dashboards/user_sorts_dashboard_articles_spec.rb
  vendor/cache/database_cleaner-1.8.5.gem
  vendor/cache/database_cleaner-active_record-1.8.0.gem
Owners: @thepracticaldev/sre, @thepracticaldev/oss

[deploy] Small mod fixes (#8885)
  app/javascript/actionsPanel/actionsPanel.js
  app/views/comments/_comment_proper.html.erb
Owners: none

[deploy] Small mod fixes (#8885)
  app/javascript/actionsPanel/actionsPanel.js
  app/views/comments/_comment_proper.html.erb
Owners: none
