Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

Use Enumerable#filter_map in more places (#9389)
  app/liquid_tags/glitch_tag.rb
  app/services/broadcasts/welcome_notification/generator.rb
  app/services/credits/ledger.rb
  app/services/search/query_builders/chat_channel_membership.rb
  app/services/search/query_builders/feed_content.rb
  app/services/search/query_builders/listing.rb
  app/services/search/query_builders/query_base.rb
  app/services/search/query_builders/user.rb
  spec/requests/notifications_spec.rb
Owners: @thepracticaldev/sre

Use Enumerable#filter_map in more places (#9389)
  app/liquid_tags/glitch_tag.rb
  app/services/broadcasts/welcome_notification/generator.rb
  app/services/credits/ledger.rb
  app/services/search/query_builders/chat_channel_membership.rb
  app/services/search/query_builders/feed_content.rb
  app/services/search/query_builders/listing.rb
  app/services/search/query_builders/query_base.rb
  app/services/search/query_builders/user.rb
  spec/requests/notifications_spec.rb
Owners: @thepracticaldev/sre

[deploy] Change from presence to private pusher channels (#9401)
  app/controllers/pusher_controller.rb
  app/javascript/chat/chat.jsx
  app/models/chat_channel.rb
Owners: none

[deploy] Change from presence to private pusher channels (#9401)
  app/controllers/pusher_controller.rb
  app/javascript/chat/chat.jsx
  app/models/chat_channel.rb
Owners: none

[deploy] Optimization:Change Role PKs from Int to Bigint (#9403)
  db/migrate/20200720143134_change_role_p_kto_bigint.rb
  db/schema.rb
Owners: @thepracticaldev/sre

[deploy] Optimization:Change Role PKs from Int to Bigint (#9403)
  db/migrate/20200720143134_change_role_p_kto_bigint.rb
  db/schema.rb
Owners: @thepracticaldev/sre

[deploy] Update broadcast styling (#9411)
  app/assets/javascripts/initializers/initializeBroadcast.js
  app/assets/stylesheets/components/banners.scss
  app/assets/stylesheets/scaffolds.scss
Owners: none

[deploy] Update broadcast styling (#9411)
  app/assets/javascripts/initializers/initializeBroadcast.js
  app/assets/stylesheets/components/banners.scss
  app/assets/stylesheets/scaffolds.scss
Owners: none

Fix hidden footnote content regression (#9375)
  app/assets/stylesheets/article-show.scss
Owners: none

Fix hidden footnote content regression (#9375)
  app/assets/stylesheets/article-show.scss
Owners: none

Add curl alternatives for ES troubleshooting (#9414)
  docs/troubleshooting.md
Owners: @thepracticaldev/oss, @jacobherrington

Add curl alternatives for ES troubleshooting (#9414)
  docs/troubleshooting.md
Owners: @thepracticaldev/oss, @jacobherrington

[deploy] Optimization:Change Tweet Primary Key to Bigint (#9409)
  db/migrate/20200720213710_change_tweet_p_kto_bigint.rb
  db/schema.rb
Owners: @thepracticaldev/sre

[deploy] Optimization:Change Tweet Primary Key to Bigint (#9409)
  db/migrate/20200720213710_change_tweet_p_kto_bigint.rb
  db/schema.rb
Owners: @thepracticaldev/sre

[deploy] Add source_type and source_id to safe params list (#9413)
  config/fastly/snippets/safe_params_list.vcl
Owners: @thepracticaldev/sre

[deploy] Add source_type and source_id to safe params list (#9413)
  config/fastly/snippets/safe_params_list.vcl
Owners: @thepracticaldev/sre

Correct comment (#9419)
  app/views/layouts/application.html.erb
Owners: none

Correct comment (#9419)
  app/views/layouts/application.html.erb
Owners: none

[deploy] Update Honeybadger's ignorePatterns (#9420)
  app/assets/javascripts/base.js.erb
Owners: none

[deploy] Update Honeybadger's ignorePatterns (#9420)
  app/assets/javascripts/base.js.erb
Owners: none

[deploy] Add audit logs for credit card actions (#9416)
  app/controllers/stripe_active_cards_controller.rb
  docs/backend/audit-log.md
  spec/requests/stripe_active_cards_spec.rb
Owners: @thepracticaldev/oss, @jacobherrington

[deploy] Add audit logs for credit card actions (#9416)
  app/controllers/stripe_active_cards_controller.rb
  docs/backend/audit-log.md
  spec/requests/stripe_active_cards_spec.rb
Owners: @thepracticaldev/oss, @jacobherrington

Add new reserved words (#9422)
  config/initializers/reserved_words.rb
Owners: @thepracticaldev/sre

Add new reserved words (#9422)
  config/initializers/reserved_words.rb
Owners: @thepracticaldev/sre

API: add nullable to nullable fields in documentation (#9407)
  docs/api_v0.yml
Owners: @thepracticaldev/oss, @jacobherrington

API: add nullable to nullable fields in documentation (#9407)
  docs/api_v0.yml
Owners: @thepracticaldev/oss, @jacobherrington

Don't show badge when reading list is left empty (#9437)
  app/assets/javascripts/initializers/initializeReadingListIcons.js
Owners: none

Don't show badge when reading list is left empty (#9437)
  app/assets/javascripts/initializers/initializeReadingListIcons.js
Owners: none

Unflake system user_settings_response_templates_spec.rb (#8845)
  spec/system/user/user_settings_response_templates_spec.rb
Owners: none

Unflake system user_settings_response_templates_spec.rb (#8845)
  spec/system/user/user_settings_response_templates_spec.rb
Owners: none

[deploy] 🚀 Feature: Chat channel request manager (#9305)
  app/assets/images/users.svg
  app/assets/stylesheets/chat.scss
  app/controllers/chat_channel_memberships_controller.rb
  app/helpers/chat_channel_memberships_helper.rb
  app/javascript/chat/RequestManager/ChannelRequestSection.jsx
  app/javascript/chat/RequestManager/HeaderSection.jsx
  app/javascript/chat/RequestManager/PersonalInvitationListItem.jsx
  app/javascript/chat/RequestManager/PersonalInvitationSection.jsx
  app/javascript/chat/RequestManager/RequestListItem.jsx
  app/javascript/chat/RequestManager/RequestManager.jsx
  app/javascript/chat/__tests__/PersonalInvitationListItem.test.jsx
  app/javascript/chat/__tests__/PersonalInvitationSection.test.jsx
  app/javascript/chat/__tests__/RequestListItem.test.jsx
  app/javascript/chat/__tests__/channelRequestSection.test.jsx
  app/javascript/chat/__tests__/requestManager.test.jsx
  app/javascript/chat/actions/actions.js
  app/javascript/chat/actions/requestActions.js
  app/javascript/chat/chat.jsx
  app/javascript/chat/content.jsx
  app/javascript/chat/requestManager.jsx
  app/labor/markdown_parser.rb
  app/models/chat_channel_membership.rb
  app/policies/chat_channel_membership_policy.rb
  app/views/chat_channel_memberships/request_details.json.jbuilder
  config/routes.rb
  spec/labor/markdown_parser_spec.rb
  spec/requests/chat_channel_memberships_spec.rb
  spec/requests/shells_spec.rb
Owners: @thepracticaldev/sre

[deploy] 🚀 Feature: Chat channel request manager (#9305)
  app/assets/images/users.svg
  app/assets/stylesheets/chat.scss
  app/controllers/chat_channel_memberships_controller.rb
  app/helpers/chat_channel_memberships_helper.rb
  app/javascript/chat/RequestManager/ChannelRequestSection.jsx
  app/javascript/chat/RequestManager/HeaderSection.jsx
  app/javascript/chat/RequestManager/PersonalInvitationListItem.jsx
  app/javascript/chat/RequestManager/PersonalInvitationSection.jsx
  app/javascript/chat/RequestManager/RequestListItem.jsx
  app/javascript/chat/RequestManager/RequestManager.jsx
  app/javascript/chat/__tests__/PersonalInvitationListItem.test.jsx
  app/javascript/chat/__tests__/PersonalInvitationSection.test.jsx
  app/javascript/chat/__tests__/RequestListItem.test.jsx
  app/javascript/chat/__tests__/channelRequestSection.test.jsx
  app/javascript/chat/__tests__/requestManager.test.jsx
  app/javascript/chat/actions/actions.js
  app/javascript/chat/actions/requestActions.js
  app/javascript/chat/chat.jsx
  app/javascript/chat/content.jsx
  app/javascript/chat/requestManager.jsx
  app/labor/markdown_parser.rb
  app/models/chat_channel_membership.rb
  app/policies/chat_channel_membership_policy.rb
  app/views/chat_channel_memberships/request_details.json.jbuilder
  config/routes.rb
  spec/labor/markdown_parser_spec.rb
  spec/requests/chat_channel_memberships_spec.rb
  spec/requests/shells_spec.rb
Owners: @thepracticaldev/sre

[deploy] Update slideshare embed code length limit (#9441)
  app/liquid_tags/slideshare_tag.rb
  spec/liquid_tags/slideshare_tag_spec.rb
Owners: none

[deploy] Update slideshare embed code length limit (#9441)
  app/liquid_tags/slideshare_tag.rb
  spec/liquid_tags/slideshare_tag_spec.rb
Owners: none

Ability for admins to remove user from internal chat channels (#9235)
  app/controllers/internal/chat_channels_controller.rb
  app/models/chat_channel.rb
  app/views/internal/chat_channels/index.html.erb
  config/routes.rb
  spec/requests/internal/chat_channel_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/sre

Ability for admins to remove user from internal chat channels (#9235)
  app/controllers/internal/chat_channels_controller.rb
  app/models/chat_channel.rb
  app/views/internal/chat_channels/index.html.erb
  config/routes.rb
  spec/requests/internal/chat_channel_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/sre

[deploy] Optimization:Change Podcast and Episode PKs to Bigints (#9423)
  db/migrate/20200721213341_change_podcast_p_ksto_bigint.rb
  db/schema.rb
Owners: @thepracticaldev/sre

[deploy] Optimization:Change Podcast and Episode PKs to Bigints (#9423)
  db/migrate/20200721213341_change_podcast_p_ksto_bigint.rb
  db/schema.rb
Owners: @thepracticaldev/sre

Rubocop: re-activate Style/RegexpLiteral and fix violations (#9418)
  .rubocop.yml
  app/controllers/concerns/valid_request.rb
  app/helpers/application_helper.rb
  app/lib/redcarpet/render/html_rouge.rb
  app/liquid_tags/codepen_tag.rb
  app/liquid_tags/codesandbox_tag.rb
  app/liquid_tags/gist_tag.rb
  app/liquid_tags/git_pitch_tag.rb
  app/liquid_tags/github_tag/github_issue_tag.rb
  app/liquid_tags/github_tag/github_readme_tag.rb
  app/liquid_tags/js_fiddle_tag.rb
  app/liquid_tags/jsitor_tag.rb
  app/liquid_tags/next_tech_tag.rb
  app/liquid_tags/parler_tag.rb
  app/liquid_tags/reddit_tag.rb
  app/liquid_tags/replit_tag.rb
  app/liquid_tags/soundcloud_tag.rb
  app/models/user.rb
  app/services/rss_reader/assembler.rb
  config/database.yml
  config/initializers/timber.rb
  spec/requests/videos_spec.rb
  spec/support/initializers/vcr.rb
  spec/system/user_uses_the_editor_spec.rb
Owners: @thepracticaldev/sre

Rubocop: re-activate Style/RegexpLiteral and fix violations (#9418)
  .rubocop.yml
  app/controllers/concerns/valid_request.rb
  app/helpers/application_helper.rb
  app/lib/redcarpet/render/html_rouge.rb
  app/liquid_tags/codepen_tag.rb
  app/liquid_tags/codesandbox_tag.rb
  app/liquid_tags/gist_tag.rb
  app/liquid_tags/git_pitch_tag.rb
  app/liquid_tags/github_tag/github_issue_tag.rb
  app/liquid_tags/github_tag/github_readme_tag.rb
  app/liquid_tags/js_fiddle_tag.rb
  app/liquid_tags/jsitor_tag.rb
  app/liquid_tags/next_tech_tag.rb
  app/liquid_tags/parler_tag.rb
  app/liquid_tags/reddit_tag.rb
  app/liquid_tags/replit_tag.rb
  app/liquid_tags/soundcloud_tag.rb
  app/models/user.rb
  app/services/rss_reader/assembler.rb
  config/database.yml
  config/initializers/timber.rb
  spec/requests/videos_spec.rb
  spec/support/initializers/vcr.rb
  spec/system/user_uses_the_editor_spec.rb
Owners: @thepracticaldev/sre

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre
