Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

Hookup Elasticsearch in travis (#5871)
  .travis.yml
  spec/initializers/elasticsearch_spec.rb
Owners: none

Hookup Elasticsearch in travis (#5871)
  .travis.yml
  spec/initializers/elasticsearch_spec.rb
Owners: none

Add signin=true as a param correctly if the URL already has params (#5866) [deploy]
  app/controllers/application_controller.rb
Owners: none

Add signin=true as a param correctly if the URL already has params (#5866) [deploy]
  app/controllers/application_controller.rb
Owners: none

Update contributor guide with new tag name (#5822)
  CONTRIBUTING.md
Owners: none

Update contributor guide with new tag name (#5822)
  CONTRIBUTING.md
Owners: none

Add comment to highlight difference between previewing in v1 and v2 editors (#5894)
  app/javascript/article-form/elements/bodyPreview.jsx
Owners: none

Add comment to highlight difference between previewing in v1 and v2 editors (#5894)
  app/javascript/article-form/elements/bodyPreview.jsx
Owners: none

Improve dropdown UX for internal/badges (#5880) [deploy]
  app/controllers/internal/badges_controller.rb
  app/controllers/internal/tools_controller.rb
  app/views/internal/badges/index.html.erb
  spec/requests/internal/badges_spec.rb
  spec/system/internal/admin_awards_badges_spec.rb
Owners: @jacobherrington, @zhao-andy

Improve dropdown UX for internal/badges (#5880) [deploy]
  app/controllers/internal/badges_controller.rb
  app/controllers/internal/tools_controller.rb
  app/views/internal/badges/index.html.erb
  spec/requests/internal/badges_spec.rb
  spec/system/internal/admin_awards_badges_spec.rb
Owners: @jacobherrington, @zhao-andy

Move Tags::BustCacheJob to Sidekiq (#5870) [deploy]
  app/models/tag.rb
  app/workers/tags/bust_cache_worker.rb
  spec/models/tag_spec.rb
  spec/workers/tags/bust_cache_worker_spec.rb
Owners: @thepracticaldev/sre

Move Tags::BustCacheJob to Sidekiq (#5870) [deploy]
  app/models/tag.rb
  app/workers/tags/bust_cache_worker.rb
  spec/models/tag_spec.rb
  spec/workers/tags/bust_cache_worker_spec.rb
Owners: @thepracticaldev/sre

Add documentation for ENVied & SiteConfig (#5841)
  docs/backend/configuration.md
  docs/backend/readme.md
Owners: @jacobherrington

Add documentation for ENVied & SiteConfig (#5841)
  docs/backend/configuration.md
  docs/backend/readme.md
Owners: @jacobherrington

Move Articles::ScoreCalcJob to Sidekiq (#5875) [deploy]
  app/models/article.rb
  app/workers/articles/score_calc_worker.rb
  spec/jobs/reactions/update_reactable_job_spec.rb
  spec/models/article_destroy_spec.rb
  spec/models/article_spec.rb
  spec/models/reaction_spec.rb
  spec/workers/articles/score_calc_worker_spec.rb
Owners: @thepracticaldev/sre

Move Articles::ScoreCalcJob to Sidekiq (#5875) [deploy]
  app/models/article.rb
  app/workers/articles/score_calc_worker.rb
  spec/jobs/reactions/update_reactable_job_spec.rb
  spec/models/article_destroy_spec.rb
  spec/models/article_spec.rb
  spec/models/reaction_spec.rb
  spec/workers/articles/score_calc_worker_spec.rb
Owners: @thepracticaldev/sre

Move HtmlVariantSuccessesCreate from job to inline (#5879) [deploy]
  app/controllers/html_variant_successes_controller.rb
  app/jobs/html_variant_success_create_job.rb
  spec/jobs/html_variant_success_create_job_spec.rb
Owners: @thepracticaldev/sre

Move HtmlVariantSuccessesCreate from job to inline (#5879) [deploy]
  app/controllers/html_variant_successes_controller.rb
  app/jobs/html_variant_success_create_job.rb
  spec/jobs/html_variant_success_create_job_spec.rb
Owners: @thepracticaldev/sre

Move Articles::DetectHumanLanguage from background job to inline (#5888) [deploy]
  app/jobs/articles/detect_human_language_job.rb
  app/models/article.rb
  spec/jobs/articles/detect_human_language_job_spec.rb
  spec/models/article_spec.rb
Owners: @thepracticaldev/sre

Move Articles::DetectHumanLanguage from background job to inline (#5888) [deploy]
  app/jobs/articles/detect_human_language_job.rb
  app/models/article.rb
  spec/jobs/articles/detect_human_language_job_spec.rb
  spec/models/article_spec.rb
Owners: @thepracticaldev/sre

Add readonly ApplicationConfig to /internal/config (#5662) [deploy]
  app/views/internal/configs/show.html.erb
Owners: @jacobherrington, @zhao-andy

Add readonly ApplicationConfig to /internal/config (#5662) [deploy]
  app/views/internal/configs/show.html.erb
Owners: @jacobherrington, @zhao-andy

Remove quotes from broadcast options in internal form (#5904) [deploy]
  app/views/internal/broadcasts/_form.html.erb
Owners: @jacobherrington, @zhao-andy

Remove quotes from broadcast options in internal form (#5904) [deploy]
  app/views/internal/broadcasts/_form.html.erb
Owners: @jacobherrington, @zhao-andy

Remove direct chat channels when banishing user (#5784) [deploy]
  app/services/moderator/banish_user.rb
  app/services/users/cleanup_chat_channels.rb
  app/services/users/delete_articles.rb
  spec/requests/internal/users_banish_spec.rb
  spec/services/users/cleanup_chat_channels_spec.rb
  spec/services/users/delete_articles_spec.rb
Owners: @jacobherrington, @zhao-andy

Remove direct chat channels when banishing user (#5784) [deploy]
  app/services/moderator/banish_user.rb
  app/services/users/cleanup_chat_channels.rb
  app/services/users/delete_articles.rb
  spec/requests/internal/users_banish_spec.rb
  spec/services/users/cleanup_chat_channels_spec.rb
  spec/services/users/delete_articles_spec.rb
Owners: @jacobherrington, @zhao-andy

Allow broadcasts to be created from internal/broadcast (#5908) [deploy]
  app/controllers/internal/broadcasts_controller.rb
  spec/requests/internal/broadcasts_spec.rb
Owners: @jacobherrington, @zhao-andy

Allow broadcasts to be created from internal/broadcast (#5908) [deploy]
  app/controllers/internal/broadcasts_controller.rb
  spec/requests/internal/broadcasts_spec.rb
Owners: @jacobherrington, @zhao-andy

Remove Tags::BustCacheJob and spec (#5897)
  app/jobs/tags/bust_cache_job.rb
  spec/jobs/tags/bust_cache_job_spec.rb
Owners: @thepracticaldev/sre

Remove Tags::BustCacheJob and spec (#5897)
  app/jobs/tags/bust_cache_job.rb
  spec/jobs/tags/bust_cache_job_spec.rb
Owners: @thepracticaldev/sre

Remove Articles::ScoreCalcJob and spec (#5898)
  app/jobs/articles/score_calc_job.rb
  spec/jobs/articles/score_calc_job_spec.rb
Owners: @thepracticaldev/sre

Remove Articles::ScoreCalcJob and spec (#5898)
  app/jobs/articles/score_calc_job.rb
  spec/jobs/articles/score_calc_job_spec.rb
Owners: @thepracticaldev/sre

Remove Notifications::UpdateJob and spec (#5903)
  app/jobs/notifications/update_job.rb
  spec/jobs/notifications/update_job_spec.rb
Owners: @thepracticaldev/sre

Remove Notifications::UpdateJob and spec (#5903)
  app/jobs/notifications/update_job.rb
  spec/jobs/notifications/update_job_spec.rb
Owners: @thepracticaldev/sre

Remove Notifications::ModerationNotificationJob (#5905) [deploy]
  app/jobs/notifications/moderation_notification_job.rb
  spec/jobs/notifications/moderation_notification_job_spec.rb
Owners: @thepracticaldev/sre

Remove Notifications::ModerationNotificationJob (#5905) [deploy]
  app/jobs/notifications/moderation_notification_job.rb
  spec/jobs/notifications/moderation_notification_job_spec.rb
Owners: @thepracticaldev/sre

Move HtmlVariantTrial#create inline (#5901) [deploy]
  app/controllers/html_variant_trials_controller.rb
Owners: none

Move HtmlVariantTrial#create inline (#5901) [deploy]
  app/controllers/html_variant_trials_controller.rb
Owners: none

Migrate update main image background job to sidekiq (#5345) [deploy]
  app/models/article.rb
  app/workers/articles/update_main_image_background_hex_worker.rb
  spec/models/article_spec.rb
  spec/workers/articles/update_main_image_background_hex_worker_spec.rb
Owners: @thepracticaldev/sre

Migrate update main image background job to sidekiq (#5345) [deploy]
  app/models/article.rb
  app/workers/articles/update_main_image_background_hex_worker.rb
  spec/models/article_spec.rb
  spec/workers/articles/update_main_image_background_hex_worker_spec.rb
Owners: @thepracticaldev/sre

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Team snackCase
/app/assets/stylesheets/internal/ @jacobherrington @zhao-andy
/app/controllers/internal/        @jacobherrington @zhao-andy
/app/views/internal/              @jacobherrington @zhao-andy
/app/views/moderation/            @jacobherrington @zhao-andy
/spec/system/internal/            @jacobherrington @zhao-andy
/spec/requests/internal/          @jacobherrington @zhao-andy
/docs/                            @jacobherrington
