Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

Fixed label not being associated to published checkbox on events admin page. (#10063)
  app/views/admin/events/_event_form.html.erb
Owners: @forem/snackcase

Fixed label not being associated to published checkbox on events admin page. (#10063)
  app/views/admin/events/_event_form.html.erb
Owners: @forem/snackcase

[deploy] Start ignoring group column for profile fields (#10045)
  app/models/profile_field.rb
  app/services/profile_fields/import_from_csv.rb
  spec/services/profile_fields/add_spec.rb
  spec/services/profile_fields/import_from_csv_spec.rb
Owners: none

[deploy] Start ignoring group column for profile fields (#10045)
  app/models/profile_field.rb
  app/services/profile_fields/import_from_csv.rb
  spec/services/profile_fields/add_spec.rb
  spec/services/profile_fields/import_from_csv_spec.rb
Owners: none

Deleting hidden comment notification using after_update (#9823)
  app/controllers/comments_controller.rb
  app/models/comment.rb
  spec/models/comment_spec.rb
Owners: none

Deleting hidden comment notification using after_update (#9823)
  app/controllers/comments_controller.rb
  app/models/comment.rb
  spec/models/comment_spec.rb
Owners: none

[deploy] Include APP_NAME in Pusher channels (#10001)
  .env_sample
  app/controllers/chat_channels_controller.rb
  app/controllers/messages_controller.rb
  app/controllers/pusher_controller.rb
  app/helpers/messages_helper.rb
  app/javascript/chat/chat.jsx
  app/javascript/utilities/connect/getUnopenedChannels.jsx
  app/models/chat_channel.rb
  app/views/shell/_top.html.erb
Owners: none

[deploy] Include APP_NAME in Pusher channels (#10001)
  .env_sample
  app/controllers/chat_channels_controller.rb
  app/controllers/messages_controller.rb
  app/controllers/pusher_controller.rb
  app/helpers/messages_helper.rb
  app/javascript/chat/chat.jsx
  app/javascript/utilities/connect/getUnopenedChannels.jsx
  app/models/chat_channel.rb
  app/views/shell/_top.html.erb
Owners: none

[deploy] Fix clearing of all cookies on logout (#10100)
  app/controllers/sessions_controller.rb
Owners: none

[deploy] Fix clearing of all cookies on logout (#10100)
  app/controllers/sessions_controller.rb
Owners: none

[deploy] Add missing foreign keys to models related to users (#10018)
  app/models/rating_vote.rb
  db/migrate/20200826132639_add_missing_foreign_keys_to_models_related_to_users.rb
  db/schema.rb
  spec/factories/rating_votes.rb
  spec/models/notification_spec.rb
  spec/models/rating_vote_spec.rb
  spec/policies/organization_policy_spec.rb
  spec/services/users/delete_spec.rb
Owners: @forem/sre

[deploy] Add missing foreign keys to models related to users (#10018)
  app/models/rating_vote.rb
  db/migrate/20200826132639_add_missing_foreign_keys_to_models_related_to_users.rb
  db/schema.rb
  spec/factories/rating_votes.rb
  spec/models/notification_spec.rb
  spec/models/rating_vote_spec.rb
  spec/policies/organization_policy_spec.rb
  spec/services/users/delete_spec.rb
Owners: @forem/sre

[deploy] Remove group column from profile_fields (#10046)
  db/migrate/20200828045600_remove_group_from_profile_fields.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Remove group column from profile_fields (#10046)
  db/migrate/20200828045600_remove_group_from_profile_fields.rb
  db/schema.rb
Owners: @forem/sre

Purge core edge/fragment caches on config update (#10098)
  app/controllers/admin/configs_controller.rb
Owners: @forem/snackcase

Purge core edge/fragment caches on config update (#10098)
  app/controllers/admin/configs_controller.rb
Owners: @forem/snackcase

[deploy] Add Recent Vomit Reaction Reports to Users' Admin Users Page (#10059)
  app/controllers/admin/users_controller.rb
  app/views/admin/users/_activity.erb
  app/views/admin/users/_activity.html.erb
  app/views/admin/users/_credits.html.erb
  app/views/admin/users/_negative_reactions.html.erb
  app/views/admin/users/_notes.html.erb
  app/views/admin/users/edit.html.erb
  app/views/admin/users/show.html.erb
Owners: @forem/snackcase

[deploy] Add Recent Vomit Reaction Reports to Users' Admin Users Page (#10059)
  app/controllers/admin/users_controller.rb
  app/views/admin/users/_activity.erb
  app/views/admin/users/_activity.html.erb
  app/views/admin/users/_credits.html.erb
  app/views/admin/users/_negative_reactions.html.erb
  app/views/admin/users/_notes.html.erb
  app/views/admin/users/edit.html.erb
  app/views/admin/users/show.html.erb
Owners: @forem/snackcase

Adjusts the Wording Around Flagging a User as Abusive to be More Explicit (#10068) [deploy]
  app/views/moderations/mod.html.erb
Owners: none

Adjusts the Wording Around Flagging a User as Abusive to be More Explicit (#10068) [deploy]
  app/views/moderations/mod.html.erb
Owners: none

[deploy] Bug Fix:Destroy GithubRepos with Suspended or Blocked Access (#10103)
  app/workers/github_repos/repo_sync_worker.rb
  spec/workers/github_repos/repo_sync_worker_spec.rb
Owners: @forem/sre

[deploy] Bug Fix:Destroy GithubRepos with Suspended or Blocked Access (#10103)
  app/workers/github_repos/repo_sync_worker.rb
  spec/workers/github_repos/repo_sync_worker_spec.rb
Owners: @forem/sre

[deploy] Admin Reports view hot fix
  app/views/admin/feedback_messages/_latest_articles.html.erb
Owners: @forem/snackcase

[deploy] Admin Reports view hot fix
  app/views/admin/feedback_messages/_latest_articles.html.erb
Owners: @forem/snackcase

[deploy] Allow initial user to sign up and configure app (#10073)
  app/controllers/application_controller.rb
  app/controllers/concerns/verify_setup_completed.rb
  app/controllers/registrations_controller.rb
  app/models/site_config.rb
  app/views/devise/registrations/new.html.erb
  app/views/shared/authentication/_email_registration_form.html.erb
  app/views/shared/authentication/_initial_account_wizard.html.erb
  db/seeds.rb
  docs/getting-started/db.md
  spec/rails_helper.rb
  spec/requests/registrations_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

[deploy] Allow initial user to sign up and configure app (#10073)
  app/controllers/application_controller.rb
  app/controllers/concerns/verify_setup_completed.rb
  app/controllers/registrations_controller.rb
  app/models/site_config.rb
  app/views/devise/registrations/new.html.erb
  app/views/shared/authentication/_email_registration_form.html.erb
  app/views/shared/authentication/_initial_account_wizard.html.erb
  db/seeds.rb
  docs/getting-started/db.md
  spec/rails_helper.rb
  spec/requests/registrations_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

Update main authentication view to improve visual design (#9856) [deploy]
  app/assets/images/twemoji/face-sunglasses.svg
  app/assets/stylesheets/article-form-needed-legacy.scss
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/minimal.scss
  app/assets/stylesheets/signin.scss
  app/assets/stylesheets/views/signin.scss
  app/controllers/registrations_controller.rb
  app/views/devise/registrations/_registration_form.html.erb
  app/views/devise/shared/_authorization_error.html.erb
  app/views/shared/authentication/_providers_registration_form.html.erb
  spec/requests/editor_spec.rb
  spec/requests/notifications_spec.rb
  spec/requests/registrations_spec.rb
  spec/requests/stories_index_spec.rb
  spec/system/link_for_tags_in_posts_in_notifications_spec.rb
  spec/system/user_logs_in_with_password_spec.rb
Owners: none

Update main authentication view to improve visual design (#9856) [deploy]
  app/assets/images/twemoji/face-sunglasses.svg
  app/assets/stylesheets/article-form-needed-legacy.scss
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/minimal.scss
  app/assets/stylesheets/signin.scss
  app/assets/stylesheets/views/signin.scss
  app/controllers/registrations_controller.rb
  app/views/devise/registrations/_registration_form.html.erb
  app/views/devise/shared/_authorization_error.html.erb
  app/views/shared/authentication/_providers_registration_form.html.erb
  spec/requests/editor_spec.rb
  spec/requests/notifications_spec.rb
  spec/requests/registrations_spec.rb
  spec/requests/stories_index_spec.rb
  spec/system/link_for_tags_in_posts_in_notifications_spec.rb
  spec/system/user_logs_in_with_password_spec.rb
Owners: none

Fixes brakeman open redirect warnings at pages_controller (#10095)
  app/controllers/pages_controller.rb
  spec/requests/pages_spec.rb
Owners: none

Fixes brakeman open redirect warnings at pages_controller (#10095)
  app/controllers/pages_controller.rb
  spec/requests/pages_spec.rb
Owners: none

🚀 Feature: Ability to upload images to connect by drag and drop (#9992)
  app/javascript/article-form/actions.js
  app/javascript/chat/chat.jsx
  app/javascript/utilities/dragAndUpload.js
Owners: none

🚀 Feature: Ability to upload images to connect by drag and drop (#9992)
  app/javascript/article-form/actions.js
  app/javascript/chat/chat.jsx
  app/javascript/utilities/dragAndUpload.js
Owners: none

[deploy] Bug Fix:Update Sitemap Generator to Handle IAM Profiles (#10000)
  config/sitemap.rb
Owners: @forem/sre

[deploy] Bug Fix:Update Sitemap Generator to Handle IAM Profiles (#10000)
  config/sitemap.rb
Owners: @forem/sre

Updates Recent Reactions UI to match Admin UI changes (#10109)
  app/views/admin/users/_negative_reactions.html.erb
Owners: @forem/snackcase

Updates Recent Reactions UI to match Admin UI changes (#10109)
  app/views/admin/users/_negative_reactions.html.erb
Owners: @forem/snackcase

[deploy] Refactor:Email Digest Sending Logic (#10107)
  app/services/email_digest_article_collector.rb
  app/services/email_logic.rb
  app/workers/emails/send_user_digest_worker.rb
  spec/services/email_digest_article_collector_spec.rb
Owners: @forem/sre

[deploy] Refactor:Email Digest Sending Logic (#10107)
  app/services/email_digest_article_collector.rb
  app/services/email_logic.rb
  app/workers/emails/send_user_digest_worker.rb
  spec/services/email_digest_article_collector_spec.rb
Owners: @forem/sre

Add logic for asking for FOREM_OWNER_SECRET to be present on first user sign up if set by system (#10108)
  .env_sample
  app/controllers/application_controller.rb
  app/controllers/registrations_controller.rb
  app/views/shared/authentication/_email_registration_form.html.erb
  spec/requests/registrations_spec.rb
Owners: none

Add logic for asking for FOREM_OWNER_SECRET to be present on first user sign up if set by system (#10108)
  .env_sample
  app/controllers/application_controller.rb
  app/controllers/registrations_controller.rb
  app/views/shared/authentication/_email_registration_form.html.erb
  spec/requests/registrations_spec.rb
Owners: none
