Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Team snackCase
/app/assets/stylesheets/internal/ @jacobherrington @zhao-andy
/app/controllers/internal/        @jacobherrington @zhao-andy
/app/views/internal/              @jacobherrington @zhao-andy
/app/views/moderation/            @jacobherrington @zhao-andy
/spec/system/internal/            @jacobherrington @zhao-andy
/spec/requests/internal/          @jacobherrington @zhao-andy
/docs/                            @jacobherrington

Update CONTRIBUTING.md (#5891)
  CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md (#5891)
  CONTRIBUTING.md
Owners: none

Improve API controllers efficiency by selecting only columns needed for serialization (#5805) [deploy]
  app/controllers/api/v0/articles_controller.rb
  app/controllers/api/v0/chat_channels_controller.rb
  app/controllers/api/v0/classified_listings_controller.rb
  app/controllers/api/v0/comments_controller.rb
  app/controllers/api/v0/followers_controller.rb
  app/controllers/api/v0/followings_controller.rb
  app/controllers/api/v0/github_repos_controller.rb
  app/controllers/api/v0/reactions_controller.rb
  app/controllers/api/v0/tags_controller.rb
  app/controllers/api/v0/users_controller.rb
  app/controllers/api/v0/webhooks_controller.rb
  app/models/chat_channel.rb
  app/services/article_api_index_service.rb
  app/services/suggester/users/recent.rb
  app/services/suggester/users/sidebar.rb
  app/views/api/v0/articles/_article.json.jbuilder
  app/views/api/v0/articles/index.json.jbuilder
  app/views/api/v0/articles/show.json.jbuilder
  app/views/api/v0/classified_listings/_listing.json.jbuilder
  app/views/api/v0/followers/_follows.json.jbuilder
  app/views/api/v0/followings/tags.json.jbuilder
  app/views/api/v0/users/me.json.jbuilder
  config/routes.rb
  spec/requests/api/v0/chat_channels_spec.rb
  spec/requests/api/v0/classified_listings_spec.rb
  spec/requests/api/v0/followers_spec.rb
  spec/requests/api/v0/followings_spec.rb
  spec/requests/api/v0/follows_spec.rb
  spec/requests/api/v0/github_repos_spec.rb
  spec/requests/api/v0/reactions_spec.rb
  spec/requests/api/v0/users_spec.rb
  spec/requests/api/v0/webhooks_spec.rb
  spec/requests/reactions_api_spec.rb
  spec/requests/users_api_spec.rb
  spec/services/suggester/users/sidebar_spec.rb
Owners: @thepracticaldev/sre

Improve API controllers efficiency by selecting only columns needed for serialization (#5805) [deploy]
  app/controllers/api/v0/articles_controller.rb
  app/controllers/api/v0/chat_channels_controller.rb
  app/controllers/api/v0/classified_listings_controller.rb
  app/controllers/api/v0/comments_controller.rb
  app/controllers/api/v0/followers_controller.rb
  app/controllers/api/v0/followings_controller.rb
  app/controllers/api/v0/github_repos_controller.rb
  app/controllers/api/v0/reactions_controller.rb
  app/controllers/api/v0/tags_controller.rb
  app/controllers/api/v0/users_controller.rb
  app/controllers/api/v0/webhooks_controller.rb
  app/models/chat_channel.rb
  app/services/article_api_index_service.rb
  app/services/suggester/users/recent.rb
  app/services/suggester/users/sidebar.rb
  app/views/api/v0/articles/_article.json.jbuilder
  app/views/api/v0/articles/index.json.jbuilder
  app/views/api/v0/articles/show.json.jbuilder
  app/views/api/v0/classified_listings/_listing.json.jbuilder
  app/views/api/v0/followers/_follows.json.jbuilder
  app/views/api/v0/followings/tags.json.jbuilder
  app/views/api/v0/users/me.json.jbuilder
  config/routes.rb
  spec/requests/api/v0/chat_channels_spec.rb
  spec/requests/api/v0/classified_listings_spec.rb
  spec/requests/api/v0/followers_spec.rb
  spec/requests/api/v0/followings_spec.rb
  spec/requests/api/v0/follows_spec.rb
  spec/requests/api/v0/github_repos_spec.rb
  spec/requests/api/v0/reactions_spec.rb
  spec/requests/api/v0/users_spec.rb
  spec/requests/api/v0/webhooks_spec.rb
  spec/requests/reactions_api_spec.rb
  spec/requests/users_api_spec.rb
  spec/services/suggester/users/sidebar_spec.rb
Owners: @thepracticaldev/sre

log Notification db table size (#5920) [deploy]
  app/workers/metrics/record_db_table_counts_worker.rb
Owners: @thepracticaldev/sre

log Notification db table size (#5920) [deploy]
  app/workers/metrics/record_db_table_counts_worker.rb
Owners: @thepracticaldev/sre

Fix serialization error with video_thumbnail_url (#5933)
  app/controllers/api/v0/articles_controller.rb
  spec/requests/api/v0/articles_spec.rb
Owners: none

Fix serialization error with video_thumbnail_url (#5933)
  app/controllers/api/v0/articles_controller.rb
  spec/requests/api/v0/articles_spec.rb
Owners: none

Add an internal user interface guide [ci skip] (#5721) [deploy]
  docs/internal/internal-user-interface.md
  docs/internal/readme.md
Owners: @jacobherrington

Add an internal user interface guide [ci skip] (#5721) [deploy]
  docs/internal/internal-user-interface.md
  docs/internal/readme.md
Owners: @jacobherrington

Add Code To Setup the Elasticsearch Tag Index (#5919) [deploy]
  .travis.yml
  app/services/search/cluster.rb
  app/services/search/tag.rb
  lib/tasks/search.rake
  spec/rails_helper.rb
  spec/services/search/cluster_spec.rb
  spec/services/search/tag_spec.rb
Owners: none

Add Code To Setup the Elasticsearch Tag Index (#5919) [deploy]
  .travis.yml
  app/services/search/cluster.rb
  app/services/search/tag.rb
  lib/tasks/search.rake
  spec/rails_helper.rb
  spec/services/search/cluster_spec.rb
  spec/services/search/tag_spec.rb
Owners: none

Add index to notifications to optimize query (#5921) [deploy]
  db/migrate/20200205225813_add_notifiable_id_notifiable_type_action_index_to_notifications.rb
  db/schema.rb
Owners: @thepracticaldev/sre

Add index to notifications to optimize query (#5921) [deploy]
  db/migrate/20200205225813_add_notifiable_id_notifiable_type_action_index_to_notifications.rb
  db/schema.rb
Owners: @thepracticaldev/sre

Use Node lts/erbium (v12) for Netlify builds (#5925)
  docs/.nvmrc
Owners: @jacobherrington

Use Node lts/erbium (v12) for Netlify builds (#5925)
  docs/.nvmrc
Owners: @jacobherrington

Move Podcasts::GetEpisodesJob to Sidekiq (#5443) [deploy]
  app/controllers/admin/podcasts_controller.rb
  app/jobs/podcasts/get_episodes_job.rb
  app/workers/podcasts/get_episodes_worker.rb
  lib/tasks/fetch.rake
  spec/requests/admin/podcasts_spec.rb
  spec/workers/podcasts/get_episodes_worker_spec.rb
Owners: @thepracticaldev/sre

Move Podcasts::GetEpisodesJob to Sidekiq (#5443) [deploy]
  app/controllers/admin/podcasts_controller.rb
  app/jobs/podcasts/get_episodes_job.rb
  app/workers/podcasts/get_episodes_worker.rb
  lib/tasks/fetch.rake
  spec/requests/admin/podcasts_spec.rb
  spec/workers/podcasts/get_episodes_worker_spec.rb
Owners: @thepracticaldev/sre

Adjust cloning example to use SSH rather than HTTPS (#5802)
  docs/installation/mac.md
Owners: @jacobherrington

Adjust cloning example to use SSH rather than HTTPS (#5802)
  docs/installation/mac.md
Owners: @jacobherrington

Refactored userData while working on hompage makeover. (#5916) [deploy]
  app/assets/javascripts/utilities/userData.js
Owners: none

Refactored userData while working on hompage makeover. (#5916) [deploy]
  app/assets/javascripts/utilities/userData.js
Owners: none

Style: update height of speakerdeck tag to be avoid scaling (#5818)
  app/views/liquids/_speakerdeck.html.erb
Owners: none

Style: update height of speakerdeck tag to be avoid scaling (#5818)
  app/views/liquids/_speakerdeck.html.erb
Owners: none

Use simpler messaging for ghost account deletion (#5906)
  app/views/users/_account.html.erb
  app/views/users/confirm_destroy.html.erb
Owners: none

Use simpler messaging for ghost account deletion (#5906)
  app/views/users/_account.html.erb
  app/views/users/confirm_destroy.html.erb
Owners: none

Remove extra whitespace from text inputs in Buffer share (#5924) [deploy]
  app/views/internal/articles/_individual_article.html.erb
Owners: @jacobherrington, @zhao-andy

Remove extra whitespace from text inputs in Buffer share (#5924) [deploy]
  app/views/internal/articles/_individual_article.html.erb
Owners: @jacobherrington, @zhao-andy

Onboarding JS: refactor function out of repetitive blocks (#5564) [deploy]
  app/javascript/onboarding/components/BioForm.jsx
  app/javascript/onboarding/components/ClosingSlide.jsx
  app/javascript/onboarding/components/EmailListTermsConditionsForm.jsx
  app/javascript/onboarding/components/IntroSlide.jsx
  app/javascript/onboarding/utilities.js
Owners: none

Onboarding JS: refactor function out of repetitive blocks (#5564) [deploy]
  app/javascript/onboarding/components/BioForm.jsx
  app/javascript/onboarding/components/ClosingSlide.jsx
  app/javascript/onboarding/components/EmailListTermsConditionsForm.jsx
  app/javascript/onboarding/components/IntroSlide.jsx
  app/javascript/onboarding/utilities.js
Owners: none

Add mod channel automation to tags (#5731) [deploy]
  app/labor/assign_tag_moderator.rb
  app/models/role.rb
  app/models/tag.rb
  db/migrate/20200125204226_add_moderator_chat_channel_id_to_tags.rb
  db/schema.rb
  spec/labor/assign_tag_moderator_spec.rb
  spec/models/role_spec.rb
  spec/models/tag_spec.rb
Owners: @thepracticaldev/sre

Add mod channel automation to tags (#5731) [deploy]
  app/labor/assign_tag_moderator.rb
  app/models/role.rb
  app/models/tag.rb
  db/migrate/20200125204226_add_moderator_chat_channel_id_to_tags.rb
  db/schema.rb
  spec/labor/assign_tag_moderator_spec.rb
  spec/models/role_spec.rb
  spec/models/tag_spec.rb
Owners: @thepracticaldev/sre

Properly rename Podcasts::BustCacheWorker spec (#5864)
  spec/workers/podcasts/bust_cache_worker_spec.rb
Owners: none

Properly rename Podcasts::BustCacheWorker spec (#5864)
  spec/workers/podcasts/bust_cache_worker_spec.rb
Owners: none

Correct startup script and docs (#5940)
  bin/startup
  docs/getting-started/start-app.md
Owners: @jacobherrington

Correct startup script and docs (#5940)
  bin/startup
  docs/getting-started/start-app.md
Owners: @jacobherrington

Include instructions to set Algolia plan (#5941)
  docs/backend/algolia.md
Owners: @jacobherrington

Include instructions to set Algolia plan (#5941)
  docs/backend/algolia.md
Owners: @jacobherrington

Add various badges to README [skip ci] (#5931)
  README.md
Owners: none

Add various badges to README [skip ci] (#5931)
  README.md
Owners: none
