Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

Reduce arguments method buff! at model buffer_update (#9793)
  app/labor/bufferizer.rb
  app/models/buffer_update.rb
  spec/models/buffer_update_spec.rb
  spec/services/users/delete_articles_spec.rb
Owners: none

Reduce arguments method buff! at model buffer_update (#9793)
  app/labor/bufferizer.rb
  app/models/buffer_update.rb
  spec/models/buffer_update_spec.rb
  spec/services/users/delete_articles_spec.rb
Owners: none

Add Options to "Invalidate" and "Mark as Valid" Vomit Reactions (#9769) [deploy]
  app/javascript/admin/controllers/reaction_controller.js
  app/views/admin/feedback_messages/_abuse_reports.html.erb
Owners: @forem/snackcase

Add Options to "Invalidate" and "Mark as Valid" Vomit Reactions (#9769) [deploy]
  app/javascript/admin/controllers/reaction_controller.js
  app/views/admin/feedback_messages/_abuse_reports.html.erb
Owners: @forem/snackcase

[deploy] Bug Fix:Execute Hypershield Refresh Task (#9858)
  lib/tasks/app_initializer.rake
Owners: none

[deploy] Bug Fix:Execute Hypershield Refresh Task (#9858)
  lib/tasks/app_initializer.rake
Owners: none

[deploy] Apply fixes for axe issues in admin interfaces (#9851)
  app/views/admin/articles/index.html.erb
  app/views/admin/badges/award.html.erb
  app/views/admin/badges/edit.html.erb
  app/views/admin/badges/index.html.erb
  app/views/admin/badges/new.html.erb
  app/views/admin/broadcasts/_form.html.erb
  app/views/admin/broadcasts/edit.html.erb
  app/views/admin/broadcasts/index.html.erb
  app/views/admin/broadcasts/new.html.erb
  app/views/admin/broadcasts/show.html.erb
  app/views/layouts/admin.html.erb
Owners: @forem/snackcase

[deploy] Apply fixes for axe issues in admin interfaces (#9851)
  app/views/admin/articles/index.html.erb
  app/views/admin/badges/award.html.erb
  app/views/admin/badges/edit.html.erb
  app/views/admin/badges/index.html.erb
  app/views/admin/badges/new.html.erb
  app/views/admin/broadcasts/_form.html.erb
  app/views/admin/broadcasts/edit.html.erb
  app/views/admin/broadcasts/index.html.erb
  app/views/admin/broadcasts/new.html.erb
  app/views/admin/broadcasts/show.html.erb
  app/views/layouts/admin.html.erb
Owners: @forem/snackcase

Warning Fix: Rename Unused application.yml File to Prevent Warnings (#9860)
  .gitignore
  bin/setup
Owners: none

Warning Fix: Rename Unused application.yml File to Prevent Warnings (#9860)
  .gitignore
  bin/setup
Owners: none

[deploy] 🐞Bug Fix: Chat doesn't extend to its frame on Firefox iOS [ Fixes #4024 ] (#9801)
  app/assets/stylesheets/chat.scss
  app/javascript/chat/chat.jsx
  app/views/chat_channels/index.html.erb
Owners: none

[deploy] 🐞Bug Fix: Chat doesn't extend to its frame on Firefox iOS [ Fixes #4024 ] (#9801)
  app/assets/stylesheets/chat.scss
  app/javascript/chat/chat.jsx
  app/views/chat_channels/index.html.erb
Owners: none

[deploy] Create optimized_image_tag helper (#9834)
  app/helpers/application_helper.rb
  app/liquid_tags/podcast_tag.rb
  app/views/articles/_bottom_content.html.erb
  app/views/podcast_episodes/_episodes_feed.html.erb
  app/views/podcast_episodes/_liquid.html.erb
  app/views/podcast_episodes/_podcast_bar.html.erb
  app/views/podcast_episodes/show.html.erb
  spec/helpers/application_helper_spec.rb
Owners: @forem/hells-bells

[deploy] Create optimized_image_tag helper (#9834)
  app/helpers/application_helper.rb
  app/liquid_tags/podcast_tag.rb
  app/views/articles/_bottom_content.html.erb
  app/views/podcast_episodes/_episodes_feed.html.erb
  app/views/podcast_episodes/_liquid.html.erb
  app/views/podcast_episodes/_podcast_bar.html.erb
  app/views/podcast_episodes/show.html.erb
  spec/helpers/application_helper_spec.rb
Owners: @forem/hells-bells

[deploy] Refactor: Move beloved comment Badge to Sidekiq Cron (#9861)
  app/labor/badge_rewarder.rb
  config/schedule.yml
  lib/tasks/badges.rake
Owners: @forem/sre

[deploy] Refactor: Move beloved comment Badge to Sidekiq Cron (#9861)
  app/labor/badge_rewarder.rb
  config/schedule.yml
  lib/tasks/badges.rake
Owners: @forem/sre

Update suggested tweet copy on manage page (#9865)
  app/views/articles/manage.html.erb
Owners: @forem/hells-bells

Update suggested tweet copy on manage page (#9865)
  app/views/articles/manage.html.erb
Owners: @forem/hells-bells

Check for heroku url presence before working with it (#9866)
  config/environments/production.rb
Owners: @forem/sre

Check for heroku url presence before working with it (#9866)
  config/environments/production.rb
Owners: @forem/sre

[deploy] Move community_copyright_start_year to SiteConfig (#9863)
  app/controllers/admin/configs_controller.rb
  app/helpers/application_helper.rb
  app/labor/badge_rewarder.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  config/.env_sample
  config/sample_application.yml
  spec/helpers/application_helper_spec.rb
  spec/labor/badge_rewarder_spec.rb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Move community_copyright_start_year to SiteConfig (#9863)
  app/controllers/admin/configs_controller.rb
  app/helpers/application_helper.rb
  app/labor/badge_rewarder.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  config/.env_sample
  config/sample_application.yml
  spec/helpers/application_helper_spec.rb
  spec/labor/badge_rewarder_spec.rb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase, @forem/sre

Move .env_sample out of /config directory (#9868)
  .env_sample
  .gitpod.yml
  .travis.yml
  docs/getting-started/config-env.md
  docs/installation/containers.md
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/windows.md
Owners: @forem/sre, @forem/oss, @jacobherrington

Move .env_sample out of /config directory (#9868)
  .env_sample
  .gitpod.yml
  .travis.yml
  docs/getting-started/config-env.md
  docs/installation/containers.md
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/windows.md
Owners: @forem/sre, @forem/oss, @jacobherrington

Rubocop: Fix ListingCategory has_many relation to Listing (#9853)
  .rubocop_todo.yml
  app/models/listing_category.rb
  spec/models/listing_category_spec.rb
Owners: none

Rubocop: Fix ListingCategory has_many relation to Listing (#9853)
  .rubocop_todo.yml
  app/models/listing_category.rb
  spec/models/listing_category_spec.rb
Owners: none

Allow staff_user_id to be modified (#9869)
  app/controllers/admin/configs_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase

Allow staff_user_id to be modified (#9869)
  app/controllers/admin/configs_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase

Use ApplicationController for liquid render (#9867)
  app/liquid_tags/asciinema_tag.rb
  app/liquid_tags/blogcast_tag.rb
  app/liquid_tags/codepen_tag.rb
  app/liquid_tags/codesandbox_tag.rb
  app/liquid_tags/comment_tag.rb
  app/liquid_tags/details_tag.rb
  app/liquid_tags/gist_tag.rb
  app/liquid_tags/git_pitch_tag.rb
  app/liquid_tags/github_tag/github_issue_tag.rb
  app/liquid_tags/github_tag/github_readme_tag.rb
  app/liquid_tags/glitch_tag.rb
  app/liquid_tags/instagram_tag.rb
  app/liquid_tags/js_fiddle_tag.rb
  app/liquid_tags/jsitor_tag.rb
  app/liquid_tags/katex_tag.rb
  app/liquid_tags/kotlin_tag.rb
  app/liquid_tags/link_tag.rb
  app/liquid_tags/listing_tag.rb
  app/liquid_tags/medium_tag.rb
  app/liquid_tags/next_tech_tag.rb
  app/liquid_tags/organization_tag.rb
  app/liquid_tags/parler_tag.rb
  app/liquid_tags/poll_tag.rb
  app/liquid_tags/reddit_tag.rb
  app/liquid_tags/replit_tag.rb
  app/liquid_tags/runkit_tag.rb
  app/liquid_tags/slideshare_tag.rb
  app/liquid_tags/soundcloud_tag.rb
  app/liquid_tags/speakerdeck_tag.rb
  app/liquid_tags/spotify_tag.rb
  app/liquid_tags/stackblitz_tag.rb
  app/liquid_tags/stackery_tag.rb
  app/liquid_tags/stackexchange_tag.rb
  app/liquid_tags/tag_tag.rb
  app/liquid_tags/tweet_tag.rb
  app/liquid_tags/user_tag.rb
  app/liquid_tags/vimeo_tag.rb
  app/liquid_tags/wikipedia_tag.rb
  app/liquid_tags/youtube_tag.rb
  docs/frontend/liquid-tags.md
Owners: @forem/oss, @jacobherrington

Use ApplicationController for liquid render (#9867)
  app/liquid_tags/asciinema_tag.rb
  app/liquid_tags/blogcast_tag.rb
  app/liquid_tags/codepen_tag.rb
  app/liquid_tags/codesandbox_tag.rb
  app/liquid_tags/comment_tag.rb
  app/liquid_tags/details_tag.rb
  app/liquid_tags/gist_tag.rb
  app/liquid_tags/git_pitch_tag.rb
  app/liquid_tags/github_tag/github_issue_tag.rb
  app/liquid_tags/github_tag/github_readme_tag.rb
  app/liquid_tags/glitch_tag.rb
  app/liquid_tags/instagram_tag.rb
  app/liquid_tags/js_fiddle_tag.rb
  app/liquid_tags/jsitor_tag.rb
  app/liquid_tags/katex_tag.rb
  app/liquid_tags/kotlin_tag.rb
  app/liquid_tags/link_tag.rb
  app/liquid_tags/listing_tag.rb
  app/liquid_tags/medium_tag.rb
  app/liquid_tags/next_tech_tag.rb
  app/liquid_tags/organization_tag.rb
  app/liquid_tags/parler_tag.rb
  app/liquid_tags/poll_tag.rb
  app/liquid_tags/reddit_tag.rb
  app/liquid_tags/replit_tag.rb
  app/liquid_tags/runkit_tag.rb
  app/liquid_tags/slideshare_tag.rb
  app/liquid_tags/soundcloud_tag.rb
  app/liquid_tags/speakerdeck_tag.rb
  app/liquid_tags/spotify_tag.rb
  app/liquid_tags/stackblitz_tag.rb
  app/liquid_tags/stackery_tag.rb
  app/liquid_tags/stackexchange_tag.rb
  app/liquid_tags/tag_tag.rb
  app/liquid_tags/tweet_tag.rb
  app/liquid_tags/user_tag.rb
  app/liquid_tags/vimeo_tag.rb
  app/liquid_tags/wikipedia_tag.rb
  app/liquid_tags/youtube_tag.rb
  docs/frontend/liquid-tags.md
Owners: @forem/oss, @jacobherrington

Refactor:Move Streak Badges to Sidekiq Cron (#9872)
  app/labor/badge_rewarder.rb
  config/schedule.yml
  lib/tasks/badges.rake
  spec/labor/badge_rewarder_spec.rb
Owners: @forem/sre

Refactor:Move Streak Badges to Sidekiq Cron (#9872)
  app/labor/badge_rewarder.rb
  config/schedule.yml
  lib/tasks/badges.rake
  spec/labor/badge_rewarder_spec.rb
Owners: @forem/sre

Fix axe warnings on admin/chat_channels (#9871)
  app/views/admin/chat_channels/index.html.erb
Owners: @forem/snackcase

Fix axe warnings on admin/chat_channels (#9871)
  app/views/admin/chat_channels/index.html.erb
Owners: @forem/snackcase

[deploy] Add community_name to site config (#9864)
  app/controllers/admin/configs_controller.rb
  app/controllers/admin/welcome_controller.rb
  app/controllers/concerns/verify_setup_completed.rb
  app/controllers/email_subscriptions_controller.rb
  app/controllers/stories_controller.rb
  app/controllers/users_controller.rb
  app/helpers/application_helper.rb
  app/helpers/feedback_messages_helper.rb
  app/labor/badge_rewarder.rb
  app/lib/constants/site_config.rb
  app/liquid_tags/reddit_tag.rb
  app/mailers/application_mailer.rb
  app/mailers/digest_mailer.rb
  app/mailers/notify_mailer.rb
  app/mailers/verification_mailer.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  app/views/html_variants/_form.html.erb
  app/views/moderations/_mod_sidebar_right.html.erb
  app/workers/follows/send_email_notification_worker.rb
  db/seeds.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/feedback_messages_helper_spec.rb
  spec/mailers/digest_mailer_spec.rb
  spec/mailers/notify_mailer_spec.rb
  spec/mailers/previews/notify_mailer_preview.rb
  spec/mailers/verification_mailer_spec.rb
  spec/requests/admin/configs_spec.rb
  spec/requests/admin/users_spec.rb
  spec/requests/articles/articles_show_spec.rb
  spec/requests/pages_spec.rb
  spec/requests/service_worker_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
  spec/system/organization/user_views_an_organization_spec.rb
  spec/system/user/view_user_index_spec.rb
  spec/views/email_subscriptions/unsubscribe.html.erb_spec.rb
Owners: @forem/snackcase, @forem/hells-bells, @forem/sre

[deploy] Add community_name to site config (#9864)
  app/controllers/admin/configs_controller.rb
  app/controllers/admin/welcome_controller.rb
  app/controllers/concerns/verify_setup_completed.rb
  app/controllers/email_subscriptions_controller.rb
  app/controllers/stories_controller.rb
  app/controllers/users_controller.rb
  app/helpers/application_helper.rb
  app/helpers/feedback_messages_helper.rb
  app/labor/badge_rewarder.rb
  app/lib/constants/site_config.rb
  app/liquid_tags/reddit_tag.rb
  app/mailers/application_mailer.rb
  app/mailers/digest_mailer.rb
  app/mailers/notify_mailer.rb
  app/mailers/verification_mailer.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  app/views/html_variants/_form.html.erb
  app/views/moderations/_mod_sidebar_right.html.erb
  app/workers/follows/send_email_notification_worker.rb
  db/seeds.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/feedback_messages_helper_spec.rb
  spec/mailers/digest_mailer_spec.rb
  spec/mailers/notify_mailer_spec.rb
  spec/mailers/previews/notify_mailer_preview.rb
  spec/mailers/verification_mailer_spec.rb
  spec/requests/admin/configs_spec.rb
  spec/requests/admin/users_spec.rb
  spec/requests/articles/articles_show_spec.rb
  spec/requests/pages_spec.rb
  spec/requests/service_worker_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
  spec/system/organization/user_views_an_organization_spec.rb
  spec/system/user/view_user_index_spec.rb
  spec/views/email_subscriptions/unsubscribe.html.erb_spec.rb
Owners: @forem/snackcase, @forem/hells-bells, @forem/sre

[deploy] Bug Fix:Run Badge Award Job Twice a Day (#9875)
  config/schedule.yml
Owners: @forem/sre

[deploy] Bug Fix:Run Badge Award Job Twice a Day (#9875)
  config/schedule.yml
Owners: @forem/sre

[deploy] Remove unneeded Analytics update script (#9852)
  app/controllers/admin/configs_controller.rb
  app/controllers/async_info_controller.rb
  app/controllers/dashboards_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/services/articles/analytics_updater.rb
  app/views/admin/configs/show.html.erb
  app/workers/articles/update_analytics_worker.rb
  spec/requests/admin/configs_spec.rb
  spec/services/articles/analytics_updater_spec.rb
  spec/workers/articles/update_analytics_worker_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Remove unneeded Analytics update script (#9852)
  app/controllers/admin/configs_controller.rb
  app/controllers/async_info_controller.rb
  app/controllers/dashboards_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/services/articles/analytics_updater.rb
  app/views/admin/configs/show.html.erb
  app/workers/articles/update_analytics_worker.rb
  spec/requests/admin/configs_spec.rb
  spec/services/articles/analytics_updater_spec.rb
  spec/workers/articles/update_analytics_worker_spec.rb
Owners: @forem/snackcase, @forem/sre

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre
