Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

[deploy] Revert "Enable CSP in report only mode and use Honeybadger to track violations (#10155)" (#10191)
  config/initializers/content_security_policy.rb
Owners: @forem/sre

[deploy] Revert "Enable CSP in report only mode and use Honeybadger to track violations (#10155)" (#10191)
  config/initializers/content_security_policy.rb
Owners: @forem/sre

Add Recent Reports to Users' Admin User Page (#10058) [deploy]
  app/controllers/admin/users_controller.rb
  app/models/feedback_message.rb
  app/views/admin/users/_reports.html.erb
  app/views/admin/users/edit.html.erb
Owners: @forem/snackcase

Add Recent Reports to Users' Admin User Page (#10058) [deploy]
  app/controllers/admin/users_controller.rb
  app/models/feedback_message.rb
  app/views/admin/users/_reports.html.erb
  app/views/admin/users/edit.html.erb
Owners: @forem/snackcase

[deploy] Bug Fix:Comment out content security policy (#10192)
  config/initializers/content_security_policy.rb
Owners: @forem/sre

[deploy] Bug Fix:Comment out content security policy (#10192)
  config/initializers/content_security_policy.rb
Owners: @forem/sre

[deploy] Bug Fix:Sort Reactions by created_at (#10171)
  app/services/search/query_builders/reaction.rb
  spec/services/search/reaction_spec.rb
Owners: @forem/sre

[deploy] Bug Fix:Sort Reactions by created_at (#10171)
  app/services/search/query_builders/reaction.rb
  spec/services/search/reaction_spec.rb
Owners: @forem/sre

[deploy] Move deletion of legacy cookie higher in omniauth callback (#10190)
  app/controllers/omniauth_callbacks_controller.rb
  app/controllers/sessions_controller.rb
Owners: none

[deploy] Move deletion of legacy cookie higher in omniauth callback (#10190)
  app/controllers/omniauth_callbacks_controller.rb
  app/controllers/sessions_controller.rb
Owners: none

Optimization:Select Only Necessary Columns from Ahoy Messages For Digest Emails (#10194)
  app/services/email_digest_article_collector.rb
Owners: none

Optimization:Select Only Necessary Columns from Ahoy Messages For Digest Emails (#10194)
  app/services/email_digest_article_collector.rb
Owners: none

Strip tags from short_summary (#10157)
  app/views/dashboards/following_tags.html.erb
Owners: none

Strip tags from short_summary (#10157)
  app/views/dashboards/following_tags.html.erb
Owners: none

Add routes for i18n (#10193)
  config/routes.rb
  docs/backend/internationalization.md
  docs/backend/readme.md
  spec/routing/all_routes_spec.rb
  spec/routing/i18n_routes_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

Add routes for i18n (#10193)
  config/routes.rb
  docs/backend/internationalization.md
  docs/backend/readme.md
  spec/routing/all_routes_spec.rb
  spec/routing/i18n_routes_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

[deploy] Optimization:Limit Column Select for Sticky Nav Articles (#10197)
  app/labor/sticky_article_collection.rb
Owners: none

[deploy] Optimization:Limit Column Select for Sticky Nav Articles (#10197)
  app/labor/sticky_article_collection.rb
Owners: none

Don't include locale in service workers (#10198)
  app/views/service_worker/index.js.erb
Owners: none

Don't include locale in service workers (#10198)
  app/views/service_worker/index.js.erb
Owners: none

Update nav menu in Notification to use crayons-link styling (#10196) [deploy]
  app/assets/stylesheets/notifications.scss
  app/views/notifications/_nav_menu.html.erb
  app/views/notifications/_nav_menu_filter.html.erb
  app/views/notifications/index.html.erb
Owners: @forem/delightful

Update nav menu in Notification to use crayons-link styling (#10196) [deploy]
  app/assets/stylesheets/notifications.scss
  app/views/notifications/_nav_menu.html.erb
  app/views/notifications/_nav_menu_filter.html.erb
  app/views/notifications/index.html.erb
Owners: @forem/delightful

Add profiles controller (#10181)
  app/controllers/profiles_controller.rb
  config/routes.rb
  spec/requests/profiles_request_spec.rb
Owners: @forem/sre

Add profiles controller (#10181)
  app/controllers/profiles_controller.rb
  config/routes.rb
  spec/requests/profiles_request_spec.rb
Owners: @forem/sre

[deploy] Add ga tracking to config (#10150)
  app/controllers/admin/configs_controller.rb
  app/controllers/ga_events_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  app/views/pages/badge.html.erb
  app/views/shell/_top.html.erb
  config/sample_application.yml
  spec/requests/admin/configs_spec.rb
  spec/requests/stories_index_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Add ga tracking to config (#10150)
  app/controllers/admin/configs_controller.rb
  app/controllers/ga_events_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  app/views/pages/badge.html.erb
  app/views/shell/_top.html.erb
  config/sample_application.yml
  spec/requests/admin/configs_spec.rb
  spec/requests/stories_index_spec.rb
Owners: @forem/snackcase, @forem/sre

Add OAuth callback configuration to facebook docs (#10041)
  docs/backend/auth-facebook.md
Owners: @forem/oss, @jacobherrington

Add OAuth callback configuration to facebook docs (#10041)
  docs/backend/auth-facebook.md
Owners: @forem/oss, @jacobherrington

[deploy] Update JS sub-dependencies (#10207)
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

[deploy] Update JS sub-dependencies (#10207)
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

[deploy] Remove draft articles with duplicate feed source URL and cleanup invalid data (#10205)
  lib/data_update_scripts/20200904132553_remove_draft_articles_with_duplicate_feed_source_url.rb
  lib/data_update_scripts/20200904141057_cleanup_articles_with_invalid_feed_source_url.rb
  spec/lib/data_update_scripts/cleanup_articles_with_invalid_feed_source_url_spec.rb
  spec/lib/data_update_scripts/remove_draft_articles_with_duplicate_feed_source_url_spec.rb
Owners: @forem/sre

[deploy] Remove draft articles with duplicate feed source URL and cleanup invalid data (#10205)
  lib/data_update_scripts/20200904132553_remove_draft_articles_with_duplicate_feed_source_url.rb
  lib/data_update_scripts/20200904141057_cleanup_articles_with_invalid_feed_source_url.rb
  spec/lib/data_update_scripts/cleanup_articles_with_invalid_feed_source_url_spec.rb
  spec/lib/data_update_scripts/remove_draft_articles_with_duplicate_feed_source_url_spec.rb
Owners: @forem/sre

Revert "Remove draft articles with duplicate feed source URL and cleanup invalid data (#10205)" (#10209)
  lib/data_update_scripts/20200904132553_remove_draft_articles_with_duplicate_feed_source_url.rb
  lib/data_update_scripts/20200904141057_cleanup_articles_with_invalid_feed_source_url.rb
  spec/lib/data_update_scripts/cleanup_articles_with_invalid_feed_source_url_spec.rb
  spec/lib/data_update_scripts/remove_draft_articles_with_duplicate_feed_source_url_spec.rb
Owners: @forem/sre

Revert "Remove draft articles with duplicate feed source URL and cleanup invalid data (#10205)" (#10209)
  lib/data_update_scripts/20200904132553_remove_draft_articles_with_duplicate_feed_source_url.rb
  lib/data_update_scripts/20200904141057_cleanup_articles_with_invalid_feed_source_url.rb
  spec/lib/data_update_scripts/cleanup_articles_with_invalid_feed_source_url_spec.rb
  spec/lib/data_update_scripts/remove_draft_articles_with_duplicate_feed_source_url_spec.rb
Owners: @forem/sre

Drag and drop an image in the editor (#10145)
  app/javascript/article-form/actions.js
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/article-form/components/EditorBody.jsx
  app/javascript/article-form/components/Help.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
  app/javascript/article-form/components/__tests__/dragAndDropHelpers.test.js
  app/javascript/article-form/components/dragAndDropHelpers.js
  app/javascript/chat/chat.jsx
  app/javascript/packs/articleForm.jsx
  app/javascript/utilities/__tests__/dragAndDrop.test.js
  app/javascript/utilities/dragAndDrop.js
  app/javascript/utilities/dragAndUpload.js
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

Drag and drop an image in the editor (#10145)
  app/javascript/article-form/actions.js
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/article-form/components/EditorBody.jsx
  app/javascript/article-form/components/Help.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
  app/javascript/article-form/components/__tests__/dragAndDropHelpers.test.js
  app/javascript/article-form/components/dragAndDropHelpers.js
  app/javascript/chat/chat.jsx
  app/javascript/packs/articleForm.jsx
  app/javascript/utilities/__tests__/dragAndDrop.test.js
  app/javascript/utilities/dragAndDrop.js
  app/javascript/utilities/dragAndUpload.js
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

Install and enable jemalloc to help improve memory usage in Ruby. (#10195)
  Containerfile
Owners: none

Install and enable jemalloc to help improve memory usage in Ruby. (#10195)
  Containerfile
Owners: none

[deploy] Remove draft articles with a duplicate canonical_url (#10138)
  lib/data_update_scripts/20200901085230_remove_draft_articles_with_duplicate_canonical_url.rb
Owners: @forem/sre

[deploy] Remove draft articles with a duplicate canonical_url (#10138)
  lib/data_update_scripts/20200901085230_remove_draft_articles_with_duplicate_canonical_url.rb
Owners: @forem/sre
