Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

Add joshpuetz to core contributors [ci-skip] (#5632)
  README.md
Owners: none

Add joshpuetz to core contributors [ci-skip] (#5632)
  README.md
Owners: none

Introduce BanishedUser table (#5589) [deploy]
  app/controllers/internal/users_controller.rb
  app/models/banished_user.rb
  app/models/user.rb
  app/services/moderator/banish_user.rb
  db/migrate/20200120053525_add_banished_users_table.rb
  db/schema.rb
  spec/decorators/user_decorator_spec.rb
  spec/factories/banished_users.rb
  spec/models/banished_user_spec.rb
  spec/models/user_spec.rb
  spec/requests/internal/users_banish_spec.rb
  spec/requests/internal/users_spec.rb
  spec/requests/user/user_profile_spec.rb
Owners: @zhao-andy, @thepracticaldev/sre

Introduce BanishedUser table (#5589) [deploy]
  app/controllers/internal/users_controller.rb
  app/models/banished_user.rb
  app/models/user.rb
  app/services/moderator/banish_user.rb
  db/migrate/20200120053525_add_banished_users_table.rb
  db/schema.rb
  spec/decorators/user_decorator_spec.rb
  spec/factories/banished_users.rb
  spec/models/banished_user_spec.rb
  spec/models/user_spec.rb
  spec/requests/internal/users_banish_spec.rb
  spec/requests/internal/users_spec.rb
  spec/requests/user/user_profile_spec.rb
Owners: @zhao-andy, @thepracticaldev/sre

Use honeybadger.js from npm (#5643)
  Gemfile
  Gemfile.lock
  app/assets/javascripts/base.js.erb
  config/initializers/assets.rb
  package.json
  yarn.lock
Owners: @maestromac, @thepracticaldev/sre

Use honeybadger.js from npm (#5643)
  Gemfile
  Gemfile.lock
  app/assets/javascripts/base.js.erb
  config/initializers/assets.rb
  package.json
  yarn.lock
Owners: @maestromac, @thepracticaldev/sre

Move SlackBotPingJob to Sidekiq (#5615)
  app/observers/application_observer.rb
  app/observers/article_observer.rb
  app/observers/reaction_observer.rb
  app/services/pro_memberships/biller.rb
  app/services/pro_memberships/expiration_notifier.rb
  app/services/rss_reader.rb
  app/workers/slack_bot_ping_worker.rb
  spec/observers/article_observer_spec.rb
  spec/observers/comment_observer_spec.rb
  spec/services/pro_memberships/biller_spec.rb
  spec/services/pro_memberships/expiration_notifier_spec.rb
  spec/workers/slack_bot_ping_worker_spec.rb
Owners: @thepracticaldev/sre

Move SlackBotPingJob to Sidekiq (#5615)
  app/observers/application_observer.rb
  app/observers/article_observer.rb
  app/observers/reaction_observer.rb
  app/services/pro_memberships/biller.rb
  app/services/pro_memberships/expiration_notifier.rb
  app/services/rss_reader.rb
  app/workers/slack_bot_ping_worker.rb
  spec/observers/article_observer_spec.rb
  spec/observers/comment_observer_spec.rb
  spec/services/pro_memberships/biller_spec.rb
  spec/services/pro_memberships/expiration_notifier_spec.rb
  spec/workers/slack_bot_ping_worker_spec.rb
Owners: @thepracticaldev/sre

Move Search::IndexJob to Sidekiq (#5620) [deploy]
  app/models/article.rb
  app/models/comment.rb
  app/models/page_view.rb
  app/models/user.rb
  app/workers/search/index_worker.rb
  spec/models/article_spec.rb
  spec/models/comment_spec.rb
  spec/models/page_view_spec.rb
  spec/models/user_spec.rb
  spec/workers/search/index_worker_spec.rb
Owners: @thepracticaldev/sre

Move Search::IndexJob to Sidekiq (#5620) [deploy]
  app/models/article.rb
  app/models/comment.rb
  app/models/page_view.rb
  app/models/user.rb
  app/workers/search/index_worker.rb
  spec/models/article_spec.rb
  spec/models/comment_spec.rb
  spec/models/page_view_spec.rb
  spec/models/user_spec.rb
  spec/workers/search/index_worker_spec.rb
Owners: @thepracticaldev/sre

remove extra dev.to from travis upload artifact path (#5645)
  .travis.yml
Owners: none

remove extra dev.to from travis upload artifact path (#5645)
  .travis.yml
Owners: none

Add Vaidehi to core contributors [ci-skip] (#5635)
  README.md
Owners: none

Add Vaidehi to core contributors [ci-skip] (#5635)
  README.md
Owners: none

Replace Notifications::NotifiableActionJob with Notifications::NotifiableActionWorker for Sidekiq (#5588) [deploy]
  app/models/notification.rb
  app/workers/notifications/notifiable_action_worker.rb
  spec/models/notification_spec.rb
  spec/requests/articles/articles_update_spec.rb
  spec/requests/notifications_spec.rb
  spec/services/articles/creator_spec.rb
  spec/workers/notifications/notifiable_action_worker_spec.rb
Owners: @thepracticaldev/sre

Replace Notifications::NotifiableActionJob with Notifications::NotifiableActionWorker for Sidekiq (#5588) [deploy]
  app/models/notification.rb
  app/workers/notifications/notifiable_action_worker.rb
  spec/models/notification_spec.rb
  spec/requests/articles/articles_update_spec.rb
  spec/requests/notifications_spec.rb
  spec/services/articles/creator_spec.rb
  spec/workers/notifications/notifiable_action_worker_spec.rb
Owners: @thepracticaldev/sre

Return 404 NotFound error if ClassifiedListing is not found during delete (#5646)
  app/controllers/classified_listings_controller.rb
  spec/requests/classified_listings_spec.rb
Owners: none

Return 404 NotFound error if ClassifiedListing is not found during delete (#5646)
  app/controllers/classified_listings_controller.rb
  spec/requests/classified_listings_spec.rb
Owners: none

Apply Monkey Patch To Attempt To Fix Sidekiq Admin UI (#5634) [deploy]
  config/initializers/sidekiq.rb
  config/routes.rb
Owners: @thepracticaldev/sre

Apply Monkey Patch To Attempt To Fix Sidekiq Admin UI (#5634) [deploy]
  config/initializers/sidekiq.rb
  config/routes.rb
Owners: @thepracticaldev/sre

Remove SlackBotPingJob and spec (#5655)
  app/jobs/slack_bot_ping_job.rb
  spec/jobs/slack_bot_ping_job_spec.rb
Owners: @thepracticaldev/sre

Remove SlackBotPingJob and spec (#5655)
  app/jobs/slack_bot_ping_job.rb
  spec/jobs/slack_bot_ping_job_spec.rb
Owners: @thepracticaldev/sre

Remove IndexJob and spec (#5654)
  app/jobs/search/index_job.rb
  spec/jobs/search/index_job_spec.rb
Owners: @thepracticaldev/sre

Remove IndexJob and spec (#5654)
  app/jobs/search/index_job.rb
  spec/jobs/search/index_job_spec.rb
Owners: @thepracticaldev/sre

Add rate limits to admin interface (#5642)
  app/controllers/internal/configs_controller.rb
  app/views/internal/configs/show.html.erb
  spec/requests/internal/configs_spec.rb
Owners: @zhao-andy

Add rate limits to admin interface (#5642)
  app/controllers/internal/configs_controller.rb
  app/views/internal/configs/show.html.erb
  spec/requests/internal/configs_spec.rb
Owners: @zhao-andy

Add guard clause for presence of processed_html (#5638) [deploy]
  app/helpers/articles_helper.rb
Owners: none

Add guard clause for presence of processed_html (#5638) [deploy]
  app/helpers/articles_helper.rb
Owners: none

Delete stale.yml (#5649)
  .github/stale.yml
Owners: none

Delete stale.yml (#5649)
  .github/stale.yml
Owners: none

Add note to help debug `bin/setup` issues. (#5651)
  docs/getting-started/start-app.md
Owners: @jacobherrington

Add note to help debug `bin/setup` issues. (#5651)
  docs/getting-started/start-app.md
Owners: @jacobherrington

Use correct cache keys on the articles API index endpoint (#5606) [deploy]
  app/controllers/api/v0/articles_controller.rb
  app/labor/cache_buster.rb
  spec/requests/api/v0/articles_spec.rb
Owners: none

Use correct cache keys on the articles API index endpoint (#5606) [deploy]
  app/controllers/api/v0/articles_controller.rb
  app/labor/cache_buster.rb
  spec/requests/api/v0/articles_spec.rb
Owners: none

Update branching docs [ci skip] (#5666)
  CONTRIBUTING.md
  docs/getting-started/branching.md
  docs/getting-started/committing.md
Owners: @jacobherrington

Update branching docs [ci skip] (#5666)
  CONTRIBUTING.md
  docs/getting-started/branching.md
  docs/getting-started/committing.md
Owners: @jacobherrington

Fix package.json name. (#5668)
  package.json
Owners: none

Fix package.json name. (#5668)
  package.json
Owners: none

Fix typo in Algolia docs [ci skip] (#5659)
  docs/backend/algolia.md
Owners: @jacobherrington

Fix typo in Algolia docs [ci skip] (#5659)
  docs/backend/algolia.md
Owners: @jacobherrington

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Jacob
/app/assets/stylesheets/internal/ @jacobherrington
/app/controllers/internal/        @jacobherrington
/app/views/internal/              @jacobherrington
/app/views/moderation/            @jacobherrington
/spec/system/internal/            @jacobherrington
/spec/requests/internal/          @jacobherrington
/docs/                            @jacobherrington

# Andy
/app/assets/stylesheets/internal/ @zhao-andy
/app/controllers/internal/        @zhao-andy
/app/views/internal/              @zhao-andy
/app/views/moderation/            @zhao-andy
/spec/system/internal/            @zhao-andy
/spec/requests/internal/          @zhao-andy
