Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

Sass loader 9.0.1 upgrade (#9146)
  app/assets/stylesheets/article-show.scss
  app/assets/stylesheets/connect/_channel-details.scss
  app/assets/stylesheets/ltags/CommentTag.scss
  app/assets/stylesheets/ltags/GithubReadmeTag.scss
  app/assets/stylesheets/ltags/GithubTag.scss
  app/assets/stylesheets/ltags/LinkTag.scss
  app/assets/stylesheets/ltags/ListingTag.scss
  app/assets/stylesheets/ltags/PodcastTag.scss
  app/assets/stylesheets/ltags/PollTag.scss
  app/assets/stylesheets/ltags/RedditTag.scss
  app/assets/stylesheets/ltags/StackexchangeTag.scss
  app/assets/stylesheets/ltags/TagTag.scss
  app/assets/stylesheets/ltags/TweetTag.scss
  app/assets/stylesheets/ltags/UserSubscriptionTag.scss
  app/assets/stylesheets/ltags/UserTag.scss
  app/assets/stylesheets/ltags/WikipediaTag.scss
  app/assets/stylesheets/preact/article-form.scss
  app/assets/stylesheets/preact/onboarding-modal.scss
  app/assets/stylesheets/preact/sidebar-widget.scss
  app/javascript/.storybook/main.js
  package.json
  yarn.lock
Owners: @thepracticaldev/oss, @nickytonline

Sass loader 9.0.1 upgrade (#9146)
  app/assets/stylesheets/article-show.scss
  app/assets/stylesheets/connect/_channel-details.scss
  app/assets/stylesheets/ltags/CommentTag.scss
  app/assets/stylesheets/ltags/GithubReadmeTag.scss
  app/assets/stylesheets/ltags/GithubTag.scss
  app/assets/stylesheets/ltags/LinkTag.scss
  app/assets/stylesheets/ltags/ListingTag.scss
  app/assets/stylesheets/ltags/PodcastTag.scss
  app/assets/stylesheets/ltags/PollTag.scss
  app/assets/stylesheets/ltags/RedditTag.scss
  app/assets/stylesheets/ltags/StackexchangeTag.scss
  app/assets/stylesheets/ltags/TagTag.scss
  app/assets/stylesheets/ltags/TweetTag.scss
  app/assets/stylesheets/ltags/UserSubscriptionTag.scss
  app/assets/stylesheets/ltags/UserTag.scss
  app/assets/stylesheets/ltags/WikipediaTag.scss
  app/assets/stylesheets/preact/article-form.scss
  app/assets/stylesheets/preact/onboarding-modal.scss
  app/assets/stylesheets/preact/sidebar-widget.scss
  app/javascript/.storybook/main.js
  package.json
  yarn.lock
Owners: @thepracticaldev/oss, @nickytonline

Delete box-shadow to .github-repos (#9120)
  app/assets/stylesheets/settings.scss
Owners: none

Delete box-shadow to .github-repos (#9120)
  app/assets/stylesheets/settings.scss
Owners: none

Tags index design update (#9072)
  app/assets/javascripts/initializers/initScrolling.js
  app/assets/javascripts/initializers/initializeAllFollowButts.js
  app/assets/stylesheets/base/helpers.scss
  app/assets/stylesheets/components/tags.scss
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/views/dashboard.scss
  app/views/articles/_sticky_nav.html.erb
  app/views/dashboards/following_tags.html.erb
  app/views/tags/index.html.erb
  spec/requests/tags_spec.rb
Owners: @thepracticaldev/hells-bells

Tags index design update (#9072)
  app/assets/javascripts/initializers/initScrolling.js
  app/assets/javascripts/initializers/initializeAllFollowButts.js
  app/assets/stylesheets/base/helpers.scss
  app/assets/stylesheets/components/tags.scss
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/views/dashboard.scss
  app/views/articles/_sticky_nav.html.erb
  app/views/dashboards/following_tags.html.erb
  app/views/tags/index.html.erb
  spec/requests/tags_spec.rb
Owners: @thepracticaldev/hells-bells

Routine rubocop fixes (#9155)
  .rubocop_todo.yml
  spec/requests/articles/articles_spec.rb
Owners: none

Routine rubocop fixes (#9155)
  .rubocop_todo.yml
  spec/requests/articles/articles_spec.rb
Owners: none

[deploy] Cleanup existing liquid tags (#9085)
  app/liquid_tags/asciinema_tag.rb
  app/liquid_tags/blogcast_tag.rb
  app/liquid_tags/codepen_tag.rb
  app/liquid_tags/codesandbox_tag.rb
  app/liquid_tags/comment_tag.rb
  app/liquid_tags/gist_tag.rb
  app/liquid_tags/git_pitch_tag.rb
  app/liquid_tags/github_tag.rb
  app/liquid_tags/glitch_tag.rb
  app/liquid_tags/instagram_tag.rb
  app/liquid_tags/js_fiddle_tag.rb
  app/liquid_tags/jsitor_tag.rb
  app/liquid_tags/katex_tag.rb
  app/liquid_tags/kotlin_tag.rb
  app/liquid_tags/link_tag.rb
  app/liquid_tags/listing_tag.rb
  app/liquid_tags/medium_tag.rb
  app/liquid_tags/next_tech_tag.rb
  app/liquid_tags/organization_tag.rb
  app/liquid_tags/parler_tag.rb
  app/liquid_tags/podcast_tag.rb
  app/liquid_tags/reddit_tag.rb
  app/liquid_tags/replit_tag.rb
  app/liquid_tags/runkit_tag.rb
  app/liquid_tags/slideshare_tag.rb
  app/liquid_tags/soundcloud_tag.rb
  app/liquid_tags/speakerdeck_tag.rb
  app/liquid_tags/spotify_tag.rb
  app/liquid_tags/stackblitz_tag.rb
  app/liquid_tags/stackery_tag.rb
  app/liquid_tags/stackexchange_tag.rb
  app/liquid_tags/tag_tag.rb
  app/liquid_tags/tweet_tag.rb
  app/liquid_tags/user_tag.rb
  app/liquid_tags/vimeo_tag.rb
  app/liquid_tags/wikipedia_tag.rb
  app/liquid_tags/youtube_tag.rb
Owners: none

[deploy] Cleanup existing liquid tags (#9085)
  app/liquid_tags/asciinema_tag.rb
  app/liquid_tags/blogcast_tag.rb
  app/liquid_tags/codepen_tag.rb
  app/liquid_tags/codesandbox_tag.rb
  app/liquid_tags/comment_tag.rb
  app/liquid_tags/gist_tag.rb
  app/liquid_tags/git_pitch_tag.rb
  app/liquid_tags/github_tag.rb
  app/liquid_tags/glitch_tag.rb
  app/liquid_tags/instagram_tag.rb
  app/liquid_tags/js_fiddle_tag.rb
  app/liquid_tags/jsitor_tag.rb
  app/liquid_tags/katex_tag.rb
  app/liquid_tags/kotlin_tag.rb
  app/liquid_tags/link_tag.rb
  app/liquid_tags/listing_tag.rb
  app/liquid_tags/medium_tag.rb
  app/liquid_tags/next_tech_tag.rb
  app/liquid_tags/organization_tag.rb
  app/liquid_tags/parler_tag.rb
  app/liquid_tags/podcast_tag.rb
  app/liquid_tags/reddit_tag.rb
  app/liquid_tags/replit_tag.rb
  app/liquid_tags/runkit_tag.rb
  app/liquid_tags/slideshare_tag.rb
  app/liquid_tags/soundcloud_tag.rb
  app/liquid_tags/speakerdeck_tag.rb
  app/liquid_tags/spotify_tag.rb
  app/liquid_tags/stackblitz_tag.rb
  app/liquid_tags/stackery_tag.rb
  app/liquid_tags/stackexchange_tag.rb
  app/liquid_tags/tag_tag.rb
  app/liquid_tags/tweet_tag.rb
  app/liquid_tags/user_tag.rb
  app/liquid_tags/vimeo_tag.rb
  app/liquid_tags/wikipedia_tag.rb
  app/liquid_tags/youtube_tag.rb
Owners: none

[deploy] UserSubscription liquid tag update & re-enable JS (#9082)
  app/liquid_tags/user_subscription_tag.rb
  app/views/articles/show.html.erb
  app/views/liquids/_user_subscription.html.erb
  spec/liquid_tags/user_subscription_tag_spec.rb
Owners: @thepracticaldev/hells-bells

[deploy] UserSubscription liquid tag update & re-enable JS (#9082)
  app/liquid_tags/user_subscription_tag.rb
  app/views/articles/show.html.erb
  app/views/liquids/_user_subscription.html.erb
  spec/liquid_tags/user_subscription_tag_spec.rb
Owners: @thepracticaldev/hells-bells

[deploy] Remove unnecessary fragment cache (#9159)
  app/views/articles/show.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Remove unnecessary fragment cache (#9159)
  app/views/articles/show.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] LiquidTagBase spec (#9107)
  spec/liquid_tags/liquid_tag_base_spec.rb
Owners: none

[deploy] LiquidTagBase spec (#9107)
  spec/liquid_tags/liquid_tag_base_spec.rb
Owners: none

[deploy] Add unique indexes to follows - part 7 (#8215)
  app/models/follow.rb
  db/migrate/20200702143618_add_unique_index_to_follows_followable_follower.rb
  db/schema.rb
  spec/models/follow_spec.rb
Owners: @thepracticaldev/sre

[deploy] Add unique indexes to follows - part 7 (#8215)
  app/models/follow.rb
  db/migrate/20200702143618_add_unique_index_to_follows_followable_follower.rb
  db/schema.rb
  spec/models/follow_spec.rb
Owners: @thepracticaldev/sre

Upgraded to preact testing library 2.0.0 (#9103)
  app/javascript/CommentSubscription/__tests__/CommentSubscription.test.jsx
  app/javascript/Search/__tests__/Search.test.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
  app/javascript/article-form/components/__tests__/ImageUploader.test.jsx
  app/javascript/githubRepos/__tests__/githubRepos.test.jsx
  app/javascript/onboarding/__tests__/Onboarding.test.jsx
  app/javascript/onboarding/components/__tests__/FollowTags.test.jsx
  app/javascript/onboarding/components/__tests__/FollowUsers.test.jsx
  app/javascript/onboarding/components/__tests__/IntroSlide.test.jsx
  app/javascript/onboarding/components/__tests__/ProfileForm.test.jsx
  app/javascript/shared/components/__tests__/tags.test.jsx
  package.json
  yarn.lock
Owners: @thepracticaldev/oss, @nickytonline

Upgraded to preact testing library 2.0.0 (#9103)
  app/javascript/CommentSubscription/__tests__/CommentSubscription.test.jsx
  app/javascript/Search/__tests__/Search.test.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
  app/javascript/article-form/components/__tests__/ImageUploader.test.jsx
  app/javascript/githubRepos/__tests__/githubRepos.test.jsx
  app/javascript/onboarding/__tests__/Onboarding.test.jsx
  app/javascript/onboarding/components/__tests__/FollowTags.test.jsx
  app/javascript/onboarding/components/__tests__/FollowUsers.test.jsx
  app/javascript/onboarding/components/__tests__/IntroSlide.test.jsx
  app/javascript/onboarding/components/__tests__/ProfileForm.test.jsx
  app/javascript/shared/components/__tests__/tags.test.jsx
  package.json
  yarn.lock
Owners: @thepracticaldev/oss, @nickytonline

Refactoring articles_controller reduce lines (#9166)
  app/controllers/articles_controller.rb
Owners: @thepracticaldev/hells-bells

Refactoring articles_controller reduce lines (#9166)
  app/controllers/articles_controller.rb
Owners: @thepracticaldev/hells-bells

Bug Fix: Prevent Duplicate Follow Attempts by Preventing Multiple Workers (#9169)
  app/workers/users/follow_worker.rb
Owners: @thepracticaldev/sre

Bug Fix: Prevent Duplicate Follow Attempts by Preventing Multiple Workers (#9169)
  app/workers/users/follow_worker.rb
Owners: @thepracticaldev/sre

[deploy] Resoucify Page and Badge models (#9083)
  app/models/badge.rb
  app/models/page.rb
  spec/requests/internal/badges_spec.rb
  spec/requests/internal/pages_spec.rb
Owners: @thepracticaldev/snackcase

[deploy] Resoucify Page and Badge models (#9083)
  app/models/badge.rb
  app/models/page.rb
  spec/requests/internal/badges_spec.rb
  spec/requests/internal/pages_spec.rb
Owners: @thepracticaldev/snackcase

Code highlighter fix (#9176)
  app/assets/stylesheets/syntax.scss
  app/javascript/article-form/components/Help.jsx
Owners: none

Code highlighter fix (#9176)
  app/assets/stylesheets/syntax.scss
  app/javascript/article-form/components/Help.jsx
Owners: none

Indicator placement in Navigation (#9178)
  app/assets/stylesheets/components/navigation.scss
Owners: none

Indicator placement in Navigation (#9178)
  app/assets/stylesheets/components/navigation.scss
Owners: none

Fix action icons in dark themes (#9177)
  app/views/articles/_actions.html.erb
Owners: @thepracticaldev/hells-bells

Fix action icons in dark themes (#9177)
  app/views/articles/_actions.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Display banner if site hasn't been configured (PRE DEPLOYMENT TASKS) (#8435)
  app/assets/images/onboarding-background-white.png
  app/assets/javascripts/initializers/initializePaymentPointers.js
  app/assets/stylesheets/articles.scss
  app/assets/stylesheets/preact/onboarding-modal.scss
  app/controllers/application_controller.rb
  app/controllers/buffer_updates_controller.rb
  app/controllers/concerns/verify_setup_completed.rb
  app/controllers/internal/configs_controller.rb
  app/helpers/application_helper.rb
  app/javascript/onboarding/Onboarding.jsx
  app/labor/bufferizer.rb
  app/models/buffer_update.rb
  app/models/site_config.rb
  app/views/articles/_actions.html.erb
  app/views/articles/_search.html.erb
  app/views/dashboards/show.html.erb
  app/views/internal/configs/show.html.erb
  app/views/layouts/_signup_modal.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/internal.html.erb
  app/views/onboardings/_task_card.html.erb
  app/views/onboardings/show.html.erb
  app/views/shell/_top.html.erb
  app/views/stories/_sign_in_invitation.html.erb
  spec/rails_helper.rb
  spec/requests/articles/articles_show_spec.rb
  spec/requests/internal/configs_spec.rb
  spec/requests/onboardings_spec.rb
  spec/requests/pages_spec.rb
  spec/requests/stories_index_spec.rb
  spec/requests/tags_spec.rb
  spec/routing/all_routes_spec.rb
  spec/system/internal/admin_manages_configuration_spec.rb
  spec/system/search/display_jobs_banner_spec.rb
  spec/views/stories/sign_in_invitation.html.erb_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/sre

[deploy] Display banner if site hasn't been configured (PRE DEPLOYMENT TASKS) (#8435)
  app/assets/images/onboarding-background-white.png
  app/assets/javascripts/initializers/initializePaymentPointers.js
  app/assets/stylesheets/articles.scss
  app/assets/stylesheets/preact/onboarding-modal.scss
  app/controllers/application_controller.rb
  app/controllers/buffer_updates_controller.rb
  app/controllers/concerns/verify_setup_completed.rb
  app/controllers/internal/configs_controller.rb
  app/helpers/application_helper.rb
  app/javascript/onboarding/Onboarding.jsx
  app/labor/bufferizer.rb
  app/models/buffer_update.rb
  app/models/site_config.rb
  app/views/articles/_actions.html.erb
  app/views/articles/_search.html.erb
  app/views/dashboards/show.html.erb
  app/views/internal/configs/show.html.erb
  app/views/layouts/_signup_modal.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/internal.html.erb
  app/views/onboardings/_task_card.html.erb
  app/views/onboardings/show.html.erb
  app/views/shell/_top.html.erb
  app/views/stories/_sign_in_invitation.html.erb
  spec/rails_helper.rb
  spec/requests/articles/articles_show_spec.rb
  spec/requests/internal/configs_spec.rb
  spec/requests/onboardings_spec.rb
  spec/requests/pages_spec.rb
  spec/requests/stories_index_spec.rb
  spec/requests/tags_spec.rb
  spec/routing/all_routes_spec.rb
  spec/system/internal/admin_manages_configuration_spec.rb
  spec/system/search/display_jobs_banner_spec.rb
  spec/views/stories/sign_in_invitation.html.erb_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/sre

[deploy] Add crayons to pages (#9175)
  app/assets/stylesheets/article-show.scss
  app/assets/stylesheets/typography.scss
  app/assets/stylesheets/views/article.scss
  app/javascript/article-form/components/Preview.jsx
  app/javascript/chat/__tests__/chat.test.jsx
  app/javascript/chat/chat.jsx
  app/views/articles/show.html.erb
  app/views/feedback_messages/_form.html.erb
  app/views/pages/_editor_frontmatter_help.html.erb
  app/views/pages/_editor_liquid_help.html.erb
  app/views/pages/_editor_markdown_help.html.erb
  app/views/pages/_placeholder.html.erb
  app/views/pages/code_of_conduct.html.erb
  app/views/pages/contact.html.erb
  app/views/pages/information.html.erb
  app/views/pages/markdown_basics.html.erb
  app/views/pages/privacy.html.erb
  app/views/pages/report_abuse.html.erb
  app/views/pages/rlyweb.html.erb
  app/views/pages/show.html.erb
  app/views/pages/sponsors.html.erb
  app/views/pages/terms.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Add crayons to pages (#9175)
  app/assets/stylesheets/article-show.scss
  app/assets/stylesheets/typography.scss
  app/assets/stylesheets/views/article.scss
  app/javascript/article-form/components/Preview.jsx
  app/javascript/chat/__tests__/chat.test.jsx
  app/javascript/chat/chat.jsx
  app/views/articles/show.html.erb
  app/views/feedback_messages/_form.html.erb
  app/views/pages/_editor_frontmatter_help.html.erb
  app/views/pages/_editor_liquid_help.html.erb
  app/views/pages/_editor_markdown_help.html.erb
  app/views/pages/_placeholder.html.erb
  app/views/pages/code_of_conduct.html.erb
  app/views/pages/contact.html.erb
  app/views/pages/information.html.erb
  app/views/pages/markdown_basics.html.erb
  app/views/pages/privacy.html.erb
  app/views/pages/report_abuse.html.erb
  app/views/pages/rlyweb.html.erb
  app/views/pages/show.html.erb
  app/views/pages/sponsors.html.erb
  app/views/pages/terms.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Feature: Filter Sensitive Data From Production Logs (#9181)
  config/environments/production.rb
Owners: @thepracticaldev/sre

[deploy] Feature: Filter Sensitive Data From Production Logs (#9181)
  config/environments/production.rb
Owners: @thepracticaldev/sre

Feature: Label Honeybadger Env with APP_DOMAIN (#9180)
  config/initializers/honeybadger.rb
Owners: @thepracticaldev/sre

Feature: Label Honeybadger Env with APP_DOMAIN (#9180)
  config/initializers/honeybadger.rb
Owners: @thepracticaldev/sre

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre
