Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/hells-bells, @forem/sre, @jacobherrington, @forem/systems, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/oss    @nickytonline

[EOY2020 Issue] Default new forems to Email Authentication only (#11696)
  app/assets/stylesheets/admin.scss
  app/controllers/admin/configs_controller.rb
  app/helpers/authentication_helper.rb
  app/javascript/admin/controllers/config_controller.js
  app/models/site_config.rb
  app/views/admin/configs/_auth_provider_settings.html.erb
  spec/helpers/authentication_helper_spec.rb
  spec/models/user_spec.rb
  spec/policies/github_repo_policy_spec.rb
  spec/requests/admin/configs_spec.rb
  spec/requests/github_repos_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/services/authentication/authenticator_spec.rb
  spec/services/authentication/providers_spec.rb
  spec/services/broadcasts/welcome_notification/generator_spec.rb
  spec/services/users/delete_spec.rb
  spec/system/authentication/omniauth_redirect_uri_spec.rb
  spec/system/authentication/redirects_using_referer_spec.rb
  spec/system/authentication/user_logs_in_with_facebook_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
  spec/system/homepage/user_visits_homepage_spec.rb
  spec/system/user_logs_in_with_password_spec.rb
Owners: none

[EOY2020 Issue] Default new forems to Email Authentication only (#11696)
  app/assets/stylesheets/admin.scss
  app/controllers/admin/configs_controller.rb
  app/helpers/authentication_helper.rb
  app/javascript/admin/controllers/config_controller.js
  app/models/site_config.rb
  app/views/admin/configs/_auth_provider_settings.html.erb
  spec/helpers/authentication_helper_spec.rb
  spec/models/user_spec.rb
  spec/policies/github_repo_policy_spec.rb
  spec/requests/admin/configs_spec.rb
  spec/requests/github_repos_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/services/authentication/authenticator_spec.rb
  spec/services/authentication/providers_spec.rb
  spec/services/broadcasts/welcome_notification/generator_spec.rb
  spec/services/users/delete_spec.rb
  spec/system/authentication/omniauth_redirect_uri_spec.rb
  spec/system/authentication/redirects_using_referer_spec.rb
  spec/system/authentication/user_logs_in_with_facebook_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
  spec/system/homepage/user_visits_homepage_spec.rb
  spec/system/user_logs_in_with_password_spec.rb
Owners: none

Split ReCaptcha service and use verbs instead of pronouns (#11706)
  app/controllers/feedback_messages_controller.rb
  app/controllers/registrations_controller.rb
  app/services/re_captcha.rb
  app/services/re_captcha/check_enabled.rb
  app/services/re_captcha/check_registration_enabled.rb
  app/views/feedback_messages/_form.html.erb
  app/views/shared/authentication/_email_registration_form.html.erb
  spec/services/re_captcha/check_enabled_spec.rb
  spec/services/re_captcha/check_registration_enabled_spec.rb
  spec/services/re_captcha_spec.rb
Owners: none

Split ReCaptcha service and use verbs instead of pronouns (#11706)
  app/controllers/feedback_messages_controller.rb
  app/controllers/registrations_controller.rb
  app/services/re_captcha.rb
  app/services/re_captcha/check_enabled.rb
  app/services/re_captcha/check_registration_enabled.rb
  app/views/feedback_messages/_form.html.erb
  app/views/shared/authentication/_email_registration_form.html.erb
  spec/services/re_captcha/check_enabled_spec.rb
  spec/services/re_captcha/check_registration_enabled_spec.rb
  spec/services/re_captcha_spec.rb
Owners: none

Logo on /new (#11701)
  app/views/articles/_v2_form.html.erb
  spec/system/user_uses_the_editor_spec.rb
Owners: @forem/hells-bells

Logo on /new (#11701)
  app/views/articles/_v2_form.html.erb
  spec/system/user_uses_the_editor_spec.rb
Owners: @forem/hells-bells

Fixes a rubocop failure that slipped through in a previous PR (#11715)
  spec/requests/feedback_messages_spec.rb
Owners: none

Fixes a rubocop failure that slipped through in a previous PR (#11715)
  spec/requests/feedback_messages_spec.rb
Owners: none

Adds a present? check to the DEV specific fields [Profile Generalization] (#11730)
  app/views/users/show.html.erb
Owners: none

Adds a present? check to the DEV specific fields [Profile Generalization] (#11730)
  app/views/users/show.html.erb
Owners: none

Bugfix: Remove focus from avatars in notifications for better keyboard navigation (#11650)
  app/views/notifications/_aggregated_reactions.html.erb
  app/views/notifications/_follow.html.erb
  app/views/notifications/shared/_profile_pic.html.erb
Owners: none

Bugfix: Remove focus from avatars in notifications for better keyboard navigation (#11650)
  app/views/notifications/_aggregated_reactions.html.erb
  app/views/notifications/_follow.html.erb
  app/views/notifications/shared/_profile_pic.html.erb
Owners: none

Add a/b test for implicit follow points (#11675)
  app/workers/follows/update_points_worker.rb
  config/field_test.yml
  docs/technical-overview/ab_testing.md
  docs/technical-overview/readme.md
  spec/workers/follows/update_points_worker_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

Add a/b test for implicit follow points (#11675)
  app/workers/follows/update_points_worker.rb
  config/field_test.yml
  docs/technical-overview/ab_testing.md
  docs/technical-overview/readme.md
  spec/workers/follows/update_points_worker_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

Fix schema.db whitespace (#11729)
  db/schema.rb
  spec/system/user_selects_looking_for_work_spec.rb
Owners: @forem/sre

Fix schema.db whitespace (#11729)
  db/schema.rb
  spec/system/user_selects_looking_for_work_spec.rb
Owners: @forem/sre

Bug Fix: First Published Post Not Showing Properly in the Feed (#11710) [deploy]
  app/javascript/articles/Feed.jsx
Owners: none

Bug Fix: First Published Post Not Showing Properly in the Feed (#11710) [deploy]
  app/javascript/articles/Feed.jsx
Owners: none

Change profile header cache key to purge headers (#11732)
  app/views/users/show.html.erb
Owners: none

Change profile header cache key to purge headers (#11732)
  app/views/users/show.html.erb
Owners: none

Add first time admin login to FAQs (#11733)
  docs/faqs.md
  docs/getting-started/start-app.md
Owners: @forem/oss, @jacobherrington

Add first time admin login to FAQs (#11733)
  docs/faqs.md
  docs/getting-started/start-app.md
Owners: @forem/oss, @jacobherrington

Remove confusing line from readme (#11712)
  docs/readme.md
Owners: @forem/oss, @jacobherrington

Remove confusing line from readme (#11712)
  docs/readme.md
Owners: @forem/oss, @jacobherrington

Temp Feature: Award Hacktoberfest Badges Rake Task (#11464)
  lib/tasks/temporary/hacktoberfest_badges.rake
Owners: none

Temp Feature: Award Hacktoberfest Badges Rake Task (#11464)
  lib/tasks/temporary/hacktoberfest_badges.rake
Owners: none

Improve user subscription UX flow when latency is high (#11735)
  app/liquid_tags/user_subscription_tag.rb
  app/views/liquids/_user_subscription.html.erb
  spec/liquid_tags/user_subscription_tag_spec.rb
Owners: none

Improve user subscription UX flow when latency is high (#11735)
  app/liquid_tags/user_subscription_tag.rb
  app/views/liquids/_user_subscription.html.erb
  spec/liquid_tags/user_subscription_tag_spec.rb
Owners: none

Return from method if env called in boot up not available (#11736)
  app/models/profile.rb
Owners: none

Return from method if env called in boot up not available (#11736)
  app/models/profile.rb
Owners: none

Headings and alt text roundup (#11721)
  app/assets/javascripts/utilities/buildArticleHTML.js
  app/javascript/articles/__tests__/__snapshots__/Article.test.jsx.snap
  app/javascript/articles/components/ContentTitle.jsx
  app/javascript/listings/components/MessageModal.jsx
  app/views/articles/_full_comment_area.html.erb
  app/views/articles/_sidebar_nav.html.erb
  app/views/articles/index.html.erb
  app/views/articles/tag_index.html.erb
  app/views/onboardings/_task_card.html.erb
  app/views/tags/index.html.erb
  app/views/users/_comments_section.html.erb
Owners: @forem/hells-bells

Headings and alt text roundup (#11721)
  app/assets/javascripts/utilities/buildArticleHTML.js
  app/javascript/articles/__tests__/__snapshots__/Article.test.jsx.snap
  app/javascript/articles/components/ContentTitle.jsx
  app/javascript/listings/components/MessageModal.jsx
  app/views/articles/_full_comment_area.html.erb
  app/views/articles/_sidebar_nav.html.erb
  app/views/articles/index.html.erb
  app/views/articles/tag_index.html.erb
  app/views/onboardings/_task_card.html.erb
  app/views/tags/index.html.erb
  app/views/users/_comments_section.html.erb
Owners: @forem/hells-bells

Fix wikipedia tag z-index (#11737)
  app/assets/stylesheets/ltags/WikipediaTag.scss
Owners: none

Fix wikipedia tag z-index (#11737)
  app/assets/stylesheets/ltags/WikipediaTag.scss
Owners: none

validate payment pointer (#11702)
  app/models/user.rb
  spec/models/user_spec.rb
  spec/system/user/user_edits_extensions_spec.rb
Owners: none

validate payment pointer (#11702)
  app/models/user.rb
  spec/models/user_spec.rb
  spec/system/user/user_edits_extensions_spec.rb
Owners: none

Remove unused index_notifications_on_json_data (#11725)
  db/migrate/20201203063435_remove_index_notifications_on_json_data_from_notifications.rb
  db/schema.rb
Owners: @forem/sre

Remove unused index_notifications_on_json_data (#11725)
  db/migrate/20201203063435_remove_index_notifications_on_json_data_from_notifications.rb
  db/schema.rb
Owners: @forem/sre

Remove non application files from frontend code coverage (#11752)
  .eslintignore
  app/javascript/CommentSubscription/index.js
  app/javascript/article-form/components/index.js
  app/javascript/articles/components/index.js
  app/javascript/podcasts/index.js
  jest.config.js
Owners: none

Remove non application files from frontend code coverage (#11752)
  .eslintignore
  app/javascript/CommentSubscription/index.js
  app/javascript/article-form/components/index.js
  app/javascript/articles/components/index.js
  app/javascript/podcasts/index.js
  jest.config.js
Owners: none
