Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/hells-bells, @forem/sre, @jacobherrington, @forem/systems, @nickytonline

Remove unused html (#11677)
  app/views/shell/_bottom.html.erb
Owners: none

Remove unused html (#11677)
  app/views/shell/_bottom.html.erb
Owners: none

Small optimization: Don't include --active variation on button for non-logged-in (#11676)
  app/views/articles/_reaction_button.html.erb
Owners: @forem/hells-bells

Small optimization: Don't include --active variation on button for non-logged-in (#11676)
  app/views/articles/_reaction_button.html.erb
Owners: @forem/hells-bells

Redirect old settings routes to new ones (#11681)
  config/routes.rb
  spec/routing/all_routes_spec.rb
Owners: @forem/sre

Redirect old settings routes to new ones (#11681)
  config/routes.rb
  spec/routing/all_routes_spec.rb
Owners: @forem/sre

Series overflow fix (#11683)
  app/javascript/article-form/components/Options.jsx
Owners: none

Series overflow fix (#11683)
  app/javascript/article-form/components/Options.jsx
Owners: none

Add podcast_appearances joined table (forem#82) (#11354)
  app/models/podcast_episode.rb
  app/models/podcast_episode_appearance.rb
  app/models/user.rb
  db/migrate/20201107111600_create_podcast_episode_appearances.rb
  db/schema.rb
  spec/factories/podcast_episode_appearances.rb
  spec/models/podcast_episode_appearance_spec.rb
  spec/models/podcast_episode_spec.rb
  spec/models/user_spec.rb
Owners: @forem/sre

Add podcast_appearances joined table (forem#82) (#11354)
  app/models/podcast_episode.rb
  app/models/podcast_episode_appearance.rb
  app/models/user.rb
  db/migrate/20201107111600_create_podcast_episode_appearances.rb
  db/schema.rb
  spec/factories/podcast_episode_appearances.rb
  spec/models/podcast_episode_appearance_spec.rb
  spec/models/podcast_episode_spec.rb
  spec/models/user_spec.rb
Owners: @forem/sre

Fix: action overlapping with header (#11649)
  app/assets/stylesheets/views/article.scss
Owners: none

Fix: action overlapping with header (#11649)
  app/assets/stylesheets/views/article.scss
Owners: none

Move app/labor/follow_checker.rb to service (#11613)
  app/controllers/follows_controller.rb
  app/labor/follow_checker.rb
  app/services/follows/check_cached.rb
  spec/services/follows/check_cached_spec.rb
Owners: none

Move app/labor/follow_checker.rb to service (#11613)
  app/controllers/follows_controller.rb
  app/labor/follow_checker.rb
  app/services/follows/check_cached.rb
  spec/services/follows/check_cached_spec.rb
Owners: none

Move app/labor/reaction_image.rb to helper (#11678)
  app/helpers/notifications_helper.rb
  app/labor/reaction_image.rb
  app/views/notifications/_aggregated_reactions.html.erb
  app/views/notifications/_single_reaction.html.erb
  spec/helpers/notifications_helper_spec.rb
  spec/labor/reaction_image_spec.rb
Owners: none

Move app/labor/reaction_image.rb to helper (#11678)
  app/helpers/notifications_helper.rb
  app/labor/reaction_image.rb
  app/views/notifications/_aggregated_reactions.html.erb
  app/views/notifications/_single_reaction.html.erb
  spec/helpers/notifications_helper_spec.rb
  spec/labor/reaction_image_spec.rb
Owners: none

Cleaned up tests I wrote for #11525. (#11685)
  app/javascript/Search/__tests__/SearchFormSync.test.jsx
Owners: none

Cleaned up tests I wrote for #11525. (#11685)
  app/javascript/Search/__tests__/SearchFormSync.test.jsx
Owners: none

Move the color picker to its own initializer file (#11693)
  app/assets/javascripts/initializePage.js
  app/assets/javascripts/initializers/initializeColorPicker.js
  app/views/users/_profile.html.erb
Owners: none

Move the color picker to its own initializer file (#11693)
  app/assets/javascripts/initializePage.js
  app/assets/javascripts/initializers/initializeColorPicker.js
  app/views/users/_profile.html.erb
Owners: none

Improve error message of User Subscriptions (#11689)
  app/models/user_subscription.rb
  spec/models/user_subscription_spec.rb
  spec/requests/user_subscriptions_spec.rb
Owners: none

Improve error message of User Subscriptions (#11689)
  app/models/user_subscription.rb
  spec/models/user_subscription_spec.rb
  spec/requests/user_subscriptions_spec.rb
Owners: none

Add configs/show api for admins (#11358)
  app/controllers/api/v0/admin/configs_controller.rb
  app/controllers/api/v0/api_controller.rb
  app/views/api/v0/admin/configs/show.json.jbuilder
  config/routes.rb
  docs/api_v0.yml
  spec/requests/api/v0/admin/configs_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

Add configs/show api for admins (#11358)
  app/controllers/api/v0/admin/configs_controller.rb
  app/controllers/api/v0/api_controller.rb
  app/views/api/v0/admin/configs/show.json.jbuilder
  config/routes.rb
  docs/api_v0.yml
  spec/requests/api/v0/admin/configs_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

Move GeneratedImage to Images::GenerateSocialmage (#11691)
  app/helpers/social_image_helper.rb
  app/labor/generated_image.rb
  app/services/images/generate_social_image.rb
  app/view_objects/articles/social_image.rb
  spec/helpers/social_image_helper_spec.rb
  spec/services/images/generate_social_image_spec.rb
Owners: none

Move GeneratedImage to Images::GenerateSocialmage (#11691)
  app/helpers/social_image_helper.rb
  app/labor/generated_image.rb
  app/services/images/generate_social_image.rb
  app/view_objects/articles/social_image.rb
  spec/helpers/social_image_helper_spec.rb
  spec/services/images/generate_social_image_spec.rb
Owners: none

Move app/labor/error_message_cleaner.rb to service (#11679)
  app/controllers/articles_controller.rb
  app/labor/error_message_cleaner.rb
  app/models/article.rb
  app/services/error_messages/clean.rb
Owners: @forem/hells-bells

Move app/labor/error_message_cleaner.rb to service (#11679)
  app/controllers/articles_controller.rb
  app/labor/error_message_cleaner.rb
  app/models/article.rb
  app/services/error_messages/clean.rb
Owners: @forem/hells-bells

Fix invalid feed error display in settings (#11695)
  app/views/users/_publishing_from_rss.html.erb
  app/views/users/_response_templates.html.erb
  spec/system/user/user_edits_extensions_spec.rb
Owners: none

Fix invalid feed error display in settings (#11695)
  app/views/users/_publishing_from_rss.html.erb
  app/views/users/_response_templates.html.erb
  spec/system/user/user_edits_extensions_spec.rb
Owners: none

Adds ability for admins to create new tags via /admin/tags (#11240)
  app/controllers/admin/tags/moderators_controller.rb
  app/controllers/admin/tags_controller.rb
  app/views/admin/tags/_form.html.erb
  app/views/admin/tags/edit.html.erb
  app/views/admin/tags/index.html.erb
  app/views/admin/tags/new.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  spec/requests/admin/tags_spec.rb
  spec/requests/stories_show_spec.rb
  spec/system/admin/admin_updates_tag_spec.rb
Owners: @forem/sre

Adds ability for admins to create new tags via /admin/tags (#11240)
  app/controllers/admin/tags/moderators_controller.rb
  app/controllers/admin/tags_controller.rb
  app/views/admin/tags/_form.html.erb
  app/views/admin/tags/edit.html.erb
  app/views/admin/tags/index.html.erb
  app/views/admin/tags/new.html.erb
  app/views/layouts/admin.html.erb
  config/routes.rb
  spec/requests/admin/tags_spec.rb
  spec/requests/stories_show_spec.rb
  spec/system/admin/admin_updates_tag_spec.rb
Owners: @forem/sre

Disable ActionController auto params wrapping (#11692)
  config/initializers/wrap_parameters.rb
  spec/requests/api/v0/articles_spec.rb
Owners: @forem/sre

Disable ActionController auto params wrapping (#11692)
  config/initializers/wrap_parameters.rb
  spec/requests/api/v0/articles_spec.rb
Owners: @forem/sre

Refactor reCaptcha code and bypass in report abuse for trustworthy users only (#10502)
  app/controllers/feedback_messages_controller.rb
  app/controllers/registrations_controller.rb
  app/helpers/authentication_helper.rb
  app/services/re_captcha.rb
  app/views/feedback_messages/_form.html.erb
  app/views/shared/authentication/_email_registration_form.html.erb
  spec/helpers/authentication_helper_spec.rb
  spec/requests/feedback_messages_spec.rb
  spec/requests/registrations_spec.rb
  spec/services/re_captcha_spec.rb
Owners: none

Refactor reCaptcha code and bypass in report abuse for trustworthy users only (#10502)
  app/controllers/feedback_messages_controller.rb
  app/controllers/registrations_controller.rb
  app/helpers/authentication_helper.rb
  app/services/re_captcha.rb
  app/views/feedback_messages/_form.html.erb
  app/views/shared/authentication/_email_registration_form.html.erb
  spec/helpers/authentication_helper_spec.rb
  spec/requests/feedback_messages_spec.rb
  spec/requests/registrations_spec.rb
  spec/services/re_captcha_spec.rb
Owners: none

Ensure first user of a Forem has a trusted role (#11700)
  app/controllers/registrations_controller.rb
  spec/requests/registrations_spec.rb
Owners: none

Ensure first user of a Forem has a trusted role (#11700)
  app/controllers/registrations_controller.rb
  spec/requests/registrations_spec.rb
Owners: none

Refactor EdgeCache (#11684)
  app/decorators/article_decorator.rb
  app/services/edge_cache/bust.rb
  app/services/edge_cache/bust_comment.rb
  app/services/edge_cache/bust_commentable.rb
  app/services/edge_cache/commentable/bust.rb
  app/workers/comments/bust_cache_worker.rb
  spec/decorators/article_decorator_spec.rb
  spec/labor/cache_buster_spec.rb
  spec/services/edge_cache/bust_comment_spec.rb
  spec/services/edge_cache/bust_commentable_spec.rb
  spec/services/edge_cache/bust_spec.rb
  spec/services/edge_cache/commentable/bust_spec.rb
  spec/workers/comments/bust_cache_worker_spec.rb
Owners: @forem/sre

Refactor EdgeCache (#11684)
  app/decorators/article_decorator.rb
  app/services/edge_cache/bust.rb
  app/services/edge_cache/bust_comment.rb
  app/services/edge_cache/bust_commentable.rb
  app/services/edge_cache/commentable/bust.rb
  app/workers/comments/bust_cache_worker.rb
  spec/decorators/article_decorator_spec.rb
  spec/labor/cache_buster_spec.rb
  spec/services/edge_cache/bust_comment_spec.rb
  spec/services/edge_cache/bust_commentable_spec.rb
  spec/services/edge_cache/bust_spec.rb
  spec/services/edge_cache/commentable/bust_spec.rb
  spec/workers/comments/bust_cache_worker_spec.rb
Owners: @forem/sre

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/oss    @nickytonline
