Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre

Standardize capitalization of JavaScript (#9080)
  docs/frontend/plain-js.md
  docs/frontend/webpacker.md
  docs/installation/windows.md
  docs/maintainers/deploying.md
  docs/tests/test-flags.md
Owners: @thepracticaldev/oss, @jacobherrington

Standardize capitalization of JavaScript (#9080)
  docs/frontend/plain-js.md
  docs/frontend/webpacker.md
  docs/installation/windows.md
  docs/maintainers/deploying.md
  docs/tests/test-flags.md
Owners: @thepracticaldev/oss, @jacobherrington

fix node install windows docs (#9070)
  docs/installation/windows.md
Owners: @thepracticaldev/oss, @jacobherrington

fix node install windows docs (#9070)
  docs/installation/windows.md
Owners: @thepracticaldev/oss, @jacobherrington

[deploy] Fixed the three dot menu on the article page. (#9088)
  app/assets/javascripts/initializers/initializeCommentDropdown.js
Owners: none

[deploy] Fixed the three dot menu on the article page. (#9088)
  app/assets/javascripts/initializers/initializeCommentDropdown.js
Owners: none

[deploy] Update yarn lock (#9094)
  yarn.lock
Owners: @thepracticaldev/oss, @nickytonline

[deploy] Update yarn lock (#9094)
  yarn.lock
Owners: @thepracticaldev/oss, @nickytonline

[deploy] Slight fix in dropdown menu code (#9095)
  app/assets/javascripts/initializers/initializeCommentDropdown.js
  app/views/articles/_actions.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Slight fix in dropdown menu code (#9095)
  app/assets/javascripts/initializers/initializeCommentDropdown.js
  app/views/articles/_actions.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Fixed remaining lint issues in the frontend. (#9093)
  app/assets/javascripts/initializers/initNotifications.js
  app/assets/javascripts/initializers/initializeAllFollowButts.js
  app/assets/javascripts/initializers/initializeDrawerSliders.js
Owners: none

[deploy] Fixed remaining lint issues in the frontend. (#9093)
  app/assets/javascripts/initializers/initNotifications.js
  app/assets/javascripts/initializers/initializeAllFollowButts.js
  app/assets/javascripts/initializers/initializeDrawerSliders.js
Owners: none

Search highlight text (#9097)
  app/assets/stylesheets/components/stories.scss
Owners: none

Search highlight text (#9097)
  app/assets/stylesheets/components/stories.scss
Owners: none

Add a workflow to greet new contributors (#9096)
  .github/workflows/welcome.yml
Owners: none

Add a workflow to greet new contributors (#9096)
  .github/workflows/welcome.yml
Owners: none

Allow organization owners to use the Automatic Rebase workflow (#9090)
  .github/workflows/rebase.yml
Owners: none

Allow organization owners to use the Automatic Rebase workflow (#9090)
  .github/workflows/rebase.yml
Owners: none

Change Highlight Tags to mark instead of em (#9098)
  app/services/search/query_builders/feed_content.rb
  spec/services/broadcasts/welcome_notification/generator_spec.rb
  spec/services/search/feed_content_spec.rb
  spec/system/search/display_comments_search_spec.rb
Owners: @thepracticaldev/sre

Change Highlight Tags to mark instead of em (#9098)
  app/services/search/query_builders/feed_content.rb
  spec/services/broadcasts/welcome_notification/generator_spec.rb
  spec/services/search/feed_content_spec.rb
  spec/system/search/display_comments_search_spec.rb
Owners: @thepracticaldev/sre

update: add mastodon.online to the whitelist (#9104)
  app/lib/constants.rb
Owners: none

update: add mastodon.online to the whitelist (#9104)
  app/lib/constants.rb
Owners: none

[deploy] Update PollTag (#9087)
  app/liquid_tags/poll_tag.rb
  app/models/article.rb
  app/models/user_subscription.rb
  spec/models/article_spec.rb
Owners: none

[deploy] Update PollTag (#9087)
  app/liquid_tags/poll_tag.rb
  app/models/article.rb
  app/models/user_subscription.rb
  spec/models/article_spec.rb
Owners: none

Added node.js internals to list of skipped files for debugging jest in VS Code. (#9099)
  .vscode/launch.json
Owners: none

Added node.js internals to list of skipped files for debugging jest in VS Code. (#9099)
  .vscode/launch.json
Owners: none

Remove unused test for Redis cache store (#9102)
  spec/initializers/active_support/cache/redis_cache_store_spec.rb
Owners: none

Remove unused test for Redis cache store (#9102)
  spec/initializers/active_support/cache/redis_cache_store_spec.rb
Owners: none

fix lint errors in initializeSwipeGestures (#8972)
  app/assets/javascripts/initializers/initializeSwipeGestures.js
Owners: none

fix lint errors in initializeSwipeGestures (#8972)
  app/assets/javascripts/initializers/initializeSwipeGestures.js
Owners: none

[deploy] Removing notification of hidden message (#8881)
  app/controllers/comments_controller.rb
  spec/requests/comments_spec.rb
Owners: none

[deploy] Removing notification of hidden message (#8881)
  app/controllers/comments_controller.rb
  spec/requests/comments_spec.rb
Owners: none

Now frontend code is linted before running tests. (#9100)
  package.json
Owners: @thepracticaldev/oss, @nickytonline

Now frontend code is linted before running tests. (#9100)
  package.json
Owners: @thepracticaldev/oss, @nickytonline

🐞 Hotfix: Sidecar's Design issues on Small screens (#9113)
  app/assets/stylesheets/chat.scss
Owners: none

🐞 Hotfix: Sidecar's Design issues on Small screens (#9113)
  app/assets/stylesheets/chat.scss
Owners: none

Remove first interaction workflow (#9112)
  .github/workflows/welcome.yml
Owners: none

Remove first interaction workflow (#9112)
  .github/workflows/welcome.yml
Owners: none

[deploy] Fix pro link for organization users (#9144)
  app/views/dashboards/_actions.html.erb
  app/views/dashboards/_actions_mobile.html.erb
  config/routes.rb
  spec/requests/dashboard_spec.rb
Owners: @thepracticaldev/sre

[deploy] Fix pro link for organization users (#9144)
  app/views/dashboards/_actions.html.erb
  app/views/dashboards/_actions_mobile.html.erb
  config/routes.rb
  spec/requests/dashboard_spec.rb
Owners: @thepracticaldev/sre
