Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre

Added a comment mentioning that index.js overrides are for barrel files (#8978)
  app/javascript/.eslintrc.js
Owners: none

Added a comment mentioning that index.js overrides are for barrel files (#8978)
  app/javascript/.eslintrc.js
Owners: none

Update Connect responsiveness on smaller viewports (#8829) [deploy]
  app/assets/stylesheets/chat.scss
  app/javascript/chat/__tests__/chat.test.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/components/channelButton.jsx
  app/views/chat_channels/index.html.erb
  jest.config.js
Owners: none

Update Connect responsiveness on smaller viewports (#8829) [deploy]
  app/assets/stylesheets/chat.scss
  app/javascript/chat/__tests__/chat.test.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/components/channelButton.jsx
  app/views/chat_channels/index.html.erb
  jest.config.js
Owners: none

[deploy] 🚀 Bug: Fix iframe flashes on re render (#8974)
  app/javascript/chat/chat.jsx
  app/javascript/chat/content.jsx
Owners: none

[deploy] 🚀 Bug: Fix iframe flashes on re render (#8974)
  app/javascript/chat/chat.jsx
  app/javascript/chat/content.jsx
Owners: none

Link to @jessitron's blog post in our documentation guides (#8985)
  docs/contributing.md
Owners: @thepracticaldev/oss, @jacobherrington

Link to @jessitron's blog post in our documentation guides (#8985)
  docs/contributing.md
Owners: @thepracticaldev/oss, @jacobherrington

Feature: Introduce KnapsackPro Queue Mode (#8938)
  .travis.yml
  bin/knapsack_pro_rspec
Owners: @thepracticaldev/sre

Feature: Introduce KnapsackPro Queue Mode (#8938)
  .travis.yml
  bin/knapsack_pro_rspec
Owners: @thepracticaldev/sre

Do not render active announcements in iframes (#8981) [deploy]
  app/assets/javascripts/initializers/initializeBroadcast.js
Owners: none

Do not render active announcements in iframes (#8981) [deploy]
  app/assets/javascripts/initializers/initializeBroadcast.js
Owners: none

[deploy] Revert "Feature: Introduce KnapsackPro Queue Mode (#8938)" (#8994)
  .travis.yml
  bin/knapsack_pro_rspec
Owners: @thepracticaldev/sre

[deploy] Revert "Feature: Introduce KnapsackPro Queue Mode (#8938)" (#8994)
  .travis.yml
  bin/knapsack_pro_rspec
Owners: @thepracticaldev/sre

Rename dir _tests to __tests__ & update .codeclimate.yml (#8982)
  .codeclimate.yml
  app/javascript/modCenter/singleArticle/__tests__/singleArticle.test.jsx
  app/javascript/onboarding/components/__tests__/EmailPreferencesForm.test.jsx
  app/javascript/onboarding/components/__tests__/FollowTags.test.jsx
  app/javascript/onboarding/components/__tests__/FollowUsers.test.jsx
  app/javascript/onboarding/components/__tests__/IntroSlide.test.jsx
  app/javascript/onboarding/components/__tests__/ProfileForm.test.jsx
Owners: none

Rename dir _tests to __tests__ & update .codeclimate.yml (#8982)
  .codeclimate.yml
  app/javascript/modCenter/singleArticle/__tests__/singleArticle.test.jsx
  app/javascript/onboarding/components/__tests__/EmailPreferencesForm.test.jsx
  app/javascript/onboarding/components/__tests__/FollowTags.test.jsx
  app/javascript/onboarding/components/__tests__/FollowUsers.test.jsx
  app/javascript/onboarding/components/__tests__/IntroSlide.test.jsx
  app/javascript/onboarding/components/__tests__/ProfileForm.test.jsx
Owners: none

Fix `rbenv install` failing for windows docs (#8854)
  docs/installation/windows.md
Owners: @thepracticaldev/oss, @jacobherrington

Fix `rbenv install` failing for windows docs (#8854)
  docs/installation/windows.md
Owners: @thepracticaldev/oss, @jacobherrington

[deploy] Feature: Setup Admin Area to Update Vault Secrets (#8935)
  app/controllers/internal/application_controller.rb
  app/controllers/internal/secrets_controller.rb
  app/lib/app_secrets.rb
  app/models/secret.rb
  app/views/internal/secrets/index.html.erb
  config/routes.rb
  spec/lib/app_secrets_spec.rb
  spec/requests/internal/secrets_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/sre

[deploy] Feature: Setup Admin Area to Update Vault Secrets (#8935)
  app/controllers/internal/application_controller.rb
  app/controllers/internal/secrets_controller.rb
  app/lib/app_secrets.rb
  app/models/secret.rb
  app/views/internal/secrets/index.html.erb
  config/routes.rb
  spec/lib/app_secrets_spec.rb
  spec/requests/internal/secrets_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/sre

Flaky Spec Fix: Use Host Only For Allowing Webmock Connections (#9001)
  spec/rails_helper.rb
Owners: @thepracticaldev/sre

Flaky Spec Fix: Use Host Only For Allowing Webmock Connections (#9001)
  spec/rails_helper.rb
Owners: @thepracticaldev/sre

Refactor: Remove Unused and Unecessary Code (#9000)
  .travis.yml
  bin/chromedriver-update
  spec/rails_helper.rb
Owners: @thepracticaldev/sre

Refactor: Remove Unused and Unecessary Code (#9000)
  .travis.yml
  bin/chromedriver-update
  spec/rails_helper.rb
Owners: @thepracticaldev/sre

[deploy] Remove dead styling code (#8991)
  app/assets/stylesheets/article-show.scss
  app/views/articles/_sticky_nav.html.erb
  app/views/articles/tag_index.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Remove dead styling code (#8991)
  app/assets/stylesheets/article-show.scss
  app/views/articles/_sticky_nav.html.erb
  app/views/articles/tag_index.html.erb
Owners: @thepracticaldev/hells-bells

Override header padding for internal (#8992)
  app/assets/stylesheets/internal/layout.scss
Owners: @thepracticaldev/snackcase

Override header padding for internal (#8992)
  app/assets/stylesheets/internal/layout.scss
Owners: @thepracticaldev/snackcase

[deploy] Refactor code blocks styling (#8975)
  app/assets/stylesheets/base/layout.scss
  app/assets/stylesheets/base/reset.scss
  app/assets/stylesheets/comments.scss
  app/assets/stylesheets/components/comments.scss
  app/assets/stylesheets/components/stories.scss
  app/assets/stylesheets/item-list.scss
  app/assets/stylesheets/scaffolds.scss
  app/assets/stylesheets/syntax.scss
  app/assets/stylesheets/views/article.scss
  app/javascript/readingList/readingList.jsx
  app/views/articles/_full_comment_area.html.erb
  app/views/articles/show.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Refactor code blocks styling (#8975)
  app/assets/stylesheets/base/layout.scss
  app/assets/stylesheets/base/reset.scss
  app/assets/stylesheets/comments.scss
  app/assets/stylesheets/components/comments.scss
  app/assets/stylesheets/components/stories.scss
  app/assets/stylesheets/item-list.scss
  app/assets/stylesheets/scaffolds.scss
  app/assets/stylesheets/syntax.scss
  app/assets/stylesheets/views/article.scss
  app/javascript/readingList/readingList.jsx
  app/views/articles/_full_comment_area.html.erb
  app/views/articles/show.html.erb
Owners: @thepracticaldev/hells-bells

Update maintainers documentation and contribution guides (#8939)
  CONTRIBUTING.md
  docs/contributing/api.md
  docs/contributing/docs.md
  docs/contributing/forem.md
  docs/contributing/readme.md
  docs/contributing_forem.md
  docs/maintainers/deploying.md
  docs/maintainers/pull_requests.md
  docs/maintainers/readme.md
  docs/readme.md
  docs/tests/regression-tests.md
Owners: @thepracticaldev/oss, @jacobherrington

Update maintainers documentation and contribution guides (#8939)
  CONTRIBUTING.md
  docs/contributing/api.md
  docs/contributing/docs.md
  docs/contributing/forem.md
  docs/contributing/readme.md
  docs/contributing_forem.md
  docs/maintainers/deploying.md
  docs/maintainers/pull_requests.md
  docs/maintainers/readme.md
  docs/readme.md
  docs/tests/regression-tests.md
Owners: @thepracticaldev/oss, @jacobherrington

Disable UserSubscriptionTag::script (#9005)
  app/views/articles/show.html.erb
Owners: @thepracticaldev/hells-bells

Disable UserSubscriptionTag::script (#9005)
  app/views/articles/show.html.erb
Owners: @thepracticaldev/hells-bells

fix Issue #9013 , badge responsivity (#9014)
  app/views/articles/_badges_area.html.erb
Owners: @thepracticaldev/hells-bells

fix Issue #9013 , badge responsivity (#9014)
  app/views/articles/_badges_area.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Optimization: Dont Use Redis For Flare Tag IDs, Load Them On Boot (#8987)
  .travis.yml
  app/labor/flare_tag.rb
  app/services/flare_tag.rb
  bin/test-console-check
  spec/requests/api/v0/articles_spec.rb
  spec/serializers/search/article_serializer_spec.rb
  spec/services/flare_tag_spec.rb
Owners: @thepracticaldev/sre

[deploy] Optimization: Dont Use Redis For Flare Tag IDs, Load Them On Boot (#8987)
  .travis.yml
  app/labor/flare_tag.rb
  app/services/flare_tag.rb
  bin/test-console-check
  spec/requests/api/v0/articles_spec.rb
  spec/serializers/search/article_serializer_spec.rb
  spec/services/flare_tag_spec.rb
Owners: @thepracticaldev/sre

[deploy] Fixes triggerSwitchChannel on channel list load (#8996)
  app/javascript/chat/chat.jsx
Owners: none

[deploy] Fixes triggerSwitchChannel on channel list load (#8996)
  app/javascript/chat/chat.jsx
Owners: none
