Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

Make small CSS improvements to mod center (#9315) [deploy]
  app/assets/stylesheets/article-show.scss
  app/assets/stylesheets/moderators.scss
  app/javascript/actionsPanel/actionsPanel.js
  app/views/moderations/_mod_sidebar_left.html.erb
  app/views/moderations/actions_panel.html.erb
  app/views/moderations/index.html.erb
Owners: none

Make small CSS improvements to mod center (#9315) [deploy]
  app/assets/stylesheets/article-show.scss
  app/assets/stylesheets/moderators.scss
  app/javascript/actionsPanel/actionsPanel.js
  app/views/moderations/_mod_sidebar_left.html.erb
  app/views/moderations/actions_panel.html.erb
  app/views/moderations/index.html.erb
Owners: none

[deploy] [ModCenter] Fix "FlagUser" Modal functionality (#8995)
  app/controllers/moderations_controller.rb
  app/javascript/modCenter/__tests__/moderationArticles.test.jsx
  app/javascript/modCenter/moderationArticles.jsx
  app/javascript/modCenter/singleArticle/__tests__/singleArticle.test.jsx
  app/javascript/modCenter/singleArticle/index.jsx
  app/javascript/packs/articleModerationTools.js
  app/javascript/packs/flagUserModal.js
  app/javascript/packs/flagUserModal.jsx
  app/views/articles/show.html.erb
  app/views/moderations/index.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] [ModCenter] Fix "FlagUser" Modal functionality (#8995)
  app/controllers/moderations_controller.rb
  app/javascript/modCenter/__tests__/moderationArticles.test.jsx
  app/javascript/modCenter/moderationArticles.jsx
  app/javascript/modCenter/singleArticle/__tests__/singleArticle.test.jsx
  app/javascript/modCenter/singleArticle/index.jsx
  app/javascript/packs/articleModerationTools.js
  app/javascript/packs/flagUserModal.js
  app/javascript/packs/flagUserModal.jsx
  app/views/articles/show.html.erb
  app/views/moderations/index.html.erb
Owners: @thepracticaldev/hells-bells

Update more Forem to DEV language (#9337)
  README.md
  docs/.static/favicon.ico
  docs/backend/auth-twitter.md
  docs/contributing/docs.md
  docs/licensing.md
  docs/maintainers/readme.md
  docs/self-hosting.md
Owners: @thepracticaldev/oss, @jacobherrington

Update more Forem to DEV language (#9337)
  README.md
  docs/.static/favicon.ico
  docs/backend/auth-twitter.md
  docs/contributing/docs.md
  docs/licensing.md
  docs/maintainers/readme.md
  docs/self-hosting.md
Owners: @thepracticaldev/oss, @jacobherrington

Attempt to fix Flipper-UI (#9320) [deploy]
  Gemfile.lock
  config/routes.rb
  vendor/cache/redis-store-1.8.1.gem
  vendor/cache/redis-store-1.9.0.gem
Owners: @thepracticaldev/sre, @thepracticaldev/oss

Attempt to fix Flipper-UI (#9320) [deploy]
  Gemfile.lock
  config/routes.rb
  vendor/cache/redis-store-1.8.1.gem
  vendor/cache/redis-store-1.9.0.gem
Owners: @thepracticaldev/sre, @thepracticaldev/oss

Fixes javascript folder typo in webpacker documentation (#9329)
  docs/frontend/webpacker.md
Owners: @thepracticaldev/oss, @jacobherrington

Fixes javascript folder typo in webpacker documentation (#9329)
  docs/frontend/webpacker.md
Owners: @thepracticaldev/oss, @jacobherrington

Add missing words in README (#9341)
  README.md
Owners: @thepracticaldev/oss

Add missing words in README (#9341)
  README.md
Owners: @thepracticaldev/oss

Initial work
  app/controllers/application_controller.rb
  app/models/site_config.rb
Owners: none

Initial work
  app/controllers/application_controller.rb
  app/models/site_config.rb
Owners: none

Fixed broken link, replaces file links with permalinks (#9334)
  docs/frontend/dynamic-imports.md
Owners: @thepracticaldev/oss, @jacobherrington

Fixed broken link, replaces file links with permalinks (#9334)
  docs/frontend/dynamic-imports.md
Owners: @thepracticaldev/oss, @jacobherrington

🐞Hotfix: In small screen user is not able to access sidecar (#9325)
  app/javascript/chat/chat.jsx
Owners: none

🐞Hotfix: In small screen user is not able to access sidecar (#9325)
  app/javascript/chat/chat.jsx
Owners: none

[deploy] Remove path redirects (#9350)
  app/controllers/internal/application_controller.rb
  app/controllers/internal/path_redirects_controller.rb
  app/models/path_redirect.rb
  app/views/internal/path_redirects/edit.html.erb
  app/views/internal/path_redirects/index.html.erb
  app/views/internal/path_redirects/new.html.erb
  config/routes.rb
  db/migrate/20200716125857_remove_path_redirects.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/path_redirects.rb
  spec/models/path_redirect_spec.rb
  spec/requests/internal/path_redirects_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/sre

[deploy] Remove path redirects (#9350)
  app/controllers/internal/application_controller.rb
  app/controllers/internal/path_redirects_controller.rb
  app/models/path_redirect.rb
  app/views/internal/path_redirects/edit.html.erb
  app/views/internal/path_redirects/index.html.erb
  app/views/internal/path_redirects/new.html.erb
  config/routes.rb
  db/migrate/20200716125857_remove_path_redirects.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/path_redirects.rb
  spec/models/path_redirect_spec.rb
  spec/requests/internal/path_redirects_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/sre

Enable public or private forem config
  app/controllers/application_controller.rb
  app/controllers/internal/configs_controller.rb
  app/models/site_config.rb
  app/views/internal/configs/show.html.erb
  spec/requests/api/v0/users_spec.rb
  spec/requests/async_info_spec.rb
  spec/requests/ga_events_spec.rb
  spec/requests/internal/configs_spec.rb
  spec/requests/shells_spec.rb
  spec/requests/stories_index_spec.rb
Owners: @thepracticaldev/snackcase

Enable public or private forem config
  app/controllers/application_controller.rb
  app/controllers/internal/configs_controller.rb
  app/models/site_config.rb
  app/views/internal/configs/show.html.erb
  spec/requests/api/v0/users_spec.rb
  spec/requests/async_info_spec.rb
  spec/requests/ga_events_spec.rb
  spec/requests/internal/configs_spec.rb
  spec/requests/shells_spec.rb
  spec/requests/stories_index_spec.rb
Owners: @thepracticaldev/snackcase

Remove extra space
  app/models/site_config.rb
Owners: none

Remove extra space
  app/models/site_config.rb
Owners: none

Update Readme (#9333)
  README.md
Owners: @thepracticaldev/oss

Update Readme (#9333)
  README.md
Owners: @thepracticaldev/oss

[deploy] Add local_date helper to handle dates with respect of user timezone (#9285)
  app/assets/javascripts/initializePage.js
  app/assets/javascripts/initializers/initializeDateTimeHelpers.js
  app/helpers/date_helper.rb
  app/views/articles/_user_metadata.html.erb
  app/views/articles/show.html.erb
  spec/helpers/date_helper_spec.rb
  spec/system/articles/user_visits_an_article_spec.rb
Owners: @thepracticaldev/hells-bells

[deploy] Add local_date helper to handle dates with respect of user timezone (#9285)
  app/assets/javascripts/initializePage.js
  app/assets/javascripts/initializers/initializeDateTimeHelpers.js
  app/helpers/date_helper.rb
  app/views/articles/_user_metadata.html.erb
  app/views/articles/show.html.erb
  spec/helpers/date_helper_spec.rb
  spec/system/articles/user_visits_an_article_spec.rb
Owners: @thepracticaldev/hells-bells

[deploy] Fix non channel details visible (#9252)
  app/controllers/chat_channels_controller.rb
  app/javascript/chat/ChatChannelSettings/PendingMembershipSection.jsx
  spec/requests/chat_channels_spec.rb
Owners: none

[deploy] Fix non channel details visible (#9252)
  app/controllers/chat_channels_controller.rb
  app/javascript/chat/ChatChannelSettings/PendingMembershipSection.jsx
  spec/requests/chat_channels_spec.rb
Owners: none

Create Listings in seed file (#9351)
  db/seeds.rb
Owners: @thepracticaldev/sre

Create Listings in seed file (#9351)
  db/seeds.rb
Owners: @thepracticaldev/sre

Remove codeql-analysis.yml (#9354)
  .github/workflows/codeql-analysis.yml
Owners: none

Remove codeql-analysis.yml (#9354)
  .github/workflows/codeql-analysis.yml
Owners: none

Rubocop: routine fixes (#9345)
  .rubocop.yml
  .rubocop_todo.yml
  app/controllers/api/v0/articles_controller.rb
  app/controllers/chat_channels_controller.rb
  app/controllers/follows_controller.rb
  app/controllers/internal/tags_controller.rb
  app/controllers/users_controller.rb
  app/labor/follow_checker.rb
  app/labor/loggers/log_worker_queue_stats.rb
  app/liquid_tags/github_tag.rb
  app/liquid_tags/glitch_tag.rb
  app/models/follow.rb
  app/models/message.rb
  app/models/tag.rb
  app/services/article_api_index_service.rb
  app/services/notifications/milestone/send.rb
  app/services/notifications/new_follower/send.rb
  app/services/notifications/reactions/send.rb
  app/workers/reactions/bust_reactable_cache_worker.rb
  app/workers/users/record_field_test_event_worker.rb
  spec/support/omniauth_helpers.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/delightful, @thepracticaldev/sre

Rubocop: routine fixes (#9345)
  .rubocop.yml
  .rubocop_todo.yml
  app/controllers/api/v0/articles_controller.rb
  app/controllers/chat_channels_controller.rb
  app/controllers/follows_controller.rb
  app/controllers/internal/tags_controller.rb
  app/controllers/users_controller.rb
  app/labor/follow_checker.rb
  app/labor/loggers/log_worker_queue_stats.rb
  app/liquid_tags/github_tag.rb
  app/liquid_tags/glitch_tag.rb
  app/models/follow.rb
  app/models/message.rb
  app/models/tag.rb
  app/services/article_api_index_service.rb
  app/services/notifications/milestone/send.rb
  app/services/notifications/new_follower/send.rb
  app/services/notifications/reactions/send.rb
  app/workers/reactions/bust_reactable_cache_worker.rb
  app/workers/users/record_field_test_event_worker.rb
  spec/support/omniauth_helpers.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/delightful, @thepracticaldev/sre

[deploy] Restrict tags input regex (#9172)
  app/javascript/article-form/components/TagsField.jsx
  app/javascript/listings/listingForm.jsx
  app/javascript/shared/components/tags.jsx
Owners: none

[deploy] Restrict tags input regex (#9172)
  app/javascript/article-form/components/TagsField.jsx
  app/javascript/listings/listingForm.jsx
  app/javascript/shared/components/tags.jsx
Owners: none

Add logging to Flipper UI (#9355) [deploy]
  config/routes.rb
Owners: @thepracticaldev/sre

Add logging to Flipper UI (#9355) [deploy]
  config/routes.rb
Owners: @thepracticaldev/sre

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre
