Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

[deploy] Refactor:Change Unset Var Warnings to Debug Level (#9985)
  config/initializers/0_application_config.rb
  spec/initializers/application_config_spec.rb
Owners: @forem/sre

[deploy] Refactor:Change Unset Var Warnings to Debug Level (#9985)
  config/initializers/0_application_config.rb
  spec/initializers/application_config_spec.rb
Owners: @forem/sre

Remove method not used at artciles controller (#9877)
  app/controllers/articles_controller.rb
Owners: @forem/hells-bells

Remove method not used at artciles controller (#9877)
  app/controllers/articles_controller.rb
Owners: @forem/hells-bells

Export RELEASE_FOOTPRINT on container start. (#9987)
  scripts/entrypoint.sh
Owners: none

Export RELEASE_FOOTPRINT on container start. (#9987)
  scripts/entrypoint.sh
Owners: none

Fixed save button behavior (#9238)
  app/javascript/articles/components/SaveButton.jsx
  app/javascript/articles/components/__tests__/SaveButton.test.jsx
Owners: none

Fixed save button behavior (#9238)
  app/javascript/articles/components/SaveButton.jsx
  app/javascript/articles/components/__tests__/SaveButton.test.jsx
Owners: none

Profile Fields Admin UI v2 (#9830)
  app/assets/stylesheets/internal/layout.scss
  app/controllers/admin/application_controller.rb
  app/controllers/admin/profile_fields_controller.rb
  app/models/profile_field.rb
  app/views/admin/profile_fields/_form.html.erb
  app/views/admin/profile_fields/_group_form.erb
  app/views/admin/profile_fields/index.html.erb
  spec/services/profile_fields/add_spec.rb
Owners: @forem/snackcase

Profile Fields Admin UI v2 (#9830)
  app/assets/stylesheets/internal/layout.scss
  app/controllers/admin/application_controller.rb
  app/controllers/admin/profile_fields_controller.rb
  app/models/profile_field.rb
  app/views/admin/profile_fields/_form.html.erb
  app/views/admin/profile_fields/_group_form.erb
  app/views/admin/profile_fields/index.html.erb
  spec/services/profile_fields/add_spec.rb
Owners: @forem/snackcase

Add the Ability to Remove Badge Achievements From Users (#9896) [deploy]
  app/controllers/admin/application_controller.rb
  app/controllers/admin/badge_achievements_controller.rb
  app/controllers/admin/badges_controller.rb
  app/views/admin/badge_achievements/award.html.erb
  app/views/admin/badge_achievements/index.html.erb
  app/views/admin/badges/award.html.erb
  config/routes.rb
  spec/requests/admin/badge_achievements_spec.rb
  spec/requests/admin/badges_spec.rb
Owners: @forem/snackcase, @forem/sre

Add the Ability to Remove Badge Achievements From Users (#9896) [deploy]
  app/controllers/admin/application_controller.rb
  app/controllers/admin/badge_achievements_controller.rb
  app/controllers/admin/badges_controller.rb
  app/views/admin/badge_achievements/award.html.erb
  app/views/admin/badge_achievements/index.html.erb
  app/views/admin/badges/award.html.erb
  config/routes.rb
  spec/requests/admin/badge_achievements_spec.rb
  spec/requests/admin/badges_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Refactor:Fetch New Github Repos From Sidekiq Cron (#9986)
  app/models/github_repo.rb
  app/workers/github_repos/update_latest_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/github_repos/update_latest_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Fetch New Github Repos From Sidekiq Cron (#9986)
  app/models/github_repo.rb
  app/workers/github_repos/update_latest_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/github_repos/update_latest_worker_spec.rb
Owners: @forem/sre

[deploy] Replace HEROKU_SLUG_COMMIT with custom footprint (naive) (#9904)
  app/controllers/async_info_controller.rb
  app/helpers/application_helper.rb
  app/views/articles/_sidebar.html.erb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/index.html.erb
  app/views/feedback_messages/index.html.erb
  app/views/layouts/_styles.html.erb
  app/views/liquid_embeds/show.html.erb
  app/views/moderations/actions_panel.html.erb
  app/views/moderations/mod.html.erb
  app/views/onboardings/show.html.erb
  app/views/partnerships/index.html.erb
  app/views/partnerships/show.html.erb
  app/views/shell/_bottom.html.erb
  app/views/shell/_top.html.erb
  config/initializers/honeybadger.rb
  config/initializers/honeycomb.rb
  config/initializers/initialization_cachebust.rb
  config/sample_application.yml
  config/webpack/environment.js
  spec/helpers/application_helper_spec.rb
Owners: @forem/sre, @forem/hells-bells

[deploy] Replace HEROKU_SLUG_COMMIT with custom footprint (naive) (#9904)
  app/controllers/async_info_controller.rb
  app/helpers/application_helper.rb
  app/views/articles/_sidebar.html.erb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/index.html.erb
  app/views/feedback_messages/index.html.erb
  app/views/layouts/_styles.html.erb
  app/views/liquid_embeds/show.html.erb
  app/views/moderations/actions_panel.html.erb
  app/views/moderations/mod.html.erb
  app/views/onboardings/show.html.erb
  app/views/partnerships/index.html.erb
  app/views/partnerships/show.html.erb
  app/views/shell/_bottom.html.erb
  app/views/shell/_top.html.erb
  config/initializers/honeybadger.rb
  config/initializers/honeycomb.rb
  config/initializers/initialization_cachebust.rb
  config/sample_application.yml
  config/webpack/environment.js
  spec/helpers/application_helper_spec.rb
Owners: @forem/sre, @forem/hells-bells

[deploy] Add foreign keys to models related to Organization (#9933)
  db/migrate/20200822092853_add_missing_foreign_keys_to_models_related_to_organizations.rb
  db/schema.rb
  spec/liquid_tags/link_tag_spec.rb
  spec/liquid_tags/listing_tag_spec.rb
  spec/policies/organization_policy_spec.rb
  spec/requests/articles/articles_update_spec.rb
Owners: @forem/sre

[deploy] Add foreign keys to models related to Organization (#9933)
  db/migrate/20200822092853_add_missing_foreign_keys_to_models_related_to_organizations.rb
  db/schema.rb
  spec/liquid_tags/link_tag_spec.rb
  spec/liquid_tags/listing_tag_spec.rb
  spec/policies/organization_policy_spec.rb
  spec/requests/articles/articles_update_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move RssReader Fetch Article task to Sidekiq (#9976)
  app/assets/stylesheets/internal/layout.scss
  app/javascript/articles/components/SaveButton.jsx
  app/services/rss_reader.rb
  app/views/admin/profile_fields/index.html.erb
  app/workers/articles/rss_reader_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/articles/rss_reader_worker_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Refactor:Move RssReader Fetch Article task to Sidekiq (#9976)
  app/assets/stylesheets/internal/layout.scss
  app/javascript/articles/components/SaveButton.jsx
  app/services/rss_reader.rb
  app/views/admin/profile_fields/index.html.erb
  app/workers/articles/rss_reader_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/articles/rss_reader_worker_spec.rb
Owners: @forem/snackcase, @forem/sre

Fix a typo caused by markdown (#9995)
  docs/creators/configure-forem.md
Owners: @forem/oss, @jacobherrington

Fix a typo caused by markdown (#9995)
  docs/creators/configure-forem.md
Owners: @forem/oss, @jacobherrington

[deploy] Revert "Refactor:Move RssReader Fetch Article task to Sidekiq (#9976)" (#9998)
  app/assets/stylesheets/internal/layout.scss
  app/javascript/articles/components/SaveButton.jsx
  app/services/rss_reader.rb
  app/views/admin/profile_fields/index.html.erb
  app/workers/articles/rss_reader_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/articles/rss_reader_worker_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Revert "Refactor:Move RssReader Fetch Article task to Sidekiq (#9976)" (#9998)
  app/assets/stylesheets/internal/layout.scss
  app/javascript/articles/components/SaveButton.jsx
  app/services/rss_reader.rb
  app/views/admin/profile_fields/index.html.erb
  app/workers/articles/rss_reader_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/articles/rss_reader_worker_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Expand Images::Optimizer to support imgproxy (#9909)
  Gemfile
  Gemfile.lock
  app/services/images/optimizer.rb
  app/views/dashboards/show.html.erb
  config/initializers/imgproxy.rb
  spec/services/images/optimizer_spec.rb
  spec/views/comments/_comment.html.erb_spec.rb
  spec/views/dashboards/show.html.erb_spec.rb
  vendor/cache/imgproxy-1.2.0.gem
Owners: @forem/sre, @forem/oss

[deploy] Expand Images::Optimizer to support imgproxy (#9909)
  Gemfile
  Gemfile.lock
  app/services/images/optimizer.rb
  app/views/dashboards/show.html.erb
  config/initializers/imgproxy.rb
  spec/services/images/optimizer_spec.rb
  spec/views/comments/_comment.html.erb_spec.rb
  spec/views/dashboards/show.html.erb_spec.rb
  vendor/cache/imgproxy-1.2.0.gem
Owners: @forem/sre, @forem/oss

fix (#9966)
  app/assets/stylesheets/moderators.scss
Owners: none

fix (#9966)
  app/assets/stylesheets/moderators.scss
Owners: none

Add FOREM_BUILD_SHA and FOREM_BUILD_DATE to the container. (#9999)
  .dockerignore
  Containerfile
  scripts/entrypoint.sh
Owners: none

Add FOREM_BUILD_SHA and FOREM_BUILD_DATE to the container. (#9999)
  .dockerignore
  Containerfile
  scripts/entrypoint.sh
Owners: none

Remove dimmed buttons on feed (#9894)
  app/assets/javascripts/utilities/buildArticleHTML.js
  app/javascript/articles/components/SaveButton.jsx
Owners: none

Remove dimmed buttons on feed (#9894)
  app/assets/javascripts/utilities/buildArticleHTML.js
  app/javascript/articles/components/SaveButton.jsx
Owners: none

chore: change the notice styling (#10010)
  app/assets/stylesheets/internal/layout.scss
  app/views/admin/configs/show.html.erb
Owners: @forem/snackcase

chore: change the notice styling (#10010)
  app/assets/stylesheets/internal/layout.scss
  app/views/admin/configs/show.html.erb
Owners: @forem/snackcase

[deploy] Add missing configs controller params for rate limiting (#10003)
  app/controllers/admin/configs_controller.rb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase

[deploy] Add missing configs controller params for rate limiting (#10003)
  app/controllers/admin/configs_controller.rb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase

Fixed accessibilty issue with empty link on featured post. (#10005)
  app/assets/stylesheets/components/stories.scss
  app/javascript/articles/__tests__/__snapshots__/Article.test.jsx.snap
  app/javascript/articles/components/ArticleCoverImage.jsx
  app/views/articles/_single_story.html.erb
Owners: @forem/hells-bells

Fixed accessibilty issue with empty link on featured post. (#10005)
  app/assets/stylesheets/components/stories.scss
  app/javascript/articles/__tests__/__snapshots__/Article.test.jsx.snap
  app/javascript/articles/components/ArticleCoverImage.jsx
  app/views/articles/_single_story.html.erb
Owners: @forem/hells-bells

Add comments-dedicated-page-container class (#10012)
  app/views/comments/deleted_commentable_comment.html.erb
Owners: none

Add comments-dedicated-page-container class (#10012)
  app/views/comments/deleted_commentable_comment.html.erb
Owners: none

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre
