Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/hells-bells, @forem/sre, @jacobherrington, @forem/systems, @nickytonline

Fix Settings/Customization page (#11615)
  app/controllers/users_controller.rb
  app/policies/user_policy.rb
  app/views/users/_customization.html.erb
  app/views/users/_language_settings.html.erb
  config/routes.rb
  spec/requests/user/user_settings_spec.rb
Owners: @forem/sre

Fix Settings/Customization page (#11615)
  app/controllers/users_controller.rb
  app/policies/user_policy.rb
  app/views/users/_customization.html.erb
  app/views/users/_language_settings.html.erb
  config/routes.rb
  spec/requests/user/user_settings_spec.rb
Owners: @forem/sre

Preserve internal navigation indicator on redirect (#11476)
  app/controllers/application_controller.rb
  app/controllers/stories_controller.rb
  docs/technical-overview/architecture.md
  spec/requests/stories_show_spec.rb
Owners: @forem/hells-bells, @forem/oss, @jacobherrington

Preserve internal navigation indicator on redirect (#11476)
  app/controllers/application_controller.rb
  app/controllers/stories_controller.rb
  docs/technical-overview/architecture.md
  spec/requests/stories_show_spec.rb
Owners: @forem/hells-bells, @forem/oss, @jacobherrington

Use content-visibility: auto for small render performance boost (#11560)
  app/assets/stylesheets/views/footer.scss
  app/views/articles/_bottom_content.html.erb
Owners: @forem/hells-bells

Use content-visibility: auto for small render performance boost (#11560)
  app/assets/stylesheets/views/footer.scss
  app/views/articles/_bottom_content.html.erb
Owners: @forem/hells-bells

Restore fieldsets in Settings/Customization (#11617)
  app/views/users/_customization.html.erb
  app/views/users/_language_settings.html.erb
Owners: none

Restore fieldsets in Settings/Customization (#11617)
  app/views/users/_customization.html.erb
  app/views/users/_language_settings.html.erb
Owners: none

Edited URLs settings/ux to settings/customization (#11618)
  app/javascript/article-form/components/Help.jsx
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_v1_editor_guide_preamble.html.erb
  db/seeds.rb
  spec/factories/broadcasts.rb
Owners: @forem/sre

Edited URLs settings/ux to settings/customization (#11618)
  app/javascript/article-form/components/Help.jsx
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_v1_editor_guide_preamble.html.erb
  db/seeds.rb
  spec/factories/broadcasts.rb
Owners: @forem/sre

Start a11y testing checklist in Forem docs (#11614)
  docs/frontend/accessibility.md
  docs/tests/accessibility-tests.md
Owners: @forem/oss, @jacobherrington

Start a11y testing checklist in Forem docs (#11614)
  docs/frontend/accessibility.md
  docs/tests/accessibility-tests.md
Owners: @forem/oss, @jacobherrington

Fix frontend test setup file (#11623)
  app/javascript/readingList/__tests__/readingList.test.jsx
  testSetup.js
Owners: none

Fix frontend test setup file (#11623)
  app/javascript/readingList/__tests__/readingList.test.jsx
  testSetup.js
Owners: none

Add implicit points to follows to improve feed relevancy (in all algorithms) (#11513)
  app/controllers/follows_controller.rb
  app/models/follow.rb
  app/models/reaction.rb
  app/policies/follow_policy.rb
  app/views/dashboards/following_tags.html.erb
  app/workers/follows/update_points_worker.rb
  app/workers/reactions/update_relevant_scores_worker.rb
  db/migrate/20201119153512_add_explicit_and_implicit_follow_points.rb
  db/schema.rb
  docs/technical-overview/architecture.md
  lib/data_update_scripts/20201120001727_populate_explicit_follow_points.rb
  spec/decorators/user_decorator_spec.rb
  spec/lib/data_update_scripts/populate_explicit_follow_points_spec.rb
  spec/models/follow_spec.rb
  spec/requests/follows_update_spec.rb
  spec/services/articles/feeds/large_forem_experimental_spec.rb
  spec/support/sidekiq_test_helpers.rb
  spec/system/dashboards/user_scrolls_down_dashboard_follows_spec.rb
  spec/system/homepage/user_visits_homepage_spec.rb
  spec/workers/follows/update_points_worker_spec.rb
  spec/workers/reactions/update_reactable_worker_spec.rb
  spec/workers/reactions/update_relevant_scores_worker_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

Add implicit points to follows to improve feed relevancy (in all algorithms) (#11513)
  app/controllers/follows_controller.rb
  app/models/follow.rb
  app/models/reaction.rb
  app/policies/follow_policy.rb
  app/views/dashboards/following_tags.html.erb
  app/workers/follows/update_points_worker.rb
  app/workers/reactions/update_relevant_scores_worker.rb
  db/migrate/20201119153512_add_explicit_and_implicit_follow_points.rb
  db/schema.rb
  docs/technical-overview/architecture.md
  lib/data_update_scripts/20201120001727_populate_explicit_follow_points.rb
  spec/decorators/user_decorator_spec.rb
  spec/lib/data_update_scripts/populate_explicit_follow_points_spec.rb
  spec/models/follow_spec.rb
  spec/requests/follows_update_spec.rb
  spec/services/articles/feeds/large_forem_experimental_spec.rb
  spec/support/sidekiq_test_helpers.rb
  spec/system/dashboards/user_scrolls_down_dashboard_follows_spec.rb
  spec/system/homepage/user_visits_homepage_spec.rb
  spec/workers/follows/update_points_worker_spec.rb
  spec/workers/reactions/update_reactable_worker_spec.rb
  spec/workers/reactions/update_relevant_scores_worker_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

fix(docs): add positive_reactions_count to article in api docs (#11624)
  docs/api_v0.yml
Owners: @forem/oss, @jacobherrington

fix(docs): add positive_reactions_count to article in api docs (#11624)
  docs/api_v0.yml
Owners: @forem/oss, @jacobherrington

Fixed some frontend tests causing unhandled rejection errors (#11627)
  app/javascript/article-form/components/__tests__/ImageUploader.test.jsx
  app/javascript/chat/__tests__/requestManager.test.jsx
  app/javascript/onboarding/components/__tests__/FollowUsers.test.jsx
  app/javascript/utilities/__tests__/search.test.js
  testSetup.js
Owners: none

Fixed some frontend tests causing unhandled rejection errors (#11627)
  app/javascript/article-form/components/__tests__/ImageUploader.test.jsx
  app/javascript/chat/__tests__/requestManager.test.jsx
  app/javascript/onboarding/components/__tests__/FollowUsers.test.jsx
  app/javascript/utilities/__tests__/search.test.js
  testSetup.js
Owners: none

Fixed Error: Not implemented: window.computedStyle(elt, pseudoElt) console error in frontend tests. (#11633)
  app/javascript/organization/__tests__/OrganizationPicker.test.jsx
Owners: none

Fixed Error: Not implemented: window.computedStyle(elt, pseudoElt) console error in frontend tests. (#11633)
  app/javascript/organization/__tests__/OrganizationPicker.test.jsx
Owners: none

Move HtmlCleaner from app/labor into service (#11609)
  app/labor/html_cleaner.rb
  app/services/feeds/clean_html.rb
  app/services/rss_reader/assembler.rb
  spec/services/feeds/clean_html_spec.rb
Owners: none

Move HtmlCleaner from app/labor into service (#11609)
  app/labor/html_cleaner.rb
  app/services/feeds/clean_html.rb
  app/services/rss_reader/assembler.rb
  spec/services/feeds/clean_html_spec.rb
Owners: none

Edited URLs settings/ux to settings/customization (#11632)
  app/views/pages/_editor_frontmatter_help.html.erb
Owners: none

Edited URLs settings/ux to settings/customization (#11632)
  app/views/pages/_editor_frontmatter_help.html.erb
Owners: none

Add contact email to SiteConfig and replace default where appropriate (#11630)
  app/controllers/admin/users_controller.rb
  app/controllers/api_secrets_controller.rb
  app/controllers/organizations_controller.rb
  app/controllers/users_controller.rb
  app/helpers/application_helper.rb
  app/labor/error_message_cleaner.rb
  app/models/site_config.rb
  app/views/admin/users/_data_export.html.erb
  app/views/mailers/notify_mailer/account_deleted_email.text.erb
  app/views/mailers/notify_mailer/tag_moderator_confirmation_email.html.erb
  app/views/mailers/notify_mailer/tag_moderator_confirmation_email.text.erb
  app/views/mailers/notify_mailer/trusted_role_email.html.erb
  app/views/mailers/notify_mailer/trusted_role_email.text.erb
  app/views/moderations/_mod_sidebar_left.html.erb
  app/views/open_search/show.xml.erb
  app/views/users/_org_admin.html.erb
  spec/helpers/application_helper_spec.rb
  spec/requests/admin/configs_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/services/exporter/service_spec.rb
Owners: none

Add contact email to SiteConfig and replace default where appropriate (#11630)
  app/controllers/admin/users_controller.rb
  app/controllers/api_secrets_controller.rb
  app/controllers/organizations_controller.rb
  app/controllers/users_controller.rb
  app/helpers/application_helper.rb
  app/labor/error_message_cleaner.rb
  app/models/site_config.rb
  app/views/admin/users/_data_export.html.erb
  app/views/mailers/notify_mailer/account_deleted_email.text.erb
  app/views/mailers/notify_mailer/tag_moderator_confirmation_email.html.erb
  app/views/mailers/notify_mailer/tag_moderator_confirmation_email.text.erb
  app/views/mailers/notify_mailer/trusted_role_email.html.erb
  app/views/mailers/notify_mailer/trusted_role_email.text.erb
  app/views/moderations/_mod_sidebar_left.html.erb
  app/views/open_search/show.xml.erb
  app/views/users/_org_admin.html.erb
  spec/helpers/application_helper_spec.rb
  spec/requests/admin/configs_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/services/exporter/service_spec.rb
Owners: none

fix: Parsing of preamble with escaped content in runkit tags (#11466)
  app/views/liquids/_runkit.html.erb
  spec/fixtures/files/article_with_runkit_tag_with_preamble.txt
  spec/system/articles/user_creates_an_article_spec.rb
Owners: none

fix: Parsing of preamble with escaped content in runkit tags (#11466)
  app/views/liquids/_runkit.html.erb
  spec/fixtures/files/article_with_runkit_tag_with_preamble.txt
  spec/system/articles/user_creates_an_article_spec.rb
Owners: none

Move LogWorkerQueueStats from labor to services (#11642)
  app/services/loggers/log_worker_queue_stats.rb
  app/workers/metrics/record_background_queue_stats_worker.rb
  spec/services/loggers/log_worker_queue_stats_spec.rb
  spec/workers/metrics/record_background_queue_stats_worker_spec.rb
Owners: @forem/sre

Move LogWorkerQueueStats from labor to services (#11642)
  app/services/loggers/log_worker_queue_stats.rb
  app/workers/metrics/record_background_queue_stats_worker.rb
  spec/services/loggers/log_worker_queue_stats_spec.rb
  spec/workers/metrics/record_background_queue_stats_worker_spec.rb
Owners: @forem/sre

Prep work to sync mobile search in #10424 (#11525)
  app/javascript/.storybook/main.js
  app/javascript/Search/Search.jsx
  app/javascript/Search/SearchForm.jsx
  app/javascript/Search/SearchFormSync.jsx
  app/javascript/Search/__stories__/SearchForm.stories.jsx
  app/javascript/Search/__tests__/Search.test.jsx
  app/javascript/Search/__tests__/SearchFormSync.test.jsx
  app/javascript/Search/index.js
  app/javascript/packs/Search.jsx
  app/javascript/utilities/__tests__/search.test.js
  app/javascript/utilities/search/index.js
  app/views/stories/_stories_list_script.html.erb
Owners: @forem/hells-bells

Prep work to sync mobile search in #10424 (#11525)
  app/javascript/.storybook/main.js
  app/javascript/Search/Search.jsx
  app/javascript/Search/SearchForm.jsx
  app/javascript/Search/SearchFormSync.jsx
  app/javascript/Search/__stories__/SearchForm.stories.jsx
  app/javascript/Search/__tests__/Search.test.jsx
  app/javascript/Search/__tests__/SearchFormSync.test.jsx
  app/javascript/Search/index.js
  app/javascript/packs/Search.jsx
  app/javascript/utilities/__tests__/search.test.js
  app/javascript/utilities/search/index.js
  app/views/stories/_stories_list_script.html.erb
Owners: @forem/hells-bells

Bug Fix:Remove nil cached_tag_lists when Collecting Tags (#11648)
  app/workers/follows/update_points_worker.rb
Owners: @forem/sre

Bug Fix:Remove nil cached_tag_lists when Collecting Tags (#11648)
  app/workers/follows/update_points_worker.rb
Owners: @forem/sre

rubocop -a (#11674)
  app/models/follow.rb
  lib/data_update_scripts/20201118141822_gradual_article_cache_bust.rb
  spec/requests/stories_show_spec.rb
  spec/system/comments/user_edits_a_comment_spec.rb
  spec/system/comments/user_views_article_comments_spec.rb
Owners: @forem/sre

rubocop -a (#11674)
  app/models/follow.rb
  lib/data_update_scripts/20201118141822_gradual_article_cache_bust.rb
  spec/requests/stories_show_spec.rb
  spec/system/comments/user_edits_a_comment_spec.rb
  spec/system/comments/user_views_article_comments_spec.rb
Owners: @forem/sre

Add tag smart variable to Blazer config (#11640)
  config/blazer.yml
Owners: @forem/sre

Add tag smart variable to Blazer config (#11640)
  config/blazer.yml
Owners: @forem/sre

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/oss    @nickytonline
