Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre

[deploy] Refactor: Remove Unused Article Suggester Services and Specs (#9031)
  app/services/suggester/articles/boosted.rb
  app/services/suggester/articles/high_quality.rb
  spec/services/suggester/articles/boosted_spec.rb
Owners: none

[deploy] Refactor: Remove Unused Article Suggester Services and Specs (#9031)
  app/services/suggester/articles/boosted.rb
  app/services/suggester/articles/high_quality.rb
  spec/services/suggester/articles/boosted_spec.rb
Owners: none

Refactor: Remove Unused UserSimilarity Class and Spec (#9030)
  app/labor/user_similarity.rb
  spec/labor/user_similarity_spec.rb
Owners: none

Refactor: Remove Unused UserSimilarity Class and Spec (#9030)
  app/labor/user_similarity.rb
  spec/labor/user_similarity_spec.rb
Owners: none

Flaky Spec Fix: Make Sure to Allow All Sites After Reset (#9029)
  spec/rails_helper.rb
Owners: @thepracticaldev/sre

Flaky Spec Fix: Make Sure to Allow All Sites After Reset (#9029)
  spec/rails_helper.rb
Owners: @thepracticaldev/sre

Added spinner/upload message when uploading an image to a post's content (#8986)
  app/javascript/article-form/components/ImageUploader.jsx
  app/javascript/article-form/components/__tests__/ImageUploader.test.jsx
  app/javascript/crayons/Spinner/index.js
  app/javascript/crayons/index.js
Owners: none

Added spinner/upload message when uploading an image to a post's content (#8986)
  app/javascript/article-form/components/ImageUploader.jsx
  app/javascript/article-form/components/__tests__/ImageUploader.test.jsx
  app/javascript/crayons/Spinner/index.js
  app/javascript/crayons/index.js
Owners: none

[deploy] Discoverable channel will open CTA to request join if not available (#8999)
  app/javascript/chat/channels.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/components/channelButton.jsx
Owners: none

[deploy] Discoverable channel will open CTA to request join if not available (#8999)
  app/javascript/chat/channels.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/components/channelButton.jsx
Owners: none

[deploy] Delete hello-dev.js (#9025)
  app/assets/javascripts/hello-dev.js
  app/views/layouts/_footer.html.erb
Owners: none

[deploy] Delete hello-dev.js (#9025)
  app/assets/javascripts/hello-dev.js
  app/views/layouts/_footer.html.erb
Owners: none

Hide secret code from input history (#9032)
  app/views/users/_org_non_member.html.erb
Owners: none

Hide secret code from input history (#9032)
  app/views/users/_org_non_member.html.erb
Owners: none

[deploy] Add contexts and permissions to liquid tags (#8917)
  app/controllers/articles_controller.rb
  app/controllers/comments_controller.rb
  app/errors/liquid_tags.rb
  app/labor/markdown_parser.rb
  app/liquid_tags/liquid_tag_base.rb
  app/liquid_tags/user_subscription_tag.rb
  app/models/article.rb
  app/models/comment.rb
  app/policies/liquid_tag_policy.rb
  docs/frontend/liquid-tags.md
  spec/policies/liquid_tag_policy_spec.rb
Owners: @thepracticaldev/hells-bells, @thepracticaldev/oss, @jacobherrington

[deploy] Add contexts and permissions to liquid tags (#8917)
  app/controllers/articles_controller.rb
  app/controllers/comments_controller.rb
  app/errors/liquid_tags.rb
  app/labor/markdown_parser.rb
  app/liquid_tags/liquid_tag_base.rb
  app/liquid_tags/user_subscription_tag.rb
  app/models/article.rb
  app/models/comment.rb
  app/policies/liquid_tag_policy.rb
  docs/frontend/liquid-tags.md
  spec/policies/liquid_tag_policy_spec.rb
Owners: @thepracticaldev/hells-bells, @thepracticaldev/oss, @jacobherrington

[deploy] Allow internal chat channels to be searched by their name (#9020)
  app/controllers/internal/chat_channels_controller.rb
  app/views/internal/chat_channels/index.html.erb
  spec/system/internal/admin_manages_chat_channels_spec.rb
Owners: @thepracticaldev/snackcase

[deploy] Allow internal chat channels to be searched by their name (#9020)
  app/controllers/internal/chat_channels_controller.rb
  app/views/internal/chat_channels/index.html.erb
  spec/system/internal/admin_manages_chat_channels_spec.rb
Owners: @thepracticaldev/snackcase

Routine rubocop fixes (#9015)
  .rubocop.yml
  .rubocop_todo.yml
  config/puma.rb
Owners: @thepracticaldev/sre

Routine rubocop fixes (#9015)
  .rubocop.yml
  .rubocop_todo.yml
  config/puma.rb
Owners: @thepracticaldev/sre

Fix listing card view reactions formatting (#8988)
  app/javascript/articles/__tests__/__snapshots__/Article.test.jsx.snap
  app/javascript/articles/components/ReactionsCount.jsx
Owners: none

Fix listing card view reactions formatting (#8988)
  app/javascript/articles/__tests__/__snapshots__/Article.test.jsx.snap
  app/javascript/articles/components/ReactionsCount.jsx
Owners: none

[deploy] Optimization: Default Delete Notifications Older than 3 months (#9038)
  app/models/notification.rb
Owners: none

[deploy] Optimization: Default Delete Notifications Older than 3 months (#9038)
  app/models/notification.rb
Owners: none

[deploy] Bringing back the original progress bar (#9019)
  app/assets/stylesheets/shared.scss
Owners: none

[deploy] Bringing back the original progress bar (#9019)
  app/assets/stylesheets/shared.scss
Owners: none

Optimize WelcomeNotification::Generator by only querying when necessary (#9039) [deploy]
  app/services/broadcasts/welcome_notification/generator.rb
Owners: none

Optimize WelcomeNotification::Generator by only querying when necessary (#9039) [deploy]
  app/services/broadcasts/welcome_notification/generator.rb
Owners: none

[deploy] Add slash back for root link (#9043)
  app/views/articles/index.html.erb
  app/views/articles/tag_index.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Add slash back for root link (#9043)
  app/views/articles/index.html.erb
  app/views/articles/tag_index.html.erb
Owners: @thepracticaldev/hells-bells

change the connect Scrolling CSS (#9042)
  app/assets/stylesheets/chat.scss
Owners: none

change the connect Scrolling CSS (#9042)
  app/assets/stylesheets/chat.scss
Owners: none

API: Fetch article by slug (#8929)
  app/controllers/api/v0/articles_controller.rb
  config/routes.rb
  spec/requests/api/v0/articles_spec.rb
Owners: @thepracticaldev/sre

API: Fetch article by slug (#8929)
  app/controllers/api/v0/articles_controller.rb
  config/routes.rb
  spec/requests/api/v0/articles_spec.rb
Owners: @thepracticaldev/sre

Added upload spinner for cover image in editor (#9041)
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
Owners: none

Added upload spinner for cover image in editor (#9041)
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
Owners: none

Unique IDs for hidden article_archived fields (#9048)
  app/views/dashboards/_dashboard_article_row.html.erb
Owners: none

Unique IDs for hidden article_archived fields (#9048)
  app/views/dashboards/_dashboard_article_row.html.erb
Owners: none

Stop allowing accented characters in tags (#9006)
  app/javascript/shared/components/tags.jsx
  app/models/tag.rb
  spec/models/tag_spec.rb
Owners: none

Stop allowing accented characters in tags (#9006)
  app/javascript/shared/components/tags.jsx
  app/models/tag.rb
  spec/models/tag_spec.rb
Owners: none
