Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

Fixes the link 'Other tools' in docs (on /getting-started/start-app/) (#5935)
  docs/getting-started/start-app.md
Owners: @jacobherrington

Fixes the link 'Other tools' in docs (on /getting-started/start-app/) (#5935)
  docs/getting-started/start-app.md
Owners: @jacobherrington

Remove .first query on notifications (#5943)
  app/services/notifications/update.rb
Owners: none

Remove .first query on notifications (#5943)
  app/services/notifications/update.rb
Owners: none

Setup Elasticsearch indexes during Deploy and Local App Setup (#5939)
  bin/setup
  bin/update
  docs/deployment.md
  release-tasks.sh
Owners: @jacobherrington

Setup Elasticsearch indexes during Deploy and Local App Setup (#5939)
  bin/setup
  bin/update
  docs/deployment.md
  release-tasks.sh
Owners: @jacobherrington

Enable bullet during tests to catch N+1 early (and some cleanups) (#5930) [deploy]
  app/controllers/internal/mods_controller.rb
  app/controllers/podcasts_controller.rb
  app/models/comment.rb
  app/models/html_variant.rb
  app/models/message.rb
  app/models/reaction.rb
  app/models/tweet.rb
  config/environments/test.rb
Owners: @jacobherrington, @zhao-andy, @thepracticaldev/sre

Enable bullet during tests to catch N+1 early (and some cleanups) (#5930) [deploy]
  app/controllers/internal/mods_controller.rb
  app/controllers/podcasts_controller.rb
  app/models/comment.rb
  app/models/html_variant.rb
  app/models/message.rb
  app/models/reaction.rb
  app/models/tweet.rb
  config/environments/test.rb
Owners: @jacobherrington, @zhao-andy, @thepracticaldev/sre

Ensure user is authenticated before doing onboarding Actions (#5937)
  app/controllers/users_controller.rb
  spec/requests/users_onboarding_spec.rb
Owners: none

Ensure user is authenticated before doing onboarding Actions (#5937)
  app/controllers/users_controller.rb
  spec/requests/users_onboarding_spec.rb
Owners: none

Fix logging for dev and test environments (#5922)
  app/controllers/omniauth_callbacks_controller.rb
  config/environments/development.rb
  config/environments/test.rb
  spec/services/rss_reader_spec.rb
  spec/system/user_logs_in_with_twitter_spec.rb
  spec/workers/metrics/record_db_table_counts_worker_spec.rb
Owners: @thepracticaldev/sre

Fix logging for dev and test environments (#5922)
  app/controllers/omniauth_callbacks_controller.rb
  config/environments/development.rb
  config/environments/test.rb
  spec/services/rss_reader_spec.rb
  spec/system/user_logs_in_with_twitter_spec.rb
  spec/workers/metrics/record_db_table_counts_worker_spec.rb
Owners: @thepracticaldev/sre

Added a section about increasing seed data. (#5948)
  docs/getting-started/db.md
Owners: @jacobherrington

Added a section about increasing seed data. (#5948)
  docs/getting-started/db.md
Owners: @jacobherrington

removing border-box from shecoded landing page (#5949)
  app/views/pages/shecoded.html.erb
Owners: none

removing border-box from shecoded landing page (#5949)
  app/views/pages/shecoded.html.erb
Owners: none

Refactor API Reactions controller and add specs (#5936)
  app/controllers/api/v0/reactions_controller.rb
  spec/requests/api/v0/reactions_spec.rb
Owners: none

Refactor API Reactions controller and add specs (#5936)
  app/controllers/api/v0/reactions_controller.rb
  spec/requests/api/v0/reactions_spec.rb
Owners: none

Remove Unused ChatChannel Indexing (#5907) [deploy]
  app/controllers/chat_channel_memberships_controller.rb
  app/controllers/chat_channels_controller.rb
  app/models/chat_channel.rb
  app/models/message.rb
  app/services/users/cleanup_chat_channels.rb
Owners: none

Remove Unused ChatChannel Indexing (#5907) [deploy]
  app/controllers/chat_channel_memberships_controller.rb
  app/controllers/chat_channels_controller.rb
  app/models/chat_channel.rb
  app/models/message.rb
  app/services/users/cleanup_chat_channels.rb
Owners: none

Eager load users when handling chat channel memberships (#5954)
  app/services/user_blocks/channel_handler.rb
Owners: none

Eager load users when handling chat channel memberships (#5954)
  app/services/user_blocks/channel_handler.rb
Owners: none

create Users::EstimateDefaultLanguageWorker for Sidekiq (#5697) [deploy]
  app/models/user.rb
  app/workers/users/estimate_default_language_worker.rb
  spec/models/user_spec.rb
  spec/workers/users/estimate_default_language_worker_spec.rb
Owners: @thepracticaldev/sre

create Users::EstimateDefaultLanguageWorker for Sidekiq (#5697) [deploy]
  app/models/user.rb
  app/workers/users/estimate_default_language_worker.rb
  spec/models/user_spec.rb
  spec/workers/users/estimate_default_language_worker_spec.rb
Owners: @thepracticaldev/sre

Add low-value landing pages to robots.txt disallow (#5944) [deploy]
  app/views/pages/robots.text.erb
Owners: none

Add low-value landing pages to robots.txt disallow (#5944) [deploy]
  app/views/pages/robots.text.erb
Owners: none

Handle Reactions Without Users When Sending Notifications (#5820)
  app/services/notifications/reactions/send.rb
  spec/models/notification_spec.rb
Owners: none

Handle Reactions Without Users When Sending Notifications (#5820)
  app/services/notifications/reactions/send.rb
  spec/models/notification_spec.rb
Owners: none

Added template select to the pages admin form (#5952) [deploy]
  app/models/page.rb
  app/views/internal/pages/_form.html.erb
Owners: @jacobherrington, @zhao-andy

Added template select to the pages admin form (#5952) [deploy]
  app/models/page.rb
  app/views/internal/pages/_form.html.erb
Owners: @jacobherrington, @zhao-andy

Remove Users::EstimateDefaultLanguageJob & spec (#5956) [deploy]
  app/jobs/users/estimate_default_language_job.rb
  spec/jobs/users/estimate_default_language_job_spec.rb
Owners: @thepracticaldev/sre

Remove Users::EstimateDefaultLanguageJob & spec (#5956) [deploy]
  app/jobs/users/estimate_default_language_job.rb
  spec/jobs/users/estimate_default_language_job_spec.rb
Owners: @thepracticaldev/sre

Update queue_adapter to Sidekiq (#5960) [deploy]
  config/application.rb
Owners: @thepracticaldev/sre

Update queue_adapter to Sidekiq (#5960) [deploy]
  config/application.rb
Owners: @thepracticaldev/sre

Revert "Update queue_adapter to Sidekiq (#5960)" (#5961) [deploy]
  config/application.rb
Owners: @thepracticaldev/sre

Revert "Update queue_adapter to Sidekiq (#5960)" (#5961) [deploy]
  config/application.rb
Owners: @thepracticaldev/sre

Log in Datadog When Sidekiq Worker Fails for Final Time (#5942) [deploy]
  config/initializers/sidekiq.rb
  lib/sidekiq/worker_retries_exhausted_reporter.rb
  spec/lib/sidekiq/worker_retries_exhausted_reporter_spec.rb
Owners: @thepracticaldev/sre

Log in Datadog When Sidekiq Worker Fails for Final Time (#5942) [deploy]
  config/initializers/sidekiq.rb
  lib/sidekiq/worker_retries_exhausted_reporter.rb
  spec/lib/sidekiq/worker_retries_exhausted_reporter_spec.rb
Owners: @thepracticaldev/sre

Fix indentation in search.rake (#5971)
  lib/tasks/search.rake
Owners: none

Fix indentation in search.rake (#5971)
  lib/tasks/search.rake
Owners: none

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Team snackCase
/app/assets/stylesheets/internal/ @jacobherrington @zhao-andy
/app/controllers/internal/        @jacobherrington @zhao-andy
/app/views/internal/              @jacobherrington @zhao-andy
/app/views/moderation/            @jacobherrington @zhao-andy
/spec/system/internal/            @jacobherrington @zhao-andy
/spec/requests/internal/          @jacobherrington @zhao-andy
/docs/                            @jacobherrington
