Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

Bug Fix:Make entrypoint-dev.sh Runnable (#10359)
  scripts/entrypoint-dev.sh
Owners: none

Bug Fix:Make entrypoint-dev.sh Runnable (#10359)
  scripts/entrypoint-dev.sh
Owners: none

[deploy] fix: Start podcast record spinning animation from where it paused (#10343)
  app/assets/stylesheets/ltags/PodcastTag.scss
  app/assets/stylesheets/podcast-episodes-show.scss
Owners: none

[deploy] fix: Start podcast record spinning animation from where it paused (#10343)
  app/assets/stylesheets/ltags/PodcastTag.scss
  app/assets/stylesheets/podcast-episodes-show.scss
Owners: none

[deploy] Hide column backup_data.json_data from Blazer via Hypershield (#10364)
  config/initializers/hypershield.rb
Owners: @forem/sre

[deploy] Hide column backup_data.json_data from Blazer via Hypershield (#10364)
  config/initializers/hypershield.rb
Owners: @forem/sre

Remove exceeded line (#10290)
  app/controllers/chat_channel_memberships_controller.rb
Owners: none

Remove exceeded line (#10290)
  app/controllers/chat_channel_memberships_controller.rb
Owners: none

[deploy] Feature: Serve Reading List from FeedContent Index (#10294)
  app/controllers/search_controller.rb
  app/javascript/readingList/__tests__/readingList.test.jsx
  app/javascript/readingList/components/ItemListItem.jsx
  app/javascript/readingList/components/__tests__/ItemListItem.test.jsx
  app/javascript/searchableItemList/searchableItemList.js
  app/services/search/query_builders/feed_content.rb
  app/services/search/reading_list.rb
  spec/requests/search_spec.rb
  spec/services/search/feed_content_spec.rb
  spec/services/search/reading_list_spec.rb
Owners: @forem/sre

[deploy] Feature: Serve Reading List from FeedContent Index (#10294)
  app/controllers/search_controller.rb
  app/javascript/readingList/__tests__/readingList.test.jsx
  app/javascript/readingList/components/ItemListItem.jsx
  app/javascript/readingList/components/__tests__/ItemListItem.test.jsx
  app/javascript/searchableItemList/searchableItemList.js
  app/services/search/query_builders/feed_content.rb
  app/services/search/reading_list.rb
  spec/requests/search_spec.rb
  spec/services/search/feed_content_spec.rb
  spec/services/search/reading_list_spec.rb
Owners: @forem/sre

Add opacity to HexComparer (#10361)
  app/labor/hex_comparer.rb
  spec/labor/hex_comparer_spec.rb
Owners: none

Add opacity to HexComparer (#10361)
  app/labor/hex_comparer.rb
  spec/labor/hex_comparer_spec.rb
Owners: none

add image in podcast seeds in suggested way (#10371)
  db/seeds.rb
Owners: @forem/sre

add image in podcast seeds in suggested way (#10371)
  db/seeds.rb
Owners: @forem/sre

More detailed notification when setup is not completed (#10375)
  app/controllers/concerns/verify_setup_completed.rb
  spec/system/admin/admin_manages_configuration_spec.rb
Owners: @forem/snackcase

More detailed notification when setup is not completed (#10375)
  app/controllers/concerns/verify_setup_completed.rb
  spec/system/admin/admin_manages_configuration_spec.rb
Owners: @forem/snackcase

[deploy] Refactor:Remove Unused Faraday Http Cache Gem (#10351)
  Gemfile
  Gemfile.lock
  vendor/cache/faraday-http-cache-2.2.0.gem
Owners: @forem/sre, @forem/oss

[deploy] Refactor:Remove Unused Faraday Http Cache Gem (#10351)
  Gemfile
  Gemfile.lock
  vendor/cache/faraday-http-cache-2.2.0.gem
Owners: @forem/sre, @forem/oss

Replace need for GitHub ENV vars on bootup (#10372)
  app/labor/badge_rewarder.rb
  app/liquid_tags/github_tag/github_readme_tag.rb
  app/models/github_issue.rb
  app/services/github/client.rb
  app/services/github/oauth_client.rb
  spec/liquid_tags/github_tag/github_readme_tag_spec.rb
  spec/services/github/client_spec.rb
Owners: none

Replace need for GitHub ENV vars on bootup (#10372)
  app/labor/badge_rewarder.rb
  app/liquid_tags/github_tag/github_readme_tag.rb
  app/models/github_issue.rb
  app/services/github/client.rb
  app/services/github/oauth_client.rb
  spec/liquid_tags/github_tag/github_readme_tag_spec.rb
  spec/services/github/client_spec.rb
Owners: none

Optimization:Move Initialization CacheBust to Background Worker (#10311)
  config/initializers/initialization_cachebust.rb
  config/initializers/set_release_footprint.rb
  lib/tasks/app_initializer.rake
  lib/tasks/cache.rake
Owners: @forem/sre

Optimization:Move Initialization CacheBust to Background Worker (#10311)
  config/initializers/initialization_cachebust.rb
  config/initializers/set_release_footprint.rb
  lib/tasks/app_initializer.rake
  lib/tasks/cache.rake
Owners: @forem/sre

[deploy] Fix case sensitive published bug (#10352)
  app/labor/markdown_fixer.rb
  spec/labor/markdown_fixer_spec.rb
Owners: none

[deploy] Fix case sensitive published bug (#10352)
  app/labor/markdown_fixer.rb
  spec/labor/markdown_fixer_spec.rb
Owners: none

API: Add route for fetching a user's followed tags (#9108)
  app/controllers/api/v0/follows_controller.rb
  app/views/api/v0/follows/tags.json.jbuilder
  config/routes.rb
  spec/requests/api/v0/follows_spec.rb
Owners: @forem/sre

API: Add route for fetching a user's followed tags (#9108)
  app/controllers/api/v0/follows_controller.rb
  app/views/api/v0/follows/tags.json.jbuilder
  config/routes.rb
  spec/requests/api/v0/follows_spec.rb
Owners: @forem/sre

[deploy] Refactor edge caching logic to live in EdgeCache::Service (#10369)
  app/labor/cache_buster.rb
  app/services/edge_cache/bust.rb
  spec/labor/cache_buster_spec.rb
  spec/services/edge_cache/bust_spec.rb
Owners: none

[deploy] Refactor edge caching logic to live in EdgeCache::Service (#10369)
  app/labor/cache_buster.rb
  app/services/edge_cache/bust.rb
  spec/labor/cache_buster_spec.rb
  spec/services/edge_cache/bust_spec.rb
Owners: none

Showing date in listing tile (#10217)
  app/assets/stylesheets/views/listings.scss
  app/controllers/concerns/listings_toolkit.rb
  app/javascript/listings/__tests__/AllListings.test.jsx
  app/javascript/listings/__tests__/Modal.test.jsx
  app/javascript/listings/__tests__/SingleListing.test.jsx
  app/javascript/listings/singleListing/Header.jsx
  app/serializers/search/listing_serializer.rb
  app/views/layouts/admin.html.erb
  app/views/shell/_top.html.erb
  config/elasticsearch/mappings/listings.json
  db/migrate/20200917114525_originally_published_at_for_listing.rb
  db/schema.rb
  db/seeds.rb
  lib/data_update_scripts/20200917115821_backfill_listing_published_date.rb
  spec/requests/listings_spec.rb
Owners: @forem/sre

Showing date in listing tile (#10217)
  app/assets/stylesheets/views/listings.scss
  app/controllers/concerns/listings_toolkit.rb
  app/javascript/listings/__tests__/AllListings.test.jsx
  app/javascript/listings/__tests__/Modal.test.jsx
  app/javascript/listings/__tests__/SingleListing.test.jsx
  app/javascript/listings/singleListing/Header.jsx
  app/serializers/search/listing_serializer.rb
  app/views/layouts/admin.html.erb
  app/views/shell/_top.html.erb
  config/elasticsearch/mappings/listings.json
  db/migrate/20200917114525_originally_published_at_for_listing.rb
  db/schema.rb
  db/seeds.rb
  lib/data_update_scripts/20200917115821_backfill_listing_published_date.rb
  spec/requests/listings_spec.rb
Owners: @forem/sre

[deploy] Fix extra character (#10382)
  app/views/layouts/admin.html.erb
Owners: none

[deploy] Fix extra character (#10382)
  app/views/layouts/admin.html.erb
Owners: none

[deploy] Revert "Bump puma from 4.3.6 to 5.0.0 (#10393)" (#10413)
  Gemfile
  Gemfile.lock
  vendor/cache/nio4r-2.5.3.gem
  vendor/cache/nio4r-2.5.4.gem
  vendor/cache/puma-4.3.6.gem
  vendor/cache/puma-5.0.0.gem
Owners: @forem/sre, @forem/oss

[deploy] Revert "Bump puma from 4.3.6 to 5.0.0 (#10393)" (#10413)
  Gemfile
  Gemfile.lock
  vendor/cache/nio4r-2.5.3.gem
  vendor/cache/nio4r-2.5.4.gem
  vendor/cache/puma-4.3.6.gem
  vendor/cache/puma-5.0.0.gem
Owners: @forem/sre, @forem/oss

adding missing variable (#10405)
  app/views/shell/_top.html.erb
Owners: none

adding missing variable (#10405)
  app/views/shell/_top.html.erb
Owners: none

Improve setup not completed notification (#10411)
  app/controllers/concerns/verify_setup_completed.rb
  spec/system/admin/admin_manages_configuration_spec.rb
Owners: @forem/snackcase

Improve setup not completed notification (#10411)
  app/controllers/concerns/verify_setup_completed.rb
  spec/system/admin/admin_manages_configuration_spec.rb
Owners: @forem/snackcase

Remove profile validations from user (#10257)
  app/models/user.rb
  spec/models/user_spec.rb
Owners: none

Remove profile validations from user (#10257)
  app/models/user.rb
  spec/models/user_spec.rb
Owners: none

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre
