Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

[deploy] Bug Fix:Monkey Patch Sitemap Generator is lib not config (#10113)
  config/sitemap.rb
  lib/sitemap_generator/s3_adapter.rb
Owners: @forem/sre

[deploy] Bug Fix:Monkey Patch Sitemap Generator is lib not config (#10113)
  config/sitemap.rb
  lib/sitemap_generator/s3_adapter.rb
Owners: @forem/sre

[deploy] Update top-header for logged-out user (#9874)
  app/assets/javascripts/initializers/initNotifications.js
  app/assets/javascripts/initializers/initializeSpecialNavigationFunctionality.js
  app/assets/stylesheets/signin.scss
  app/assets/stylesheets/top-bar.scss
  app/assets/stylesheets/widgets.scss
  app/controllers/application_controller.rb
  app/controllers/articles_controller.rb
  app/controllers/registrations_controller.rb
  app/views/articles/_sidebar_additional.html.erb
  app/views/layouts/_nav_menu.html.erb
  app/views/layouts/_top_bar.html.erb
  spec/requests/registrations_spec.rb
  spec/system/authentication/redirects_using_referer_spec.rb
  spec/system/authentication/user_logs_in_with_facebook_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
  spec/system/homepage/user_visits_homepage_spec.rb
  spec/system/user_logs_in_with_password_spec.rb
Owners: @forem/hells-bells

[deploy] Update top-header for logged-out user (#9874)
  app/assets/javascripts/initializers/initNotifications.js
  app/assets/javascripts/initializers/initializeSpecialNavigationFunctionality.js
  app/assets/stylesheets/signin.scss
  app/assets/stylesheets/top-bar.scss
  app/assets/stylesheets/widgets.scss
  app/controllers/application_controller.rb
  app/controllers/articles_controller.rb
  app/controllers/registrations_controller.rb
  app/views/articles/_sidebar_additional.html.erb
  app/views/layouts/_nav_menu.html.erb
  app/views/layouts/_top_bar.html.erb
  spec/requests/registrations_spec.rb
  spec/system/authentication/redirects_using_referer_spec.rb
  spec/system/authentication/user_logs_in_with_facebook_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
  spec/system/homepage/user_visits_homepage_spec.rb
  spec/system/user_logs_in_with_password_spec.rb
Owners: @forem/hells-bells

Add cache-control to CarrierWave when using S3 (#10115)
  config/initializers/carrierwave.rb
Owners: @forem/sre

Add cache-control to CarrierWave when using S3 (#10115)
  config/initializers/carrierwave.rb
Owners: @forem/sre

Comment out Flaky Reaction Search Sort Spec (#10118)
  spec/services/search/reaction_spec.rb
Owners: none

Comment out Flaky Reaction Search Sort Spec (#10118)
  spec/services/search/reaction_spec.rb
Owners: none

Fixes unsafe reflection warning in dashboards_controller (#10094)
  app/controllers/dashboards_controller.rb
Owners: none

Fixes unsafe reflection warning in dashboards_controller (#10094)
  app/controllers/dashboards_controller.rb
Owners: none

Allow admins to set brand color (#10097)
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/components/buttons.scss
  app/controllers/admin/configs_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/services/color/accessibility.rb
  app/views/admin/configs/show.html.erb
  app/views/shell/_top.html.erb
  spec/requests/admin/configs_spec.rb
  spec/services/color/accessibility_spec.rb
  vendor/cache/wcag_color_contrast-0.1.0.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase

Allow admins to set brand color (#10097)
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/components/buttons.scss
  app/controllers/admin/configs_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/services/color/accessibility.rb
  app/views/admin/configs/show.html.erb
  app/views/shell/_top.html.erb
  spec/requests/admin/configs_spec.rb
  spec/services/color/accessibility_spec.rb
  vendor/cache/wcag_color_contrast-0.1.0.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase

Add multiple entry options (#10117)
  app/controllers/application_controller.rb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/_sidebar_nav.html.erb
  app/views/articles/tag_index.html.erb
  app/views/devise/registrations/_registration_form.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_nav_menu.html.erb
  app/views/layouts/_signup_modal.html.erb
  app/views/layouts/_top_bar.html.erb
  app/views/pages/badges.html.erb
  app/views/partnerships/show.html.erb
  app/views/shared/authentication/_providers_sidebar.html.erb
  app/views/shared/authentication/_providers_signup_modal.html.erb
  app/views/stories/_sign_in_invitation.html.erb
Owners: @forem/hells-bells

Add multiple entry options (#10117)
  app/controllers/application_controller.rb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/_sidebar_nav.html.erb
  app/views/articles/tag_index.html.erb
  app/views/devise/registrations/_registration_form.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_nav_menu.html.erb
  app/views/layouts/_signup_modal.html.erb
  app/views/layouts/_top_bar.html.erb
  app/views/pages/badges.html.erb
  app/views/partnerships/show.html.erb
  app/views/shared/authentication/_providers_sidebar.html.erb
  app/views/shared/authentication/_providers_signup_modal.html.erb
  app/views/stories/_sign_in_invitation.html.erb
Owners: @forem/hells-bells

signup modal fix (#10127)
  app/views/layouts/_signup_modal.html.erb
Owners: none

signup modal fix (#10127)
  app/views/layouts/_signup_modal.html.erb
Owners: none

[deploy] Add unique index on articles slug user_id (#10126)
  app/models/article.rb
  db/migrate/20200901084210_add_unique_index_to_articles_slug_user_id.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Add unique index on articles slug user_id (#10126)
  app/models/article.rb
  db/migrate/20200901084210_add_unique_index_to_articles_slug_user_id.rb
  db/schema.rb
Owners: @forem/sre

Remove ghostify from app (#10139)
  app/controllers/admin/users_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/services/moderator/delete_user.rb
  app/views/admin/users/edit.html.erb
  app/views/users/_account.html.erb
  spec/requests/admin/users_manage_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/services/moderator/delete_user_spec.rb
Owners: @forem/snackcase

Remove ghostify from app (#10139)
  app/controllers/admin/users_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  app/services/moderator/delete_user.rb
  app/views/admin/users/edit.html.erb
  app/views/users/_account.html.erb
  spec/requests/admin/users_manage_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/services/moderator/delete_user_spec.rb
Owners: @forem/snackcase

Rely on error types to determine when a repo should be removed on the RepoSyncWorker (#10131)
  app/services/github/errors.rb
  app/workers/github_repos/repo_sync_worker.rb
  spec/services/github/oauth_client_spec.rb
  spec/workers/github_repos/repo_sync_worker_spec.rb
Owners: @forem/sre

Rely on error types to determine when a repo should be removed on the RepoSyncWorker (#10131)
  app/services/github/errors.rb
  app/workers/github_repos/repo_sync_worker.rb
  spec/services/github/oauth_client_spec.rb
  spec/workers/github_repos/repo_sync_worker_spec.rb
Owners: @forem/sre

[deploy] Optimization:Throttle Noisy Honeycomb Events More (#10143)
  app/lib/honeycomb/noise_cancelling_sampler.rb
  spec/lib/honeycomb/noise_cancelling_sampler_spec.rb
Owners: none

[deploy] Optimization:Throttle Noisy Honeycomb Events More (#10143)
  app/lib/honeycomb/noise_cancelling_sampler.rb
  spec/lib/honeycomb/noise_cancelling_sampler_spec.rb
Owners: none

Fix Flaky Runkit system spec (#10148)
  spec/system/articles/user_creates_an_article_spec.rb
Owners: none

Fix Flaky Runkit system spec (#10148)
  spec/system/articles/user_creates_an_article_spec.rb
Owners: none

Flaky Spec Fix:(Attempt)Ensure Article Suggester Count is Consistent (#10146)
  spec/labor/article_suggester_spec.rb
Owners: none

Flaky Spec Fix:(Attempt)Ensure Article Suggester Count is Consistent (#10146)
  spec/labor/article_suggester_spec.rb
Owners: none

[deploy] Add initial content security policy into codebase (to avoid reliance on edge configuration) (#10144)
  config/initializers/content_security_policy.rb
Owners: @forem/sre

[deploy] Add initial content security policy into codebase (to avoid reliance on edge configuration) (#10144)
  config/initializers/content_security_policy.rb
Owners: @forem/sre

[deploy] Add data update script for profile fields (#10119)
  app/services/profile_fields/import_from_csv.rb
  lib/data_update_scripts/20200901040521_create_profile_fields.rb
  spec/lib/data_update_scripts/create_profile_fields_spec.rb
Owners: @forem/sre

[deploy] Add data update script for profile fields (#10119)
  app/services/profile_fields/import_from_csv.rb
  lib/data_update_scripts/20200901040521_create_profile_fields.rb
  spec/lib/data_update_scripts/create_profile_fields_spec.rb
Owners: @forem/sre

Profile Admin updates (#10133)
  app/assets/stylesheets/admin.scss
  app/controllers/admin/profile_field_groups_controller.rb
  app/controllers/admin/profile_fields_controller.rb
  app/views/admin/profile_fields/_add_group_modal.html.erb
  app/views/admin/profile_fields/_add_profile_field_modal.html.erb
  app/views/admin/profile_fields/_edit_group_modal.html.erb
  app/views/admin/profile_fields/_group_form.erb
  app/views/admin/profile_fields/_grouped_profile_fields.html.erb
  app/views/admin/profile_fields/_profile_field_form.html.erb
  app/views/admin/profile_fields/_ungrouped_profile_fields.html.erb
  app/views/admin/profile_fields/index.html.erb
  config/routes.rb
  spec/requests/admin/profile_field_groups_spec.rb
Owners: @forem/snackcase, @forem/sre

Profile Admin updates (#10133)
  app/assets/stylesheets/admin.scss
  app/controllers/admin/profile_field_groups_controller.rb
  app/controllers/admin/profile_fields_controller.rb
  app/views/admin/profile_fields/_add_group_modal.html.erb
  app/views/admin/profile_fields/_add_profile_field_modal.html.erb
  app/views/admin/profile_fields/_edit_group_modal.html.erb
  app/views/admin/profile_fields/_group_form.erb
  app/views/admin/profile_fields/_grouped_profile_fields.html.erb
  app/views/admin/profile_fields/_profile_field_form.html.erb
  app/views/admin/profile_fields/_ungrouped_profile_fields.html.erb
  app/views/admin/profile_fields/index.html.erb
  config/routes.rb
  spec/requests/admin/profile_field_groups_spec.rb
Owners: @forem/snackcase, @forem/sre

Hide overflow text (#10159)
  app/assets/stylesheets/notifications.scss
Owners: none

Hide overflow text (#10159)
  app/assets/stylesheets/notifications.scss
Owners: none

Attempt to fix facebook login (#10152) [deploy]
  config/initializers/devise.rb
Owners: @forem/sre

Attempt to fix facebook login (#10152) [deploy]
  config/initializers/devise.rb
Owners: @forem/sre

[deploy] Extracts DisplayAds from Administrate into admin (#10153)
  app/controllers/admin/application_controller.rb
  app/controllers/admin/display_ads_controller.rb
  app/dashboards/dashboard_manifest.rb
  app/lib/constants/role.rb
  app/models/display_ad.rb
  app/views/admin/display_ads/_form.html.erb
  app/views/admin/display_ads/edit.html.erb
  app/views/admin/display_ads/index.html.erb
  app/views/admin/display_ads/new.html.erb
  config/routes.rb
  spec/requests/admin/display_ads_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Extracts DisplayAds from Administrate into admin (#10153)
  app/controllers/admin/application_controller.rb
  app/controllers/admin/display_ads_controller.rb
  app/dashboards/dashboard_manifest.rb
  app/lib/constants/role.rb
  app/models/display_ad.rb
  app/views/admin/display_ads/_form.html.erb
  app/views/admin/display_ads/edit.html.erb
  app/views/admin/display_ads/index.html.erb
  app/views/admin/display_ads/new.html.erb
  config/routes.rb
  spec/requests/admin/display_ads_spec.rb
Owners: @forem/snackcase, @forem/sre
