Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

[deploy] Add new support admin role (#9681)
  app/models/role.rb
  app/policies/application_policy.rb
  app/views/admin/users/edit.html.erb
  spec/models/role_spec.rb
Owners: @forem/snackcase

[deploy] Add new support admin role (#9681)
  app/models/role.rb
  app/policies/application_policy.rb
  app/views/admin/users/edit.html.erb
  spec/models/role_spec.rb
Owners: @forem/snackcase

Migrate serialization to jsonapi-serializer (#9682)
  Gemfile
  Gemfile.lock
  app/serializers/application_serializer.rb
  app/serializers/search/article_serializer.rb
  app/serializers/search/chat_channel_membership_serializer.rb
  app/serializers/search/comment_serializer.rb
  app/serializers/search/listing_author_serializer.rb
  app/serializers/search/listing_serializer.rb
  app/serializers/search/nested_user_serializer.rb
  app/serializers/search/podcast_episode_serializer.rb
  app/serializers/search/reaction_serializer.rb
  app/serializers/search/tag_serializer.rb
  app/serializers/search/user_serializer.rb
  app/serializers/webhook/article_destroyed_serializer.rb
  app/serializers/webhook/article_serializer.rb
  app/serializers/webhook/event_serializer.rb
  app/serializers/webhook/user_serializer.rb
  vendor/cache/fast_jsonapi-1.5.gem
  vendor/cache/jsonapi-serializer-2.0.0.gem
Owners: @forem/sre, @forem/oss

Migrate serialization to jsonapi-serializer (#9682)
  Gemfile
  Gemfile.lock
  app/serializers/application_serializer.rb
  app/serializers/search/article_serializer.rb
  app/serializers/search/chat_channel_membership_serializer.rb
  app/serializers/search/comment_serializer.rb
  app/serializers/search/listing_author_serializer.rb
  app/serializers/search/listing_serializer.rb
  app/serializers/search/nested_user_serializer.rb
  app/serializers/search/podcast_episode_serializer.rb
  app/serializers/search/reaction_serializer.rb
  app/serializers/search/tag_serializer.rb
  app/serializers/search/user_serializer.rb
  app/serializers/webhook/article_destroyed_serializer.rb
  app/serializers/webhook/article_serializer.rb
  app/serializers/webhook/event_serializer.rb
  app/serializers/webhook/user_serializer.rb
  vendor/cache/fast_jsonapi-1.5.gem
  vendor/cache/jsonapi-serializer-2.0.0.gem
Owners: @forem/sre, @forem/oss

[deploy] Async Handle Notifications for Comments When Saved (#9680)
  app/controllers/comments_controller.rb
  app/models/article.rb
  app/models/comment.rb
  app/models/notification.rb
  app/workers/comments/create_notification_subscription_worker.rb
  app/workers/comments/send_new_comment_notifications_worker.rb
  app/workers/comments/update_commentable_last_comment_at_worker.rb
  spec/requests/comments_create_spec.rb
  spec/requests/comments_spec.rb
  spec/workers/comments/create_notification_subscription_worker_spec.rb
  spec/workers/comments/send_new_comment_notifications_worker_spec.rb
  spec/workers/comments/update_commentable_last_comment_at_worker_spec.rb
Owners: @forem/sre

[deploy] Async Handle Notifications for Comments When Saved (#9680)
  app/controllers/comments_controller.rb
  app/models/article.rb
  app/models/comment.rb
  app/models/notification.rb
  app/workers/comments/create_notification_subscription_worker.rb
  app/workers/comments/send_new_comment_notifications_worker.rb
  app/workers/comments/update_commentable_last_comment_at_worker.rb
  spec/requests/comments_create_spec.rb
  spec/requests/comments_spec.rb
  spec/workers/comments/create_notification_subscription_worker_spec.rb
  spec/workers/comments/send_new_comment_notifications_worker_spec.rb
  spec/workers/comments/update_commentable_last_comment_at_worker_spec.rb
Owners: @forem/sre

[deploy] Optimization: Change Large Table Primary Keys to Bigints (#9476)
  db/migrate/20200806193438_large_table_primary_keys_to_bigints.rb
  db/schema.rb
  release-tasks.sh
Owners: @forem/sre

[deploy] Optimization: Change Large Table Primary Keys to Bigints (#9476)
  db/migrate/20200806193438_large_table_primary_keys_to_bigints.rb
  db/schema.rb
  release-tasks.sh
Owners: @forem/sre

[deploy] Revert "Async Handle Notifications for Comments When Saved (#9680)" (#9686)
  app/controllers/comments_controller.rb
  app/models/article.rb
  app/models/comment.rb
  app/models/notification.rb
  app/workers/comments/create_notification_subscription_worker.rb
  app/workers/comments/send_new_comment_notifications_worker.rb
  app/workers/comments/update_commentable_last_comment_at_worker.rb
  spec/requests/comments_create_spec.rb
  spec/requests/comments_spec.rb
  spec/workers/comments/create_notification_subscription_worker_spec.rb
  spec/workers/comments/send_new_comment_notifications_worker_spec.rb
  spec/workers/comments/update_commentable_last_comment_at_worker_spec.rb
Owners: @forem/sre

[deploy] Revert "Async Handle Notifications for Comments When Saved (#9680)" (#9686)
  app/controllers/comments_controller.rb
  app/models/article.rb
  app/models/comment.rb
  app/models/notification.rb
  app/workers/comments/create_notification_subscription_worker.rb
  app/workers/comments/send_new_comment_notifications_worker.rb
  app/workers/comments/update_commentable_last_comment_at_worker.rb
  spec/requests/comments_create_spec.rb
  spec/requests/comments_spec.rb
  spec/workers/comments/create_notification_subscription_worker_spec.rb
  spec/workers/comments/send_new_comment_notifications_worker_spec.rb
  spec/workers/comments/update_commentable_last_comment_at_worker_spec.rb
Owners: @forem/sre

[deploy] Optimization:Set Honeybadger send_data_at_exit to False (#9687)
  config/initializers/honeybadger.rb
Owners: @forem/sre

[deploy] Optimization:Set Honeybadger send_data_at_exit to False (#9687)
  config/initializers/honeybadger.rb
Owners: @forem/sre

Travis Optimization:Bundle from Bash File to Use Cache (#9705)
  .travis.yml
  bin/ci-bundle
Owners: @forem/sre

Travis Optimization:Bundle from Bash File to Use Cache (#9705)
  .travis.yml
  bin/ci-bundle
Owners: @forem/sre

Flaky Spec Fix:HTML Escape Special Characters in Assertion like Template (#9708)
  spec/requests/dashboard_spec.rb
Owners: none

Flaky Spec Fix:HTML Escape Special Characters in Assertion like Template (#9708)
  spec/requests/dashboard_spec.rb
Owners: none

Enable Rubocop 0.89 cops and fix Lint/ violations (#9709)
  .rubocop.yml
  app/controllers/comments_controller.rb
  app/controllers/notifications_controller.rb
  app/controllers/video_chats_controller.rb
  app/liquid_tags/null_tag.rb
  app/services/moderator/banish_user.rb
  app/services/moderator/delete_user.rb
  app/services/moderator/merge_user.rb
  app/services/rate_limit_checker.rb
  app/services/search/query_builders/chat_channel_membership.rb
  app/services/search/query_builders/feed_content.rb
  app/services/search/query_builders/listing.rb
  app/services/search/query_builders/reaction.rb
  app/services/search/query_builders/user.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/carrierwave.rb
  config/initializers/docker.rb
  spec/helpers/social_image_helper_spec.rb
  spec/models/html_variant_spec.rb
  spec/requests/admin/chat_channel_spec.rb
  spec/requests/admin/configs_spec.rb
  spec/requests/admin/podcasts_spec.rb
  spec/requests/admin/profile_fields_spec.rb
  spec/requests/admin/users_spec.rb
  spec/view_objects/cloud_cover_url_spec.rb
Owners: @forem/sre, @forem/snackcase

Enable Rubocop 0.89 cops and fix Lint/ violations (#9709)
  .rubocop.yml
  app/controllers/comments_controller.rb
  app/controllers/notifications_controller.rb
  app/controllers/video_chats_controller.rb
  app/liquid_tags/null_tag.rb
  app/services/moderator/banish_user.rb
  app/services/moderator/delete_user.rb
  app/services/moderator/merge_user.rb
  app/services/rate_limit_checker.rb
  app/services/search/query_builders/chat_channel_membership.rb
  app/services/search/query_builders/feed_content.rb
  app/services/search/query_builders/listing.rb
  app/services/search/query_builders/reaction.rb
  app/services/search/query_builders/user.rb
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/carrierwave.rb
  config/initializers/docker.rb
  spec/helpers/social_image_helper_spec.rb
  spec/models/html_variant_spec.rb
  spec/requests/admin/chat_channel_spec.rb
  spec/requests/admin/configs_spec.rb
  spec/requests/admin/podcasts_spec.rb
  spec/requests/admin/profile_fields_spec.rb
  spec/requests/admin/users_spec.rb
  spec/view_objects/cloud_cover_url_spec.rb
Owners: @forem/sre, @forem/snackcase

[deploy] Bug Fix:Dont Set Active Channel if ChatChannel Does Not Exist (#9704)
  app/controllers/chat_channels_controller.rb
  spec/requests/chat_channels_spec.rb
Owners: none

[deploy] Bug Fix:Dont Set Active Channel if ChatChannel Does Not Exist (#9704)
  app/controllers/chat_channels_controller.rb
  spec/requests/chat_channels_spec.rb
Owners: none

Rubocop: Enable and fix Style/OptionalBooleanParameter cop (#9711)
  .rubocop.yml
  app/controllers/follows_controller.rb
  app/helpers/comments_helper.rb
  app/models/notification.rb
  app/services/github/oauth_client.rb
  app/services/notifications/new_follower/send.rb
  app/services/podcasts/feed.rb
  app/services/rss_reader.rb
  app/services/search/client.rb
  app/services/twitter_client/client.rb
  app/views/comments/_comment_proper.html.erb
  app/workers/notifications/new_follower_worker.rb
  app/workers/users/delete_worker.rb
  lib/tasks/fetch.rake
  spec/requests/user/user_settings_spec.rb
  spec/services/notifications/new_follower/send_spec.rb
  spec/system/notifications/notifications_page_spec.rb
Owners: @forem/delightful, @forem/sre

Rubocop: Enable and fix Style/OptionalBooleanParameter cop (#9711)
  .rubocop.yml
  app/controllers/follows_controller.rb
  app/helpers/comments_helper.rb
  app/models/notification.rb
  app/services/github/oauth_client.rb
  app/services/notifications/new_follower/send.rb
  app/services/podcasts/feed.rb
  app/services/rss_reader.rb
  app/services/search/client.rb
  app/services/twitter_client/client.rb
  app/views/comments/_comment_proper.html.erb
  app/workers/notifications/new_follower_worker.rb
  app/workers/users/delete_worker.rb
  lib/tasks/fetch.rake
  spec/requests/user/user_settings_spec.rb
  spec/services/notifications/new_follower/send_spec.rb
  spec/system/notifications/notifications_page_spec.rb
Owners: @forem/delightful, @forem/sre

Fix Netlify catch all redirections (#9717)
  docs/netlify.toml
Owners: @forem/oss, @jacobherrington

Fix Netlify catch all redirections (#9717)
  docs/netlify.toml
Owners: @forem/oss, @jacobherrington

[deploy] Upgrade Chartkick to fix CVE-2020-16254 Vulnerability (#9718)
  Gemfile.lock
  vendor/cache/chartkick-3.3.2.gem
  vendor/cache/chartkick-3.4.0.gem
Owners: @forem/sre, @forem/oss

[deploy] Upgrade Chartkick to fix CVE-2020-16254 Vulnerability (#9718)
  Gemfile.lock
  vendor/cache/chartkick-3.3.2.gem
  vendor/cache/chartkick-3.4.0.gem
Owners: @forem/sre, @forem/oss

[deploy] Redirect /internal to /admin (#9716)
  .rubocop.yml
  config/routes.rb
Owners: @forem/sre

[deploy] Redirect /internal to /admin (#9716)
  .rubocop.yml
  config/routes.rb
Owners: @forem/sre

Update docs with details on where to install Elasticsearch (#9670) [deploy]
  docs/installation/mac.md
  docs/installation/windows.md
Owners: @forem/oss, @jacobherrington

Update docs with details on where to install Elasticsearch (#9670) [deploy]
  docs/installation/mac.md
  docs/installation/windows.md
Owners: @forem/oss, @jacobherrington

[deploy] Improve clean up of user language settings (#9671)
  lib/data_update_scripts/20200805171911_clean_up_language_settings.rb
Owners: @forem/sre

[deploy] Improve clean up of user language settings (#9671)
  lib/data_update_scripts/20200805171911_clean_up_language_settings.rb
Owners: @forem/sre

Check for meta payment pointer first before attempting to load (#9722)
  app/assets/javascripts/initializers/initializePaymentPointers.js
Owners: none

Check for meta payment pointer first before attempting to load (#9722)
  app/assets/javascripts/initializers/initializePaymentPointers.js
Owners: none

Add profile model (#9648)
  Gemfile
  Gemfile.lock
  app/models/profile.rb
  app/models/profile_field.rb
  app/models/user.rb
  db/migrate/20200806052718_create_profiles.rb
  db/schema.rb
  spec/factories/profiles.rb
  spec/factories/users.rb
  spec/models/profile_spec.rb
  vendor/cache/store_attribute-0.5.3.gem
Owners: @forem/sre, @forem/oss

Add profile model (#9648)
  Gemfile
  Gemfile.lock
  app/models/profile.rb
  app/models/profile_field.rb
  app/models/user.rb
  db/migrate/20200806052718_create_profiles.rb
  db/schema.rb
  spec/factories/profiles.rb
  spec/factories/users.rb
  spec/models/profile_spec.rb
  vendor/cache/store_attribute-0.5.3.gem
Owners: @forem/sre, @forem/oss

API: retrieve podcast episodes comments (#9677)
  app/controllers/api/v0/comments_controller.rb
  config/fastly/snippets/safe_params_list.vcl
  docs/api_v0.yml
  spec/requests/api/v0/comments_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

API: retrieve podcast episodes comments (#9677)
  app/controllers/api/v0/comments_controller.rb
  config/fastly/snippets/safe_params_list.vcl
  docs/api_v0.yml
  spec/requests/api/v0/comments_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

Github's bug report template (#9736)
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Github's bug report template (#9736)
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none
