Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

[deploy] Introduce ProfileFieldGroup model (#10007)
  app/assets/stylesheets/internal/layout.scss
  app/controllers/admin/application_controller.rb
  app/controllers/admin/profile_fields_controller.rb
  app/models/profile_field.rb
  app/models/profile_field_group.rb
  app/services/profile_fields/field_definition.rb
  app/services/profile_fields/import_from_csv.rb
  app/views/admin/profile_fields/index.html.erb
  db/migrate/20200826072259_create_profile_field_groups.rb
  db/migrate/20200826072722_add_profile_field_group_to_profile_field.rb
  db/migrate/20200828032013_validate_foreign_key_on_profile_field.rb
  db/schema.rb
  lib/data_update_scripts/20200826075937_migrate_profile_field_groups.rb
  spec/factories/profile_field_groups.rb
  spec/factories/profile_fields.rb
  spec/models/profile_field_group_spec.rb
  spec/models/profile_field_spec.rb
  spec/requests/admin/profile_fields_spec.rb
  spec/services/profile_fields/add_spec.rb
  spec/services/profile_fields/field_definition_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Introduce ProfileFieldGroup model (#10007)
  app/assets/stylesheets/internal/layout.scss
  app/controllers/admin/application_controller.rb
  app/controllers/admin/profile_fields_controller.rb
  app/models/profile_field.rb
  app/models/profile_field_group.rb
  app/services/profile_fields/field_definition.rb
  app/services/profile_fields/import_from_csv.rb
  app/views/admin/profile_fields/index.html.erb
  db/migrate/20200826072259_create_profile_field_groups.rb
  db/migrate/20200826072722_add_profile_field_group_to_profile_field.rb
  db/migrate/20200828032013_validate_foreign_key_on_profile_field.rb
  db/schema.rb
  lib/data_update_scripts/20200826075937_migrate_profile_field_groups.rb
  spec/factories/profile_field_groups.rb
  spec/factories/profile_fields.rb
  spec/models/profile_field_group_spec.rb
  spec/models/profile_field_spec.rb
  spec/requests/admin/profile_fields_spec.rb
  spec/services/profile_fields/add_spec.rb
  spec/services/profile_fields/field_definition_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Optimization:Break Send User Digest Emails in Single Jobs (#10043)
  app/labor/email_digest.rb
  app/workers/email/enqueue_digest_worker.rb
  app/workers/email/send_user_digest_worker.rb
  app/workers/send_email_digest_worker.rb
  config/schedule.yml
  spec/labor/email_digest_spec.rb
  spec/workers/email/enqueue_digest_worker_spec.rb
  spec/workers/email/send_user_digest_worker_spec.rb
Owners: @forem/sre

[deploy] Optimization:Break Send User Digest Emails in Single Jobs (#10043)
  app/labor/email_digest.rb
  app/workers/email/enqueue_digest_worker.rb
  app/workers/email/send_user_digest_worker.rb
  app/workers/send_email_digest_worker.rb
  config/schedule.yml
  spec/labor/email_digest_spec.rb
  spec/workers/email/enqueue_digest_worker_spec.rb
  spec/workers/email/send_user_digest_worker_spec.rb
Owners: @forem/sre

[deploy] Introduces Runtime class for standardized & other native cleanup + replace podcast GA with ahoy (#10026)
  app/assets/javascripts/initializers/initializeCommentDropdown.js
  app/assets/javascripts/initializers/initializePodcastPlayback.js
  app/assets/javascripts/initializers/initializeVideoPlayback.js
  app/assets/javascripts/initializers/runtime.js
  app/javascript/article-form/components/ImageUploader.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/InvitationLinkManager.jsx
  app/javascript/utilities/validateAndroidNative.js
Owners: none

[deploy] Introduces Runtime class for standardized & other native cleanup + replace podcast GA with ahoy (#10026)
  app/assets/javascripts/initializers/initializeCommentDropdown.js
  app/assets/javascripts/initializers/initializePodcastPlayback.js
  app/assets/javascripts/initializers/initializeVideoPlayback.js
  app/assets/javascripts/initializers/runtime.js
  app/javascript/article-form/components/ImageUploader.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/InvitationLinkManager.jsx
  app/javascript/utilities/validateAndroidNative.js
Owners: none

Fix seeds.rb (#10047)
  db/seeds.rb
Owners: @forem/sre

Fix seeds.rb (#10047)
  db/seeds.rb
Owners: @forem/sre

Create initial "register by email and password" beta/MVP in prep for "setup mode" (#10039)
  app/controllers/admin/configs_controller.rb
  app/controllers/application_controller.rb
  app/controllers/registrations_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  app/views/devise/confirmations/new.html.erb
  app/views/devise/registrations/by_email.html.erb
  app/views/devise/registrations/edit.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/shared/authentication/_email_registration_form.html.erb
  config/routes.rb
  spec/requests/registrations_spec.rb
Owners: @forem/snackcase, @forem/sre

Create initial "register by email and password" beta/MVP in prep for "setup mode" (#10039)
  app/controllers/admin/configs_controller.rb
  app/controllers/application_controller.rb
  app/controllers/registrations_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  app/views/devise/confirmations/new.html.erb
  app/views/devise/registrations/by_email.html.erb
  app/views/devise/registrations/edit.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/shared/authentication/_email_registration_form.html.erb
  config/routes.rb
  spec/requests/registrations_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Delete cookie correctly by specifying the domain (#10052)
  app/controllers/sessions_controller.rb
Owners: none

[deploy] Delete cookie correctly by specifying the domain (#10052)
  app/controllers/sessions_controller.rb
Owners: none

Use explicit name for Preact fragments (#10049)
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/leftSidebar/TagsFollowed.jsx
  app/javascript/modCenter/singleArticle/__tests__/singleArticle.test.jsx
  app/javascript/modCenter/singleArticle/index.jsx
Owners: none

Use explicit name for Preact fragments (#10049)
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/leftSidebar/TagsFollowed.jsx
  app/javascript/modCenter/singleArticle/__tests__/singleArticle.test.jsx
  app/javascript/modCenter/singleArticle/index.jsx
Owners: none

Revert "Added pragmaFrag so terse Fragment syntax,<></>, can be used in Preact. (#9051)" (#10050)
  babel.config.js
Owners: none

Revert "Added pragmaFrag so terse Fragment syntax,<></>, can be used in Preact. (#9051)" (#10050)
  babel.config.js
Owners: none

[deploy] Grant admin permissions through the UI (part 1) (#9656)
  app/lib/constants/role.rb
  app/services/moderator/manage_activity_and_roles.rb
  app/views/admin/permissions/index.html.erb
  app/views/admin/users/edit.html.erb
  spec/requests/admin/users_manage_spec.rb
  spec/services/moderator/manage_activity_and_roles_spec.rb
Owners: @forem/snackcase

[deploy] Grant admin permissions through the UI (part 1) (#9656)
  app/lib/constants/role.rb
  app/services/moderator/manage_activity_and_roles.rb
  app/views/admin/permissions/index.html.erb
  app/views/admin/users/edit.html.erb
  spec/requests/admin/users_manage_spec.rb
  spec/services/moderator/manage_activity_and_roles_spec.rb
Owners: @forem/snackcase

[deploy] Add dependent clauses to Article and fix Comment validation (#9990)
  .rubocop_todo.yml
  app/models/article.rb
  app/models/comment.rb
  app/services/articles/destroyer.rb
  lib/data_update_scripts/20200825095213_remove_orphaned_buffer_updates_by_article.rb
  lib/data_update_scripts/20200825095512_nullify_orphaned_comments_by_article.rb
  lib/data_update_scripts/20200825102635_remove_orphaned_notification_subscriptions_by_article.rb
  lib/data_update_scripts/20200825102956_remove_orphaned_notifications_by_article.rb
  lib/data_update_scripts/20200825103119_remove_orphaned_profile_pins_by_article.rb
  lib/data_update_scripts/20200825103244_remove_orphaned_rating_votes_by_article.rb
  spec/models/article_spec.rb
  spec/models/comment_spec.rb
Owners: @forem/sre

[deploy] Add dependent clauses to Article and fix Comment validation (#9990)
  .rubocop_todo.yml
  app/models/article.rb
  app/models/comment.rb
  app/services/articles/destroyer.rb
  lib/data_update_scripts/20200825095213_remove_orphaned_buffer_updates_by_article.rb
  lib/data_update_scripts/20200825095512_nullify_orphaned_comments_by_article.rb
  lib/data_update_scripts/20200825102635_remove_orphaned_notification_subscriptions_by_article.rb
  lib/data_update_scripts/20200825102956_remove_orphaned_notifications_by_article.rb
  lib/data_update_scripts/20200825103119_remove_orphaned_profile_pins_by_article.rb
  lib/data_update_scripts/20200825103244_remove_orphaned_rating_votes_by_article.rb
  spec/models/article_spec.rb
  spec/models/comment_spec.rb
Owners: @forem/sre

[deploy] Optimization:Dont Send Multiple Digest Emails in a Day (#10042)
  app/labor/email_logic.rb
  spec/labor/email_logic_spec.rb
Owners: none

[deploy] Optimization:Dont Send Multiple Digest Emails in a Day (#10042)
  app/labor/email_logic.rb
  spec/labor/email_logic_spec.rb
Owners: none

[deploy] Add missing dependent clauses to User and cleanup relations (#10011)
  .rubocop_todo.yml
  app/models/note.rb
  app/models/user.rb
  app/services/users/delete_activity.rb
  lib/data_update_scripts/20200826092816_remove_orphaned_notes_by_user.rb
  lib/data_update_scripts/20200826133748_nullify_orphaned_tweets_by_user.rb
  lib/data_update_scripts/20200826140317_remove_orphaned_articles_by_user.rb
  lib/data_update_scripts/20200826140754_remove_orphaned_collections_by_user.rb
  lib/data_update_scripts/20200826140924_remove_orphaned_credits_by_user.rb
  lib/data_update_scripts/20200826141015_remove_orphaned_github_repos_by_user.rb
  lib/data_update_scripts/20200826141105_remove_orphaned_mentions_by_user.rb
  lib/data_update_scripts/20200826141145_remove_orphaned_organization_memberships_by_user.rb
  lib/data_update_scripts/20200826141447_nullify_orphaned_page_views_by_user.rb
  lib/data_update_scripts/20200826141550_nullify_orphaned_rating_votes_by_user.rb
  lib/data_update_scripts/20200826141652_remove_orphaned_reactions_by_user.rb
  spec/models/note_spec.rb
  spec/models/user_spec.rb
  spec/services/users/delete_spec.rb
Owners: @forem/sre

[deploy] Add missing dependent clauses to User and cleanup relations (#10011)
  .rubocop_todo.yml
  app/models/note.rb
  app/models/user.rb
  app/services/users/delete_activity.rb
  lib/data_update_scripts/20200826092816_remove_orphaned_notes_by_user.rb
  lib/data_update_scripts/20200826133748_nullify_orphaned_tweets_by_user.rb
  lib/data_update_scripts/20200826140317_remove_orphaned_articles_by_user.rb
  lib/data_update_scripts/20200826140754_remove_orphaned_collections_by_user.rb
  lib/data_update_scripts/20200826140924_remove_orphaned_credits_by_user.rb
  lib/data_update_scripts/20200826141015_remove_orphaned_github_repos_by_user.rb
  lib/data_update_scripts/20200826141105_remove_orphaned_mentions_by_user.rb
  lib/data_update_scripts/20200826141145_remove_orphaned_organization_memberships_by_user.rb
  lib/data_update_scripts/20200826141447_nullify_orphaned_page_views_by_user.rb
  lib/data_update_scripts/20200826141550_nullify_orphaned_rating_votes_by_user.rb
  lib/data_update_scripts/20200826141652_remove_orphaned_reactions_by_user.rb
  spec/models/note_spec.rb
  spec/models/user_spec.rb
  spec/services/users/delete_spec.rb
Owners: @forem/sre

[deploy] Refactor:Cleanup Naming and Optimize Email Digest Code (#10054)
  app/services/email_digest.rb
  app/services/email_logic.rb
  app/workers/emails/enqueue_digest_worker.rb
  app/workers/emails/send_user_digest_worker.rb
  config/schedule.yml
  spec/services/email_digest_spec.rb
  spec/services/email_logic_spec.rb
  spec/workers/emails/enqueue_digest_worker_spec.rb
  spec/workers/emails/send_user_digest_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Cleanup Naming and Optimize Email Digest Code (#10054)
  app/services/email_digest.rb
  app/services/email_logic.rb
  app/workers/emails/enqueue_digest_worker.rb
  app/workers/emails/send_user_digest_worker.rb
  config/schedule.yml
  spec/services/email_digest_spec.rb
  spec/services/email_logic_spec.rb
  spec/workers/emails/enqueue_digest_worker_spec.rb
  spec/workers/emails/send_user_digest_worker_spec.rb
Owners: @forem/sre

Bug Fix:Destroy Repos that We No Longer Have Credentials For (#10056)
  app/workers/github_repos/repo_sync_worker.rb
Owners: @forem/sre

Bug Fix:Destroy Repos that We No Longer Have Credentials For (#10056)
  app/workers/github_repos/repo_sync_worker.rb
Owners: @forem/sre

[deploy] Bug Fix:Add send_email_digest Rake Task for DEV (#10065)
  app/workers/emails/enqueue_digest_worker.rb
  lib/tasks/fetch.rake
Owners: @forem/sre

[deploy] Bug Fix:Add send_email_digest Rake Task for DEV (#10065)
  app/workers/emails/enqueue_digest_worker.rb
  lib/tasks/fetch.rake
Owners: @forem/sre

[deploy] Feature:Add Ability to Run RssReader via Sidekiq Cron, Prevent for DEV (#10066)
  app/workers/articles/rss_reader_worker.rb
  config/schedule.yml
  spec/workers/articles/rss_reader_worker_spec.rb
Owners: @forem/sre

[deploy] Feature:Add Ability to Run RssReader via Sidekiq Cron, Prevent for DEV (#10066)
  app/workers/articles/rss_reader_worker.rb
  config/schedule.yml
  spec/workers/articles/rss_reader_worker_spec.rb
Owners: @forem/sre

[deploy] Add foreign keys between buffer_updates, rating_votes and articles (#10016)
  db/migrate/20200826131359_add_missing_foreign_keys_to_models_related_to_articles.rb
  db/migrate/20200826132009_validate_add_missing_foreign_keys_to_articles_related_models.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Add foreign keys between buffer_updates, rating_votes and articles (#10016)
  db/migrate/20200826131359_add_missing_foreign_keys_to_models_related_to_articles.rb
  db/migrate/20200826132009_validate_add_missing_foreign_keys_to_articles_related_models.rb
  db/schema.rb
Owners: @forem/sre

Spec Fix:Nullify Rating Votes when Deleting Users (#10071)
  spec/services/users/delete_spec.rb
Owners: none

Spec Fix:Nullify Rating Votes when Deleting Users (#10071)
  spec/services/users/delete_spec.rb
Owners: none

[deploy] Bug Fix:Run Individual Digest Workers inline for DEV (#10070)
  app/services/email_digest.rb
  spec/services/email_digest_spec.rb
Owners: none

[deploy] Bug Fix:Run Individual Digest Workers inline for DEV (#10070)
  app/services/email_digest.rb
  spec/services/email_digest_spec.rb
Owners: none

Optimization:Ignore Docs for Heroku Slug (#10067)
  .slugignore
Owners: none

Optimization:Ignore Docs for Heroku Slug (#10067)
  .slugignore
Owners: none
