Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

[deploy] User agent check fix for native iOS (#10472)
  app/assets/javascripts/initializers/runtime.js
Owners: none

[deploy] User agent check fix for native iOS (#10472)
  app/assets/javascripts/initializers/runtime.js
Owners: none

Crayonisification of "Reading list" (#10428)
  app/assets/stylesheets/item-list.scss
  app/assets/stylesheets/minimal.scss
  app/javascript/readingList/components/ItemListItem.jsx
  app/javascript/readingList/components/ItemListItemArchiveButton.jsx
  app/javascript/readingList/components/ItemListLoadMoreButton.jsx
  app/javascript/readingList/components/ItemListTags.jsx
  app/javascript/readingList/components/__tests__/ItemListItem.test.jsx
  app/javascript/readingList/readingList.jsx
  app/views/articles/_actions.html.erb
  app/views/layouts/_nav_menu.html.erb
  app/views/notifications/_article.html.erb
  app/views/reading_list_items/index.html.erb
Owners: @forem/hells-bells, @forem/delightful

Crayonisification of "Reading list" (#10428)
  app/assets/stylesheets/item-list.scss
  app/assets/stylesheets/minimal.scss
  app/javascript/readingList/components/ItemListItem.jsx
  app/javascript/readingList/components/ItemListItemArchiveButton.jsx
  app/javascript/readingList/components/ItemListLoadMoreButton.jsx
  app/javascript/readingList/components/ItemListTags.jsx
  app/javascript/readingList/components/__tests__/ItemListItem.test.jsx
  app/javascript/readingList/readingList.jsx
  app/views/articles/_actions.html.erb
  app/views/layouts/_nav_menu.html.erb
  app/views/notifications/_article.html.erb
  app/views/reading_list_items/index.html.erb
Owners: @forem/hells-bells, @forem/delightful

Removing close button from right panel in moderation view (#10353)
  app/javascript/actionsPanel/__tests__/initializeActionsPanelToggle.test.js
  app/javascript/actionsPanel/initializeActionsPanelToggle.js
  app/views/moderations/actions_panel.html.erb
Owners: none

Removing close button from right panel in moderation view (#10353)
  app/javascript/actionsPanel/__tests__/initializeActionsPanelToggle.test.js
  app/javascript/actionsPanel/initializeActionsPanelToggle.js
  app/views/moderations/actions_panel.html.erb
Owners: none

Update Imgproxy to use predetermined endpoint (#10412)
  app/services/images/optimizer.rb
  config/initializers/imgproxy.rb
  spec/services/images/optimizer_spec.rb
  spec/views/dashboards/show.html.erb_spec.rb
Owners: @forem/sre

Update Imgproxy to use predetermined endpoint (#10412)
  app/services/images/optimizer.rb
  config/initializers/imgproxy.rb
  spec/services/images/optimizer_spec.rb
  spec/views/dashboards/show.html.erb_spec.rb
Owners: @forem/sre

add no console rule front-end (#10362)
  .eslintrc.js
  app/assets/javascripts/initializers/initializeSwipeGestures.js
Owners: none

add no console rule front-end (#10362)
  .eslintrc.js
  app/assets/javascripts/initializers/initializeSwipeGestures.js
Owners: none

GitHub liquid tag: add support for img tags with no src attribute (#10470)
  app/liquid_tags/github_tag/github_readme_tag.rb
  spec/liquid_tags/github_tag/github_readme_tag_spec.rb
  spec/support/fixtures/vcr_cassettes/github_client_repository_invalid_img_tag.yml
Owners: @forem/sre

GitHub liquid tag: add support for img tags with no src attribute (#10470)
  app/liquid_tags/github_tag/github_readme_tag.rb
  spec/liquid_tags/github_tag/github_readme_tag_spec.rb
  spec/support/fixtures/vcr_cassettes/github_client_repository_invalid_img_tag.yml
Owners: @forem/sre

[deploy] Cleanup orphan data from tags and feedback_messages (#10367)
  lib/data_update_scripts/20200917150808_nullify_orphaned_tags_by_mod_chat_channel_id.rb
  lib/data_update_scripts/20200917150838_nullify_orphaned_feedback_messages_by_reporter_id.rb
Owners: @forem/sre

[deploy] Cleanup orphan data from tags and feedback_messages (#10367)
  lib/data_update_scripts/20200917150808_nullify_orphaned_tags_by_mod_chat_channel_id.rb
  lib/data_update_scripts/20200917150838_nullify_orphaned_feedback_messages_by_reporter_id.rb
Owners: @forem/sre

Routine rubocop fixes (#10478)
  .rubocop_todo.yml
  app/models/concerns/acts_as_profile_field.rb
  app/services/github/oauth_client.rb
  app/services/search/client.rb
  app/services/twitter_client/client.rb
  app/workers/metrics/record_data_counts_worker.rb
  config/environments/production.rb
  spec/liquid_tags/github_tag/github_readme_tag_spec.rb
  spec/requests/api/v0/webhooks_spec.rb
Owners: @forem/sre

Routine rubocop fixes (#10478)
  .rubocop_todo.yml
  app/models/concerns/acts_as_profile_field.rb
  app/services/github/oauth_client.rb
  app/services/search/client.rb
  app/services/twitter_client/client.rb
  app/workers/metrics/record_data_counts_worker.rb
  config/environments/production.rb
  spec/liquid_tags/github_tag/github_readme_tag_spec.rb
  spec/requests/api/v0/webhooks_spec.rb
Owners: @forem/sre

Fix newlines being chomped in RSS import (#10476)
  app/lib/reverse_markdown/converters/custom_text.rb
  config/initializers/reverse_markdown.rb
  spec/lib/reverse_markdown/converters/custom_text_spec.rb
Owners: @forem/sre

Fix newlines being chomped in RSS import (#10476)
  app/lib/reverse_markdown/converters/custom_text.rb
  config/initializers/reverse_markdown.rb
  spec/lib/reverse_markdown/converters/custom_text_spec.rb
Owners: @forem/sre

[deploy] Add missing FKs to FeedbackMessage, Note, Taggings, Tag, and UserRole (#10376)
  app/models/chat_channel.rb
  app/models/tag.rb
  db/migrate/20200917154147_add_missing_foreign_keys_to_feedback_messages_notes_tags_users_roles.rb
  db/migrate/20200917154234_validate_missing_foreign_keys_to_feedback_messages_notes_tags_users_roles.rb
  db/migrate/20200917154256_add_missing_foreign_keys_to_taggings.rb
  db/migrate/20200917154306_validate_missing_foreign_keys_to_taggings.rb
  db/schema.rb
  spec/models/chat_channel_spec.rb
  spec/models/feedback_message_spec.rb
  spec/models/tag_spec.rb
Owners: @forem/sre

[deploy] Add missing FKs to FeedbackMessage, Note, Taggings, Tag, and UserRole (#10376)
  app/models/chat_channel.rb
  app/models/tag.rb
  db/migrate/20200917154147_add_missing_foreign_keys_to_feedback_messages_notes_tags_users_roles.rb
  db/migrate/20200917154234_validate_missing_foreign_keys_to_feedback_messages_notes_tags_users_roles.rb
  db/migrate/20200917154256_add_missing_foreign_keys_to_taggings.rb
  db/migrate/20200917154306_validate_missing_foreign_keys_to_taggings.rb
  db/schema.rb
  spec/models/chat_channel_spec.rb
  spec/models/feedback_message_spec.rb
  spec/models/tag_spec.rb
Owners: @forem/sre

[deploy] Cleanup orphan data from buffer_updates (#10365)
  lib/data_update_scripts/20200917135847_nullify_orphan_rows_from_buffer_updates_by_composer_user_id.rb
Owners: @forem/sre

[deploy] Cleanup orphan data from buffer_updates (#10365)
  lib/data_update_scripts/20200917135847_nullify_orphan_rows_from_buffer_updates_by_composer_user_id.rb
Owners: @forem/sre

Handling links from different domain (#10479)
  app/liquid_tags/link_tag.rb
  spec/lib/liquid/raw_spec.rb
  spec/liquid_tags/link_tag_spec.rb
Owners: none

Handling links from different domain (#10479)
  app/liquid_tags/link_tag.rb
  spec/lib/liquid/raw_spec.rb
  spec/liquid_tags/link_tag_spec.rb
Owners: none

Fix bug that arises when a previously tagged comment is deleted (#10486)
  app/liquid_tags/comment_tag.rb
  app/views/comments/_liquid.html.erb
  spec/liquid_tags/comment_tag_spec.rb
Owners: none

Fix bug that arises when a previously tagged comment is deleted (#10486)
  app/liquid_tags/comment_tag.rb
  app/views/comments/_liquid.html.erb
  spec/liquid_tags/comment_tag_spec.rb
Owners: none

[deploy] Remove redirect on comments#update (#10337)
  app/controllers/comments_controller.rb
  spec/requests/comments_update_spec.rb
Owners: none

[deploy] Remove redirect on comments#update (#10337)
  app/controllers/comments_controller.rb
  spec/requests/comments_update_spec.rb
Owners: none

[deploy] Add missing FKs to BadgeAchievements BanishedUsers BufferUpdates (#10366)
  app/models/buffer_update.rb
  app/models/tag.rb
  app/models/user.rb
  db/migrate/20200917141134_add_missing_foreign_keys_to_backup_data_badge_achievements_banished_users_buffer_updates.rb
  db/migrate/20200917141154_validate_missing_foreign_keys_to_backup_data_badge_achievements_banished_users_buffer_updates.rb
  db/schema.rb
  spec/factories/buffer_updates.rb
  spec/models/buffer_update_spec.rb
  spec/models/tag_spec.rb
  spec/models/user_spec.rb
  spec/requests/admin/buffer_updates_spec.rb
  spec/requests/admin/users_manage_spec.rb
  spec/services/users/delete_spec.rb
Owners: @forem/sre, @forem/snackcase

[deploy] Add missing FKs to BadgeAchievements BanishedUsers BufferUpdates (#10366)
  app/models/buffer_update.rb
  app/models/tag.rb
  app/models/user.rb
  db/migrate/20200917141134_add_missing_foreign_keys_to_backup_data_badge_achievements_banished_users_buffer_updates.rb
  db/migrate/20200917141154_validate_missing_foreign_keys_to_backup_data_badge_achievements_banished_users_buffer_updates.rb
  db/schema.rb
  spec/factories/buffer_updates.rb
  spec/models/buffer_update_spec.rb
  spec/models/tag_spec.rb
  spec/models/user_spec.rb
  spec/requests/admin/buffer_updates_spec.rb
  spec/requests/admin/users_manage_spec.rb
  spec/services/users/delete_spec.rb
Owners: @forem/sre, @forem/snackcase

Crayonsification of Listings form (#10429)
  app/assets/stylesheets/base/layout.scss
  app/assets/stylesheets/listings.scss
  app/assets/stylesheets/views/article-form.scss
  app/assets/stylesheets/views/listings.scss
  app/javascript/listings/__tests__/BodyMarkdown.test.jsx
  app/javascript/listings/__tests__/ContactViaConnect.test.jsx
  app/javascript/listings/components/BodyMarkdown.jsx
  app/javascript/listings/components/Categories.jsx
  app/javascript/listings/components/ContactViaConnect.jsx
  app/javascript/listings/components/ExpireDate.jsx
  app/javascript/listings/components/Title.jsx
  app/javascript/listings/listingForm.jsx
  app/javascript/packs/listingForm.jsx
  app/javascript/packs/orgCreditsSelector.js
  app/javascript/shared/components/tags.jsx
  app/views/listings/_form.html.erb
  app/views/listings/_form_errors.html.erb
  app/views/listings/edit.html.erb
  app/views/listings/index.html.erb
  app/views/listings/new.html.erb
  spec/requests/listings_spec.rb
Owners: none

Crayonsification of Listings form (#10429)
  app/assets/stylesheets/base/layout.scss
  app/assets/stylesheets/listings.scss
  app/assets/stylesheets/views/article-form.scss
  app/assets/stylesheets/views/listings.scss
  app/javascript/listings/__tests__/BodyMarkdown.test.jsx
  app/javascript/listings/__tests__/ContactViaConnect.test.jsx
  app/javascript/listings/components/BodyMarkdown.jsx
  app/javascript/listings/components/Categories.jsx
  app/javascript/listings/components/ContactViaConnect.jsx
  app/javascript/listings/components/ExpireDate.jsx
  app/javascript/listings/components/Title.jsx
  app/javascript/listings/listingForm.jsx
  app/javascript/packs/listingForm.jsx
  app/javascript/packs/orgCreditsSelector.js
  app/javascript/shared/components/tags.jsx
  app/views/listings/_form.html.erb
  app/views/listings/_form_errors.html.erb
  app/views/listings/edit.html.erb
  app/views/listings/index.html.erb
  app/views/listings/new.html.erb
  spec/requests/listings_spec.rb
Owners: none

Add and apply crayons link header style (#10368)
  app/assets/stylesheets/components/headers.scss
  app/assets/stylesheets/components/navigation.scss
  app/assets/stylesheets/crayons.scss
  app/views/moderations/_mod_sidebar_left.html.erb
  app/views/notifications/_nav_menu.html.erb
Owners: @forem/delightful

Add and apply crayons link header style (#10368)
  app/assets/stylesheets/components/headers.scss
  app/assets/stylesheets/components/navigation.scss
  app/assets/stylesheets/crayons.scss
  app/views/moderations/_mod_sidebar_left.html.erb
  app/views/notifications/_nav_menu.html.erb
Owners: @forem/delightful

[deploy] Refactor: Create setCurrentUserToNavBar (#10501)
  app/assets/javascripts/initializers/initializeBaseUserData.js
Owners: none

[deploy] Refactor: Create setCurrentUserToNavBar (#10501)
  app/assets/javascripts/initializers/initializeBaseUserData.js
Owners: none

Remove redirect for listings#update (#10499)
  app/controllers/listings_controller.rb
  spec/requests/listings_spec.rb
Owners: none

Remove redirect for listings#update (#10499)
  app/controllers/listings_controller.rb
  spec/requests/listings_spec.rb
Owners: none

Update README's Badge (#10489)
  README.md
Owners: @forem/oss

Update README's Badge (#10489)
  README.md
Owners: @forem/oss

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre
