Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

[deploy] Optimization:Increase refresh_interval For Possible High Indexing Indexes (#10215)
  app/services/search/base.rb
  app/services/search/cluster.rb
  app/services/search/feed_content.rb
  app/services/search/reaction.rb
  app/services/search/user.rb
  spec/services/search/base_spec.rb
  spec/services/search/cluster_spec.rb
Owners: @forem/sre

[deploy] Optimization:Increase refresh_interval For Possible High Indexing Indexes (#10215)
  app/services/search/base.rb
  app/services/search/cluster.rb
  app/services/search/feed_content.rb
  app/services/search/reaction.rb
  app/services/search/user.rb
  spec/services/search/base_spec.rb
  spec/services/search/cluster_spec.rb
Owners: @forem/sre

Fetch GA Tracking ID from SiteConfig (#10262)
  app/assets/javascripts/initializers/initializeBaseTracking.js.erb
Owners: none

Fetch GA Tracking ID from SiteConfig (#10262)
  app/assets/javascripts/initializers/initializeBaseTracking.js.erb
Owners: none

[deploy] Proper cache delete_matched (#10267)
  app/controllers/admin/configs_controller.rb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase

[deploy] Proper cache delete_matched (#10267)
  app/controllers/admin/configs_controller.rb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase

[Documentation] Improvements to Windows installation & startup docs (#10243)
  docs/getting-started/start-app.md
  docs/installation/windows.md
Owners: @forem/oss, @jacobherrington

[Documentation] Improvements to Windows installation & startup docs (#10243)
  docs/getting-started/start-app.md
  docs/installation/windows.md
Owners: @forem/oss, @jacobherrington

Organizations profile header redesign (#10258)
  app/assets/stylesheets/scaffolds.scss
  app/assets/stylesheets/views/profile.scss
  app/views/organizations/_metadata.html.erb
  app/views/users/_profile_header.html.erb
  spec/system/organization/user_views_an_organization_spec.rb
Owners: none

Organizations profile header redesign (#10258)
  app/assets/stylesheets/scaffolds.scss
  app/assets/stylesheets/views/profile.scss
  app/views/organizations/_metadata.html.erb
  app/views/users/_profile_header.html.erb
  spec/system/organization/user_views_an_organization_spec.rb
Owners: none

Move mailchimp API key to app logic (#10270)
  app/controllers/admin/configs_controller.rb
  app/labor/mailchimp_bot.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  config/initializers/gibbon.rb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase, @forem/sre

Move mailchimp API key to app logic (#10270)
  app/controllers/admin/configs_controller.rb
  app/labor/mailchimp_bot.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  config/initializers/gibbon.rb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Bug Fix:Update Text Request Email with confirm_delete Link (#10277)
  app/views/mailers/notify_mailer/account_deletion_requested_email.text.erb
Owners: none

[deploy] Bug Fix:Update Text Request Email with confirm_delete Link (#10277)
  app/views/mailers/notify_mailer/account_deletion_requested_email.text.erb
Owners: none

[deploy] Bug Fix: Add New Migration to Remove Active from Profile Fields (#10279)
  db/migrate/20200910205316_remove_active_from_profile_fields2.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Bug Fix: Add New Migration to Remove Active from Profile Fields (#10279)
  db/migrate/20200910205316_remove_active_from_profile_fields2.rb
  db/schema.rb
Owners: @forem/sre

Create codeql-analysis.yml (#10276)
  .github/workflows/codeql-analysis.yml
Owners: none

Create codeql-analysis.yml (#10276)
  .github/workflows/codeql-analysis.yml
Owners: none

[deploy] Enable admin-configured app_domain (#10206)
  app/controllers/admin/feedback_messages_controller.rb
  app/controllers/admin/tools_controller.rb
  app/controllers/application_controller.rb
  app/controllers/async_info_controller.rb
  app/controllers/buffered_articles_controller.rb
  app/decorators/article_decorator.rb
  app/labor/cache_buster.rb
  app/labor/markdown_parser.rb
  app/lib/redcarpet/render/html_rouge.rb
  app/lib/url.rb
  app/middlewares/set_cookie_domain.rb
  app/models/message.rb
  app/models/site_config.rb
  app/services/streams/twitch_webhook/register.rb
  app/view_objects/articles/social_image.rb
  app/views/service_worker/manifest.json.erb
  app/views/shell/_top.html.erb
  app/views/users/_profile.html.erb
  config/application.rb
  config/environments/production.rb
  config/initializers/carrierwave_monkeypatch.rb
  config/initializers/devise_monkeypatch.rb
  config/sitemap.rb
  spec/decorators/article_decorator_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/social_image_helper_spec.rb
  spec/lib/url_spec.rb
  spec/requests/async_info_spec.rb
  spec/requests/stories_index_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Enable admin-configured app_domain (#10206)
  app/controllers/admin/feedback_messages_controller.rb
  app/controllers/admin/tools_controller.rb
  app/controllers/application_controller.rb
  app/controllers/async_info_controller.rb
  app/controllers/buffered_articles_controller.rb
  app/decorators/article_decorator.rb
  app/labor/cache_buster.rb
  app/labor/markdown_parser.rb
  app/lib/redcarpet/render/html_rouge.rb
  app/lib/url.rb
  app/middlewares/set_cookie_domain.rb
  app/models/message.rb
  app/models/site_config.rb
  app/services/streams/twitch_webhook/register.rb
  app/view_objects/articles/social_image.rb
  app/views/service_worker/manifest.json.erb
  app/views/shell/_top.html.erb
  app/views/users/_profile.html.erb
  config/application.rb
  config/environments/production.rb
  config/initializers/carrierwave_monkeypatch.rb
  config/initializers/devise_monkeypatch.rb
  config/sitemap.rb
  spec/decorators/article_decorator_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/social_image_helper_spec.rb
  spec/lib/url_spec.rb
  spec/requests/async_info_spec.rb
  spec/requests/stories_index_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Feature:Allow for Search by ID for FeedContent (#10289)
  app/controllers/search_controller.rb
  app/services/search/query_builders/feed_content.rb
  spec/services/search/feed_content_spec.rb
Owners: @forem/sre

[deploy] Feature:Allow for Search by ID for FeedContent (#10289)
  app/controllers/search_controller.rb
  app/services/search/query_builders/feed_content.rb
  spec/services/search/feed_content_spec.rb
Owners: @forem/sre

Check that nginx is available before pinging it (#10287) [deploy]
  app/labor/cache_buster.rb
  spec/labor/cache_buster_spec.rb
Owners: none

Check that nginx is available before pinging it (#10287) [deploy]
  app/labor/cache_buster.rb
  spec/labor/cache_buster_spec.rb
Owners: none

[deploy] Refactor:Remove unused ReadingList Labor methods (#10292)
  app/labor/reading_list.rb
  spec/labor/reading_list_spec.rb
Owners: none

[deploy] Refactor:Remove unused ReadingList Labor methods (#10292)
  app/labor/reading_list.rb
  spec/labor/reading_list_spec.rb
Owners: none

[deploy] Fix URL.domain in development by correctly loading authentication providers (#10296)
  app/services/authentication/providers.rb
  config/application.rb
  config/initializers/authentication.rb
Owners: @forem/sre

[deploy] Fix URL.domain in development by correctly loading authentication providers (#10296)
  app/services/authentication/providers.rb
  config/application.rb
  config/initializers/authentication.rb
Owners: @forem/sre

[deploy] Move video_duration_in_minutes_integer to serializer (#10268)
  app/models/article.rb
  app/serializers/search/article_serializer.rb
  lib/data_update_scripts/20200911045602_reindex_articles_with_videos.rb
  spec/serializers/search/article_serializer_spec.rb
Owners: @forem/sre

[deploy] Move video_duration_in_minutes_integer to serializer (#10268)
  app/models/article.rb
  app/serializers/search/article_serializer.rb
  lib/data_update_scripts/20200911045602_reindex_articles_with_videos.rb
  spec/serializers/search/article_serializer_spec.rb
Owners: @forem/sre

Removing duplicate date formatting for listing expiry date in listing dashboard (#10264)
  app/javascript/listings/dashboard/listingRow.jsx
Owners: none

Removing duplicate date formatting for listing expiry date in listing dashboard (#10264)
  app/javascript/listings/dashboard/listingRow.jsx
Owners: none

Hide active broadcasts from /connect routes (#10312)
  app/assets/javascripts/initializers/initializeBroadcast.js
  app/javascript/packs/articleForm.jsx
Owners: none

Hide active broadcasts from /connect routes (#10312)
  app/assets/javascripts/initializers/initializeBroadcast.js
  app/javascript/packs/articleForm.jsx
Owners: none

[deploy] Fix SiteConfig's default of authentication_providers field (#10310)
  app/models/site_config.rb
Owners: none

[deploy] Fix SiteConfig's default of authentication_providers field (#10310)
  app/models/site_config.rb
Owners: none

[deploy] Cleanup articles with duplicate user_id, title and body_markdown (#10273)
  lib/data_update_scripts/20200910135958_remove_draft_articles_with_duplicate_user_id_title_body_markdown.rb
  lib/data_update_scripts/20200910140109_cleanup_published_articles_with_duplicate_user_id_title_body_markdown.rb
Owners: @forem/sre

[deploy] Cleanup articles with duplicate user_id, title and body_markdown (#10273)
  lib/data_update_scripts/20200910135958_remove_draft_articles_with_duplicate_user_id_title_body_markdown.rb
  lib/data_update_scripts/20200910140109_cleanup_published_articles_with_duplicate_user_id_title_body_markdown.rb
Owners: @forem/sre

Stop pinging sitemap tools locally (#10314)
  app/models/site_config.rb
  app/workers/sitemap_refresh_worker.rb
  spec/models/site_config_spec.rb
  spec/workers/sitemap_refresh_worker_spec.rb
Owners: @forem/sre

Stop pinging sitemap tools locally (#10314)
  app/models/site_config.rb
  app/workers/sitemap_refresh_worker.rb
  spec/models/site_config_spec.rb
  spec/workers/sitemap_refresh_worker_spec.rb
Owners: @forem/sre
