Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

Added pragmaFrag so terse Fragment syntax,<></>, can be used in Preact. (#9051)
  app/javascript/article-form/components/ArticleCoverImage.jsx
  babel.config.js
Owners: none

Added pragmaFrag so terse Fragment syntax,<></>, can be used in Preact. (#9051)
  app/javascript/article-form/components/ArticleCoverImage.jsx
  babel.config.js
Owners: none

[deploy] Word-break utility-first class (#9049)
  app/assets/stylesheets/config/_generator.scss
  app/views/articles/_sticky_nav.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Word-break utility-first class (#9049)
  app/assets/stylesheets/config/_generator.scss
  app/views/articles/_sticky_nav.html.erb
Owners: @thepracticaldev/hells-bells

Fixing scrollbar for small screens in the profile page (#9047)
  app/assets/stylesheets/index-comments.scss
  app/views/users/_comments_section.html.erb
Owners: none

Fixing scrollbar for small screens in the profile page (#9047)
  app/assets/stylesheets/index-comments.scss
  app/views/users/_comments_section.html.erb
Owners: none

Update styling of user subscription liquid tag (#9003) [deploy]
  app/assets/stylesheets/ltags/UserSubscriptionTag.scss
  app/liquid_tags/user_subscription_tag.rb
  app/views/liquids/_user_subscription.html.erb
Owners: none

Update styling of user subscription liquid tag (#9003) [deploy]
  app/assets/stylesheets/ltags/UserSubscriptionTag.scss
  app/liquid_tags/user_subscription_tag.rb
  app/views/liquids/_user_subscription.html.erb
Owners: none

[deploy] Only include community sponsors header if sponsors truly exist (#8942)
  app/views/articles/_sidebar.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Only include community sponsors header if sponsors truly exist (#8942)
  app/views/articles/_sidebar.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] fix blockquote render error windows docs (#9053)
  docs/installation/windows.md
Owners: @thepracticaldev/oss, @jacobherrington

[deploy] fix blockquote render error windows docs (#9053)
  docs/installation/windows.md
Owners: @thepracticaldev/oss, @jacobherrington

[deploy] Make formatDate function more robust for intl date-time formats (#9033)
  app/javascript/modCenter/singleArticle/util.js
Owners: none

[deploy] Make formatDate function more robust for intl date-time formats (#9033)
  app/javascript/modCenter/singleArticle/util.js
Owners: none

[deploy] Feature: Enable KnapsackPro Queue Mode Take 2 (#9021)
  .travis.yml
  bin/knapsack_pro_rspec
Owners: @thepracticaldev/sre

[deploy] Feature: Enable KnapsackPro Queue Mode Take 2 (#9021)
  .travis.yml
  bin/knapsack_pro_rspec
Owners: @thepracticaldev/sre

[deploy] Remove report-abuse link from base HTML document into JavaScript (#9059)
  app/assets/javascripts/initializers/initializeCommentDropdown.js
  app/assets/javascripts/initializers/initializeUserProfilePage.js
  app/views/comments/_comment_proper.html.erb
  app/views/users/show.html.erb
Owners: none

[deploy] Remove report-abuse link from base HTML document into JavaScript (#9059)
  app/assets/javascripts/initializers/initializeCommentDropdown.js
  app/assets/javascripts/initializers/initializeUserProfilePage.js
  app/views/comments/_comment_proper.html.erb
  app/views/users/show.html.erb
Owners: none

[deploy] Refactor Flare Tag Class (#9064)
  app/services/flare_tag.rb
Owners: none

[deploy] Refactor Flare Tag Class (#9064)
  app/services/flare_tag.rb
Owners: none

Add null safety to handleLoggedOut() (#9062)
  app/javascript/responseTemplates/responseTemplates.js
Owners: none

Add null safety to handleLoggedOut() (#9062)
  app/javascript/responseTemplates/responseTemplates.js
Owners: none

Enable Automatic Rebase: Fix #8927 (#9018)
  .github/workflows/rebase.yml
Owners: none

Enable Automatic Rebase: Fix #8927 (#9018)
  .github/workflows/rebase.yml
Owners: none

[deploy] 🐞Hotfix: Connect page is showing discoverable channels (#9071)
  app/javascript/chat/channels.jsx
Owners: none

[deploy] 🐞Hotfix: Connect page is showing discoverable channels (#9071)
  app/javascript/chat/channels.jsx
Owners: none

Show org dropdown for postless users (#9069)
  app/views/dashboards/show.html.erb
Owners: none

Show org dropdown for postless users (#9069)
  app/views/dashboards/show.html.erb
Owners: none

[deploy] Add collapsible panel to markdown help in editor (#9050)
  app/assets/stylesheets/components/tables.scss
  app/assets/stylesheets/config/_generator.scss
  app/javascript/article-form/components/Help.jsx
Owners: none

[deploy] Add collapsible panel to markdown help in editor (#9050)
  app/assets/stylesheets/components/tables.scss
  app/assets/stylesheets/config/_generator.scss
  app/javascript/article-form/components/Help.jsx
Owners: none

Fixed <RequestManager /> skipped test (#9073)
  app/javascript/chat/__tests__/requestManager.test.jsx
Owners: none

Fixed <RequestManager /> skipped test (#9073)
  app/javascript/chat/__tests__/requestManager.test.jsx
Owners: none

[deploy] Add secondary_logo_url to SiteConfig (#9068)
  app/models/site_config.rb
Owners: none

[deploy] Add secondary_logo_url to SiteConfig (#9068)
  app/models/site_config.rb
Owners: none

[deploy] Add Stackery liquid tag (#9063)
  app/liquid_tags/stackery_tag.rb
  app/views/liquids/_stackery.html.erb
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_editor_liquid_help.html.erb
  docs/frontend/liquid-tags.md
  spec/liquid_tags/stackery_tag_spec.rb
Owners: @thepracticaldev/oss, @jacobherrington

[deploy] Add Stackery liquid tag (#9063)
  app/liquid_tags/stackery_tag.rb
  app/views/liquids/_stackery.html.erb
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_editor_liquid_help.html.erb
  docs/frontend/liquid-tags.md
  spec/liquid_tags/stackery_tag_spec.rb
Owners: @thepracticaldev/oss, @jacobherrington

UserSubscription backend refactor (#9060)
  app/controllers/user_subscriptions_controller.rb
  app/models/user_subscription.rb
  app/services/user_subscriptions/create_from_controller_params.rb
  app/services/user_subscriptions/is_subscribed_cache_checker.rb
  spec/factories/articles.rb
  spec/factories/user_subscription.rb
  spec/models/shared_examples/user_subscription_sourceable_spec.rb
  spec/models/user_subscription_spec.rb
  spec/requests/user_subscriptions_spec.rb
  spec/services/user_subscriptions/create_from_controller_params_spec.rb
  spec/services/user_subscriptions/is_subscribed_cache_checker_spec.rb
Owners: none

UserSubscription backend refactor (#9060)
  app/controllers/user_subscriptions_controller.rb
  app/models/user_subscription.rb
  app/services/user_subscriptions/create_from_controller_params.rb
  app/services/user_subscriptions/is_subscribed_cache_checker.rb
  spec/factories/articles.rb
  spec/factories/user_subscription.rb
  spec/models/shared_examples/user_subscription_sourceable_spec.rb
  spec/models/user_subscription_spec.rb
  spec/requests/user_subscriptions_spec.rb
  spec/services/user_subscriptions/create_from_controller_params_spec.rb
  spec/services/user_subscriptions/is_subscribed_cache_checker_spec.rb
Owners: none

[deploy] Update Honeybadger to ignore ResizeObserver (#9057)
  app/assets/javascripts/base.js.erb
Owners: none

[deploy] Update Honeybadger to ignore ResizeObserver (#9057)
  app/assets/javascripts/base.js.erb
Owners: none

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre
