Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/hells-bells, @forem/sre, @jacobherrington, @forem/systems, @nickytonline

Add comment about canonical url (#11574)
  app/views/articles/show.html.erb
Owners: @forem/hells-bells

Add comment about canonical url (#11574)
  app/views/articles/show.html.erb
Owners: @forem/hells-bells

filterXSS is now set up in testSetup.js (#11579)
  app/javascript/readingList/__tests__/readingList.test.jsx
  testSetup.js
Owners: none

filterXSS is now set up in testSetup.js (#11579)
  app/javascript/readingList/__tests__/readingList.test.jsx
  testSetup.js
Owners: none

Fix container composes w/r/t multistage container builds (#11531)
  .gitignore
  Containerfile
  bin/container-setup
  container-compose.yml
  docker-compose.yml
  scripts/bundle.sh
  scripts/entrypoint-dev.sh
  scripts/entrypoint.sh
Owners: @forem/systems

Fix container composes w/r/t multistage container builds (#11531)
  .gitignore
  Containerfile
  bin/container-setup
  container-compose.yml
  docker-compose.yml
  scripts/bundle.sh
  scripts/entrypoint-dev.sh
  scripts/entrypoint.sh
Owners: @forem/systems

Update empty reading list copy (#11565)
  app/javascript/readingList/readingList.jsx
Owners: none

Update empty reading list copy (#11565)
  app/javascript/readingList/readingList.jsx
Owners: none

Include core assets in serviceworker cache (#11559)
  app/views/service_worker/index.js.erb
Owners: none

Include core assets in serviceworker cache (#11559)
  app/views/service_worker/index.js.erb
Owners: none

Add Github environments keys to .env_sample file (#11591)
  .env_sample
Owners: none

Add Github environments keys to .env_sample file (#11591)
  .env_sample
Owners: none

Make Images::Optimizer nil-safe (#11584)
  app/services/images/optimizer.rb
  spec/services/images/optimizer_spec.rb
Owners: none

Make Images::Optimizer nil-safe (#11584)
  app/services/images/optimizer.rb
  spec/services/images/optimizer_spec.rb
Owners: none

Rewords Public checkbox warning message in SiteConfig (#11580)
  app/views/admin/configs/show.html.erb
Owners: none

Rewords Public checkbox warning message in SiteConfig (#11580)
  app/views/admin/configs/show.html.erb
Owners: none

Restore some context in comment (#11587)
  app/views/users/_sidebar.html.erb
Owners: none

Restore some context in comment (#11587)
  app/views/users/_sidebar.html.erb
Owners: none

Fix email messages link in admin's user page (#11595)
  app/views/admin/users/_email_tools.html.erb
  spec/requests/admin/users_spec.rb
Owners: none

Fix email messages link in admin's user page (#11595)
  app/views/admin/users/_email_tools.html.erb
  spec/requests/admin/users_spec.rb
Owners: none

Update JS dependencies with `yarn upgrade` (#11589)
  app/javascript/chat/chat.jsx
  app/javascript/crayons/Modal/Modal.jsx
  app/javascript/listings/components/Modal.jsx
  yarn.lock
Owners: @forem/oss, @nickytonline

Update JS dependencies with `yarn upgrade` (#11589)
  app/javascript/chat/chat.jsx
  app/javascript/crayons/Modal/Modal.jsx
  app/javascript/listings/components/Modal.jsx
  yarn.lock
Owners: @forem/oss, @nickytonline

Add missing features to new feed importer (#11501)
  app/controllers/users_controller.rb
  app/models/user.rb
  app/services/feeds/import.rb
  app/services/feeds/validate_url.rb
  app/workers/articles/dev_feeds_import_worker.rb
  app/workers/articles/dev_rss_reader_worker.rb
  app/workers/articles/rss_reader_worker.rb
  app/workers/feeds/import_articles_worker.rb
  lib/tasks/fetch.rake
  spec/models/user_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/services/feeds/import_spec.rb
  spec/services/feeds/validate_url_spec.rb
  spec/support/fixtures/vcr_cassettes/feeds_import_medium_vaidehi.yml
  spec/support/fixtures/vcr_cassettes/feeds_validate_url_invalid.yml
  spec/workers/articles/dev_feeds_import_worker_spec.rb
  spec/workers/articles/dev_rss_reader_worker_spec.rb
  spec/workers/articles/rss_reader_worker_spec.rb
  spec/workers/feeds/import_articles_worker_spec.rb
Owners: @forem/sre

Add missing features to new feed importer (#11501)
  app/controllers/users_controller.rb
  app/models/user.rb
  app/services/feeds/import.rb
  app/services/feeds/validate_url.rb
  app/workers/articles/dev_feeds_import_worker.rb
  app/workers/articles/dev_rss_reader_worker.rb
  app/workers/articles/rss_reader_worker.rb
  app/workers/feeds/import_articles_worker.rb
  lib/tasks/fetch.rake
  spec/models/user_spec.rb
  spec/requests/user/user_settings_spec.rb
  spec/services/feeds/import_spec.rb
  spec/services/feeds/validate_url_spec.rb
  spec/support/fixtures/vcr_cassettes/feeds_import_medium_vaidehi.yml
  spec/support/fixtures/vcr_cassettes/feeds_validate_url_invalid.yml
  spec/workers/articles/dev_feeds_import_worker_spec.rb
  spec/workers/articles/dev_rss_reader_worker_spec.rb
  spec/workers/articles/rss_reader_worker_spec.rb
  spec/workers/feeds/import_articles_worker_spec.rb
Owners: @forem/sre

Batched updated Storybook packages as Storybook is currently broken. (#11598)
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

Batched updated Storybook packages as Storybook is currently broken. (#11598)
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

Bug Fix:Remove Score Filter From Tag Mod Index (#11599)
  app/controllers/moderations_controller.rb
  spec/requests/moderations_spec.rb
Owners: none

Bug Fix:Remove Score Filter From Tag Mod Index (#11599)
  app/controllers/moderations_controller.rb
  spec/requests/moderations_spec.rb
Owners: none

Improve information architecture of Settings (#11347)
  app/assets/images/twemoji/account.svg
  app/assets/images/twemoji/billing.svg
  app/assets/images/twemoji/customization.svg
  app/assets/images/twemoji/extensions.svg
  app/assets/images/twemoji/notifications.svg
  app/assets/images/twemoji/organization.svg
  app/assets/images/twemoji/profile.svg
  app/controllers/users_controller.rb
  app/lib/constants/settings.rb
  app/views/users/_account.html.erb
  app/views/users/_account_set_password.html.erb
  app/views/users/_billing.html.erb
  app/views/users/_customization.html.erb
  app/views/users/_extensions.html.erb
  app/views/users/_integrations.html.erb
  app/views/users/_integrations_github_repositories.html.erb
  app/views/users/_language_settings.html.erb
  app/views/users/_misc.html.erb
  app/views/users/_notifications.html.erb
  app/views/users/_publishing_from_rss.html.erb
  app/views/users/_response_templates.html.erb
  app/views/users/edit.html.erb
  spec/requests/user/user_settings_spec.rb
  spec/system/user/user_edits_customization_spec.rb
  spec/system/user/user_edits_extensions_spec.rb
  spec/system/user/user_settings_response_templates_spec.rb
Owners: none

Improve information architecture of Settings (#11347)
  app/assets/images/twemoji/account.svg
  app/assets/images/twemoji/billing.svg
  app/assets/images/twemoji/customization.svg
  app/assets/images/twemoji/extensions.svg
  app/assets/images/twemoji/notifications.svg
  app/assets/images/twemoji/organization.svg
  app/assets/images/twemoji/profile.svg
  app/controllers/users_controller.rb
  app/lib/constants/settings.rb
  app/views/users/_account.html.erb
  app/views/users/_account_set_password.html.erb
  app/views/users/_billing.html.erb
  app/views/users/_customization.html.erb
  app/views/users/_extensions.html.erb
  app/views/users/_integrations.html.erb
  app/views/users/_integrations_github_repositories.html.erb
  app/views/users/_language_settings.html.erb
  app/views/users/_misc.html.erb
  app/views/users/_notifications.html.erb
  app/views/users/_publishing_from_rss.html.erb
  app/views/users/_response_templates.html.erb
  app/views/users/edit.html.erb
  spec/requests/user/user_settings_spec.rb
  spec/system/user/user_edits_customization_spec.rb
  spec/system/user/user_edits_extensions_spec.rb
  spec/system/user/user_settings_response_templates_spec.rb
Owners: none

Refactor/Optimization:Use more_comments_minimal_weight_randomized_at_end for Signed In Feed (#11604)
  app/controllers/stories/feeds_controller.rb
  app/services/articles/feeds/large_forem_experimental.rb
  config/field_test.yml
  spec/services/articles/feeds/large_forem_experimental_spec.rb
Owners: @forem/sre

Refactor/Optimization:Use more_comments_minimal_weight_randomized_at_end for Signed In Feed (#11604)
  app/controllers/stories/feeds_controller.rb
  app/services/articles/feeds/large_forem_experimental.rb
  config/field_test.yml
  spec/services/articles/feeds/large_forem_experimental_spec.rb
Owners: @forem/sre

Don't do serviceworker asset caching in development (#11605)
  app/views/service_worker/index.js.erb
Owners: none

Don't do serviceworker asset caching in development (#11605)
  app/views/service_worker/index.js.erb
Owners: none

API: Endpoint to get an organization's users (#11514)
  app/controllers/api/v0/organizations_controller.rb
  app/views/api/v0/organizations/users.json.jbuilder
  app/views/api/v0/shared/_user_show.json.jbuilder
  app/views/api/v0/users/show.json.jbuilder
  config/routes.rb
  docs/api_v0.yml
  spec/requests/api/v0/organizations_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

API: Endpoint to get an organization's users (#11514)
  app/controllers/api/v0/organizations_controller.rb
  app/views/api/v0/organizations/users.json.jbuilder
  app/views/api/v0/shared/_user_show.json.jbuilder
  app/views/api/v0/users/show.json.jbuilder
  config/routes.rb
  docs/api_v0.yml
  spec/requests/api/v0/organizations_spec.rb
Owners: @forem/sre, @forem/oss, @jacobherrington

[EOY 2020] Replace "ban" with "suspend" in Admin (#11581)
  app/controllers/chat_channels_controller.rb
  app/lib/constants/role.rb
  app/models/article.rb
  app/models/comment.rb
  app/services/moderator/banish_user.rb
  app/services/moderator/manage_activity_and_roles.rb
  app/views/admin/users/_activity.html.erb
  app/views/admin/users/edit.html.erb
  spec/models/article_spec.rb
  spec/models/comment_spec.rb
  spec/requests/admin/users_manage_spec.rb
  spec/system/admin/admin_bans_or_warns_user_spec.rb
Owners: none

[EOY 2020] Replace "ban" with "suspend" in Admin (#11581)
  app/controllers/chat_channels_controller.rb
  app/lib/constants/role.rb
  app/models/article.rb
  app/models/comment.rb
  app/services/moderator/banish_user.rb
  app/services/moderator/manage_activity_and_roles.rb
  app/views/admin/users/_activity.html.erb
  app/views/admin/users/edit.html.erb
  spec/models/article_spec.rb
  spec/models/comment_spec.rb
  spec/requests/admin/users_manage_spec.rb
  spec/system/admin/admin_bans_or_warns_user_spec.rb
Owners: none

Remove app/labor/random_gif.rb (#11611)
  app/labor/random_gif.rb
  app/lib/constants/random_gifs.rb
  app/services/notifications/milestone/send.rb
  spec/labor/random_gif_spec.rb
Owners: none

Remove app/labor/random_gif.rb (#11611)
  app/labor/random_gif.rb
  app/lib/constants/random_gifs.rb
  app/services/notifications/milestone/send.rb
  spec/labor/random_gif_spec.rb
Owners: none

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/oss    @nickytonline
