Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/hells-bells, @forem/sre, @jacobherrington, @forem/systems, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/oss    @nickytonline

Use static error files in serviceworker (#11806)
  app/views/service_worker/index.js.erb
  public/error.html
  public/not_found.html
Owners: none

Use static error files in serviceworker (#11806)
  app/views/service_worker/index.js.erb
  public/error.html
  public/not_found.html
Owners: none

Check github actions weekly with dependabot (#11779)
  .github/dependabot.yml
Owners: none

Check github actions weekly with dependabot (#11779)
  .github/dependabot.yml
Owners: none

Try to fix GitHub Action conditionals again... (#11807)
  .github/workflows/buildkite.yml
  .github/workflows/rebase.yml
Owners: none

Try to fix GitHub Action conditionals again... (#11807)
  .github/workflows/buildkite.yml
  .github/workflows/rebase.yml
Owners: none

Add bust_article service (#11788)
  app/services/edge_cache/bust.rb
  app/services/edge_cache/bust_article.rb
  spec/services/edge_cache/bust_article_spec.rb
  spec/services/edge_cache/bust_spec.rb
Owners: none

Add bust_article service (#11788)
  app/services/edge_cache/bust.rb
  app/services/edge_cache/bust_article.rb
  spec/services/edge_cache/bust_article_spec.rb
  spec/services/edge_cache/bust_spec.rb
Owners: none

Profile generalization for the onboarding workflow (#11629)
  app/assets/stylesheets/preact/onboarding-modal.scss
  app/controllers/users_controller.rb
  app/javascript/onboarding/__tests__/Onboarding.test.jsx
  app/javascript/onboarding/components/FollowTags.jsx
  app/javascript/onboarding/components/FollowUsers.jsx
  app/javascript/onboarding/components/IntroSlide.jsx
  app/javascript/onboarding/components/ProfileForm.jsx
  app/javascript/onboarding/components/ProfileForm/CheckBox.jsx
  app/javascript/onboarding/components/ProfileForm/ColorPicker.jsx
  app/javascript/onboarding/components/ProfileForm/TextArea.jsx
  app/javascript/onboarding/components/ProfileForm/TextInput.jsx
  app/javascript/onboarding/components/__tests__/FollowUsers.test.jsx
  app/javascript/onboarding/components/__tests__/ProfileForm.test.jsx
  spec/requests/users_onboarding_spec.rb
Owners: none

Profile generalization for the onboarding workflow (#11629)
  app/assets/stylesheets/preact/onboarding-modal.scss
  app/controllers/users_controller.rb
  app/javascript/onboarding/__tests__/Onboarding.test.jsx
  app/javascript/onboarding/components/FollowTags.jsx
  app/javascript/onboarding/components/FollowUsers.jsx
  app/javascript/onboarding/components/IntroSlide.jsx
  app/javascript/onboarding/components/ProfileForm.jsx
  app/javascript/onboarding/components/ProfileForm/CheckBox.jsx
  app/javascript/onboarding/components/ProfileForm/ColorPicker.jsx
  app/javascript/onboarding/components/ProfileForm/TextArea.jsx
  app/javascript/onboarding/components/ProfileForm/TextInput.jsx
  app/javascript/onboarding/components/__tests__/FollowUsers.test.jsx
  app/javascript/onboarding/components/__tests__/ProfileForm.test.jsx
  spec/requests/users_onboarding_spec.rb
Owners: none

Add onboarding param to safe list (#11814)
  config/fastly/snippets/safe_params_list.vcl
Owners: @forem/sre

Add onboarding param to safe list (#11814)
  config/fastly/snippets/safe_params_list.vcl
Owners: @forem/sre

Fix feed dropdown (#11810)
  app/views/articles/tag_index.html.erb
Owners: @forem/hells-bells

Fix feed dropdown (#11810)
  app/views/articles/tag_index.html.erb
Owners: @forem/hells-bells

Fix admin header links (#11811)
  app/views/layouts/admin.html.erb
Owners: none

Fix admin header links (#11811)
  app/views/layouts/admin.html.erb
Owners: none

GitHub Action bug fixes (#11816)
  .github/workflows/buildkite.yml
  .github/workflows/pr.yml
  .github/workflows/rebase.yml
Owners: none

GitHub Action bug fixes (#11816)
  .github/workflows/buildkite.yml
  .github/workflows/pr.yml
  .github/workflows/rebase.yml
Owners: none

Add debug to actions. (#11819)
  .github/workflows/buildkite.yml
  .github/workflows/rebase.yml
Owners: none

Add debug to actions. (#11819)
  .github/workflows/buildkite.yml
  .github/workflows/rebase.yml
Owners: none

Update buildkite.yml (#11820)
  .github/workflows/buildkite.yml
Owners: none

Update buildkite.yml (#11820)
  .github/workflows/buildkite.yml
Owners: none

Update buildkite.yml (#11821)
  .github/workflows/buildkite.yml
Owners: none

Update buildkite.yml (#11821)
  .github/workflows/buildkite.yml
Owners: none

Add github.event.comment.author_association == 'CONTRIBUTOR' to if statement (#11822)
  .github/workflows/buildkite.yml
  .github/workflows/dependabot.yml
  .github/workflows/pr.yml
  .github/workflows/rebase.yml
Owners: none

Add github.event.comment.author_association == 'CONTRIBUTOR' to if statement (#11822)
  .github/workflows/buildkite.yml
  .github/workflows/dependabot.yml
  .github/workflows/pr.yml
  .github/workflows/rebase.yml
Owners: none

Create services for busting pages, tags, events, and podcasts (#11812)
  app/services/edge_cache/bust_events.rb
  app/services/edge_cache/bust_page.rb
  app/services/edge_cache/bust_podcast.rb
  app/services/edge_cache/bust_tag.rb
  spec/services/edge_cache/bust_events_spec.rb
  spec/services/edge_cache/bust_page_spec.rb
  spec/services/edge_cache/bust_podcast_spec.rb
  spec/services/edge_cache/bust_tag_spec.rb
Owners: none

Create services for busting pages, tags, events, and podcasts (#11812)
  app/services/edge_cache/bust_events.rb
  app/services/edge_cache/bust_page.rb
  app/services/edge_cache/bust_podcast.rb
  app/services/edge_cache/bust_tag.rb
  spec/services/edge_cache/bust_events_spec.rb
  spec/services/edge_cache/bust_page_spec.rb
  spec/services/edge_cache/bust_podcast_spec.rb
  spec/services/edge_cache/bust_tag_spec.rb
Owners: none

Render Profile Fields on user profiles (#11485)
  app/controllers/stories_controller.rb
  app/decorators/profile_decorator.rb
  app/models/profile.rb
  app/views/users/_metadata.html.erb
  app/views/users/_profile_fields.html.erb
  app/views/users/_sidebar.html.erb
  db/seeds.rb
  lib/data/dev_profile_fields.csv
  spec/system/user/user_edits_profile_spec.rb
Owners: @forem/hells-bells, @forem/sre

Render Profile Fields on user profiles (#11485)
  app/controllers/stories_controller.rb
  app/decorators/profile_decorator.rb
  app/models/profile.rb
  app/views/users/_metadata.html.erb
  app/views/users/_profile_fields.html.erb
  app/views/users/_sidebar.html.erb
  db/seeds.rb
  lib/data/dev_profile_fields.csv
  spec/system/user/user_edits_profile_spec.rb
Owners: @forem/hells-bells, @forem/sre

Scope PR comment bot to only run when the PR is opened. (#11830)
  .github/workflows/pr.yml
Owners: none

Scope PR comment bot to only run when the PR is opened. (#11830)
  .github/workflows/pr.yml
Owners: none

Disable duplicate resave data upgrade script (#11829)
  lib/data_update_scripts/20201014184856_resave_users_for_imgproxy.rb
  lib/data_update_scripts/20201020215535_resave_articles_and_comments_for_imgproxy.rb
  lib/data_update_scripts/20201103050112_prepare_for_profile_column_drop.rb
Owners: @forem/sre

Disable duplicate resave data upgrade script (#11829)
  lib/data_update_scripts/20201014184856_resave_users_for_imgproxy.rb
  lib/data_update_scripts/20201020215535_resave_articles_and_comments_for_imgproxy.rb
  lib/data_update_scripts/20201103050112_prepare_for_profile_column_drop.rb
Owners: @forem/sre

Ensure Article's `username` method returns a downcased string (#11813)
  app/models/article.rb
  lib/data_update_scripts/20201209134953_touch_articles_with_capitalized_paths.rb
  spec/lib/data_update_scripts/touch_articles_with_capitalized_paths_spec.rb
  spec/models/article_spec.rb
Owners: @forem/sre

Ensure Article's `username` method returns a downcased string (#11813)
  app/models/article.rb
  lib/data_update_scripts/20201209134953_touch_articles_with_capitalized_paths.rb
  spec/lib/data_update_scripts/touch_articles_with_capitalized_paths_spec.rb
  spec/models/article_spec.rb
Owners: @forem/sre

Just use the master branch for now. (#11834)
  .github/workflows/buildkite.yml
Owners: none

Just use the master branch for now. (#11834)
  .github/workflows/buildkite.yml
Owners: none

Add Cypress for end to end testing (E2E) (#11835)
  .travis.yml
  cypress/.eslintrc.js
  package.json
  yarn.lock
Owners: @forem/sre, @forem/oss, @nickytonline

Add Cypress for end to end testing (E2E) (#11835)
  .travis.yml
  cypress/.eslintrc.js
  package.json
  yarn.lock
Owners: @forem/sre, @forem/oss, @nickytonline
