Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

[deploy] Optimization:Locally Cache any_admin? For User Instance (#9879)
  app/models/user.rb
Owners: none

[deploy] Optimization:Locally Cache any_admin? For User Instance (#9879)
  app/models/user.rb
Owners: none

Flaky Spec Fix:User Comment created_at in Expectation (#9878)
  spec/requests/api/v0/comments_spec.rb
Owners: none

Flaky Spec Fix:User Comment created_at in Expectation (#9878)
  spec/requests/api/v0/comments_spec.rb
Owners: none

Optimization:Collect More Specific Data From Sidekiq Jobs (#9882)
  lib/sidekiq/honeycomb_middleware.rb
  lib/sidekiq/worker_retries_exhausted_reporter.rb
  spec/lib/sidekiq/worker_retries_exhausted_reporter_spec.rb
Owners: @forem/sre

Optimization:Collect More Specific Data From Sidekiq Jobs (#9882)
  lib/sidekiq/honeycomb_middleware.rb
  lib/sidekiq/worker_retries_exhausted_reporter.rb
  spec/lib/sidekiq/worker_retries_exhausted_reporter_spec.rb
Owners: @forem/sre

Set Stripe dynamically instead of at boot (#9862)
  .env_sample
  app/controllers/admin/configs_controller.rb
  app/controllers/application_controller.rb
  app/controllers/credits_controller.rb
  app/controllers/stripe_active_cards_controller.rb
  app/controllers/users_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  app/views/credits/new.html.erb
  app/views/users/_billing.html.erb
  config/initializers/stripe.rb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase, @forem/sre

Set Stripe dynamically instead of at boot (#9862)
  .env_sample
  app/controllers/admin/configs_controller.rb
  app/controllers/application_controller.rb
  app/controllers/credits_controller.rb
  app/controllers/stripe_active_cards_controller.rb
  app/controllers/users_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  app/views/credits/new.html.erb
  app/views/users/_billing.html.erb
  config/initializers/stripe.rb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Automatically refresh profile accessors (#9843)
  app/controllers/admin/profile_fields_controller.rb
  app/models/profile.rb
  app/services/profile_fields/add.rb
  app/services/profile_fields/remove.rb
  spec/models/profile_spec.rb
  spec/requests/admin/profile_fields_spec.rb
  spec/services/profile_fields/add_spec.rb
  spec/services/profile_fields/remove_spec.rb
Owners: @forem/snackcase

[deploy] Automatically refresh profile accessors (#9843)
  app/controllers/admin/profile_fields_controller.rb
  app/models/profile.rb
  app/services/profile_fields/add.rb
  app/services/profile_fields/remove.rb
  spec/models/profile_spec.rb
  spec/requests/admin/profile_fields_spec.rb
  spec/services/profile_fields/add_spec.rb
  spec/services/profile_fields/remove_spec.rb
Owners: @forem/snackcase

[deploy] Migrate profile data (#9750)
  app/models/profile.rb
  app/models/user.rb
  app/services/profiles/extract_data.rb
  config/environments/development.rb
  config/environments/test.rb
  db/migrate/20200813031851_add_unique_index_to_profiles.rb
  db/schema.rb
  lib/data_update_scripts/20200819025131_migrate_profile_data.rb
  lib/tasks/temporary/create_profile_fields.rake
  spec/factories/profiles.rb
  spec/factories/users.rb
  spec/lib/data_update_scripts/migrate_profile_data_spec.rb
  spec/models/profile_spec.rb
  spec/models/user_spec.rb
Owners: @forem/sre

[deploy] Migrate profile data (#9750)
  app/models/profile.rb
  app/models/user.rb
  app/services/profiles/extract_data.rb
  config/environments/development.rb
  config/environments/test.rb
  db/migrate/20200813031851_add_unique_index_to_profiles.rb
  db/schema.rb
  lib/data_update_scripts/20200819025131_migrate_profile_data.rb
  lib/tasks/temporary/create_profile_fields.rake
  spec/factories/profiles.rb
  spec/factories/users.rb
  spec/lib/data_update_scripts/migrate_profile_data_spec.rb
  spec/models/profile_spec.rb
  spec/models/user_spec.rb
Owners: @forem/sre

[deploy] Remove orphaned polls related rows (#9855)
  lib/data_update_scripts/20200818170410_remove_orphaned_poll_votes.rb
  lib/data_update_scripts/20200818170433_remove_orphaned_poll_skips.rb
  lib/data_update_scripts/20200818170505_remove_orphaned_poll_options.rb
  lib/data_update_scripts/20200818170523_remove_orphaned_polls.rb
Owners: @forem/sre

[deploy] Remove orphaned polls related rows (#9855)
  lib/data_update_scripts/20200818170410_remove_orphaned_poll_votes.rb
  lib/data_update_scripts/20200818170433_remove_orphaned_poll_skips.rb
  lib/data_update_scripts/20200818170505_remove_orphaned_poll_options.rb
  lib/data_update_scripts/20200818170523_remove_orphaned_polls.rb
Owners: @forem/sre

[deploy] Listing endorsements: models setup (#9841)
  app/models/listing.rb
  app/models/listing_endorsement.rb
  app/models/user.rb
  db/migrate/20200817205048_create_listing_endorsements.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/listing_endorsements.rb
  spec/models/listing_endorsement_spec.rb
  spec/models/listing_spec.rb
  spec/models/user_spec.rb
Owners: @forem/sre

[deploy] Listing endorsements: models setup (#9841)
  app/models/listing.rb
  app/models/listing_endorsement.rb
  app/models/user.rb
  db/migrate/20200817205048_create_listing_endorsements.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/listing_endorsements.rb
  spec/models/listing_endorsement_spec.rb
  spec/models/listing_spec.rb
  spec/models/user_spec.rb
Owners: @forem/sre

[deploy] Add relations and foreign keys between Poll related models (#9854)
  .rubocop_todo.yml
  app/models/article.rb
  app/models/poll.rb
  app/models/poll_option.rb
  db/migrate/20200818163445_add_missing_foreign_keys_to_poll_models.rb
  db/migrate/20200818163834_validate_add_missing_foreign_keys_to_poll_models.rb
  db/schema.rb
  spec/models/article_spec.rb
  spec/models/poll_option_spec.rb
  spec/models/poll_spec.rb
Owners: @forem/sre

[deploy] Add relations and foreign keys between Poll related models (#9854)
  .rubocop_todo.yml
  app/models/article.rb
  app/models/poll.rb
  app/models/poll_option.rb
  db/migrate/20200818163445_add_missing_foreign_keys_to_poll_models.rb
  db/migrate/20200818163834_validate_add_missing_foreign_keys_to_poll_models.rb
  db/schema.rb
  spec/models/article_spec.rb
  spec/models/poll_option_spec.rb
  spec/models/poll_spec.rb
Owners: @forem/sre

[deploy] [Admin Tooling] Allow admins delete empty Connect Channels (#9873)
  app/controllers/admin/chat_channels_controller.rb
  app/views/admin/chat_channels/index.html.erb
  config/routes.rb
  spec/requests/admin/chat_channel_spec.rb
  spec/system/admin/admin_manages_chat_channels_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] [Admin Tooling] Allow admins delete empty Connect Channels (#9873)
  app/controllers/admin/chat_channels_controller.rb
  app/views/admin/chat_channels/index.html.erb
  config/routes.rb
  spec/requests/admin/chat_channel_spec.rb
  spec/system/admin/admin_manages_chat_channels_spec.rb
Owners: @forem/snackcase, @forem/sre

Use and organize constants for the config page (#9891)
  app/lib/constants/site_config.rb
  app/views/admin/configs/show.html.erb
Owners: @forem/snackcase

Use and organize constants for the config page (#9891)
  app/lib/constants/site_config.rb
  app/views/admin/configs/show.html.erb
Owners: @forem/snackcase

Move Stripe dev logger in the controller (#9887)
  app/controllers/application_controller.rb
  config/initializers/stripe.rb
Owners: @forem/sre

Move Stripe dev logger in the controller (#9887)
  app/controllers/application_controller.rb
  config/initializers/stripe.rb
Owners: @forem/sre

[deploy] Refactor:Move Tag Badge and Github Badge Awards to Sidekiq (#9885)
  config/schedule.yml
  lib/tasks/badges.rake
Owners: @forem/sre

[deploy] Refactor:Move Tag Badge and Github Badge Awards to Sidekiq (#9885)
  config/schedule.yml
  lib/tasks/badges.rake
Owners: @forem/sre

[deploy] Add relations and foreign keys between Podcast related models (#9888)
  .rubocop_todo.yml
  app/models/podcast.rb
  app/models/podcast_episode.rb
  db/migrate/20200820093731_add_missing_foreign_keys_to_podcast_episodes.rb
  db/migrate/20200820093752_validate_add_missing_foreign_keys_to_podcast_episodes.rb
  db/schema.rb
  spec/models/podcast_episode_spec.rb
  spec/models/podcast_spec.rb
Owners: @forem/sre

[deploy] Add relations and foreign keys between Podcast related models (#9888)
  .rubocop_todo.yml
  app/models/podcast.rb
  app/models/podcast_episode.rb
  db/migrate/20200820093731_add_missing_foreign_keys_to_podcast_episodes.rb
  db/migrate/20200820093752_validate_add_missing_foreign_keys_to_podcast_episodes.rb
  db/schema.rb
  spec/models/podcast_episode_spec.rb
  spec/models/podcast_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move Listing and Support Tag Tasks to Sidekiq (#9898)
  app/workers/listings/expire_old_listings_worker.rb
  app/workers/tags/resave_supported_tags_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/listings/expire_old_listings_worker_spec.rb
  spec/workers/tags/resave_supported_tags_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move Listing and Support Tag Tasks to Sidekiq (#9898)
  app/workers/listings/expire_old_listings_worker.rb
  app/workers/tags/resave_supported_tags_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/listings/expire_old_listings_worker_spec.rb
  spec/workers/tags/resave_supported_tags_worker_spec.rb
Owners: @forem/sre

[deploy] Bug Fix:Skip Busting Edge Caches if Fastly API Key is not Present (#9900)
  app/labor/cache_buster.rb
Owners: none

[deploy] Bug Fix:Skip Busting Edge Caches if Fastly API Key is not Present (#9900)
  app/labor/cache_buster.rb
Owners: none

[deploy] Add Twitter and GitHub keys to SiteConfig (#9899)
  .env_sample
  app/controllers/admin/configs_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  config/initializers/devise.rb
  docs/getting-started/config-env.md
  docs/installation/containers.md
  docs/installation/linux.md
  docs/installation/mac.md
Owners: @forem/snackcase, @forem/sre, @forem/oss, @jacobherrington

[deploy] Add Twitter and GitHub keys to SiteConfig (#9899)
  .env_sample
  app/controllers/admin/configs_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  config/initializers/devise.rb
  docs/getting-started/config-env.md
  docs/installation/containers.md
  docs/installation/linux.md
  docs/installation/mac.md
Owners: @forem/snackcase, @forem/sre, @forem/oss, @jacobherrington

Bug Fix:Dont Fail Jobs If Badge Does Not Exist (#9906)
  app/labor/badge_rewarder.rb
Owners: none

Bug Fix:Dont Fail Jobs If Badge Does Not Exist (#9906)
  app/labor/badge_rewarder.rb
Owners: none

Add display columns to ProfileField (#9886)
  app/models/profile_field.rb
  db/migrate/20200820055018_add_display_colums_to_profile_fields.rb
  db/schema.rb
  spec/factories/profile_fields.rb
  spec/models/profile_field_spec.rb
Owners: @forem/sre

Add display columns to ProfileField (#9886)
  app/models/profile_field.rb
  db/migrate/20200820055018_add_display_colums_to_profile_fields.rb
  db/schema.rb
  spec/factories/profile_fields.rb
  spec/models/profile_field_spec.rb
Owners: @forem/sre

add more right padding in profile page work section (#9453)
  app/assets/stylesheets/user-profile-header.scss
Owners: none

add more right padding in profile page work section (#9453)
  app/assets/stylesheets/user-profile-header.scss
Owners: none
