Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

[deploy] fix content reflow on video load (#9897)
  app/assets/stylesheets/video-player.scss
Owners: none

[deploy] fix content reflow on video load (#9897)
  app/assets/stylesheets/video-player.scss
Owners: none

Border-radius bump from 3px to 5px (#9917)
  app/assets/stylesheets/_mixins.scss
  app/assets/stylesheets/config/_variables.scss
  app/assets/stylesheets/footer.scss
  app/assets/stylesheets/top-bar.scss
Owners: none

Border-radius bump from 3px to 5px (#9917)
  app/assets/stylesheets/_mixins.scss
  app/assets/stylesheets/config/_variables.scss
  app/assets/stylesheets/footer.scss
  app/assets/stylesheets/top-bar.scss
Owners: none

Sponsors fix (#9905)
  app/assets/stylesheets/components/stories.scss
  app/assets/stylesheets/components/tags.scss
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/views/sponsors.scss
  app/views/pages/_sponsor_image.html.erb
  app/views/pages/sponsors.html.erb
Owners: none

Sponsors fix (#9905)
  app/assets/stylesheets/components/stories.scss
  app/assets/stylesheets/components/tags.scss
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/views/sponsors.scss
  app/views/pages/_sponsor_image.html.erb
  app/views/pages/sponsors.html.erb
Owners: none

Allow Nginx cached static content to be purged (#9857) [deploy]
  .env_sample
  app/labor/cache_buster.rb
  app/models/article.rb
  app/models/concerns/purgeable.rb
  spec/labor/cache_buster_spec.rb
  spec/models/concerns/purgeable_spec.rb
  spec/rails_helper.rb
  spec/workers/articles/bust_multiple_caches_worker_spec.rb
Owners: @forem/sre

Allow Nginx cached static content to be purged (#9857) [deploy]
  .env_sample
  app/labor/cache_buster.rb
  app/models/article.rb
  app/models/concerns/purgeable.rb
  spec/labor/cache_buster_spec.rb
  spec/models/concerns/purgeable_spec.rb
  spec/rails_helper.rb
  spec/workers/articles/bust_multiple_caches_worker_spec.rb
Owners: @forem/sre

Refactor:Move prune_old_field_tests Rake to Sidekiq Cron (#9924)
  config/schedule.yml
  lib/tasks/fetch.rake
Owners: @forem/sre

Refactor:Move prune_old_field_tests Rake to Sidekiq Cron (#9924)
  config/schedule.yml
  lib/tasks/fetch.rake
Owners: @forem/sre

Refactor:Send Welcome Broadcast Notifications From Sidekiq (#9923)
  app/workers/broadcasts/send_welcome_notifications_worker.rb
  config/schedule.yml
  lib/tasks/broadcasts.rake
  spec/tasks/broadcasts_spec.rb
  spec/workers/broadcasts/send_welcome_notifications_worker_spec.rb
Owners: @forem/sre

Refactor:Send Welcome Broadcast Notifications From Sidekiq (#9923)
  app/workers/broadcasts/send_welcome_notifications_worker.rb
  config/schedule.yml
  lib/tasks/broadcasts.rake
  spec/tasks/broadcasts_spec.rb
  spec/workers/broadcasts/send_welcome_notifications_worker_spec.rb
Owners: @forem/sre

Use APP_DOMAIN Locally if Set (#9920)
  config/environments/development.rb
Owners: @forem/sre

Use APP_DOMAIN Locally if Set (#9920)
  config/environments/development.rb
Owners: @forem/sre

[deploy] Replace #cloudinary with #optimized_image_url (#9876)
  app/controllers/stories_controller.rb
  app/decorators/podcast_episode_decorator.rb
  app/helpers/application_helper.rb
  app/liquid_tags/podcast_tag.rb
  app/models/article.rb
  app/models/html_variant.rb
  app/views/articles/_badges_area.html.erb
  app/views/articles/_single_sponsor.html.erb
  app/views/articles/tag_index.html.erb
  app/views/badges/index.html.erb
  app/views/badges/show.html.erb
  app/views/devise/registrations/_registration_form.html.erb
  app/views/doorkeeper/authorizations/new.html.erb
  app/views/events/_event.html.erb
  app/views/layouts/_signup_modal.html.erb
  app/views/layouts/admin.html.erb
  app/views/notifications/_badgeachievement.html.erb
  app/views/onboardings/show.html.erb
  app/views/pages/_sponsor_image.html.erb
  app/views/pages/sponsors.html.erb
  app/views/podcast_episodes/_meta.html.erb
  app/views/podcast_episodes/show.html.erb
  app/views/service_worker/manifest.json.erb
  app/views/shell/_top.html.erb
  app/views/stories/_sign_in_invitation.html.erb
  app/views/tags/index.html.erb
  app/views/users/_org_admin.html.erb
  spec/decorators/podcast_episode_decorator_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/requests/articles/articles_show_spec.rb
Owners: @forem/hells-bells, @forem/delightful

[deploy] Replace #cloudinary with #optimized_image_url (#9876)
  app/controllers/stories_controller.rb
  app/decorators/podcast_episode_decorator.rb
  app/helpers/application_helper.rb
  app/liquid_tags/podcast_tag.rb
  app/models/article.rb
  app/models/html_variant.rb
  app/views/articles/_badges_area.html.erb
  app/views/articles/_single_sponsor.html.erb
  app/views/articles/tag_index.html.erb
  app/views/badges/index.html.erb
  app/views/badges/show.html.erb
  app/views/devise/registrations/_registration_form.html.erb
  app/views/doorkeeper/authorizations/new.html.erb
  app/views/events/_event.html.erb
  app/views/layouts/_signup_modal.html.erb
  app/views/layouts/admin.html.erb
  app/views/notifications/_badgeachievement.html.erb
  app/views/onboardings/show.html.erb
  app/views/pages/_sponsor_image.html.erb
  app/views/pages/sponsors.html.erb
  app/views/podcast_episodes/_meta.html.erb
  app/views/podcast_episodes/show.html.erb
  app/views/service_worker/manifest.json.erb
  app/views/shell/_top.html.erb
  app/views/stories/_sign_in_invitation.html.erb
  app/views/tags/index.html.erb
  app/views/users/_org_admin.html.erb
  spec/decorators/podcast_episode_decorator_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/requests/articles/articles_show_spec.rb
Owners: @forem/hells-bells, @forem/delightful

[Admin Tooling] Styling improvements to Chat Channels page (#9926)
  app/views/admin/chat_channels/index.html.erb
  spec/system/admin/admin_manages_chat_channels_spec.rb
Owners: @forem/snackcase

[Admin Tooling] Styling improvements to Chat Channels page (#9926)
  app/views/admin/chat_channels/index.html.erb
  spec/system/admin/admin_manages_chat_channels_spec.rb
Owners: @forem/snackcase

Liquid tag z index (#9914)
  app/assets/stylesheets/ltags/GithubReadmeTag.scss
  app/assets/stylesheets/ltags/GithubTag.scss
Owners: none

Liquid tag z index (#9914)
  app/assets/stylesheets/ltags/GithubReadmeTag.scss
  app/assets/stylesheets/ltags/GithubTag.scss
Owners: none

Updating design of Feed Card (#9918)
  app/assets/stylesheets/components/comments.scss
  app/assets/stylesheets/components/stories.scss
  app/assets/stylesheets/components/tags.scss
  app/assets/stylesheets/config/_colors.scss
  app/javascript/articles/components/CommentListItem.jsx
  app/javascript/articles/components/CommentsList.jsx
Owners: none

Updating design of Feed Card (#9918)
  app/assets/stylesheets/components/comments.scss
  app/assets/stylesheets/components/stories.scss
  app/assets/stylesheets/components/tags.scss
  app/assets/stylesheets/config/_colors.scss
  app/javascript/articles/components/CommentListItem.jsx
  app/javascript/articles/components/CommentsList.jsx
Owners: none

[deploy] Refactor:Move send_email_digest Rake Task to Sidekiq (#9929)
  app/workers/send_email_digest_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/send_email_digest_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move send_email_digest Rake Task to Sidekiq (#9929)
  app/workers/send_email_digest_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/send_email_digest_worker_spec.rb
Owners: @forem/sre

Long titles wrapping (#9915)
  app/assets/stylesheets/views/article.scss
  app/views/dashboards/followers.html.erb
  app/views/dashboards/following_organizations.html.erb
  app/views/dashboards/following_podcasts.html.erb
  app/views/dashboards/following_tags.html.erb
  app/views/dashboards/following_users.html.erb
Owners: none

Long titles wrapping (#9915)
  app/assets/stylesheets/views/article.scss
  app/views/dashboards/followers.html.erb
  app/views/dashboards/following_organizations.html.erb
  app/views/dashboards/following_podcasts.html.erb
  app/views/dashboards/following_tags.html.erb
  app/views/dashboards/following_users.html.erb
Owners: none

[deploy] Refactor:Move Remove Old HTML Variant Data task to Sidekiq (#9925)
  app/workers/html_variants/remove_old_data_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/factories/html_variant_successes.rb
  spec/factories/html_variant_trials.rb
  spec/workers/html_variants/remove_old_data_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move Remove Old HTML Variant Data task to Sidekiq (#9925)
  app/workers/html_variants/remove_old_data_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/factories/html_variant_successes.rb
  spec/factories/html_variant_trials.rb
  spec/workers/html_variants/remove_old_data_worker_spec.rb
Owners: @forem/sre

Fix general accessibility warnings in admin (#9927)
  app/views/admin/comments/index.html.erb
  app/views/admin/events/index.html.erb
  app/views/admin/growth/_results.html.erb
  app/views/admin/growth/index.html.erb
  app/views/admin/listings/index.html.erb
  app/views/admin/moderator_actions/index.html.erb
  app/views/admin/mods/index.html.erb
  app/views/admin/organizations/_activity.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/show.html.erb
  app/views/admin/pages/edit.html.erb
  app/views/admin/pages/index.html.erb
  app/views/admin/pages/new.html.erb
  app/views/admin/permissions/index.html.erb
  app/views/admin/podcasts/index.html.erb
  app/views/admin/privileged_reactions/index.html.erb
  app/views/admin/profile_fields/index.html.erb
  app/views/admin/secrets/index.html.erb
  app/views/admin/tags/index.html.erb
  app/views/admin/tags/show.html.erb
  app/views/admin/tools/index.html.erb
  app/views/admin/webhook_endpoints/index.html.erb
  app/views/admin/welcome/index.html.erb
Owners: @forem/snackcase

Fix general accessibility warnings in admin (#9927)
  app/views/admin/comments/index.html.erb
  app/views/admin/events/index.html.erb
  app/views/admin/growth/_results.html.erb
  app/views/admin/growth/index.html.erb
  app/views/admin/listings/index.html.erb
  app/views/admin/moderator_actions/index.html.erb
  app/views/admin/mods/index.html.erb
  app/views/admin/organizations/_activity.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/show.html.erb
  app/views/admin/pages/edit.html.erb
  app/views/admin/pages/index.html.erb
  app/views/admin/pages/new.html.erb
  app/views/admin/permissions/index.html.erb
  app/views/admin/podcasts/index.html.erb
  app/views/admin/privileged_reactions/index.html.erb
  app/views/admin/profile_fields/index.html.erb
  app/views/admin/secrets/index.html.erb
  app/views/admin/tags/index.html.erb
  app/views/admin/tags/show.html.erb
  app/views/admin/tools/index.html.erb
  app/views/admin/webhook_endpoints/index.html.erb
  app/views/admin/welcome/index.html.erb
Owners: @forem/snackcase

[deploy] Add ability to turn off reaction notifications in notification settings (#9435)
  app/policies/user_policy.rb
  app/views/users/_notifications.html.erb
  app/workers/notifications/new_reaction_worker.rb
  db/migrate/20200813042118_add_reaction_notifications_to_users.rb
  db/schema.rb
  spec/requests/user/user_settings_spec.rb
  spec/workers/notifications/new_reaction_worker_spec.rb
Owners: @forem/sre

[deploy] Add ability to turn off reaction notifications in notification settings (#9435)
  app/policies/user_policy.rb
  app/views/users/_notifications.html.erb
  app/workers/notifications/new_reaction_worker.rb
  db/migrate/20200813042118_add_reaction_notifications_to_users.rb
  db/schema.rb
  spec/requests/user/user_settings_spec.rb
  spec/workers/notifications/new_reaction_worker_spec.rb
Owners: @forem/sre

Fix incomplete inline CSS style (#9960)
  app/views/articles/tag_index.html.erb
  app/views/tags/index.html.erb
Owners: @forem/hells-bells

Fix incomplete inline CSS style (#9960)
  app/views/articles/tag_index.html.erb
  app/views/tags/index.html.erb
Owners: @forem/hells-bells

Add tech.lgbt to allowed Mastodon instances (#9959)
  app/lib/constants/mastodon.rb
Owners: none

Add tech.lgbt to allowed Mastodon instances (#9959)
  app/lib/constants/mastodon.rb
Owners: none

[deploy] Stop using ProfileField#active Part 1 (#9910)
  app/models/profile.rb
  app/models/profile_field.rb
  app/views/admin/profile_fields/_form.html.erb
  spec/factories/profile_fields.rb
  spec/models/profile_field_spec.rb
  spec/models/profile_spec.rb
  spec/requests/admin/profile_fields_spec.rb
Owners: @forem/snackcase

[deploy] Stop using ProfileField#active Part 1 (#9910)
  app/models/profile.rb
  app/models/profile_field.rb
  app/views/admin/profile_fields/_form.html.erb
  spec/factories/profile_fields.rb
  spec/models/profile_field_spec.rb
  spec/models/profile_spec.rb
  spec/requests/admin/profile_fields_spec.rb
Owners: @forem/snackcase

[deploy] Stop using ProfileField#active Part 2 (#9911)
  app/models/profile_field.rb
  db/migrate/20200821035520_remove_active_from_profile_field.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Stop using ProfileField#active Part 2 (#9911)
  app/models/profile_field.rb
  db/migrate/20200821035520_remove_active_from_profile_field.rb
  db/schema.rb
Owners: @forem/sre
