Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

[deploy] Bug Fix: Refresh Hypershield after db:prepare if Enabled (#9353)
  lib/tasks/app_initializer.rake
Owners: none

[deploy] Bug Fix: Refresh Hypershield after db:prepare if Enabled (#9353)
  lib/tasks/app_initializer.rake
Owners: none

Fix test copy
  spec/requests/internal/configs_spec.rb
Owners: @thepracticaldev/snackcase

Fix test copy
  spec/requests/internal/configs_spec.rb
Owners: @thepracticaldev/snackcase

[deploy] Update NoiseCancellingSampler to make it more self-documenting (#9359)
  app/lib/honeycomb/noise_cancelling_sampler.rb
  spec/lib/honeycomb/noise_cancelling_sampler_spec.rb
Owners: none

[deploy] Update NoiseCancellingSampler to make it more self-documenting (#9359)
  app/lib/honeycomb/noise_cancelling_sampler.rb
  spec/lib/honeycomb/noise_cancelling_sampler_spec.rb
Owners: none

Attempt to turn off Flipper UI CSRF protections (#9360) [deploy]
  config/routes.rb
Owners: @thepracticaldev/sre

Attempt to turn off Flipper UI CSRF protections (#9360) [deploy]
  config/routes.rb
Owners: @thepracticaldev/sre

Fix reading list rendering multiple times (#9364)
  app/javascript/packs/readingList.jsx
Owners: none

Fix reading list rendering multiple times (#9364)
  app/javascript/packs/readingList.jsx
Owners: none

[deploy] Refactor: Remove Block Model and All Related Code (#9370)
  app/controllers/blocks_controller.rb
  app/models/block.rb
  app/policies/block_policy.rb
  app/views/blocks/_actions.html.erb
  app/views/blocks/_form.html.erb
  app/views/blocks/edit.html.erb
  app/views/blocks/index.html.erb
  app/views/blocks/index.json.jbuilder
  app/views/blocks/new.html.erb
  app/views/blocks/show.html.erb
  app/views/blocks/show.json.jbuilder
  config/routes.rb
  spec/models/block_spec.rb
  spec/policies/block_policy_spec.rb
  spec/requests/blocks_spec.rb
Owners: @thepracticaldev/sre

[deploy] Refactor: Remove Block Model and All Related Code (#9370)
  app/controllers/blocks_controller.rb
  app/models/block.rb
  app/policies/block_policy.rb
  app/views/blocks/_actions.html.erb
  app/views/blocks/_form.html.erb
  app/views/blocks/edit.html.erb
  app/views/blocks/index.html.erb
  app/views/blocks/index.json.jbuilder
  app/views/blocks/new.html.erb
  app/views/blocks/show.html.erb
  app/views/blocks/show.json.jbuilder
  config/routes.rb
  spec/models/block_spec.rb
  spec/policies/block_policy_spec.rb
  spec/requests/blocks_spec.rb
Owners: @thepracticaldev/sre

[deploy] Refactor:Drop Blocks Table (#9373)
  db/migrate/20200717203432_remove_blocks_table.rb
  db/schema.rb
Owners: @thepracticaldev/sre

[deploy] Refactor:Drop Blocks Table (#9373)
  db/migrate/20200717203432_remove_blocks_table.rb
  db/schema.rb
Owners: @thepracticaldev/sre

[deploy] Optimization:Change Broadcast and GithubIssue PKs to Bigint (#9372)
  db/migrate/20200717220654_change_broadcast_and_github_issue_pks_to_bigint.rb
  db/schema.rb
Owners: @thepracticaldev/sre

[deploy] Optimization:Change Broadcast and GithubIssue PKs to Bigint (#9372)
  db/migrate/20200717220654_change_broadcast_and_github_issue_pks_to_bigint.rb
  db/schema.rb
Owners: @thepracticaldev/sre

[deploy] 🚀 Feature: Chat channel membership manager component (#8945)
  SECURITY.md
  app/assets/stylesheets/chat.scss
  app/controllers/chat_channel_memberships_controller.rb
  app/helpers/chat_channel_membership_helper.rb
  app/javascript/chat/ChatChannelSettings/ActiveMembershipsSection.jsx
  app/javascript/chat/ChatChannelSettings/ChatChannelMembershipSection.jsx
  app/javascript/chat/ChatChannelSettings/ChatChannelSettings.jsx
  app/javascript/chat/ChatChannelSettings/ChatChannelSettingsSection.jsx
  app/javascript/chat/ChatChannelSettings/InviteForm.jsx
  app/javascript/chat/ChatChannelSettings/LeaveMembershipSection.jsx
  app/javascript/chat/ChatChannelSettings/Membership.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/InvitationLinkManager.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/ManageActiveMembership.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/Membership.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/MembershipSection.jsx
  app/javascript/chat/ChatChannelSettings/ModFaqSection.jsx
  app/javascript/chat/ChatChannelSettings/ModSection.jsx
  app/javascript/chat/ChatChannelSettings/PendingMembershipSection.jsx
  app/javascript/chat/ChatChannelSettings/PersonalSetting.jsx
  app/javascript/chat/ChatChannelSettings/RequestedMembershipSection.jsx
  app/javascript/chat/ChatChannelSettings/SettingsForm.jsx
  app/javascript/chat/__tests__/ManageActiveMembership.test.jsx
  app/javascript/chat/__tests__/Membership.test.jsx
  app/javascript/chat/__tests__/chatChannelSettingActions.test.js
  app/javascript/chat/__tests__/invitationLinkManager.test.jsx
  app/javascript/chat/__tests__/leaveMembershipSection.test.jsx
  app/javascript/chat/__tests__/membership.test.jsx
  app/javascript/chat/actions/chat_channel_setting_actions.js
  app/javascript/chat/chat.jsx
  app/javascript/chat/content.jsx
  app/javascript/common-prop-types/membership-prop-type.js
  app/javascript/utilities/validateAndroidNative.js
  app/policies/chat_channel_policy.rb
  app/presenters/chat_channel_detail_presenter.rb
  app/presenters/membership_user_presenter.rb
  app/views/chat_channel_memberships/chat_channel_info.json.jbuilder
  app/views/chat_channel_memberships/join_channel_invitation.html.erb
  config/fastly/snippets/safe_params_list.vcl
  config/routes.rb
  spec/requests/chat_channel_memberships_spec.rb
Owners: @thepracticaldev/oss, @thepracticaldev/sre

[deploy] 🚀 Feature: Chat channel membership manager component (#8945)
  SECURITY.md
  app/assets/stylesheets/chat.scss
  app/controllers/chat_channel_memberships_controller.rb
  app/helpers/chat_channel_membership_helper.rb
  app/javascript/chat/ChatChannelSettings/ActiveMembershipsSection.jsx
  app/javascript/chat/ChatChannelSettings/ChatChannelMembershipSection.jsx
  app/javascript/chat/ChatChannelSettings/ChatChannelSettings.jsx
  app/javascript/chat/ChatChannelSettings/ChatChannelSettingsSection.jsx
  app/javascript/chat/ChatChannelSettings/InviteForm.jsx
  app/javascript/chat/ChatChannelSettings/LeaveMembershipSection.jsx
  app/javascript/chat/ChatChannelSettings/Membership.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/InvitationLinkManager.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/ManageActiveMembership.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/Membership.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/MembershipSection.jsx
  app/javascript/chat/ChatChannelSettings/ModFaqSection.jsx
  app/javascript/chat/ChatChannelSettings/ModSection.jsx
  app/javascript/chat/ChatChannelSettings/PendingMembershipSection.jsx
  app/javascript/chat/ChatChannelSettings/PersonalSetting.jsx
  app/javascript/chat/ChatChannelSettings/RequestedMembershipSection.jsx
  app/javascript/chat/ChatChannelSettings/SettingsForm.jsx
  app/javascript/chat/__tests__/ManageActiveMembership.test.jsx
  app/javascript/chat/__tests__/Membership.test.jsx
  app/javascript/chat/__tests__/chatChannelSettingActions.test.js
  app/javascript/chat/__tests__/invitationLinkManager.test.jsx
  app/javascript/chat/__tests__/leaveMembershipSection.test.jsx
  app/javascript/chat/__tests__/membership.test.jsx
  app/javascript/chat/actions/chat_channel_setting_actions.js
  app/javascript/chat/chat.jsx
  app/javascript/chat/content.jsx
  app/javascript/common-prop-types/membership-prop-type.js
  app/javascript/utilities/validateAndroidNative.js
  app/policies/chat_channel_policy.rb
  app/presenters/chat_channel_detail_presenter.rb
  app/presenters/membership_user_presenter.rb
  app/views/chat_channel_memberships/chat_channel_info.json.jbuilder
  app/views/chat_channel_memberships/join_channel_invitation.html.erb
  config/fastly/snippets/safe_params_list.vcl
  config/routes.rb
  spec/requests/chat_channel_memberships_spec.rb
Owners: @thepracticaldev/oss, @thepracticaldev/sre

[deploy] Site Config: Get Started Section and Show Required Fields (#9289)
  app/assets/stylesheets/internal/layout.scss
  app/controllers/concerns/verify_setup_completed.rb
  app/helpers/application_helper.rb
  app/lib/constants.rb
  app/views/internal/configs/show.html.erb
  spec/system/internal/admin_manages_configuration_spec.rb
Owners: @thepracticaldev/snackcase

[deploy] Site Config: Get Started Section and Show Required Fields (#9289)
  app/assets/stylesheets/internal/layout.scss
  app/controllers/concerns/verify_setup_completed.rb
  app/helpers/application_helper.rb
  app/lib/constants.rb
  app/views/internal/configs/show.html.erb
  spec/system/internal/admin_manages_configuration_spec.rb
Owners: @thepracticaldev/snackcase

Introduce domain model for campaigns (#9300)
  app/controllers/stories_controller.rb
  app/decorators/campaign_decorator.rb
  app/models/campaign.rb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/_sidebar_campaign.html.erb
  app/views/social_previews/articles/shecoded.html.erb
  spec/requests/stories_index_spec.rb
Owners: @thepracticaldev/hells-bells

Introduce domain model for campaigns (#9300)
  app/controllers/stories_controller.rb
  app/decorators/campaign_decorator.rb
  app/models/campaign.rb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/_sidebar_campaign.html.erb
  app/views/social_previews/articles/shecoded.html.erb
  spec/requests/stories_index_spec.rb
Owners: @thepracticaldev/hells-bells

[deploy] Fix tag input patterns (#9363)
  app/javascript/article-form/components/TagsField.jsx
  app/javascript/listings/listingForm.jsx
  app/javascript/shared/components/__tests__/tags.test.jsx
  app/javascript/shared/components/tags.jsx
Owners: none

[deploy] Fix tag input patterns (#9363)
  app/javascript/article-form/components/TagsField.jsx
  app/javascript/listings/listingForm.jsx
  app/javascript/shared/components/__tests__/tags.test.jsx
  app/javascript/shared/components/tags.jsx
Owners: none

[deploy] Changed the Typo at "A Published article by path" (#9396)
  docs/api_v0.yml
Owners: @thepracticaldev/oss, @jacobherrington

[deploy] Changed the Typo at "A Published article by path" (#9396)
  docs/api_v0.yml
Owners: @thepracticaldev/oss, @jacobherrington

Flaky Spec Fix:Clear Elasticsearch FeedContent to avoid trying to load missing images (#9402)
  spec/system/comments/user_delete_a_comment_spec.rb
Owners: none

Flaky Spec Fix:Clear Elasticsearch FeedContent to avoid trying to load missing images (#9402)
  spec/system/comments/user_delete_a_comment_spec.rb
Owners: none

[deploy] Optimization:Change Primary Keys on Mentions and Notes to Bigint (#9393)
  db/migrate/20200719205123_change_mentions_and_notes_pks_to_bigint.rb
  db/schema.rb
Owners: @thepracticaldev/sre

[deploy] Optimization:Change Primary Keys on Mentions and Notes to Bigint (#9393)
  db/migrate/20200719205123_change_mentions_and_notes_pks_to_bigint.rb
  db/schema.rb
Owners: @thepracticaldev/sre

Add regex to check for possible XSS attempts (#9400)
  app/labor/markdown_parser.rb
  spec/labor/markdown_parser_spec.rb
Owners: none

Add regex to check for possible XSS attempts (#9400)
  app/labor/markdown_parser.rb
  spec/labor/markdown_parser_spec.rb
Owners: none

Rubocop: enable and fix Style/Send and Style/Next (#9366)
  .rubocop.yml
  app/controllers/buffer_updates_controller.rb
  app/labor/cache_buster.rb
  app/labor/markdown_fixer.rb
  app/models/podcast_episode.rb
  app/services/data_sync/elasticsearch/article.rb
  app/services/data_sync/elasticsearch/base.rb
  app/services/rate_limit_checker.rb
  app/services/rss_reader/assembler.rb
  config/application.rb
  config/initializers/0_application_config.rb
  spec/requests/async_info_spec.rb
  spec/requests/follows_show_spec.rb
  spec/services/broadcasts/welcome_notification/generator_spec.rb
  spec/services/notifications/new_comment/send_spec.rb
  spec/services/rate_limit_checker_spec.rb
Owners: @thepracticaldev/sre

Rubocop: enable and fix Style/Send and Style/Next (#9366)
  .rubocop.yml
  app/controllers/buffer_updates_controller.rb
  app/labor/cache_buster.rb
  app/labor/markdown_fixer.rb
  app/models/podcast_episode.rb
  app/services/data_sync/elasticsearch/article.rb
  app/services/data_sync/elasticsearch/base.rb
  app/services/rate_limit_checker.rb
  app/services/rss_reader/assembler.rb
  config/application.rb
  config/initializers/0_application_config.rb
  spec/requests/async_info_spec.rb
  spec/requests/follows_show_spec.rb
  spec/services/broadcasts/welcome_notification/generator_spec.rb
  spec/services/notifications/new_comment/send_spec.rb
  spec/services/rate_limit_checker_spec.rb
Owners: @thepracticaldev/sre

Update GitHub link in Markdown Guides (#9377)
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_editor_liquid_help.html.erb
  app/views/pages/markdown_basics.html.erb
Owners: none

Update GitHub link in Markdown Guides (#9377)
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_editor_liquid_help.html.erb
  app/views/pages/markdown_basics.html.erb
Owners: none

Add Native bridge video support (#9303)
  app/assets/javascripts/initializePage.js
  app/assets/javascripts/initializers/initializeVideoPlayback.js
  app/assets/stylesheets/minimal.scss
  app/assets/stylesheets/video-player.scss
  app/decorators/article_decorator.rb
  app/views/articles/_video_player.html.erb
  spec/decorators/article_decorator_spec.rb
Owners: @thepracticaldev/hells-bells

Add Native bridge video support (#9303)
  app/assets/javascripts/initializePage.js
  app/assets/javascripts/initializers/initializeVideoPlayback.js
  app/assets/stylesheets/minimal.scss
  app/assets/stylesheets/video-player.scss
  app/decorators/article_decorator.rb
  app/views/articles/_video_player.html.erb
  spec/decorators/article_decorator_spec.rb
Owners: @thepracticaldev/hells-bells

[deploy] Change from url to path in form (#9404)
  app/views/chat_channel_memberships/join_channel_invitation.html.erb
Owners: none

[deploy] Change from url to path in form (#9404)
  app/views/chat_channel_memberships/join_channel_invitation.html.erb
Owners: none

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre
