Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

[deploy] Optimization:Select Article Columns for Digest Email, Limit 6, Use User Attributes (#10147)
  app/mailers/digest_mailer.rb
  app/services/email_digest_article_collector.rb
  app/views/mailers/digest_mailer/digest_email.html.erb
  app/workers/emails/send_user_digest_worker.rb
  spec/services/email_digest_article_collector_spec.rb
  spec/workers/emails/send_user_digest_worker_spec.rb
Owners: @forem/sre

[deploy] Optimization:Select Article Columns for Digest Email, Limit 6, Use User Attributes (#10147)
  app/mailers/digest_mailer.rb
  app/services/email_digest_article_collector.rb
  app/views/mailers/digest_mailer/digest_email.html.erb
  app/workers/emails/send_user_digest_worker.rb
  spec/services/email_digest_article_collector_spec.rb
  spec/workers/emails/send_user_digest_worker_spec.rb
Owners: @forem/sre

[deploy] Index Reaction created_at Timestamp (#10142)
  app/serializers/search/reaction_serializer.rb
  config/elasticsearch/mappings/reactions.json
  lib/data_update_scripts/20200415200651_index_reading_list_reactions.rb
  lib/data_update_scripts/20200901194251_reindex_reading_list_reactions.rb
  spec/lib/data_update_scripts/reindex_reading_list_reactions_spec.rb
  spec/serializers/search/reaction_serializer_spec.rb
Owners: @forem/sre

[deploy] Index Reaction created_at Timestamp (#10142)
  app/serializers/search/reaction_serializer.rb
  config/elasticsearch/mappings/reactions.json
  lib/data_update_scripts/20200415200651_index_reading_list_reactions.rb
  lib/data_update_scripts/20200901194251_reindex_reading_list_reactions.rb
  spec/lib/data_update_scripts/reindex_reading_list_reactions_spec.rb
  spec/serializers/search/reaction_serializer_spec.rb
Owners: @forem/sre

[deploy] Remove unneeded eager load (#10168)
  app/labor/sticky_article_collection.rb
  app/views/articles/_sticky_nav.html.erb
Owners: @forem/hells-bells

[deploy] Remove unneeded eager load (#10168)
  app/labor/sticky_article_collection.rb
  app/views/articles/_sticky_nav.html.erb
Owners: @forem/hells-bells

[deploy] [Admin Tooling] Allow admins unpublish articles from the Mod Actions Panel (#10038)
  app/assets/stylesheets/moderators.scss
  app/controllers/articles_controller.rb
  app/javascript/actionsPanel/actionsPanel.js
  app/policies/article_policy.rb
  app/views/moderations/actions_panel.html.erb
  config/routes.rb
  spec/policies/article_policy_spec.rb
  spec/requests/articles/articles_admin_unpublish_spec.rb
Owners: @forem/hells-bells, @forem/sre

[deploy] [Admin Tooling] Allow admins unpublish articles from the Mod Actions Panel (#10038)
  app/assets/stylesheets/moderators.scss
  app/controllers/articles_controller.rb
  app/javascript/actionsPanel/actionsPanel.js
  app/policies/article_policy.rb
  app/views/moderations/actions_panel.html.erb
  config/routes.rb
  spec/policies/article_policy_spec.rb
  spec/requests/articles/articles_admin_unpublish_spec.rb
Owners: @forem/hells-bells, @forem/sre

[deploy] Add display_area & show_in_onboarding to the profile setup ui (#10158)
  app/controllers/admin/profile_fields_controller.rb
  app/views/admin/profile_fields/_grouped_profile_fields.html.erb
  app/views/admin/profile_fields/_profile_field_form.html.erb
  app/views/admin/profile_fields/index.html.erb
Owners: @forem/snackcase

[deploy] Add display_area & show_in_onboarding to the profile setup ui (#10158)
  app/controllers/admin/profile_fields_controller.rb
  app/views/admin/profile_fields/_grouped_profile_fields.html.erb
  app/views/admin/profile_fields/_profile_field_form.html.erb
  app/views/admin/profile_fields/index.html.erb
Owners: @forem/snackcase

Fixing broken jest test (#10162)
  app/javascript/modCenter/singleArticle/__tests__/singleArticle.test.jsx
Owners: none

Fixing broken jest test (#10162)
  app/javascript/modCenter/singleArticle/__tests__/singleArticle.test.jsx
Owners: none

[deploy] Revert removal of unneeded eager load (if needed) (#10179)
  app/labor/sticky_article_collection.rb
  app/views/articles/_sticky_nav.html.erb
Owners: @forem/hells-bells

[deploy] Revert removal of unneeded eager load (if needed) (#10179)
  app/labor/sticky_article_collection.rb
  app/views/articles/_sticky_nav.html.erb
Owners: @forem/hells-bells

Add ProfileFieldGroupsController to API (#10124)
  app/controllers/profile_field_groups_controller.rb
  app/models/profile_field_group.rb
  app/views/profile_field_groups/index.json.jbuilder
  config/routes.rb
  spec/factories/profile_fields.rb
  spec/models/profile_field_group_spec.rb
  spec/requests/profile_field_groups_request_spec.rb
Owners: @forem/sre

Add ProfileFieldGroupsController to API (#10124)
  app/controllers/profile_field_groups_controller.rb
  app/models/profile_field_group.rb
  app/views/profile_field_groups/index.json.jbuilder
  config/routes.rb
  spec/factories/profile_fields.rb
  spec/models/profile_field_group_spec.rb
  spec/requests/profile_field_groups_request_spec.rb
Owners: @forem/sre

Vertical alignment of post title in notification (#10183)
  app/assets/stylesheets/notifications.scss
Owners: none

Vertical alignment of post title in notification (#10183)
  app/assets/stylesheets/notifications.scss
Owners: none

[deploy] Add Profiles::Update service object (#9912)
  app/models/profile.rb
  app/models/user.rb
  app/services/profile_fields/add.rb
  app/services/profile_fields/remove.rb
  app/services/profiles/extract_data.rb
  app/services/profiles/update.rb
  spec/models/profile_spec.rb
  spec/models/user_spec.rb
  spec/requests/admin/profile_fields_spec.rb
  spec/services/profile_fields/remove_spec.rb
  spec/services/profiles/update_spec.rb
Owners: @forem/snackcase

[deploy] Add Profiles::Update service object (#9912)
  app/models/profile.rb
  app/models/user.rb
  app/services/profile_fields/add.rb
  app/services/profile_fields/remove.rb
  app/services/profiles/extract_data.rb
  app/services/profiles/update.rb
  spec/models/profile_spec.rb
  spec/models/user_spec.rb
  spec/requests/admin/profile_fields_spec.rb
  spec/services/profile_fields/remove_spec.rb
  spec/services/profiles/update_spec.rb
Owners: @forem/snackcase

Fixed new redirects (#10184)
  app/views/service_worker/index.js.erb
Owners: none

Fixed new redirects (#10184)
  app/views/service_worker/index.js.erb
Owners: none

[deploy] Fixes a duplicate page title on the /videos page (#10170)
  app/views/videos/index.html.erb
  spec/system/videos/user_visits_videos_spec.rb
Owners: none

[deploy] Fixes a duplicate page title on the /videos page (#10170)
  app/views/videos/index.html.erb
  spec/system/videos/user_visits_videos_spec.rb
Owners: none

[deploy] Session cookie domain hotfix for login and logout (#10169)
  app/controllers/omniauth_callbacks_controller.rb
  app/controllers/sessions_controller.rb
Owners: none

[deploy] Session cookie domain hotfix for login and logout (#10169)
  app/controllers/omniauth_callbacks_controller.rb
  app/controllers/sessions_controller.rb
Owners: none

New Profile Header (#10185)
  app/assets/images/behance.svg
  app/assets/images/cake.svg
  app/assets/images/dribbble.svg
  app/assets/images/email.svg
  app/assets/images/external.svg
  app/assets/images/gitlab.svg
  app/assets/images/linkedin.svg
  app/assets/images/location.svg
  app/assets/images/mastodon.svg
  app/assets/images/medium.svg
  app/assets/images/stackoverflow.svg
  app/assets/images/youtube.svg
  app/assets/javascripts/initializers/initializeAllChatButtons.js
  app/assets/javascripts/initializers/initializeUserProfilePage.js
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/views/profile.scss
  app/views/users/_metadata.html.erb
  app/views/users/show.html.erb
  spec/system/user/view_user_index_spec.rb
Owners: none

New Profile Header (#10185)
  app/assets/images/behance.svg
  app/assets/images/cake.svg
  app/assets/images/dribbble.svg
  app/assets/images/email.svg
  app/assets/images/external.svg
  app/assets/images/gitlab.svg
  app/assets/images/linkedin.svg
  app/assets/images/location.svg
  app/assets/images/mastodon.svg
  app/assets/images/medium.svg
  app/assets/images/stackoverflow.svg
  app/assets/images/youtube.svg
  app/assets/javascripts/initializers/initializeAllChatButtons.js
  app/assets/javascripts/initializers/initializeUserProfilePage.js
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/views/profile.scss
  app/views/users/_metadata.html.erb
  app/views/users/show.html.erb
  spec/system/user/view_user_index_spec.rb
Owners: none

[gitpod] updated node version (#10186)
  .gitpod.dockerfile
Owners: none

[gitpod] updated node version (#10186)
  .gitpod.dockerfile
Owners: none

Extending documentation... (#10156)
  app/javascript/article-form/components/Title.jsx
  docs/faqs.md
Owners: @forem/oss, @jacobherrington

Extending documentation... (#10156)
  app/javascript/article-form/components/Title.jsx
  docs/faqs.md
Owners: @forem/oss, @jacobherrington

Adds ability to create new sponsorships from admin dashboard (#10187)
  app/controllers/admin/sponsorships_controller.rb
  app/views/admin/sponsorships/index.html.erb
  app/views/admin/sponsorships/new.html.erb
  config/routes.rb
  spec/requests/admin/sponsorships_spec.rb
Owners: @forem/snackcase, @forem/sre

Adds ability to create new sponsorships from admin dashboard (#10187)
  app/controllers/admin/sponsorships_controller.rb
  app/views/admin/sponsorships/index.html.erb
  app/views/admin/sponsorships/new.html.erb
  config/routes.rb
  spec/requests/admin/sponsorships_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Enable CSP in report only mode and use Honeybadger to track violations (#10155)
  config/initializers/content_security_policy.rb
Owners: @forem/sre

[deploy] Enable CSP in report only mode and use Honeybadger to track violations (#10155)
  config/initializers/content_security_policy.rb
Owners: @forem/sre

[deploy] Optimization:Add Index for User ID and Mailer to Ahoy Messages (#10175)
  db/migrate/20200902204028_add_user_id_mailer_index_to_ahoy_messages.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Optimization:Add Index for User ID and Mailer to Ahoy Messages (#10175)
  db/migrate/20200902204028_add_user_id_mailer_index_to_ahoy_messages.rb
  db/schema.rb
Owners: @forem/sre

Add sponsorships to seed data (#10189)
  db/seeds.rb
Owners: @forem/sre

Add sponsorships to seed data (#10189)
  db/seeds.rb
Owners: @forem/sre

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre
