Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

[deploy] Return Cache Bust Response When Busting a Cached Path (#10500)
  app/services/edge_cache/bust.rb
  spec/labor/cache_buster_spec.rb
  spec/services/edge_cache/bust_spec.rb
Owners: none

[deploy] Return Cache Bust Response When Busting a Cached Path (#10500)
  app/services/edge_cache/bust.rb
  spec/labor/cache_buster_spec.rb
  spec/services/edge_cache/bust_spec.rb
Owners: none

API: add docs for api/follows/tags (#10471)
  docs/api_v0.yml
Owners: @forem/oss, @jacobherrington

API: add docs for api/follows/tags (#10471)
  docs/api_v0.yml
Owners: @forem/oss, @jacobherrington

Add missing presence validators to models (#10495)
  app/mailers/verification_mailer.rb
  app/models/article.rb
  app/models/audit_log.rb
  app/models/badge.rb
  app/models/comment.rb
  app/models/data_update_script.rb
  app/models/email_authorization.rb
  app/models/follow.rb
  app/models/notification_subscription.rb
  app/models/organization.rb
  app/models/podcast_episode.rb
  app/models/poll.rb
  app/models/poll_option.rb
  app/models/profile.rb
  app/models/profile_field.rb
  app/models/site_config.rb
  app/models/sponsorship.rb
  app/models/tag.rb
  app/models/user.rb
  app/models/webhook/endpoint.rb
  spec/models/article_spec.rb
  spec/models/audit_log_spec.rb
  spec/models/badge_spec.rb
  spec/models/comment_spec.rb
  spec/models/data_update_script_spec.rb
  spec/models/email_authorization_spec.rb
  spec/models/follow_spec.rb
  spec/models/notification_subscription_spec.rb
  spec/models/organization_spec.rb
  spec/models/podcast_episode_spec.rb
  spec/models/poll_option_spec.rb
  spec/models/poll_spec.rb
  spec/models/profile_field_spec.rb
  spec/models/profile_spec.rb
  spec/models/site_config_spec.rb
  spec/models/sponsorship_spec.rb
  spec/models/tag_spec.rb
  spec/models/user_spec.rb
  spec/models/webhook/endpoint_spec.rb
Owners: none

Add missing presence validators to models (#10495)
  app/mailers/verification_mailer.rb
  app/models/article.rb
  app/models/audit_log.rb
  app/models/badge.rb
  app/models/comment.rb
  app/models/data_update_script.rb
  app/models/email_authorization.rb
  app/models/follow.rb
  app/models/notification_subscription.rb
  app/models/organization.rb
  app/models/podcast_episode.rb
  app/models/poll.rb
  app/models/poll_option.rb
  app/models/profile.rb
  app/models/profile_field.rb
  app/models/site_config.rb
  app/models/sponsorship.rb
  app/models/tag.rb
  app/models/user.rb
  app/models/webhook/endpoint.rb
  spec/models/article_spec.rb
  spec/models/audit_log_spec.rb
  spec/models/badge_spec.rb
  spec/models/comment_spec.rb
  spec/models/data_update_script_spec.rb
  spec/models/email_authorization_spec.rb
  spec/models/follow_spec.rb
  spec/models/notification_subscription_spec.rb
  spec/models/organization_spec.rb
  spec/models/podcast_episode_spec.rb
  spec/models/poll_option_spec.rb
  spec/models/poll_spec.rb
  spec/models/profile_field_spec.rb
  spec/models/profile_spec.rb
  spec/models/site_config_spec.rb
  spec/models/sponsorship_spec.rb
  spec/models/tag_spec.rb
  spec/models/user_spec.rb
  spec/models/webhook/endpoint_spec.rb
Owners: none

[deploy] Updated minimum requirements for local installation on Windows (#10513)
  docs/installation/windows.md
Owners: @forem/oss, @jacobherrington

[deploy] Updated minimum requirements for local installation on Windows (#10513)
  docs/installation/windows.md
Owners: @forem/oss, @jacobherrington

Split EdgeCache::Bust into Fastly + Nginx-specific classes (#10505) [deploy]
  app/services/edge_cache/bust.rb
  app/services/edge_cache/bust/fastly.rb
  app/services/edge_cache/bust/nginx.rb
  spec/services/edge_cache/bust_spec.rb
Owners: none

Split EdgeCache::Bust into Fastly + Nginx-specific classes (#10505) [deploy]
  app/services/edge_cache/bust.rb
  app/services/edge_cache/bust/fastly.rb
  app/services/edge_cache/bust/nginx.rb
  spec/services/edge_cache/bust_spec.rb
Owners: none

[deploy] Remove superfluous indexes on notifications (#10514)
  db/migrate/20201001154006_remove_superfluous_indexes_from_notifications.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Remove superfluous indexes on notifications (#10514)
  db/migrate/20201001154006_remove_superfluous_indexes_from_notifications.rb
  db/schema.rb
Owners: @forem/sre

Refactor: Extract app-shell unsupported paths (#10504)
  app/views/service_worker/index.js.erb
Owners: none

Refactor: Extract app-shell unsupported paths (#10504)
  app/views/service_worker/index.js.erb
Owners: none

Fixes 500 error when viewing the "Tag Mods" page without having the role on the database (#10515)
  app/queries/admin/moderators_query.rb
  app/views/admin/mods/index.html.erb
  spec/queries/admin/moderators_query_spec.rb
  spec/requests/admin/mods_spec.rb
Owners: @forem/snackcase

Fixes 500 error when viewing the "Tag Mods" page without having the role on the database (#10515)
  app/queries/admin/moderators_query.rb
  app/views/admin/mods/index.html.erb
  spec/queries/admin/moderators_query_spec.rb
  spec/requests/admin/mods_spec.rb
Owners: @forem/snackcase

Spec Fix:Dont Reuse Same Username and Let Factory Set Title (#10519)
  spec/system/user/view_user_index_spec.rb
Owners: none

Spec Fix:Dont Reuse Same Username and Let Factory Set Title (#10519)
  spec/system/user/view_user_index_spec.rb
Owners: none

[deploy] feat: Disable autoplay on native videos (#10516)
  app/assets/javascripts/initializers/initializeVideoPlayback.js
Owners: none

[deploy] feat: Disable autoplay on native videos (#10516)
  app/assets/javascripts/initializers/initializeVideoPlayback.js
Owners: none

Slack notification with reminder to delete user gdpr data (#10532)
  app/services/slack/messengers/user_deleted.rb
  app/workers/users/delete_worker.rb
  spec/services/slack/messengers/user_deleted_spec.rb
  spec/workers/users/delete_worker_spec.rb
Owners: @forem/sre

Slack notification with reminder to delete user gdpr data (#10532)
  app/services/slack/messengers/user_deleted.rb
  app/workers/users/delete_worker.rb
  spec/services/slack/messengers/user_deleted_spec.rb
  spec/workers/users/delete_worker_spec.rb
Owners: @forem/sre

Optimization:Dont Notify of Channel Leavings (#10518)
  app/controllers/chat_channel_memberships_controller.rb
  app/models/message.rb
  spec/models/message_spec.rb
  spec/requests/chat_channel_memberships_spec.rb
Owners: none

Optimization:Dont Notify of Channel Leavings (#10518)
  app/controllers/chat_channel_memberships_controller.rb
  app/models/message.rb
  spec/models/message_spec.rb
  spec/requests/chat_channel_memberships_spec.rb
Owners: none

[deploy] Remove additional superfluous indexes (#10530)
  db/migrate/20201002102257_remove_superfluous_indexes_part1.rb
  db/migrate/20201002102303_remove_superfluous_indexes_part2.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Remove additional superfluous indexes (#10530)
  db/migrate/20201002102257_remove_superfluous_indexes_part1.rb
  db/migrate/20201002102303_remove_superfluous_indexes_part2.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Manage listing categories in dashboard (#10506)
  app/controllers/admin/listing_categories_controller.rb
  app/lib/constants/role.rb
  app/models/listing_category.rb
  app/views/admin/listing_categories/_form.html.erb
  app/views/admin/listing_categories/edit.html.erb
  app/views/admin/listing_categories/index.html.erb
  app/views/admin/listing_categories/new.html.erb
  app/views/admin/listings/index.html.erb
  config/routes.rb
  spec/requests/admin/listings_catogires_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Manage listing categories in dashboard (#10506)
  app/controllers/admin/listing_categories_controller.rb
  app/lib/constants/role.rb
  app/models/listing_category.rb
  app/views/admin/listing_categories/_form.html.erb
  app/views/admin/listing_categories/edit.html.erb
  app/views/admin/listing_categories/index.html.erb
  app/views/admin/listing_categories/new.html.erb
  app/views/admin/listings/index.html.erb
  config/routes.rb
  spec/requests/admin/listings_catogires_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Add co_author_ids to Articles (#10339)
  app/controllers/admin/articles_controller.rb
  app/controllers/stories_controller.rb
  app/dashboards/article_dashboard.rb
  app/decorators/article_decorator.rb
  app/helpers/comments_helper.rb
  app/models/article.rb
  app/models/podcast_episode.rb
  app/views/admin/articles/_individual_article.html.erb
  app/views/articles/show.html.erb
  db/migrate/20200910155145_add_co_author_ids_to_articles.rb
  db/schema.rb
  lib/data_update_scripts/20200916202343_backfill_co_author_ids_for_articles.rb
  spec/models/article_spec.rb
  spec/requests/admin/articles_spec.rb
  spec/requests/stories_show_spec.rb
Owners: @forem/snackcase, @forem/hells-bells, @forem/sre

[deploy] Add co_author_ids to Articles (#10339)
  app/controllers/admin/articles_controller.rb
  app/controllers/stories_controller.rb
  app/dashboards/article_dashboard.rb
  app/decorators/article_decorator.rb
  app/helpers/comments_helper.rb
  app/models/article.rb
  app/models/podcast_episode.rb
  app/views/admin/articles/_individual_article.html.erb
  app/views/articles/show.html.erb
  db/migrate/20200910155145_add_co_author_ids_to_articles.rb
  db/schema.rb
  lib/data_update_scripts/20200916202343_backfill_co_author_ids_for_articles.rb
  spec/models/article_spec.rb
  spec/requests/admin/articles_spec.rb
  spec/requests/stories_show_spec.rb
Owners: @forem/snackcase, @forem/hells-bells, @forem/sre

Admin Panel for Configurable Navigational Links (#9444)
  app/assets/stylesheets/admin.scss
  app/controllers/admin/application_controller.rb
  app/controllers/admin/navigation_links_controller.rb
  app/models/navigation_link.rb
  app/views/admin/navigation_links/_add_navigation_link_modal.html.erb
  app/views/admin/navigation_links/_edit_navigation_link_modal.html.erb
  app/views/admin/navigation_links/index.html.erb
  app/views/admin/profile_fields/_add_group_modal.html.erb
  app/views/articles/_sidebar_nav.html.erb
  config/routes.rb
  db/migrate/20201002104711_create_navigation_links.rb
  db/schema.rb
  spec/factories/navigation_links.rb
  spec/models/navigation_link_spec.rb
  spec/requests/admin/navigation_link_spec.rb
Owners: @forem/snackcase, @forem/hells-bells, @forem/sre

Admin Panel for Configurable Navigational Links (#9444)
  app/assets/stylesheets/admin.scss
  app/controllers/admin/application_controller.rb
  app/controllers/admin/navigation_links_controller.rb
  app/models/navigation_link.rb
  app/views/admin/navigation_links/_add_navigation_link_modal.html.erb
  app/views/admin/navigation_links/_edit_navigation_link_modal.html.erb
  app/views/admin/navigation_links/index.html.erb
  app/views/admin/profile_fields/_add_group_modal.html.erb
  app/views/articles/_sidebar_nav.html.erb
  config/routes.rb
  db/migrate/20201002104711_create_navigation_links.rb
  db/schema.rb
  spec/factories/navigation_links.rb
  spec/models/navigation_link_spec.rb
  spec/requests/admin/navigation_link_spec.rb
Owners: @forem/snackcase, @forem/hells-bells, @forem/sre

Rename misspelled spec file (#10537)
  spec/requests/admin/listings_categories_spec.rb
Owners: @forem/snackcase

Rename misspelled spec file (#10537)
  spec/requests/admin/listings_categories_spec.rb
Owners: @forem/snackcase

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre
