Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Team snackCase
/app/assets/stylesheets/internal/ @jacobherrington @zhao-andy
/app/controllers/internal/        @jacobherrington @zhao-andy
/app/views/internal/              @jacobherrington @zhao-andy
/app/views/moderation/            @jacobherrington @zhao-andy
/spec/system/internal/            @jacobherrington @zhao-andy
/spec/requests/internal/          @jacobherrington @zhao-andy
/docs/                            @jacobherrington

Update docs/frontend/styles.md (#5733)
  docs/frontend/styles.md
Owners: @jacobherrington

Update docs/frontend/styles.md (#5733)
  docs/frontend/styles.md
Owners: @jacobherrington

Fix article description issues (#5679) [deploy]
  app/decorators/article_decorator.rb
  app/models/article.rb
  app/views/articles/show.html.erb
  spec/decorators/article_decorator_spec.rb
  spec/models/article_spec.rb
  spec/requests/api/v0/articles_spec.rb
Owners: none

Fix article description issues (#5679) [deploy]
  app/decorators/article_decorator.rb
  app/models/article.rb
  app/views/articles/show.html.erb
  spec/decorators/article_decorator_spec.rb
  spec/models/article_spec.rb
  spec/requests/api/v0/articles_spec.rb
Owners: none

Remove non-indexable logged-out links (#5713) [deploy]
  app/views/users/show.html.erb
Owners: none

Remove non-indexable logged-out links (#5713) [deploy]
  app/views/users/show.html.erb
Owners: none

Handle Missing Root Comment in Deleted Comment View (#5716)
  app/views/comments/deleted_commentable_comment.html.erb
Owners: none

Handle Missing Root Comment in Deleted Comment View (#5716)
  app/views/comments/deleted_commentable_comment.html.erb
Owners: none

Worker/user self delete (#5698)
  app/controllers/users_controller.rb
  app/workers/users/self_delete_worker.rb
  spec/requests/user/user_destroy_spec.rb
  spec/system/user/user_self_destroy_spec.rb
  spec/workers/users/self_delete_worker_spec.rb
Owners: @thepracticaldev/sre

Worker/user self delete (#5698)
  app/controllers/users_controller.rb
  app/workers/users/self_delete_worker.rb
  spec/requests/user/user_destroy_spec.rb
  spec/system/user/user_self_destroy_spec.rb
  spec/workers/users/self_delete_worker_spec.rb
Owners: @thepracticaldev/sre

Remove Notifications::NotifiableActionJob (#5730) [deploy]
  app/jobs/notifications/notifiable_action_job.rb
  spec/jobs/notifications/notifiable_action_job_spec.rb
Owners: @thepracticaldev/sre

Remove Notifications::NotifiableActionJob (#5730) [deploy]
  app/jobs/notifications/notifiable_action_job.rb
  spec/jobs/notifications/notifiable_action_job_spec.rb
Owners: @thepracticaldev/sre

Migrate PodcastEpisodes::UpdateMediaUrlJob to PodcastEpisodes::UpdateMediaUrlWorker for Sidekiq (#5729)
  .rubocop.yml
  app/services/podcasts/feed.rb
  app/services/podcasts/get_episode.rb
  app/workers/podcast_episodes/update_media_url_worker.rb
  spec/services/podcasts/feed_spec.rb
  spec/services/podcasts/get_episode_spec.rb
  spec/workers/podcast_episodes/update_media_url_worker_spec.rb
Owners: @thepracticaldev/sre

Migrate PodcastEpisodes::UpdateMediaUrlJob to PodcastEpisodes::UpdateMediaUrlWorker for Sidekiq (#5729)
  .rubocop.yml
  app/services/podcasts/feed.rb
  app/services/podcasts/get_episode.rb
  app/workers/podcast_episodes/update_media_url_worker.rb
  spec/services/podcasts/feed_spec.rb
  spec/services/podcasts/get_episode_spec.rb
  spec/workers/podcast_episodes/update_media_url_worker_spec.rb
Owners: @thepracticaldev/sre

Remove Follows::CreateChatChannelJob (#5718) [deploy]
  app/jobs/follows/create_chat_channel_job.rb
  spec/jobs/follows/create_chat_channel_job_spec.rb
Owners: @thepracticaldev/sre

Remove Follows::CreateChatChannelJob (#5718) [deploy]
  app/jobs/follows/create_chat_channel_job.rb
  spec/jobs/follows/create_chat_channel_job_spec.rb
Owners: @thepracticaldev/sre

Declare new AWS variables in ENV file (#5765) [deploy]
  Envfile
Owners: none

Declare new AWS variables in ENV file (#5765) [deploy]
  Envfile
Owners: none

Fix Travis's artfact path (#5760)
  .travis.yml
Owners: none

Fix Travis's artfact path (#5760)
  .travis.yml
Owners: none

[deploy] Add "functional.cafe" to Mastodon list (#5737)
  app/lib/constants.rb
Owners: none

[deploy] Add "functional.cafe" to Mastodon list (#5737)
  app/lib/constants.rb
Owners: none

More updates to frontend documentation (#5724)
  docs/frontend/dynamic-imports.md
  docs/frontend/readme.md
  docs/frontend/styles.md
  docs/technical-overview/architecture.md
Owners: @jacobherrington

More updates to frontend documentation (#5724)
  docs/frontend/dynamic-imports.md
  docs/frontend/readme.md
  docs/frontend/styles.md
  docs/technical-overview/architecture.md
Owners: @jacobherrington

fix firefox tags 'View Rules' bug (#5732) [deploy]
  app/javascript/shared/components/tags.jsx
Owners: none

fix firefox tags 'View Rules' bug (#5732) [deploy]
  app/javascript/shared/components/tags.jsx
Owners: none

Don't use the service worker for the feed (#5734)
  app/views/service_worker/index.js.erb
Owners: none

Don't use the service worker for the feed (#5734)
  app/views/service_worker/index.js.erb
Owners: none

Removed redundant yarn install command. (#5764)
  docs/installation/docker.md
Owners: @jacobherrington

Removed redundant yarn install command. (#5764)
  docs/installation/docker.md
Owners: @jacobherrington

Add organizations to user profile (#5583) [deploy]
  app/models/organization_membership.rb
  app/views/users/_organizations_area.html.erb
  app/views/users/_sidebar_additional.html.erb
  app/views/users/show.html.erb
  db/migrate/20200119214529_add_organization_info_updated_at_to_users.rb
  db/schema.rb
  spec/factories/organization_memberships.rb
  spec/system/user/view_user_index_spec.rb
Owners: @thepracticaldev/sre

Add organizations to user profile (#5583) [deploy]
  app/models/organization_membership.rb
  app/views/users/_organizations_area.html.erb
  app/views/users/_sidebar_additional.html.erb
  app/views/users/show.html.erb
  db/migrate/20200119214529_add_organization_info_updated_at_to_users.rb
  db/schema.rb
  spec/factories/organization_memberships.rb
  spec/system/user/view_user_index_spec.rb
Owners: @thepracticaldev/sre

Remove RssReaderFetchUserJob and spec (#5720) [deploy]
  app/jobs/rss_reader_fetch_user_job.rb
  spec/jobs/rss_reader_fetch_user_job_spec.rb
Owners: @thepracticaldev/sre

Remove RssReaderFetchUserJob and spec (#5720) [deploy]
  app/jobs/rss_reader_fetch_user_job.rb
  spec/jobs/rss_reader_fetch_user_job_spec.rb
Owners: @thepracticaldev/sre

Add production verify stage to TravisCI config (#5621)
  .travis.yml
  config/environments/production.rb
Owners: @thepracticaldev/sre

Add production verify stage to TravisCI config (#5621)
  .travis.yml
  config/environments/production.rb
Owners: @thepracticaldev/sre

comment_controller: add skip_auth to rescue error block (#5728)
  app/controllers/comments_controller.rb
  spec/requests/comments_create_spec.rb
Owners: none

comment_controller: add skip_auth to rescue error block (#5728)
  app/controllers/comments_controller.rb
  spec/requests/comments_create_spec.rb
Owners: none

Move Webhook::DispatchEventJob to Sidekiq (#5722) [deploy]
  app/services/webhook/dispatch_event.rb
  app/workers/webhook/dispatch_event_worker.rb
  spec/requests/articles/articles_create_spec.rb
  spec/requests/articles/articles_update_spec.rb
  spec/services/webhook/dispatch_event_spec.rb
  spec/workers/webhook/dispatch_event_worker_spec.rb
Owners: @thepracticaldev/sre

Move Webhook::DispatchEventJob to Sidekiq (#5722) [deploy]
  app/services/webhook/dispatch_event.rb
  app/workers/webhook/dispatch_event_worker.rb
  spec/requests/articles/articles_create_spec.rb
  spec/requests/articles/articles_update_spec.rb
  spec/services/webhook/dispatch_event_spec.rb
  spec/workers/webhook/dispatch_event_worker_spec.rb
Owners: @thepracticaldev/sre
