Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Team snackCase
/app/assets/stylesheets/internal/ @jacobherrington @zhao-andy
/app/controllers/internal/        @jacobherrington @zhao-andy
/app/views/internal/              @jacobherrington @zhao-andy
/app/views/moderation/            @jacobherrington @zhao-andy
/spec/system/internal/            @jacobherrington @zhao-andy
/spec/requests/internal/          @jacobherrington @zhao-andy
/docs/                            @jacobherrington

Remove ENV["USE_NEW_AWS"] and use Orig ENV variables for New Creds (#5771) [deploy]
  Envfile
  config/initializers/carrierwave.rb
  config/sitemap.rb
Owners: @thepracticaldev/sre

Remove ENV["USE_NEW_AWS"] and use Orig ENV variables for New Creds (#5771) [deploy]
  Envfile
  config/initializers/carrierwave.rb
  config/sitemap.rb
Owners: @thepracticaldev/sre

Improve video controllers caching and retrieving (#5709) [deploy]
  app/controllers/api/v0/videos_controller.rb
  app/controllers/videos_controller.rb
  app/models/article.rb
  app/views/videos/index.html.erb
  spec/requests/api/v0/videos_spec.rb
  spec/requests/videos_api_spec.rb
Owners: none

Improve video controllers caching and retrieving (#5709) [deploy]
  app/controllers/api/v0/videos_controller.rb
  app/controllers/videos_controller.rb
  app/models/article.rb
  app/views/videos/index.html.erb
  spec/requests/api/v0/videos_spec.rb
  spec/requests/videos_api_spec.rb
Owners: none

Remove delayed job that updated media url for podcast episodes (#5770)
  app/jobs/podcast_episodes/update_media_url_job.rb
  spec/jobs/podcast_episodes/update_media_url_job_spec.rb
Owners: @thepracticaldev/sre

Remove delayed job that updated media url for podcast episodes (#5770)
  app/jobs/podcast_episodes/update_media_url_job.rb
  spec/jobs/podcast_episodes/update_media_url_job_spec.rb
Owners: @thepracticaldev/sre

Use page location as indicator for page load (#5735) [deploy]
  app/views/layouts/_top_bar.html.erb
Owners: none

Use page location as indicator for page load (#5735) [deploy]
  app/views/layouts/_top_bar.html.erb
Owners: none

Improve API podcast episodes controller caching and fetching (#5772) [deploy]
  app/controllers/api/v0/podcast_episodes_controller.rb
  spec/requests/api/v0/podcasts_episodes_spec.rb
Owners: none

Improve API podcast episodes controller caching and fetching (#5772) [deploy]
  app/controllers/api/v0/podcast_episodes_controller.rb
  spec/requests/api/v0/podcasts_episodes_spec.rb
Owners: none

Fix rubocop complaints (#5769)
  .rubocop_todo.yml
  spec/decorators/article_decorator_spec.rb
  spec/decorators/user_decorator_spec.rb
Owners: none

Fix rubocop complaints (#5769)
  .rubocop_todo.yml
  spec/decorators/article_decorator_spec.rb
  spec/decorators/user_decorator_spec.rb
Owners: none

Remove DispatchEventJob and spec (#5774) [deploy]
  app/jobs/webhook/dispatch_event_job.rb
  spec/jobs/webhook/dispatch_event_job_spec.rb
Owners: @thepracticaldev/sre

Remove DispatchEventJob and spec (#5774) [deploy]
  app/jobs/webhook/dispatch_event_job.rb
  spec/jobs/webhook/dispatch_event_job_spec.rb
Owners: @thepracticaldev/sre

Add documentation for dummy variables in .travis.yml (#5781)
  .travis.yml
Owners: none

Add documentation for dummy variables in .travis.yml (#5781)
  .travis.yml
Owners: none

Add comment explaing catch + reraise (#5782)
  app/controllers/comments_controller.rb
Owners: none

Add comment explaing catch + reraise (#5782)
  app/controllers/comments_controller.rb
Owners: none

Remove unused user follow job (#5776)
  app/jobs/users/follow_job.rb
  spec/jobs/users/follow_job_spec.rb
Owners: @thepracticaldev/sre

Remove unused user follow job (#5776)
  app/jobs/users/follow_job.rb
  spec/jobs/users/follow_job_spec.rb
Owners: @thepracticaldev/sre

Change ModerationNotificationJob to ModerationNotificationWorker and move to sidekiq (#5683) [deploy]
  app/models/comment.rb
  app/models/notification.rb
  app/workers/notifications/moderation_notification_worker.rb
  spec/requests/notifications_spec.rb
  spec/services/notifications/moderation/send_spec.rb
  spec/workers/notifications/moderation_notification_worker_spec.rb
Owners: @thepracticaldev/sre

Change ModerationNotificationJob to ModerationNotificationWorker and move to sidekiq (#5683) [deploy]
  app/models/comment.rb
  app/models/notification.rb
  app/workers/notifications/moderation_notification_worker.rb
  spec/requests/notifications_spec.rb
  spec/services/notifications/moderation/send_spec.rb
  spec/workers/notifications/moderation_notification_worker_spec.rb
Owners: @thepracticaldev/sre

Remove unused populate history job (#5778)
  app/jobs/pro_memberships/populate_history_job.rb
  spec/jobs/pro_memberships/populate_history_job_spec.rb
Owners: @thepracticaldev/sre

Remove unused populate history job (#5778)
  app/jobs/pro_memberships/populate_history_job.rb
  spec/jobs/pro_memberships/populate_history_job_spec.rb
Owners: @thepracticaldev/sre

Remove actionpack-action_caching gem (#5787)
  Gemfile
  Gemfile.lock
Owners: @maestromac

Remove actionpack-action_caching gem (#5787)
  Gemfile
  Gemfile.lock
Owners: @maestromac

Refactor Podcasts Bust Cache job (#5421)
  app/jobs/podcasts/bust_cache_job.rb
  app/models/podcast.rb
  app/workers/podcasts/bust_cache_worker.rb
  spec/jobs/podcasts/bust_cache_job_spec.rb
  spec/models/page_spec.rb
  spec/models/podcast_spec.rb
  spec/workers/podcasts/bust_cache_worker.rb
Owners: @thepracticaldev/sre

Refactor Podcasts Bust Cache job (#5421)
  app/jobs/podcasts/bust_cache_job.rb
  app/models/podcast.rb
  app/workers/podcasts/bust_cache_worker.rb
  spec/jobs/podcasts/bust_cache_job_spec.rb
  spec/models/page_spec.rb
  spec/models/podcast_spec.rb
  spec/workers/podcasts/bust_cache_worker.rb
Owners: @thepracticaldev/sre

Remove Notifications::RemoveAllByActionJob and Handle inline (#5690)
  app/jobs/notifications/remove_all_by_action_job.rb
  app/models/notification.rb
  spec/jobs/notifications/remove_all_by_action_job_spec.rb
Owners: @thepracticaldev/sre

Remove Notifications::RemoveAllByActionJob and Handle inline (#5690)
  app/jobs/notifications/remove_all_by_action_job.rb
  app/models/notification.rb
  spec/jobs/notifications/remove_all_by_action_job_spec.rb
Owners: @thepracticaldev/sre

Change Notifications::UpdateJob to Notifications::UpdateWorker and move to sidekiq (#5689) [deploy]
  app/models/article.rb
  app/models/comment.rb
  app/models/notification.rb
  app/workers/notifications/update_worker.rb
  spec/models/comment_spec.rb
  spec/models/notification_spec.rb
  spec/workers/notifications/update_worker_spec.rb
Owners: @thepracticaldev/sre

Change Notifications::UpdateJob to Notifications::UpdateWorker and move to sidekiq (#5689) [deploy]
  app/models/article.rb
  app/models/comment.rb
  app/models/notification.rb
  app/workers/notifications/update_worker.rb
  spec/models/comment_spec.rb
  spec/models/notification_spec.rb
  spec/workers/notifications/update_worker_spec.rb
Owners: @thepracticaldev/sre

Downgrade Storybook for Webpack compatibility (#5783)
  package.json
  yarn.lock
Owners: @maestromac

Downgrade Storybook for Webpack compatibility (#5783)
  package.json
  yarn.lock
Owners: @maestromac

Create dynamic robots.txt page (#5794) [deploy]
  app/controllers/pages_controller.rb
  app/views/pages/robots.text.erb
  config/routes.rb
  public/robots.txt
  spec/requests/pages_spec.rb
Owners: @thepracticaldev/sre

Create dynamic robots.txt page (#5794) [deploy]
  app/controllers/pages_controller.rb
  app/views/pages/robots.text.erb
  config/routes.rb
  public/robots.txt
  spec/requests/pages_spec.rb
Owners: @thepracticaldev/sre

combine Rack::Timeout::RequestTimeoutErrors with Exceptions in Honeybadger (#5789) [deploy]
  config/initializers/honeybadger.rb
  spec/initializers/honeybadger_spec.rb
  spec/initializers/shared_examples/sets_correct_honeybadger_fingerprint.rb
  spec/rails_helper.rb
Owners: @thepracticaldev/sre

combine Rack::Timeout::RequestTimeoutErrors with Exceptions in Honeybadger (#5789) [deploy]
  config/initializers/honeybadger.rb
  spec/initializers/honeybadger_spec.rb
  spec/initializers/shared_examples/sets_correct_honeybadger_fingerprint.rb
  spec/rails_helper.rb
Owners: @thepracticaldev/sre

Add a note to clarify deploy preview link (#5800)
  docs/contributing.md
Owners: @jacobherrington

Add a note to clarify deploy preview link (#5800)
  docs/contributing.md
Owners: @jacobherrington
