Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

[deploy] Feature:Move Metric Rake Tasks to Sidekiq Cron (#9794)
  config/schedule.yml
  lib/tasks/metrics.rake
Owners: @forem/sre

[deploy] Feature:Move Metric Rake Tasks to Sidekiq Cron (#9794)
  config/schedule.yml
  lib/tasks/metrics.rake
Owners: @forem/sre

Add PUBLIC_CONTROLLERS constant (#9825)
  app/controllers/application_controller.rb
Owners: none

Add PUBLIC_CONTROLLERS constant (#9825)
  app/controllers/application_controller.rb
Owners: none

[deploy] Bug Fix:Remove User Roles From Elasticsearch Returned Data (#9831)
  app/services/search/user.rb
Owners: @forem/sre

[deploy] Bug Fix:Remove User Roles From Elasticsearch Returned Data (#9831)
  app/services/search/user.rb
Owners: @forem/sre

[deploy] Documenation: Update API Article Update Rate Limit Value to 30 (#9832)
  app/helpers/rate_limit_checker_helper.rb
  docs/api_v0.yml
Owners: @forem/oss, @jacobherrington

[deploy] Documenation: Update API Article Update Rate Limit Value to 30 (#9832)
  app/helpers/rate_limit_checker_helper.rb
  docs/api_v0.yml
Owners: @forem/oss, @jacobherrington

Flaky Spec Fix:Ensure We Find Articles With Tags and Dont Cache Count for Class Method (#9833)
  app/labor/article_suggester.rb
  spec/labor/article_suggester_spec.rb
Owners: none

Flaky Spec Fix:Ensure We Find Articles With Tags and Dont Cache Count for Class Method (#9833)
  app/labor/article_suggester.rb
  spec/labor/article_suggester_spec.rb
Owners: none

[deploy] Add Logging Statements to Debug Hypershield Refresh Not Working on Heroku (#9838)
  lib/tasks/app_initializer.rake
Owners: none

[deploy] Add Logging Statements to Debug Hypershield Refresh Not Working on Heroku (#9838)
  lib/tasks/app_initializer.rake
Owners: none

Comments out the USER directive due to issues with podman-compose. (#9835)
  Containerfile
Owners: none

Comments out the USER directive due to issues with podman-compose. (#9835)
  Containerfile
Owners: none

Social Auth generalization refactor (#9837)
  app/controllers/omniauth_callbacks_controller.rb
  app/helpers/authentication_helper.rb
  app/models/user.rb
  app/services/authentication/authenticator.rb
  app/services/authentication/providers.rb
  app/services/authentication/providers/github.rb
  app/services/authentication/providers/provider.rb
  app/services/authentication/providers/twitter.rb
  app/services/broadcasts/welcome_notification/generator.rb
  app/services/users/estimate_default_language.rb
  app/views/users/_account.html.erb
  app/views/users/_account_providers_settings.html.erb
  spec/models/identity_spec.rb
  spec/models/user_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
  spec/system/homepage/user_visits_homepage_spec.rb
  spec/system/link_for_tags_in_posts_in_notifications_spec.rb
Owners: none

Social Auth generalization refactor (#9837)
  app/controllers/omniauth_callbacks_controller.rb
  app/helpers/authentication_helper.rb
  app/models/user.rb
  app/services/authentication/authenticator.rb
  app/services/authentication/providers.rb
  app/services/authentication/providers/github.rb
  app/services/authentication/providers/provider.rb
  app/services/authentication/providers/twitter.rb
  app/services/broadcasts/welcome_notification/generator.rb
  app/services/users/estimate_default_language.rb
  app/views/users/_account.html.erb
  app/views/users/_account_providers_settings.html.erb
  spec/models/identity_spec.rb
  spec/models/user_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
  spec/system/homepage/user_visits_homepage_spec.rb
  spec/system/link_for_tags_in_posts_in_notifications_spec.rb
Owners: none

[deploy] API: add created_at datetime to comments (#9829)
  app/controllers/api/v0/comments_controller.rb
  app/views/api/v0/comments/_comment.json.jbuilder
  docs/api_v0.yml
  spec/requests/api/v0/comments_spec.rb
Owners: @forem/oss, @jacobherrington

[deploy] API: add created_at datetime to comments (#9829)
  app/controllers/api/v0/comments_controller.rb
  app/views/api/v0/comments/_comment.json.jbuilder
  docs/api_v0.yml
  spec/requests/api/v0/comments_spec.rb
Owners: @forem/oss, @jacobherrington

[deploy] Refactor:Move Yearly Badge Awarder to Sidekiq Cron (#9836)
  app/labor/badge_rewarder.rb
  app/workers/badge_achievements/badge_award_worker.rb
  config/schedule.yml
  lib/tasks/badges.rake
  spec/labor/badge_rewarder_spec.rb
  spec/workers/badge_achievements/badge_award_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move Yearly Badge Awarder to Sidekiq Cron (#9836)
  app/labor/badge_rewarder.rb
  app/workers/badge_achievements/badge_award_worker.rb
  config/schedule.yml
  lib/tasks/badges.rake
  spec/labor/badge_rewarder_spec.rb
  spec/workers/badge_achievements/badge_award_worker_spec.rb
Owners: @forem/sre

Revert "Add Logging Statements to Debug Hypershield Refresh Not Working on Heroku (#9838)" (#9839)
  lib/tasks/app_initializer.rake
Owners: none

Revert "Add Logging Statements to Debug Hypershield Refresh Not Working on Heroku (#9838)" (#9839)
  lib/tasks/app_initializer.rake
Owners: none

[deploy] Create details liquid tag (#9777)
  app/liquid_tags/details_tag.rb
  app/views/liquids/_details.html.erb
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_editor_liquid_help.html.erb
  spec/liquid_tags/details_tag_spec.rb
  spec/support/fixtures/approvals/details_liquid_tag_spec.approved.html
Owners: @forem/sre

[deploy] Create details liquid tag (#9777)
  app/liquid_tags/details_tag.rb
  app/views/liquids/_details.html.erb
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_editor_liquid_help.html.erb
  spec/liquid_tags/details_tag_spec.rb
  spec/support/fixtures/approvals/details_liquid_tag_spec.approved.html
Owners: @forem/sre

Add "required" attribute to the login form (#9792)
  app/views/devise/registrations/_registration_form.html.erb
Owners: none

Add "required" attribute to the login form (#9792)
  app/views/devise/registrations/_registration_form.html.erb
Owners: none

Populate options from javascript instead of hardcoding (#9796)
  public/offline.html
Owners: none

Populate options from javascript instead of hardcoding (#9796)
  public/offline.html
Owners: none

Rubocop: Enable and fix Style/StringConcatenation (#9844)
  .rubocop.yml
  app/controllers/admin/welcome_controller.rb
  app/controllers/articles_controller.rb
  app/controllers/video_chats_controller.rb
  app/controllers/videos_controller.rb
  app/helpers/application_helper.rb
  app/labor/bufferizer.rb
  app/labor/cache_buster.rb
  app/labor/language_detector.rb
  app/labor/markdown_parser.rb
  app/liquid_tags/github_tag/github_readme_tag.rb
  app/liquid_tags/kotlin_tag.rb
  app/models/article.rb
  app/models/chat_channel.rb
  app/models/chat_channel_membership.rb
  app/models/message.rb
  app/models/tweet.rb
  app/models/user.rb
  app/services/chat_channels/create_with_users.rb
  app/services/users/profile_image_generator.rb
  config/initializers/sprockets_uglifier_with_source_maps_compressor.rb
  spec/labor/bufferizer_spec.rb
  spec/labor/markdown_parser_spec.rb
  spec/liquid_tags/glitch_tag_spec.rb
  spec/liquid_tags/link_tag_spec.rb
  spec/liquid_tags/next_tech_tag_spec.rb
  spec/liquid_tags/podcast_tag_spec.rb
  spec/liquid_tags/youtube_tag_spec.rb
  spec/models/article_spec.rb
  spec/requests/api/v0/articles_spec.rb
  spec/requests/articles/articles_show_spec.rb
  spec/requests/comments_destroy_spec.rb
  spec/requests/moderations_spec.rb
  spec/requests/stories_index_spec.rb
  spec/requests/user/user_organization_spec.rb
  spec/requests/user/user_show_spec.rb
  spec/services/chat_channels/find_or_create_spec.rb
  spec/system/comments/user_delete_a_comment_spec.rb
  spec/system/dashboards/user_scrolls_down_dashboard_follows_spec.rb
  spec/workers/articles/bust_multiple_caches_worker_spec.rb
Owners: @forem/snackcase, @forem/hells-bells, @forem/sre

Rubocop: Enable and fix Style/StringConcatenation (#9844)
  .rubocop.yml
  app/controllers/admin/welcome_controller.rb
  app/controllers/articles_controller.rb
  app/controllers/video_chats_controller.rb
  app/controllers/videos_controller.rb
  app/helpers/application_helper.rb
  app/labor/bufferizer.rb
  app/labor/cache_buster.rb
  app/labor/language_detector.rb
  app/labor/markdown_parser.rb
  app/liquid_tags/github_tag/github_readme_tag.rb
  app/liquid_tags/kotlin_tag.rb
  app/models/article.rb
  app/models/chat_channel.rb
  app/models/chat_channel_membership.rb
  app/models/message.rb
  app/models/tweet.rb
  app/models/user.rb
  app/services/chat_channels/create_with_users.rb
  app/services/users/profile_image_generator.rb
  config/initializers/sprockets_uglifier_with_source_maps_compressor.rb
  spec/labor/bufferizer_spec.rb
  spec/labor/markdown_parser_spec.rb
  spec/liquid_tags/glitch_tag_spec.rb
  spec/liquid_tags/link_tag_spec.rb
  spec/liquid_tags/next_tech_tag_spec.rb
  spec/liquid_tags/podcast_tag_spec.rb
  spec/liquid_tags/youtube_tag_spec.rb
  spec/models/article_spec.rb
  spec/requests/api/v0/articles_spec.rb
  spec/requests/articles/articles_show_spec.rb
  spec/requests/comments_destroy_spec.rb
  spec/requests/moderations_spec.rb
  spec/requests/stories_index_spec.rb
  spec/requests/user/user_organization_spec.rb
  spec/requests/user/user_show_spec.rb
  spec/services/chat_channels/find_or_create_spec.rb
  spec/system/comments/user_delete_a_comment_spec.rb
  spec/system/dashboards/user_scrolls_down_dashboard_follows_spec.rb
  spec/workers/articles/bust_multiple_caches_worker_spec.rb
Owners: @forem/snackcase, @forem/hells-bells, @forem/sre

[deploy] Nullify article_id for HtmlVariantTrials linked to non existing articles (#9845)
  lib/data_update_scripts/20200818103028_nullify_orphaned_by_article_html_variant_trials.rb
Owners: @forem/sre

[deploy] Nullify article_id for HtmlVariantTrials linked to non existing articles (#9845)
  lib/data_update_scripts/20200818103028_nullify_orphaned_by_article_html_variant_trials.rb
Owners: @forem/sre

[deploy] 🐞Bug Fix: Room that has been left still shows up in URL [Fixes: #9501] (#9804)
  app/helpers/chat_channel_memberships_helper.rb
  app/javascript/chat/ChatChannelSettings/ChatChannelSettings.jsx
  app/javascript/chat/RequestManager/PersonalInvitationListItem.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/content.jsx
Owners: none

[deploy] 🐞Bug Fix: Room that has been left still shows up in URL [Fixes: #9501] (#9804)
  app/helpers/chat_channel_memberships_helper.rb
  app/javascript/chat/ChatChannelSettings/ChatChannelSettings.jsx
  app/javascript/chat/RequestManager/PersonalInvitationListItem.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/content.jsx
Owners: none

Enable pending Style/SingleArgumentDig (#9842)
  .rubocop.yml
  app/controllers/api/v0/articles_controller.rb
  app/controllers/image_uploads_controller.rb
  app/services/search/base.rb
  app/services/search/feed_content.rb
  app/services/search/tag.rb
  app/services/search/user.rb
  spec/serializers/search/reaction_serializer_spec.rb
  spec/services/search/chat_channel_membership_spec.rb
  spec/services/search/feed_content_spec.rb
  spec/services/search/listing_spec.rb
  spec/services/search/query_builders/chat_channel_membership_spec.rb
  spec/services/search/query_builders/feed_content_spec.rb
  spec/services/search/query_builders/listing_spec.rb
  spec/services/search/query_builders/reaction_spec.rb
  spec/services/search/query_builders/user_spec.rb
  spec/services/search/reaction_spec.rb
  spec/services/search/user_spec.rb
Owners: @forem/sre

Enable pending Style/SingleArgumentDig (#9842)
  .rubocop.yml
  app/controllers/api/v0/articles_controller.rb
  app/controllers/image_uploads_controller.rb
  app/services/search/base.rb
  app/services/search/feed_content.rb
  app/services/search/tag.rb
  app/services/search/user.rb
  spec/serializers/search/reaction_serializer_spec.rb
  spec/services/search/chat_channel_membership_spec.rb
  spec/services/search/feed_content_spec.rb
  spec/services/search/listing_spec.rb
  spec/services/search/query_builders/chat_channel_membership_spec.rb
  spec/services/search/query_builders/feed_content_spec.rb
  spec/services/search/query_builders/listing_spec.rb
  spec/services/search/query_builders/reaction_spec.rb
  spec/services/search/query_builders/user_spec.rb
  spec/services/search/reaction_spec.rb
  spec/services/search/user_spec.rb
Owners: @forem/sre

[deploy] Add relations and foreign keys between HtmlVariant related models (#9846)
  .rubocop_todo.yml
  app/models/article.rb
  app/models/html_variant.rb
  app/models/html_variant_success.rb
  app/models/html_variant_trial.rb
  app/models/user.rb
  db/migrate/20200818101637_add_missing_foreign_keys_to_html_variants_models.rb
  db/migrate/20200818101700_validate_add_missing_foreign_keys_to_html_variants_models.rb
  db/schema.rb
  spec/models/article_spec.rb
  spec/models/html_variant_spec.rb
  spec/models/user_spec.rb
Owners: @forem/sre

[deploy] Add relations and foreign keys between HtmlVariant related models (#9846)
  .rubocop_todo.yml
  app/models/article.rb
  app/models/html_variant.rb
  app/models/html_variant_success.rb
  app/models/html_variant_trial.rb
  app/models/user.rb
  db/migrate/20200818101637_add_missing_foreign_keys_to_html_variants_models.rb
  db/migrate/20200818101700_validate_add_missing_foreign_keys_to_html_variants_models.rb
  db/schema.rb
  spec/models/article_spec.rb
  spec/models/html_variant_spec.rb
  spec/models/user_spec.rb
Owners: @forem/sre

Style logged-out authentication modal (#9827)
  app/assets/javascripts/utilities/showModal.js
  app/assets/stylesheets/signin.scss
  app/assets/stylesheets/signup-modal.scss
  app/views/layouts/_signup_modal.html.erb
  app/views/stories/_sign_in_invitation.html.erb
Owners: @forem/hells-bells

Style logged-out authentication modal (#9827)
  app/assets/javascripts/utilities/showModal.js
  app/assets/stylesheets/signin.scss
  app/assets/stylesheets/signup-modal.scss
  app/views/layouts/_signup_modal.html.erb
  app/views/stories/_sign_in_invitation.html.erb
Owners: @forem/hells-bells

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre
