Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/hells-bells, @forem/sre, @jacobherrington, @forem/systems, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/oss    @nickytonline

I guess you can't use env vars for username and server. (#11499)
  .buildkite/pipeline.containers.yml
Owners: @forem/systems, @forem/sre

I guess you can't use env vars for username and server. (#11499)
  .buildkite/pipeline.containers.yml
Owners: @forem/systems, @forem/sre

Fix menu dropdown disable issue (#11498)
  app/views/layouts/_nav_menu.html.erb
Owners: none

Fix menu dropdown disable issue (#11498)
  app/views/layouts/_nav_menu.html.erb
Owners: none

Jdoss/more buildkite container fixes (#11503)
  .buildkite/pipeline.containers.yml
  scripts/build_containers.sh
Owners: @forem/systems, @forem/sre

Jdoss/more buildkite container fixes (#11503)
  .buildkite/pipeline.containers.yml
  scripts/build_containers.sh
Owners: @forem/systems, @forem/sre

Update Trusted User Email Copy (#11505)
  app/views/mailers/notify_mailer/trusted_role_email.html.erb
  app/views/mailers/notify_mailer/trusted_role_email.text.erb
Owners: none

Update Trusted User Email Copy (#11505)
  app/views/mailers/notify_mailer/trusted_role_email.html.erb
  app/views/mailers/notify_mailer/trusted_role_email.text.erb
Owners: none

Removes this dupe container block since we are going to run this pipeline (#11506)
  .buildkite/pipeline.containers.yml
Owners: @forem/systems, @forem/sre

Removes this dupe container block since we are going to run this pipeline (#11506)
  .buildkite/pipeline.containers.yml
Owners: @forem/systems, @forem/sre

Fix Facebook Login profile image download failure (#11478)
  app/services/authentication/providers/facebook.rb
  spec/models/user_spec.rb
Owners: none

Fix Facebook Login profile image download failure (#11478)
  app/services/authentication/providers/facebook.rb
  spec/models/user_spec.rb
Owners: none

Adds phannon as a Core contributor. (#11510)
  README.md
Owners: @forem/oss

Adds phannon as a Core contributor. (#11510)
  README.md
Owners: @forem/oss

Update copy and links in Mod Sidebar (#11507)
  app/views/moderations/_mod_sidebar_left.html.erb
Owners: none

Update copy and links in Mod Sidebar (#11507)
  app/views/moderations/_mod_sidebar_left.html.erb
Owners: none

Update README (#11491)
  README.md
Owners: @forem/oss

Update README (#11491)
  README.md
Owners: @forem/oss

Attempt at disabling postcss-next warnings (#11518)
  postcss.config.js
  postcssconfig.js
Owners: none

Attempt at disabling postcss-next warnings (#11518)
  postcss.config.js
  postcssconfig.js
Owners: none

Replace podcast bar helpers with image_tag (#11502)
  app/helpers/application_helper.rb
  app/views/podcast_episodes/_podcast_bar.html.erb
Owners: none

Replace podcast bar helpers with image_tag (#11502)
  app/helpers/application_helper.rb
  app/views/podcast_episodes/_podcast_bar.html.erb
Owners: none

Temporarily disable deploy to BenHalpern server (#11520)
  .travis.yml
Owners: @forem/sre

Temporarily disable deploy to BenHalpern server (#11520)
  .travis.yml
Owners: @forem/sre

Update trusted role email Subject (#11519)
  app/mailers/notify_mailer.rb
  spec/mailers/notify_mailer_spec.rb
Owners: none

Update trusted role email Subject (#11519)
  app/mailers/notify_mailer.rb
  spec/mailers/notify_mailer_spec.rb
Owners: none

Accessibility: initial onboarding fixes (#11408)
  app/assets/stylesheets/config/_colors.scss
  app/assets/stylesheets/shared.scss
  app/assets/stylesheets/views/footer.scss
  app/views/layouts/_footer.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/authentication/_initial_account_wizard.html.erb
Owners: none

Accessibility: initial onboarding fixes (#11408)
  app/assets/stylesheets/config/_colors.scss
  app/assets/stylesheets/shared.scss
  app/assets/stylesheets/views/footer.scss
  app/views/layouts/_footer.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/authentication/_initial_account_wizard.html.erb
Owners: none

Suppress Postcss warnings & Re-enable Benhalpern deploy (#11521)
  .travis.yml
  package.json
  postcss.config.js
Owners: @forem/sre, @forem/oss, @nickytonline

Suppress Postcss warnings & Re-enable Benhalpern deploy (#11521)
  .travis.yml
  package.json
  postcss.config.js
Owners: @forem/sre, @forem/oss, @nickytonline

Fix bundle issues and a few other things. (#11528)
  Containerfile
  scripts/build_containers.sh
Owners: @forem/systems

Fix bundle issues and a few other things. (#11528)
  Containerfile
  scripts/build_containers.sh
Owners: @forem/systems

Update Copy for Orgs Call-to-action Box (#11534)
  app/views/users/_org_admin.html.erb
Owners: none

Update Copy for Orgs Call-to-action Box (#11534)
  app/views/users/_org_admin.html.erb
Owners: none

Fixing overflow of comment button (#11562)
  app/assets/javascripts/utilities/buildCommentFormHTML.js.erb
Owners: none

Fixing overflow of comment button (#11562)
  app/assets/javascripts/utilities/buildCommentFormHTML.js.erb
Owners: none

Remove UnreadNotificationsEmailer (#11561)
  app/labor/unread_notifications_emailer.rb
  spec/labor/unread_notifications_emailer_spec.rb
Owners: none

Remove UnreadNotificationsEmailer (#11561)
  app/labor/unread_notifications_emailer.rb
  spec/labor/unread_notifications_emailer_spec.rb
Owners: none

Bug Fix:User >= when filtering by SiteConfig.home_feed_minimum_score (#11567)
  app/services/articles/feeds/large_forem_experimental.rb
  spec/services/articles/feeds/large_forem_experimental_spec.rb
Owners: none

Bug Fix:User >= when filtering by SiteConfig.home_feed_minimum_score (#11567)
  app/services/articles/feeds/large_forem_experimental.rb
  spec/services/articles/feeds/large_forem_experimental_spec.rb
Owners: none
