Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/core-pullassigner, @thepracticaldev/sre, @maestromac

.github/CODEOWNERS:

*        @thepracticaldev/core-pullassigner

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

Remove climate strike related code (#4581)
  app/views/articles/index.html.erb
Owners: @thepracticaldev/core-pullassigner

Remove climate strike related code (#4581)
  app/views/articles/index.html.erb
Owners: @thepracticaldev/core-pullassigner

Strip EXIF and GPS data from uploaded images (#4450)
  Gemfile
  Gemfile.lock
  app/uploaders/article_image_uploader.rb
  app/uploaders/badge_uploader.rb
  app/uploaders/base_uploader.rb
  app/uploaders/cover_image_uploader.rb
  app/uploaders/profile_image_uploader.rb
  config/initializers/carrierwave.rb
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/windows.md
  docs/technical-overview.md
  spec/fixtures/files/800x600.jpg
  spec/fixtures/files/800x600.png
  spec/fixtures/files/800x600.webp
  spec/fixtures/files/image_gps_data.jpg
  spec/uploaders/article_image_uploader_spec.rb
  spec/uploaders/badge_uploader_spec.rb
  spec/uploaders/cover_image_uploader_spec.rb
  spec/uploaders/profile_image_uploader_spec.rb
Owners: @maestromac, @thepracticaldev/core-pullassigner, @thepracticaldev/sre

Strip EXIF and GPS data from uploaded images (#4450)
  Gemfile
  Gemfile.lock
  app/uploaders/article_image_uploader.rb
  app/uploaders/badge_uploader.rb
  app/uploaders/base_uploader.rb
  app/uploaders/cover_image_uploader.rb
  app/uploaders/profile_image_uploader.rb
  config/initializers/carrierwave.rb
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/windows.md
  docs/technical-overview.md
  spec/fixtures/files/800x600.jpg
  spec/fixtures/files/800x600.png
  spec/fixtures/files/800x600.webp
  spec/fixtures/files/image_gps_data.jpg
  spec/uploaders/article_image_uploader_spec.rb
  spec/uploaders/badge_uploader_spec.rb
  spec/uploaders/cover_image_uploader_spec.rb
  spec/uploaders/profile_image_uploader_spec.rb
Owners: @maestromac, @thepracticaldev/core-pullassigner, @thepracticaldev/sre

Remove unused spec support BackgroundJobs (#4464) [ci skip]
  spec/models/notification_spec.rb
  spec/observers/comment_observer_spec.rb
  spec/support/background_jobs.rb
Owners: @thepracticaldev/core-pullassigner

Remove unused spec support BackgroundJobs (#4464) [ci skip]
  spec/models/notification_spec.rb
  spec/observers/comment_observer_spec.rb
  spec/support/background_jobs.rb
Owners: @thepracticaldev/core-pullassigner

Refactored to use a common <OrganizationPicker /> component (#4470)
  app/javascript/article-form/articleForm.jsx
  app/javascript/article-form/elements/orgSettings.jsx
  app/javascript/listings/elements/orgSettings.jsx
  app/javascript/listings/listingForm.jsx
  app/javascript/organization/OrganizationPicker.jsx
  app/javascript/organization/__tests__/OrganizationPicker.test.jsx
  app/javascript/organization/__tests__/__snapshots__/OrganizationPicker.test.jsx.snap
  app/javascript/src/components/common-prop-types/index.js
  app/javascript/src/components/common-prop-types/organization-prop-type.js
Owners: @thepracticaldev/core-pullassigner

Refactored to use a common <OrganizationPicker /> component (#4470)
  app/javascript/article-form/articleForm.jsx
  app/javascript/article-form/elements/orgSettings.jsx
  app/javascript/listings/elements/orgSettings.jsx
  app/javascript/listings/listingForm.jsx
  app/javascript/organization/OrganizationPicker.jsx
  app/javascript/organization/__tests__/OrganizationPicker.test.jsx
  app/javascript/organization/__tests__/__snapshots__/OrganizationPicker.test.jsx.snap
  app/javascript/src/components/common-prop-types/index.js
  app/javascript/src/components/common-prop-types/organization-prop-type.js
Owners: @thepracticaldev/core-pullassigner

Fix issue where cover image shows up when it shouldn't (#4583)
  app/javascript/article-form/elements/bodyPreview.jsx
Owners: @thepracticaldev/core-pullassigner

Fix issue where cover image shows up when it shouldn't (#4583)
  app/javascript/article-form/elements/bodyPreview.jsx
Owners: @thepracticaldev/core-pullassigner

Fix linter complaints in onboarding/components/IntroSlide.jsx (#4469)
  app/javascript/onboarding/__tests__/__snapshots__/Onboarding.test.jsx.snap
  app/javascript/onboarding/components/IntroSlide.jsx
Owners: @thepracticaldev/core-pullassigner

Fix linter complaints in onboarding/components/IntroSlide.jsx (#4469)
  app/javascript/onboarding/__tests__/__snapshots__/Onboarding.test.jsx.snap
  app/javascript/onboarding/components/IntroSlide.jsx
Owners: @thepracticaldev/core-pullassigner

Fix comment author being notified when mentioning itself (#4456)
  app/services/mentions/create_all.rb
  spec/services/mentions/create_all_spec.rb
Owners: @thepracticaldev/core-pullassigner

Fix comment author being notified when mentioning itself (#4456)
  app/services/mentions/create_all.rb
  spec/services/mentions/create_all_spec.rb
Owners: @thepracticaldev/core-pullassigner

Enforce ruby19_no_mixed_keys Style/HashSyntax (#4588)
  .rubocop.yml
  app/controllers/users_controller.rb
  app/helpers/application_helper.rb
  config/routes.rb
Owners: @thepracticaldev/core-pullassigner, @thepracticaldev/sre

Enforce ruby19_no_mixed_keys Style/HashSyntax (#4588)
  .rubocop.yml
  app/controllers/users_controller.rb
  app/helpers/application_helper.rb
  config/routes.rb
Owners: @thepracticaldev/core-pullassigner, @thepracticaldev/sre

API docs updates (#4585)
  docs/api_v0.yml
Owners: @thepracticaldev/core-pullassigner

API docs updates (#4585)
  docs/api_v0.yml
Owners: @thepracticaldev/core-pullassigner

Add Condition for deployment (#4578)
  .travis.yml
  docs/deployment.md
Owners: @thepracticaldev/core-pullassigner

Add Condition for deployment (#4578)
  .travis.yml
  docs/deployment.md
Owners: @thepracticaldev/core-pullassigner

Use current_user to avoid looking up the user again via the reaction (#4592)
  app/controllers/reactions_controller.rb
Owners: @thepracticaldev/core-pullassigner

Use current_user to avoid looking up the user again via the reaction (#4592)
  app/controllers/reactions_controller.rb
Owners: @thepracticaldev/core-pullassigner

Add index for old_username and old_old_usernames (#4593)
  db/migrate/20191025185619_add_old_username_index_to_users.rb
  db/schema.rb
Owners: @thepracticaldev/sre

Add index for old_username and old_old_usernames (#4593)
  db/migrate/20191025185619_add_old_username_index_to_users.rb
  db/schema.rb
Owners: @thepracticaldev/sre

Pro - Stats view - Buttons are not dark-mode friendly (#4596)
  app/assets/stylesheets/dashboard.scss
Owners: @thepracticaldev/core-pullassigner

Pro - Stats view - Buttons are not dark-mode friendly (#4596)
  app/assets/stylesheets/dashboard.scss
Owners: @thepracticaldev/core-pullassigner

Revert search placeholder text to just 'Search' (#4607)
  app/javascript/src/components/Search/SearchForm.jsx
  app/javascript/src/components/Search/__tests__/__snapshots__/Search.test.jsx.snap
  app/javascript/src/components/Search/__tests__/__snapshots__/SearchForm.test.jsx.snap
  app/views/layouts/_top_bar.html.erb
Owners: @thepracticaldev/core-pullassigner

Revert search placeholder text to just 'Search' (#4607)
  app/javascript/src/components/Search/SearchForm.jsx
  app/javascript/src/components/Search/__tests__/__snapshots__/Search.test.jsx.snap
  app/javascript/src/components/Search/__tests__/__snapshots__/SearchForm.test.jsx.snap
  app/views/layouts/_top_bar.html.erb
Owners: @thepracticaldev/core-pullassigner

removed irrelevant word from docs (#4601)
  docs/readme.md
Owners: @thepracticaldev/core-pullassigner

removed irrelevant word from docs (#4601)
  docs/readme.md
Owners: @thepracticaldev/core-pullassigner

README updates for clarification (#4584)
  README.md
Owners: @thepracticaldev/core-pullassigner

README updates for clarification (#4584)
  README.md
Owners: @thepracticaldev/core-pullassigner

[deploy] Fix Image Overflow in Comment Preview - #4382 (#4466)
  app/assets/stylesheets/comments.scss
Owners: @thepracticaldev/core-pullassigner

[deploy] Fix Image Overflow in Comment Preview - #4382 (#4466)
  app/assets/stylesheets/comments.scss
Owners: @thepracticaldev/core-pullassigner

Ran all markdown files through prettier to fix a handful. (#4599)
  CODE_OF_CONDUCT.md
  LICENSE.md
  docs/backend/notification.md
  docs/design/branding.md
  docs/design/theming.md
  docs/installation/docker.md
  docs/installation/linux.md
  docs/self-hosting.md
Owners: @thepracticaldev/core-pullassigner

Ran all markdown files through prettier to fix a handful. (#4599)
  CODE_OF_CONDUCT.md
  LICENSE.md
  docs/backend/notification.md
  docs/design/branding.md
  docs/design/theming.md
  docs/installation/docker.md
  docs/installation/linux.md
  docs/self-hosting.md
Owners: @thepracticaldev/core-pullassigner

Remove ChartDecorator (#4622)
  app/decorators/chart_decorator.rb
Owners: @thepracticaldev/core-pullassigner

Remove ChartDecorator (#4622)
  app/decorators/chart_decorator.rb
Owners: @thepracticaldev/core-pullassigner

Add ImageMagick as one of the dependencies to be installed inside Docker (#4618)
  Dockerfile
Owners: @thepracticaldev/core-pullassigner

Add ImageMagick as one of the dependencies to be installed inside Docker (#4618)
  Dockerfile
Owners: @thepracticaldev/core-pullassigner
