Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre

Add Polymorphism to Broadcasts (Part 1) (#9231) [deploy]
  app/models/announcement.rb
  app/models/welcome_notification.rb
  db/migrate/20200707170245_add_polymorphism_to_broadcasts.rb
  db/migrate/20200707173316_create_announcements.rb
  db/migrate/20200707173524_create_welcome_notifications.rb
  db/migrate/20200710174257_add_index_to_broadcasts.rb
  db/schema.rb
  lib/data_update_scripts/20200708163323_backfill_broadcastable_type_for_broadcasts.rb
Owners: @thepracticaldev/sre

Add Polymorphism to Broadcasts (Part 1) (#9231) [deploy]
  app/models/announcement.rb
  app/models/welcome_notification.rb
  db/migrate/20200707170245_add_polymorphism_to_broadcasts.rb
  db/migrate/20200707173316_create_announcements.rb
  db/migrate/20200707173524_create_welcome_notifications.rb
  db/migrate/20200710174257_add_index_to_broadcasts.rb
  db/schema.rb
  lib/data_update_scripts/20200708163323_backfill_broadcastable_type_for_broadcasts.rb
Owners: @thepracticaldev/sre

Hotfix: Fix Typo in backfill_broadcastable_type_for_broadcasts (#9292) [deploy]
  lib/data_update_scripts/20200708163323_backfill_broadcastable_for_broadcasts.rb
  lib/data_update_scripts/20200708163323_backfill_broadcastable_type_for_broadcasts.rb
Owners: @thepracticaldev/sre

Hotfix: Fix Typo in backfill_broadcastable_type_for_broadcasts (#9292) [deploy]
  lib/data_update_scripts/20200708163323_backfill_broadcastable_for_broadcasts.rb
  lib/data_update_scripts/20200708163323_backfill_broadcastable_type_for_broadcasts.rb
Owners: @thepracticaldev/sre

GitPod: Use node version 12.16.3 (#9271)
  .gitpod.dockerfile
Owners: none

GitPod: Use node version 12.16.3 (#9271)
  .gitpod.dockerfile
Owners: none

SiteConfig view refactoring (#9286)
  app/views/layouts/_social_media.html.erb
  app/views/shell/_top.html.erb
Owners: none

SiteConfig view refactoring (#9286)
  app/views/layouts/_social_media.html.erb
  app/views/shell/_top.html.erb
Owners: none

Adds a default value to the shell version cache response in case it returns undefined (#9250)
  app/views/service_worker/index.js.erb
Owners: none

Adds a default value to the shell version cache response in case it returns undefined (#9250)
  app/views/service_worker/index.js.erb
Owners: none

[deploy] 🐞 Hotfix Real time chat was broken (#9293)
  app/javascript/chat/chat.jsx
Owners: none

[deploy] 🐞 Hotfix Real time chat was broken (#9293)
  app/javascript/chat/chat.jsx
Owners: none

Fix TypeError: userData is null in blockButton.js (#9299)
  app/javascript/profileDropdown/blockButton.js
Owners: none

Fix TypeError: userData is null in blockButton.js (#9299)
  app/javascript/profileDropdown/blockButton.js
Owners: none

Fix TypeError: userData is null in initializeOnboardingTaskCard.js (#9298) [deploy]
  app/assets/javascripts/initializers/initializeOnboardingTaskCard.js
Owners: none

Fix TypeError: userData is null in initializeOnboardingTaskCard.js (#9298) [deploy]
  app/assets/javascripts/initializers/initializeOnboardingTaskCard.js
Owners: none

Fix TypeError: null is not an object in initializeArticleReactions.js (#9297) [deploy]
  app/assets/javascripts/initializers/initializeArticleReactions.js
Owners: none

Fix TypeError: null is not an object in initializeArticleReactions.js (#9297) [deploy]
  app/assets/javascripts/initializers/initializeArticleReactions.js
Owners: none

Routine Rubocop fixes (#9302)
  .rubocop.yml
  .rubocop_todo.yml
  app/controllers/organizations_controller.rb
  app/labor/mailchimp_bot.rb
  app/lib/reverse_markdown/converters/custom_text.rb
  app/models/message.rb
  app/models/tag.rb
  app/services/exporter/articles.rb
  app/services/exporter/comments.rb
  app/services/notifications/tag_adjustment_notification/send.rb
  app/services/suggester/users/recent.rb
  config.ru
  package.json
Owners: @thepracticaldev/delightful, @thepracticaldev/oss, @nickytonline

Routine Rubocop fixes (#9302)
  .rubocop.yml
  .rubocop_todo.yml
  app/controllers/organizations_controller.rb
  app/labor/mailchimp_bot.rb
  app/lib/reverse_markdown/converters/custom_text.rb
  app/models/message.rb
  app/models/tag.rb
  app/services/exporter/articles.rb
  app/services/exporter/comments.rb
  app/services/notifications/tag_adjustment_notification/send.rb
  app/services/suggester/users/recent.rb
  config.ru
  package.json
Owners: @thepracticaldev/delightful, @thepracticaldev/oss, @nickytonline

Rubocop: activate Layout/ClassStructure (#9304)
  .rubocop.yml
  app/controllers/api/v0/articles_controller.rb
  app/controllers/api/v0/comments_controller.rb
  app/controllers/api/v0/followers_controller.rb
  app/controllers/api/v0/listings_controller.rb
  app/controllers/api/v0/tags_controller.rb
  app/controllers/api/v0/users_controller.rb
  app/controllers/api/v0/videos_controller.rb
  app/controllers/api/v0/webhooks_controller.rb
  app/controllers/chat_channels_controller.rb
  app/controllers/followings_controller.rb
  app/controllers/internal/listings_controller.rb
  app/controllers/tags_controller.rb
  app/labor/markdown_traverser.rb
  app/models/reaction.rb
  app/models/tag.rb
  app/view_objects/articles/social_image.rb
Owners: @thepracticaldev/snackcase

Rubocop: activate Layout/ClassStructure (#9304)
  .rubocop.yml
  app/controllers/api/v0/articles_controller.rb
  app/controllers/api/v0/comments_controller.rb
  app/controllers/api/v0/followers_controller.rb
  app/controllers/api/v0/listings_controller.rb
  app/controllers/api/v0/tags_controller.rb
  app/controllers/api/v0/users_controller.rb
  app/controllers/api/v0/videos_controller.rb
  app/controllers/api/v0/webhooks_controller.rb
  app/controllers/chat_channels_controller.rb
  app/controllers/followings_controller.rb
  app/controllers/internal/listings_controller.rb
  app/controllers/tags_controller.rb
  app/labor/markdown_traverser.rb
  app/models/reaction.rb
  app/models/tag.rb
  app/view_objects/articles/social_image.rb
Owners: @thepracticaldev/snackcase

change Label Follow Weight Scale for Tags in Dashboard (#9247)
  app/views/dashboards/following_tags.html.erb
Owners: none

change Label Follow Weight Scale for Tags in Dashboard (#9247)
  app/views/dashboards/following_tags.html.erb
Owners: none

[deploy] Remove codeql analysis for right now (#9308)
  .github/workflows/codeql-analysis.yml
Owners: none

[deploy] Remove codeql analysis for right now (#9308)
  .github/workflows/codeql-analysis.yml
Owners: none

Update Readme Headline (#9309)
  README.md
Owners: @thepracticaldev/oss

Update Readme Headline (#9309)
  README.md
Owners: @thepracticaldev/oss

[deploy] Fix TypeError: Cannot set property 'innerHTML' of null (#9306)
  app/views/articles/_search.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Fix TypeError: Cannot set property 'innerHTML' of null (#9306)
  app/views/articles/_search.html.erb
Owners: @thepracticaldev/hells-bells

Add /forem redirect (#9317)
  config/routes.rb
Owners: @thepracticaldev/sre

Add /forem redirect (#9317)
  config/routes.rb
Owners: @thepracticaldev/sre

[deploy] Make sidebar sponsor headline configurable (#9251)
  app/controllers/internal/configs_controller.rb
  app/models/site_config.rb
  app/views/articles/_sidebar.html.erb
  app/views/internal/configs/show.html.erb
  spec/requests/internal/configs_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/hells-bells

[deploy] Make sidebar sponsor headline configurable (#9251)
  app/controllers/internal/configs_controller.rb
  app/models/site_config.rb
  app/views/articles/_sidebar.html.erb
  app/views/internal/configs/show.html.erb
  spec/requests/internal/configs_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/hells-bells

Create profile image generator (#8695)
  app/services/users/profile_image_generator.rb
  spec/services/users/profile_image_generator_spec.rb
Owners: none

Create profile image generator (#8695)
  app/services/users/profile_image_generator.rb
  spec/services/users/profile_image_generator_spec.rb
Owners: none

Remove outdated comment (#9323)
  app/models/site_config.rb
Owners: none

Remove outdated comment (#9323)
  app/models/site_config.rb
Owners: none

[deploy] Bug Fix: Validate GIFs Frames and Add MiniMagick Timeout (#9319)
  app/uploaders/base_uploader.rb
  config/initializers/carrierwave.rb
  spec/fixtures/files/high_frame_count.gif
  spec/uploaders/article_image_uploader_spec.rb
Owners: @thepracticaldev/sre

[deploy] Bug Fix: Validate GIFs Frames and Add MiniMagick Timeout (#9319)
  app/uploaders/base_uploader.rb
  config/initializers/carrierwave.rb
  spec/fixtures/files/high_frame_count.gif
  spec/uploaders/article_image_uploader_spec.rb
Owners: @thepracticaldev/sre
