Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

Add X-Accel-Expires header to support Nginx caching (#9655) [deploy]
  app/controllers/concerns/caching_headers.rb
  spec/requests/api/v0/listings_spec.rb
  spec/requests/articles/articles_spec.rb
  spec/requests/reactions_spec.rb
  spec/requests/stories_index_spec.rb
Owners: none

Add X-Accel-Expires header to support Nginx caching (#9655) [deploy]
  app/controllers/concerns/caching_headers.rb
  spec/requests/api/v0/listings_spec.rb
  spec/requests/articles/articles_spec.rb
  spec/requests/reactions_spec.rb
  spec/requests/stories_index_spec.rb
Owners: none

[deploy] Comment out flaky Blackbox Spec (#9778)
  spec/black_box/black_box_spec.rb
Owners: none

[deploy] Comment out flaky Blackbox Spec (#9778)
  spec/black_box/black_box_spec.rb
Owners: none

Fix broken urls with IDNs in Cloudinary helper (#9391)
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
  vendor/cache/simpleidn-0.1.1.gem
Owners: @forem/sre, @forem/oss

Fix broken urls with IDNs in Cloudinary helper (#9391)
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
  vendor/cache/simpleidn-0.1.1.gem
Owners: @forem/sre, @forem/oss

[deploy] Remove orphaned DisplayAdEvent rows (#9765)
  app/models/display_ad.rb
  lib/data_update_scripts/20200813072205_remove_orphaned_display_ad_events.rb
  spec/models/display_ad_spec.rb
Owners: @forem/sre

[deploy] Remove orphaned DisplayAdEvent rows (#9765)
  app/models/display_ad.rb
  lib/data_update_scripts/20200813072205_remove_orphaned_display_ad_events.rb
  spec/models/display_ad_spec.rb
Owners: @forem/sre

[deploy] Migrate ImageResizer to Images::Optimizer (#9720)
  app/helpers/application_helper.rb
  app/labor/generated_image.rb
  app/labor/markdown_parser.rb
  app/labor/profile_image.rb
  app/lib/image_resizer.rb
  app/liquid_tags/podcast_tag.rb
  app/models/html_variant.rb
  app/models/message.rb
  app/models/podcast_episode.rb
  app/services/images/optimizer.rb
  app/view_objects/articles/social_image.rb
  app/view_objects/cloud_cover_url.rb
  app/views/comments/_comment_proper.html.erb
  app/views/comments/deleted_commentable_comment.html.erb
  app/views/dashboards/show.html.erb
  app/views/podcast_episodes/_liquid.html.erb
  app/views/podcast_episodes/_sidebar.html.erb
  app/views/podcast_episodes/index.html.erb
  app/views/podcast_episodes/show.html.erb
  spec/helpers/application_helper_spec.rb
  spec/labor/generated_image_spec.rb
  spec/services/images/optimizer_spec.rb
Owners: none

[deploy] Migrate ImageResizer to Images::Optimizer (#9720)
  app/helpers/application_helper.rb
  app/labor/generated_image.rb
  app/labor/markdown_parser.rb
  app/labor/profile_image.rb
  app/lib/image_resizer.rb
  app/liquid_tags/podcast_tag.rb
  app/models/html_variant.rb
  app/models/message.rb
  app/models/podcast_episode.rb
  app/services/images/optimizer.rb
  app/view_objects/articles/social_image.rb
  app/view_objects/cloud_cover_url.rb
  app/views/comments/_comment_proper.html.erb
  app/views/comments/deleted_commentable_comment.html.erb
  app/views/dashboards/show.html.erb
  app/views/podcast_episodes/_liquid.html.erb
  app/views/podcast_episodes/_sidebar.html.erb
  app/views/podcast_episodes/index.html.erb
  app/views/podcast_episodes/show.html.erb
  spec/helpers/application_helper_spec.rb
  spec/labor/generated_image_spec.rb
  spec/services/images/optimizer_spec.rb
Owners: none

Update styling of authentication feed card for logged out users (#9762) [deploy]
  app/assets/stylesheets/articles.scss
  app/assets/stylesheets/signin.scss
  app/views/stories/_sign_in_invitation.html.erb
  spec/system/articles/user_visits_articles_by_timeframe_spec.rb
Owners: @forem/hells-bells

Update styling of authentication feed card for logged out users (#9762) [deploy]
  app/assets/stylesheets/articles.scss
  app/assets/stylesheets/signin.scss
  app/views/stories/_sign_in_invitation.html.erb
  spec/system/articles/user_visits_articles_by_timeframe_spec.rb
Owners: @forem/hells-bells

[deploy] Remove ENVied Gem, Use dotenv Take 2 (#9767)
  .gitignore
  .gitpod.yml
  .travis.yml
  Envfile
  Gemfile
  Gemfile.lock
  app/views/admin/configs/show.html.erb
  bin/setup
  config/.env_sample
  config/application.rb
  config/environments/production.rb
  config/initializers/0_application_config.rb
  config/initializers/aws_sdk.rb
  config/initializers/carrierwave.rb
  config/initializers/pusher.rb
  config/initializers/slack_notifier.rb
  config/sample_application.yml
  docs/backend/configuration.md
  docs/faqs.md
  docs/getting-started/config-env.md
  docs/installation/containers.md
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/postgresql.md
  docs/installation/vault.md
  docs/installation/windows.md
  docs/troubleshooting.md
  lib/tasks/temporary/env_variables.rake
  spec/initializers/application_config_spec.rb
  vendor/cache/dotenv-2.7.6.gem
  vendor/cache/dotenv-rails-2.7.6.gem
  vendor/cache/envied-0.9.3.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase, @jacobherrington

[deploy] Remove ENVied Gem, Use dotenv Take 2 (#9767)
  .gitignore
  .gitpod.yml
  .travis.yml
  Envfile
  Gemfile
  Gemfile.lock
  app/views/admin/configs/show.html.erb
  bin/setup
  config/.env_sample
  config/application.rb
  config/environments/production.rb
  config/initializers/0_application_config.rb
  config/initializers/aws_sdk.rb
  config/initializers/carrierwave.rb
  config/initializers/pusher.rb
  config/initializers/slack_notifier.rb
  config/sample_application.yml
  docs/backend/configuration.md
  docs/faqs.md
  docs/getting-started/config-env.md
  docs/installation/containers.md
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/postgresql.md
  docs/installation/vault.md
  docs/installation/windows.md
  docs/troubleshooting.md
  lib/tasks/temporary/env_variables.rake
  spec/initializers/application_config_spec.rb
  vendor/cache/dotenv-2.7.6.gem
  vendor/cache/dotenv-rails-2.7.6.gem
  vendor/cache/envied-0.9.3.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase, @jacobherrington

[deploy] Feature:Use Sidekiq to Run Scheduled Jobs (#9789)
  Gemfile
  Gemfile.lock
  config/initializers/sidekiq.rb
  config/routes.rb
  config/schedule.yml
  vendor/cache/et-orbi-1.2.4.gem
  vendor/cache/fugit-1.3.8.gem
  vendor/cache/raabro-1.3.1.gem
  vendor/cache/sidekiq-cron-1.2.0.gem
Owners: @forem/sre, @forem/oss

[deploy] Feature:Use Sidekiq to Run Scheduled Jobs (#9789)
  Gemfile
  Gemfile.lock
  config/initializers/sidekiq.rb
  config/routes.rb
  config/schedule.yml
  vendor/cache/et-orbi-1.2.4.gem
  vendor/cache/fugit-1.3.8.gem
  vendor/cache/raabro-1.3.1.gem
  vendor/cache/sidekiq-cron-1.2.0.gem
Owners: @forem/sre, @forem/oss

[deploy] Add missing `.call` (#9791)
  app/views/comments/_comment_proper.html.erb
Owners: none

[deploy] Add missing `.call` (#9791)
  app/views/comments/_comment_proper.html.erb
Owners: none

Add missing .dataset (#9805)
  app/javascript/packs/commentModPage.js
Owners: none

Add missing .dataset (#9805)
  app/javascript/packs/commentModPage.js
Owners: none

[deploy] Add error handling for comment mod page reactions (#9806)
  app/javascript/packs/commentModPage.js
Owners: none

[deploy] Add error handling for comment mod page reactions (#9806)
  app/javascript/packs/commentModPage.js
Owners: none

[deploy] Start using profile model (#9724)
  app/models/profile_field.rb
  app/services/profile_fields/add_link_fields.rb
  db/migrate/20200811044202_add_attribute_name_to_profile_field.rb
  db/schema.rb
  lib/data/coding_profile_fields.csv
  lib/data/dev_profile_fields.csv
  lib/tasks/temporary/create_profile_fields.rake
  spec/models/profile_field_spec.rb
Owners: @forem/sre

[deploy] Start using profile model (#9724)
  app/models/profile_field.rb
  app/services/profile_fields/add_link_fields.rb
  db/migrate/20200811044202_add_attribute_name_to_profile_field.rb
  db/schema.rb
  lib/data/coding_profile_fields.csv
  lib/data/dev_profile_fields.csv
  lib/tasks/temporary/create_profile_fields.rake
  spec/models/profile_field_spec.rb
Owners: @forem/sre

Bump storybook to version 6 (#9766)
  app/javascript/.storybook/main.js
  app/javascript/.storybook/preview.js
  app/javascript/CommentSubscription/__stories__/CommentSubscription.stories.jsx
  app/javascript/articles/__stories__/Article.stories.jsx
  app/javascript/articles/__stories__/podcastArticle.stories.jsx
  app/javascript/articles/__stories__/userArticle.stories.jsx
  app/javascript/articles/__stories__/videoArticles.stories.jsx
  app/javascript/crayons/Button/__stories__/Button.stories.jsx
  app/javascript/crayons/Dropdown/__stories__/Dropdown.stories.jsx
  app/javascript/crayons/Modal/__stories__/Modal.stories.jsx
  app/javascript/crayons/formElements/RadioButton/__stories__/RadioButton.stories.jsx
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

Bump storybook to version 6 (#9766)
  app/javascript/.storybook/main.js
  app/javascript/.storybook/preview.js
  app/javascript/CommentSubscription/__stories__/CommentSubscription.stories.jsx
  app/javascript/articles/__stories__/Article.stories.jsx
  app/javascript/articles/__stories__/podcastArticle.stories.jsx
  app/javascript/articles/__stories__/userArticle.stories.jsx
  app/javascript/articles/__stories__/videoArticles.stories.jsx
  app/javascript/crayons/Button/__stories__/Button.stories.jsx
  app/javascript/crayons/Dropdown/__stories__/Dropdown.stories.jsx
  app/javascript/crayons/Modal/__stories__/Modal.stories.jsx
  app/javascript/crayons/formElements/RadioButton/__stories__/RadioButton.stories.jsx
  package.json
  yarn.lock
Owners: @forem/oss, @nickytonline

Add button to clear the whiteboard (#9795)
  public/offline.html
Owners: none

Add button to clear the whiteboard (#9795)
  public/offline.html
Owners: none

Fixing Preact version in docs (#9808)
  docs/frontend/debugging.md
Owners: @forem/oss, @jacobherrington

Fixing Preact version in docs (#9808)
  docs/frontend/debugging.md
Owners: @forem/oss, @jacobherrington

Fixing broken link to dynamic imports (#9803)
  docs/technical-overview/architecture.md
Owners: @forem/oss, @jacobherrington

Fixing broken link to dynamic imports (#9803)
  docs/technical-overview/architecture.md
Owners: @forem/oss, @jacobherrington

Changing rails version to 6.0.3 in docs (#9802)
  README.md
  docs/backend/resource-admin.md
  docs/technical-overview/architecture.md
Owners: @forem/oss, @jacobherrington

Changing rails version to 6.0.3 in docs (#9802)
  README.md
  docs/backend/resource-admin.md
  docs/technical-overview/architecture.md
Owners: @forem/oss, @jacobherrington

Add "autofocus" and "required" attributes to the email field (#9790)
  app/views/devise/passwords/new.html.erb
Owners: none

Add "autofocus" and "required" attributes to the email field (#9790)
  app/views/devise/passwords/new.html.erb
Owners: none

[deploy] Add missing foreign keys to DisplayAdEvent (#9786)
  db/migrate/20200814142425_add_missing_foreign_keys_to_display_ad_events.rb
  db/migrate/20200814142648_validate_add_missing_foreign_keys_to_display_ad_events.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Add missing foreign keys to DisplayAdEvent (#9786)
  db/migrate/20200814142425_add_missing_foreign_keys_to_display_ad_events.rb
  db/migrate/20200814142648_validate_add_missing_foreign_keys_to_display_ad_events.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Bug Fix:Increase look back time for Cron jobs to 120 seconds (#9797)
  config/initializers/sidekiq.rb
Owners: @forem/sre

[deploy] Bug Fix:Increase look back time for Cron jobs to 120 seconds (#9797)
  config/initializers/sidekiq.rb
Owners: @forem/sre
