Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

auto resize on type message connect (#10378)
  app/assets/stylesheets/chat.scss
  app/javascript/chat/compose.jsx
Owners: none

auto resize on type message connect (#10378)
  app/assets/stylesheets/chat.scss
  app/javascript/chat/compose.jsx
Owners: none

Better `position: sticky` support (#10401)
  app/assets/stylesheets/views/article-form.scss
  app/assets/stylesheets/views/article.scss
Owners: none

Better `position: sticky` support (#10401)
  app/assets/stylesheets/views/article-form.scss
  app/assets/stylesheets/views/article.scss
Owners: none

bg for pre (#10400)
  app/assets/stylesheets/syntax.scss
Owners: none

bg for pre (#10400)
  app/assets/stylesheets/syntax.scss
Owners: none

Fix the asset precompile in the Container (#10415)
  Containerfile
Owners: none

Fix the asset precompile in the Container (#10415)
  Containerfile
Owners: none

[deploy] Refactor:Remove BackupData Model and Code (#10409)
  app/controllers/admin/users_controller.rb
  app/models/backup_data.rb
  app/models/identity.rb
  app/models/user.rb
  app/services/users/delete_activity.rb
  app/views/admin/users/edit.html.erb
  config/routes.rb
  spec/factories/backup_data.rb
  spec/models/backup_data_spec.rb
  spec/models/identity_spec.rb
  spec/models/user_spec.rb
  spec/requests/admin/users_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Refactor:Remove BackupData Model and Code (#10409)
  app/controllers/admin/users_controller.rb
  app/models/backup_data.rb
  app/models/identity.rb
  app/models/user.rb
  app/services/users/delete_activity.rb
  app/views/admin/users/edit.html.erb
  config/routes.rb
  spec/factories/backup_data.rb
  spec/models/backup_data_spec.rb
  spec/models/identity_spec.rb
  spec/models/user_spec.rb
  spec/requests/admin/users_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Sets Omniauth full_host config to match the environment (#10419)
  config/initializers/omniauth.rb
  spec/support/omniauth_helpers.rb
  spec/system/authentication/user_logs_in_with_facebook_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
Owners: @forem/sre

[deploy] Sets Omniauth full_host config to match the environment (#10419)
  config/initializers/omniauth.rb
  spec/support/omniauth_helpers.rb
  spec/system/authentication/user_logs_in_with_facebook_spec.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
Owners: @forem/sre

[deploy] Refactor:Remove Reaction Search Code (#10377)
  app/models/article.rb
  app/models/reaction.rb
  app/serializers/search/reaction_serializer.rb
  app/services/data_sync/elasticsearch/article.rb
  app/services/data_sync/elasticsearch/tag.rb
  app/services/data_sync/elasticsearch/user.rb
  app/services/search/cluster.rb
  app/services/search/query_builders/reaction.rb
  app/services/search/reaction.rb
  lib/data_update_scripts/20200901194251_reindex_reading_list_reactions.rb
  spec/lib/acts_as_taggable_on/tag_spec.rb
  spec/lib/data_update_scripts/reindex_reading_list_reactions_spec.rb
  spec/models/article_spec.rb
  spec/models/reaction_spec.rb
  spec/models/tag_spec.rb
  spec/serializers/search/reaction_serializer_spec.rb
  spec/services/data_sync/elasticsearch/article_spec.rb
  spec/services/moderator/merge_user_spec.rb
  spec/services/search/query_builders/reaction_spec.rb
  spec/services/search/reaction_spec.rb
  spec/services/users/delete_spec.rb
  spec/workers/search/bulk_index_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Remove Reaction Search Code (#10377)
  app/models/article.rb
  app/models/reaction.rb
  app/serializers/search/reaction_serializer.rb
  app/services/data_sync/elasticsearch/article.rb
  app/services/data_sync/elasticsearch/tag.rb
  app/services/data_sync/elasticsearch/user.rb
  app/services/search/cluster.rb
  app/services/search/query_builders/reaction.rb
  app/services/search/reaction.rb
  lib/data_update_scripts/20200901194251_reindex_reading_list_reactions.rb
  spec/lib/acts_as_taggable_on/tag_spec.rb
  spec/lib/data_update_scripts/reindex_reading_list_reactions_spec.rb
  spec/models/article_spec.rb
  spec/models/reaction_spec.rb
  spec/models/tag_spec.rb
  spec/serializers/search/reaction_serializer_spec.rb
  spec/services/data_sync/elasticsearch/article_spec.rb
  spec/services/moderator/merge_user_spec.rb
  spec/services/search/query_builders/reaction_spec.rb
  spec/services/search/reaction_spec.rb
  spec/services/users/delete_spec.rb
  spec/workers/search/bulk_index_worker_spec.rb
Owners: @forem/sre

Refactor:Remove BackupData Table from Postgres (#10422)
  config/initializers/hypershield.rb
  db/migrate/20200921160153_remove_backup_data.rb
  db/schema.rb
Owners: @forem/sre

Refactor:Remove BackupData Table from Postgres (#10422)
  config/initializers/hypershield.rb
  db/migrate/20200921160153_remove_backup_data.rb
  db/schema.rb
Owners: @forem/sre

Refactor:Remove Reactions Index (#10426)
  lib/data_update_scripts/20200923173148_remove_reaction_index.rb
  spec/lib/data_update_scripts/remove_reaction_index_spec.rb
Owners: @forem/sre

Refactor:Remove Reactions Index (#10426)
  lib/data_update_scripts/20200923173148_remove_reaction_index.rb
  spec/lib/data_update_scripts/remove_reaction_index_spec.rb
Owners: @forem/sre

Fixes Omniauth redirect_uri when SiteConfig.app_domain is updated (#10432)
  config/initializers/omniauth.rb
  spec/system/authentication/omniauth_redirect_uri_spec.rb
Owners: @forem/sre

Fixes Omniauth redirect_uri when SiteConfig.app_domain is updated (#10432)
  config/initializers/omniauth.rb
  spec/system/authentication/omniauth_redirect_uri_spec.rb
Owners: @forem/sre

Bug Fix:Remove Reaction Index By Name (#10430)
  lib/data_update_scripts/20200923173148_remove_reaction_index.rb
  lib/data_update_scripts/20200924140813_remove_reaction_index_by_name.rb
  spec/lib/data_update_scripts/remove_reaction_index_by_name_spec.rb
  spec/lib/data_update_scripts/remove_reaction_index_spec.rb
Owners: @forem/sre

Bug Fix:Remove Reaction Index By Name (#10430)
  lib/data_update_scripts/20200923173148_remove_reaction_index.rb
  lib/data_update_scripts/20200924140813_remove_reaction_index_by_name.rb
  spec/lib/data_update_scripts/remove_reaction_index_by_name_spec.rb
  spec/lib/data_update_scripts/remove_reaction_index_spec.rb
Owners: @forem/sre

Bug Fix:Count the Health Checks Controller as Public (#10435)
  app/controllers/application_controller.rb
Owners: none

Bug Fix:Count the Health Checks Controller as Public (#10435)
  app/controllers/application_controller.rb
Owners: none

[deploy] Feature:Rake Task to Return Health Check Token (#10436)
  lib/tasks/forem.rake
Owners: none

[deploy] Feature:Rake Task to Return Health Check Token (#10436)
  lib/tasks/forem.rake
Owners: none

[deploy] Fix unable to unfollow tags (#10324)
  app/controllers/async_info_controller.rb
  app/decorators/user_decorator.rb
Owners: @forem/sre

[deploy] Fix unable to unfollow tags (#10324)
  app/controllers/async_info_controller.rb
  app/decorators/user_decorator.rb
Owners: @forem/sre

[deploy] Bug Fix:Remove More ReadingList Index Code (#10439)
  app/services/users/delete_activity.rb
  app/services/users/delete_articles.rb
Owners: none

[deploy] Bug Fix:Remove More ReadingList Index Code (#10439)
  app/services/users/delete_activity.rb
  app/services/users/delete_articles.rb
Owners: none

[deploy] Refactor: Cleanup Frontend Code (#10466)
  app/assets/javascripts/initializers/initializeSpecialNavigationFunctionality.js
  app/assets/stylesheets/scaffolds.scss
  app/views/shell/_top.html.erb
Owners: none

[deploy] Refactor: Cleanup Frontend Code (#10466)
  app/assets/javascripts/initializers/initializeSpecialNavigationFunctionality.js
  app/assets/stylesheets/scaffolds.scss
  app/views/shell/_top.html.erb
Owners: none

Remove border from Embed videos in comments (#10434)
  app/views/articles/_fitvids.html.erb
Owners: @forem/hells-bells

Remove border from Embed videos in comments (#10434)
  app/views/articles/_fitvids.html.erb
Owners: @forem/hells-bells

[deploy] HTML Variant admin dashboard (#10188)
  app/controllers/admin/application_controller.rb
  app/controllers/admin/html_variants_controller.rb
  app/controllers/html_variants_controller.rb
  app/dashboards/dashboard_manifest.rb
  app/dashboards/html_variant_dashboard.rb
  app/dashboards/html_variant_success_dashboard.rb
  app/dashboards/html_variant_trial_dashboard.rb
  app/lib/constants/role.rb
  app/models/html_variant.rb
  app/views/admin/html_variants/_form.html.erb
  app/views/admin/html_variants/edit.html.erb
  app/views/admin/html_variants/index.html.erb
  app/views/admin/html_variants/new.html.erb
  app/views/admin/html_variants/show.html.erb
  app/views/html_variants/_form.html.erb
  app/views/html_variants/_page_styles.html.erb
  app/views/html_variants/_single_html_variant.html.erb
  app/views/html_variants/edit.html.erb
  app/views/html_variants/index.html.erb
  app/views/html_variants/new.html.erb
  app/views/html_variants/show.html.erb
  config/routes.rb
  spec/requests/admin/html_variants_spec.rb
  spec/requests/html_variants_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] HTML Variant admin dashboard (#10188)
  app/controllers/admin/application_controller.rb
  app/controllers/admin/html_variants_controller.rb
  app/controllers/html_variants_controller.rb
  app/dashboards/dashboard_manifest.rb
  app/dashboards/html_variant_dashboard.rb
  app/dashboards/html_variant_success_dashboard.rb
  app/dashboards/html_variant_trial_dashboard.rb
  app/lib/constants/role.rb
  app/models/html_variant.rb
  app/views/admin/html_variants/_form.html.erb
  app/views/admin/html_variants/edit.html.erb
  app/views/admin/html_variants/index.html.erb
  app/views/admin/html_variants/new.html.erb
  app/views/admin/html_variants/show.html.erb
  app/views/html_variants/_form.html.erb
  app/views/html_variants/_page_styles.html.erb
  app/views/html_variants/_single_html_variant.html.erb
  app/views/html_variants/edit.html.erb
  app/views/html_variants/index.html.erb
  app/views/html_variants/new.html.erb
  app/views/html_variants/show.html.erb
  config/routes.rb
  spec/requests/admin/html_variants_spec.rb
  spec/requests/html_variants_spec.rb
Owners: @forem/snackcase, @forem/sre

[deploy] Handling empty gist link error in liquid tag (#10437)
  app/liquid_tags/gist_tag.rb
  spec/liquid_tags/gist_tag_spec.rb
Owners: none

[deploy] Handling empty gist link error in liquid tag (#10437)
  app/liquid_tags/gist_tag.rb
  spec/liquid_tags/gist_tag_spec.rb
Owners: none

Update to latest yarn version (#10441)
  .yarnrc
Owners: none

Update to latest yarn version (#10441)
  .yarnrc
Owners: none
