Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

[deploy] Cleanup orphaned Ahoy rows in the DB (#9710)
  lib/data_update_scripts/20200810083831_remove_orphaned_ahoy_rows.rb
Owners: @forem/sre

[deploy] Cleanup orphaned Ahoy rows in the DB (#9710)
  lib/data_update_scripts/20200810083831_remove_orphaned_ahoy_rows.rb
Owners: @forem/sre

Refactoring constants reduce lines (#9729)
  app/lib/constants.rb
  app/lib/constants/mastodon.rb
  app/lib/constants/site_config.rb
  app/models/user.rb
  app/views/admin/configs/show.html.erb
Owners: @forem/snackcase

Refactoring constants reduce lines (#9729)
  app/lib/constants.rb
  app/lib/constants/mastodon.rb
  app/lib/constants/site_config.rb
  app/models/user.rb
  app/views/admin/configs/show.html.erb
Owners: @forem/snackcase

Add proper defaults to user invites (#9739)
  app/controllers/admin/invitations_controller.rb
Owners: @forem/snackcase

Add proper defaults to user invites (#9739)
  app/controllers/admin/invitations_controller.rb
Owners: @forem/snackcase

[deploy] Add foreign keys to Ahoy models (#9636)
  db/migrate/20200805100552_add_missing_foreign_keys_to_ahoy_models.rb
  db/migrate/20200805102249_validate_add_missing_foreign_keys_to_ahoy_models.rb
  db/schema.rb
  lib/data_update_scripts/20200729120730_remove_orphaned_ahoy_events.rb
Owners: @forem/sre

[deploy] Add foreign keys to Ahoy models (#9636)
  db/migrate/20200805100552_add_missing_foreign_keys_to_ahoy_models.rb
  db/migrate/20200805102249_validate_add_missing_foreign_keys_to_ahoy_models.rb
  db/schema.rb
  lib/data_update_scripts/20200729120730_remove_orphaned_ahoy_events.rb
Owners: @forem/sre

Create option for calculating score without external black box (#9735)
  app/black_box/black_box.rb
  spec/black_box/black_box_spec.rb
Owners: none

Create option for calculating score without external black box (#9735)
  app/black_box/black_box.rb
  spec/black_box/black_box_spec.rb
Owners: none

[deploy] Optimization:Migrate Final Small Table PKs to Bigints (#9706)
  db/migrate/20200809200631_final_bigint_migration.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Optimization:Migrate Final Small Table PKs to Bigints (#9706)
  db/migrate/20200809200631_final_bigint_migration.rb
  db/schema.rb
Owners: @forem/sre

[deploy] Ignore Flaky Blackbox Spec (#9745)
  spec/black_box/black_box_spec.rb
Owners: none

[deploy] Ignore Flaky Blackbox Spec (#9745)
  spec/black_box/black_box_spec.rb
Owners: none

Auto-generate CSS utility classes documentation in Storybook (#9633)
  .gitignore
  .vscode/launch.json
  bin/__tests__/generate-css-utility-classes-docs.test.js
  bin/generate-css-utility-classes-docs.js
  jest.config.js
  package.json
Owners: @forem/oss, @nickytonline

Auto-generate CSS utility classes documentation in Storybook (#9633)
  .gitignore
  .vscode/launch.json
  bin/__tests__/generate-css-utility-classes-docs.test.js
  bin/generate-css-utility-classes-docs.js
  jest.config.js
  package.json
Owners: @forem/oss, @nickytonline

v1 of adding the groups to the profile fields admin interface (#9744)
  app/controllers/admin/profile_fields_controller.rb
  app/views/admin/profile_fields/_form.html.erb
  app/views/admin/profile_fields/index.html.erb
  spec/factories/profile_fields.rb
  spec/requests/admin/profile_fields_spec.rb
Owners: @forem/snackcase

v1 of adding the groups to the profile fields admin interface (#9744)
  app/controllers/admin/profile_fields_controller.rb
  app/views/admin/profile_fields/_form.html.erb
  app/views/admin/profile_fields/index.html.erb
  spec/factories/profile_fields.rb
  spec/requests/admin/profile_fields_spec.rb
Owners: @forem/snackcase

[deploy] Refactor:Remove ENVied Gem, Use dotenv Instead for Test and Development (#9621)
  .gitignore
  .gitpod.yml
  .travis.yml
  Envfile
  Gemfile
  Gemfile.lock
  app/views/admin/configs/show.html.erb
  bin/setup
  config/.env_sample
  config/application.rb
  config/environments/production.rb
  config/initializers/0_application_config.rb
  config/initializers/aws_sdk.rb
  config/initializers/carrierwave.rb
  config/initializers/pusher.rb
  config/initializers/slack_notifier.rb
  config/sample_application.yml
  docs/backend/configuration.md
  docs/faqs.md
  docs/getting-started/config-env.md
  docs/installation/containers.md
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/postgresql.md
  docs/installation/vault.md
  docs/installation/windows.md
  docs/troubleshooting.md
  lib/tasks/temporary/env_variables.rake
  spec/initializers/application_config_spec.rb
  vendor/cache/dotenv-2.7.6.gem
  vendor/cache/dotenv-rails-2.7.6.gem
  vendor/cache/envied-0.9.3.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase, @jacobherrington

[deploy] Refactor:Remove ENVied Gem, Use dotenv Instead for Test and Development (#9621)
  .gitignore
  .gitpod.yml
  .travis.yml
  Envfile
  Gemfile
  Gemfile.lock
  app/views/admin/configs/show.html.erb
  bin/setup
  config/.env_sample
  config/application.rb
  config/environments/production.rb
  config/initializers/0_application_config.rb
  config/initializers/aws_sdk.rb
  config/initializers/carrierwave.rb
  config/initializers/pusher.rb
  config/initializers/slack_notifier.rb
  config/sample_application.yml
  docs/backend/configuration.md
  docs/faqs.md
  docs/getting-started/config-env.md
  docs/installation/containers.md
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/postgresql.md
  docs/installation/vault.md
  docs/installation/windows.md
  docs/troubleshooting.md
  lib/tasks/temporary/env_variables.rake
  spec/initializers/application_config_spec.rb
  vendor/cache/dotenv-2.7.6.gem
  vendor/cache/dotenv-rails-2.7.6.gem
  vendor/cache/envied-0.9.3.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase, @jacobherrington

Update Netlify config to handle stylesheet changes for Storybook (#9753)
  app/javascript/netlify.toml
Owners: none

Update Netlify config to handle stylesheet changes for Storybook (#9753)
  app/javascript/netlify.toml
Owners: none

Revert "[deploy] Refactor:Remove ENVied Gem, Use dotenv Instead for Test and Development (#9621)" (#9757)
  .gitignore
  .gitpod.yml
  .travis.yml
  Envfile
  Gemfile
  Gemfile.lock
  app/views/admin/configs/show.html.erb
  bin/setup
  config/.env_sample
  config/application.rb
  config/environments/production.rb
  config/initializers/0_application_config.rb
  config/initializers/aws_sdk.rb
  config/initializers/carrierwave.rb
  config/initializers/pusher.rb
  config/initializers/slack_notifier.rb
  config/sample_application.yml
  docs/backend/configuration.md
  docs/faqs.md
  docs/getting-started/config-env.md
  docs/installation/containers.md
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/postgresql.md
  docs/installation/vault.md
  docs/installation/windows.md
  docs/troubleshooting.md
  lib/tasks/temporary/env_variables.rake
  spec/initializers/application_config_spec.rb
  vendor/cache/dotenv-2.7.6.gem
  vendor/cache/dotenv-rails-2.7.6.gem
  vendor/cache/envied-0.9.3.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase, @jacobherrington

Revert "[deploy] Refactor:Remove ENVied Gem, Use dotenv Instead for Test and Development (#9621)" (#9757)
  .gitignore
  .gitpod.yml
  .travis.yml
  Envfile
  Gemfile
  Gemfile.lock
  app/views/admin/configs/show.html.erb
  bin/setup
  config/.env_sample
  config/application.rb
  config/environments/production.rb
  config/initializers/0_application_config.rb
  config/initializers/aws_sdk.rb
  config/initializers/carrierwave.rb
  config/initializers/pusher.rb
  config/initializers/slack_notifier.rb
  config/sample_application.yml
  docs/backend/configuration.md
  docs/faqs.md
  docs/getting-started/config-env.md
  docs/installation/containers.md
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/postgresql.md
  docs/installation/vault.md
  docs/installation/windows.md
  docs/troubleshooting.md
  lib/tasks/temporary/env_variables.rake
  spec/initializers/application_config_spec.rb
  vendor/cache/dotenv-2.7.6.gem
  vendor/cache/dotenv-rails-2.7.6.gem
  vendor/cache/envied-0.9.3.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase, @jacobherrington

Update repository links in PR template (#9760)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Update repository links in PR template (#9760)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Upgrade Node JS to latest 12.18 LTS (#9764)
  .nvmrc
  package.json
Owners: @forem/oss, @nickytonline

Upgrade Node JS to latest 12.18 LTS (#9764)
  .nvmrc
  package.json
Owners: @forem/oss, @nickytonline

[deploy] [Moderation] Allow admins to delete comments (#9628)
  app/controllers/comments_controller.rb
  app/javascript/packs/commentModPage.js
  app/policies/comment_policy.rb
  app/views/articles/show.html.erb
  app/views/moderations/mod.html.erb
  config/routes.rb
  spec/policies/comment_policy_spec.rb
Owners: @forem/hells-bells, @forem/sre

[deploy] [Moderation] Allow admins to delete comments (#9628)
  app/controllers/comments_controller.rb
  app/javascript/packs/commentModPage.js
  app/policies/comment_policy.rb
  app/views/articles/show.html.erb
  app/views/moderations/mod.html.erb
  config/routes.rb
  spec/policies/comment_policy_spec.rb
Owners: @forem/hells-bells, @forem/sre

Manage Badges in /admin/badges (#9721) [deploy]
  app/controllers/admin/badges_controller.rb
  app/views/admin/badges/award.html.erb
  app/views/admin/badges/edit.html.erb
  app/views/admin/badges/index.html.erb
  app/views/admin/badges/new.html.erb
  config/routes.rb
  spec/requests/admin/badges_spec.rb
  spec/system/admin/admin_awards_badges_spec.rb
Owners: @forem/snackcase, @forem/sre

Manage Badges in /admin/badges (#9721) [deploy]
  app/controllers/admin/badges_controller.rb
  app/views/admin/badges/award.html.erb
  app/views/admin/badges/edit.html.erb
  app/views/admin/badges/index.html.erb
  app/views/admin/badges/new.html.erb
  config/routes.rb
  spec/requests/admin/badges_spec.rb
  spec/system/admin/admin_awards_badges_spec.rb
Owners: @forem/snackcase, @forem/sre

Account deletion email: serialize only user's details (#9752)
  app/mailers/notify_mailer.rb
  app/workers/users/delete_worker.rb
  spec/mailers/notify_mailer_spec.rb
  spec/mailers/previews/notify_mailer_preview.rb
  spec/workers/users/delete_worker_spec.rb
Owners: @forem/sre

Account deletion email: serialize only user's details (#9752)
  app/mailers/notify_mailer.rb
  app/workers/users/delete_worker.rb
  spec/mailers/notify_mailer_spec.rb
  spec/mailers/previews/notify_mailer_preview.rb
  spec/workers/users/delete_worker_spec.rb
Owners: @forem/sre

[deploy] Remove flash message from article show page (#9768)
  app/views/articles/show.html.erb
Owners: @forem/hells-bells

[deploy] Remove flash message from article show page (#9768)
  app/views/articles/show.html.erb
Owners: @forem/hells-bells

Use .errors_as_sentece in Admin::Badges::Controller (#9772) [deploy]
  app/controllers/admin/badges_controller.rb
Owners: @forem/snackcase

Use .errors_as_sentece in Admin::Badges::Controller (#9772) [deploy]
  app/controllers/admin/badges_controller.rb
Owners: @forem/snackcase

Generalize liquid tag docs (#9771)
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_editor_liquid_help.html.erb
Owners: none

Generalize liquid tag docs (#9771)
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_editor_liquid_help.html.erb
Owners: none
