Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

[deploy] Add unique index on articles user_id, title and body_markdown (#10284)
  .rubocop_todo.yml
  db/migrate/20200911140318_add_unique_index_to_articles_user_id_title_body_markdown.rb
  db/schema.rb
  spec/models/article_spec.rb
Owners: @forem/sre

[deploy] Add unique index on articles user_id, title and body_markdown (#10284)
  .rubocop_todo.yml
  db/migrate/20200911140318_add_unique_index_to_articles_user_id_title_body_markdown.rb
  db/schema.rb
  spec/models/article_spec.rb
Owners: @forem/sre

Optimization:Only Enqueue UpdateMainImageBackgroundHexWorker If Main Image Changes (#10325)
  app/models/article.rb
  spec/models/article_spec.rb
Owners: none

Optimization:Only Enqueue UpdateMainImageBackgroundHexWorker If Main Image Changes (#10325)
  app/models/article.rb
  spec/models/article_spec.rb
Owners: none

[deploy] Refactor:Remove ReadingList Labor Class, Replace with user Method (#10322)
  app/controllers/async_info_controller.rb
  app/labor/reading_list.rb
  app/models/user.rb
  spec/labor/reading_list_spec.rb
  spec/models/user_spec.rb
Owners: @forem/sre

[deploy] Refactor:Remove ReadingList Labor Class, Replace with user Method (#10322)
  app/controllers/async_info_controller.rb
  app/labor/reading_list.rb
  app/models/user.rb
  spec/labor/reading_list_spec.rb
  spec/models/user_spec.rb
Owners: @forem/sre

Flaky Spec Fix:Set Expired Listing to 2 days ago (#10327)
  spec/workers/listings/expire_old_listings_worker_spec.rb
Owners: none

Flaky Spec Fix:Set Expired Listing to 2 days ago (#10327)
  spec/workers/listings/expire_old_listings_worker_spec.rb
Owners: none

Flaky Spec Fix:Ensure Page View Domains are Unique for Analytics Service Spec (#10329)
  spec/services/analytics_service_spec.rb
Owners: none

Flaky Spec Fix:Ensure Page View Domains are Unique for Analytics Service Spec (#10329)
  spec/services/analytics_service_spec.rb
Owners: none

Adds runtime copy to clipboard (#10323)
  app/assets/javascripts/initializers/initializeCommentDropdown.js
  app/assets/javascripts/initializers/runtime.js
  app/javascript/article-form/components/ImageUploader.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/InvitationLinkManager.jsx
Owners: none

Adds runtime copy to clipboard (#10323)
  app/assets/javascripts/initializers/initializeCommentDropdown.js
  app/assets/javascripts/initializers/runtime.js
  app/javascript/article-form/components/ImageUploader.jsx
  app/javascript/chat/ChatChannelSettings/MembershipManager/InvitationLinkManager.jsx
Owners: none

Flaky Spec Fix:Ensure We Fill In Article Content Successfully with More Targeted tag (#10330)
  spec/system/user_uses_the_editor_spec.rb
Owners: none

Flaky Spec Fix:Ensure We Fill In Article Content Successfully with More Targeted tag (#10330)
  spec/system/user_uses_the_editor_spec.rb
Owners: none

[deploy] Optimization:Use delete_by when Destroying HtmlVariant Trials and Successes (#10332)
  app/workers/html_variants/remove_old_data_worker.rb
Owners: @forem/sre

[deploy] Optimization:Use delete_by when Destroying HtmlVariant Trials and Successes (#10332)
  app/workers/html_variants/remove_old_data_worker.rb
Owners: @forem/sre

Fixing links to tracking section in docs (#10326)
  docs/backend/tracking.md
  docs/frontend/tracking.md
Owners: @forem/oss, @jacobherrington

Fixing links to tracking section in docs (#10326)
  docs/backend/tracking.md
  docs/frontend/tracking.md
Owners: @forem/oss, @jacobherrington

Adding note about branch naming (#10320)
  docs/getting-started/branching.md
Owners: @forem/oss, @jacobherrington

Adding note about branch naming (#10320)
  docs/getting-started/branching.md
Owners: @forem/oss, @jacobherrington

Optimization:Use Locally Bundled Gems in Containers (#10344)
  scripts/bundle.sh
Owners: none

Optimization:Use Locally Bundled Gems in Containers (#10344)
  scripts/bundle.sh
Owners: none

[deploy] Optimization:Store Podcast Ep Data in Redis, Rather than Sending as Sidekiq Argument (#10331)
  app/services/podcasts/get_episode.rb
  app/workers/podcast_episodes/create_worker.rb
  spec/services/podcasts/feed_spec.rb
  spec/services/podcasts/get_episode_spec.rb
  spec/workers/podcast_episodes/create_worker_spec.rb
Owners: @forem/sre

[deploy] Optimization:Store Podcast Ep Data in Redis, Rather than Sending as Sidekiq Argument (#10331)
  app/services/podcasts/get_episode.rb
  app/workers/podcast_episodes/create_worker.rb
  spec/services/podcasts/feed_spec.rb
  spec/services/podcasts/get_episode_spec.rb
  spec/workers/podcast_episodes/create_worker_spec.rb
Owners: @forem/sre

[deploy] Bug Fix/Optimization:Remove HttpCache from Github OauthClient (#10350)
  app/services/github/oauth_client.rb
Owners: none

[deploy] Bug Fix/Optimization:Remove HttpCache from Github OauthClient (#10350)
  app/services/github/oauth_client.rb
Owners: none

[deploy] Add missing foreign keys to ahoy_messages and articles (#10321)
  app/models/article.rb
  app/models/email_message.rb
  app/models/feedback_message.rb
  db/migrate/20200914143753_add_missing_foreign_keys_to_ahoy_messages.rb
  db/migrate/20200914144033_validate_add_missing_foreign_keys_to_ahoy_messages.rb
  db/migrate/20200914144157_add_missing_foreign_keys_to_articles.rb
  db/migrate/20200914145500_validate_add_missing_foreign_keys_to_articles.rb
  db/schema.rb
  spec/factories/email_messages.rb
  spec/models/article_spec.rb
  spec/models/email_message_spec.rb
  spec/models/feedback_message_spec.rb
  spec/requests/admin/articles_spec.rb
  spec/services/users/delete_spec.rb
Owners: @forem/sre, @forem/snackcase

[deploy] Add missing foreign keys to ahoy_messages and articles (#10321)
  app/models/article.rb
  app/models/email_message.rb
  app/models/feedback_message.rb
  db/migrate/20200914143753_add_missing_foreign_keys_to_ahoy_messages.rb
  db/migrate/20200914144033_validate_add_missing_foreign_keys_to_ahoy_messages.rb
  db/migrate/20200914144157_add_missing_foreign_keys_to_articles.rb
  db/migrate/20200914145500_validate_add_missing_foreign_keys_to_articles.rb
  db/schema.rb
  spec/factories/email_messages.rb
  spec/models/article_spec.rb
  spec/models/email_message_spec.rb
  spec/models/feedback_message_spec.rb
  spec/requests/admin/articles_spec.rb
  spec/services/users/delete_spec.rb
Owners: @forem/sre, @forem/snackcase

[deploy] Remove need for ENV vars during asset precompile (#10349)
  app/assets/config/manifest.js
  app/assets/javascripts/base.js.erb
  app/assets/javascripts/initializers/initializeCommentsPage.js.erb
  app/assets/javascripts/utilities/buildCommentFormHTML.js.erb
  app/assets/javascripts/utilities/buildCommentHTML.js.erb
  app/controllers/open_search_controller.rb
  app/views/layouts/admin.html.erb
  app/views/open_search/show.xml.erb
  app/views/shell/_top.html.erb
  config/environments/production.rb
  config/initializers/hypershield.rb
  config/routes.rb
  spec/requests/open_search_spec.rb
Owners: @forem/sre

[deploy] Remove need for ENV vars during asset precompile (#10349)
  app/assets/config/manifest.js
  app/assets/javascripts/base.js.erb
  app/assets/javascripts/initializers/initializeCommentsPage.js.erb
  app/assets/javascripts/utilities/buildCommentFormHTML.js.erb
  app/assets/javascripts/utilities/buildCommentHTML.js.erb
  app/controllers/open_search_controller.rb
  app/views/layouts/admin.html.erb
  app/views/open_search/show.xml.erb
  app/views/shell/_top.html.erb
  config/environments/production.rb
  config/initializers/hypershield.rb
  config/routes.rb
  spec/requests/open_search_spec.rb
Owners: @forem/sre

Update search menu to use Crayons styling, v2 (#10347)
  app/assets/javascripts/utilities/buildArticleHTML.js
  app/assets/stylesheets/widgets.scss
  app/views/articles/_search.html.erb
  app/views/articles/search.html.erb
  app/views/articles/search/_nav_menu.html.erb
  app/views/articles/search/_sidebar.html.erb
  app/views/articles/search/_sidebar_additional.html.erb
Owners: @forem/hells-bells

Update search menu to use Crayons styling, v2 (#10347)
  app/assets/javascripts/utilities/buildArticleHTML.js
  app/assets/stylesheets/widgets.scss
  app/views/articles/_search.html.erb
  app/views/articles/search.html.erb
  app/views/articles/search/_nav_menu.html.erb
  app/views/articles/search/_sidebar.html.erb
  app/views/articles/search/_sidebar_additional.html.erb
Owners: @forem/hells-bells

codesnippet text wrapping fix on safari (#10346)
  app/assets/stylesheets/syntax.scss
Owners: none

codesnippet text wrapping fix on safari (#10346)
  app/assets/stylesheets/syntax.scss
Owners: none

[deploy] Changes to profile field indexing (#10313)
  app/models/user.rb
  app/serializers/search/user_serializer.rb
  config/elasticsearch/mappings/users.json
  lib/data_update_scripts/20200519142908_re_index_feed_content_and_users_to_elasticsearch.rb
  lib/data_update_scripts/20200914042434_reindex_users_for_profiles.rb
  spec/lib/data_update_scripts/re_index_feed_content_and_users_to_elasticsearch_spec.rb
  spec/serializers/search/user_serializer_spec.rb
Owners: @forem/sre

[deploy] Changes to profile field indexing (#10313)
  app/models/user.rb
  app/serializers/search/user_serializer.rb
  config/elasticsearch/mappings/users.json
  lib/data_update_scripts/20200519142908_re_index_feed_content_and_users_to_elasticsearch.rb
  lib/data_update_scripts/20200914042434_reindex_users_for_profiles.rb
  spec/lib/data_update_scripts/re_index_feed_content_and_users_to_elasticsearch_spec.rb
  spec/serializers/search/user_serializer_spec.rb
Owners: @forem/sre

Better production container precompiling and bootstrapping (#10280)
  Containerfile
  container-compose.yml
  docker-compose.yml
  scripts/entrypoint-dev.sh
  scripts/entrypoint.sh
Owners: none

Better production container precompiling and bootstrapping (#10280)
  Containerfile
  container-compose.yml
  docker-compose.yml
  scripts/entrypoint-dev.sh
  scripts/entrypoint.sh
Owners: none

Fix broken links to admin guide in document (#10295)
  docs/backend/configuration.md
Owners: @forem/oss, @jacobherrington

Fix broken links to admin guide in document (#10295)
  docs/backend/configuration.md
Owners: @forem/oss, @jacobherrington

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre
