Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

Improve styling for series (#9893)
  app/assets/javascripts/initializers/initializeArticleReactions.js
  app/assets/stylesheets/article-show.scss
  app/assets/stylesheets/components/series-switcher.scss
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/views/article.scss
  app/javascript/article-form/components/Preview.jsx
  app/views/articles/_collection.html.erb
  app/views/articles/show.html.erb
  spec/system/articles/user_visits_an_article_spec.rb
Owners: @forem/hells-bells

Improve styling for series (#9893)
  app/assets/javascripts/initializers/initializeArticleReactions.js
  app/assets/stylesheets/article-show.scss
  app/assets/stylesheets/components/series-switcher.scss
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/views/article.scss
  app/javascript/article-form/components/Preview.jsx
  app/views/articles/_collection.html.erb
  app/views/articles/show.html.erb
  spec/system/articles/user_visits_an_article_spec.rb
Owners: @forem/hells-bells

Fix Rubocop violations and merge Listing specs (#9963)
  .rubocop.yml
  .rubocop_todo.yml
  config/initializers/devise.rb
  lib/tasks/temporary/env_variables.rake
  package.json
  spec/requests/listings_spec.rb
Owners: @forem/sre, @forem/oss, @nickytonline

Fix Rubocop violations and merge Listing specs (#9963)
  .rubocop.yml
  .rubocop_todo.yml
  config/initializers/devise.rb
  lib/tasks/temporary/env_variables.rake
  package.json
  spec/requests/listings_spec.rb
Owners: @forem/sre, @forem/oss, @nickytonline

Update yarn lockfile (#9964)
  yarn.lock
Owners: @forem/oss, @nickytonline

Update yarn lockfile (#9964)
  yarn.lock
Owners: @forem/oss, @nickytonline

Mark Buffer as legacy (#9907)
  .env_sample
  app/views/admin/articles/index.html.erb
Owners: @forem/snackcase

Mark Buffer as legacy (#9907)
  .env_sample
  app/views/admin/articles/index.html.erb
Owners: @forem/snackcase

[deploy] Refactor:Move remove_old_notifications Rake Task to Sidekiq (#9936)
  app/workers/notifications/remove_old_notifications_worker.rb
  config/schedule.yml
  lib/tasks/notifications.rake
  spec/workers/notifications/remove_old_notifications_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move remove_old_notifications Rake Task to Sidekiq (#9936)
  app/workers/notifications/remove_old_notifications_worker.rb
  config/schedule.yml
  lib/tasks/notifications.rake
  spec/workers/notifications/remove_old_notifications_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move Cache Busting Rake Tasks to Sidekiq (#9931)
  app/workers/bust_cache_path_worker.rb
  config/schedule.yml
  lib/tasks/cache.rake
  spec/workers/bust_cache_path_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move Cache Busting Rake Tasks to Sidekiq (#9931)
  app/workers/bust_cache_path_worker.rb
  config/schedule.yml
  lib/tasks/cache.rake
  spec/workers/bust_cache_path_worker_spec.rb
Owners: @forem/sre

[Admin Tooling] Log comment deletion (#9968)
  app/controllers/comments_controller.rb
Owners: none

[Admin Tooling] Log comment deletion (#9968)
  app/controllers/comments_controller.rb
Owners: none

Flare Tag styling update (#9969)
  app/assets/stylesheets/components/stories.scss
Owners: none

Flare Tag styling update (#9969)
  app/assets/stylesheets/components/stories.scss
Owners: none

Refactor:Remove save_nil_hotness_scores Task (#9930)
  lib/tasks/fetch.rake
Owners: none

Refactor:Remove save_nil_hotness_scores Task (#9930)
  lib/tasks/fetch.rake
Owners: none

[deploy] Change to same_site: lax for session store (#9967)
  config/initializers/session_store.rb
Owners: @forem/sre

[deploy] Change to same_site: lax for session store (#9967)
  config/initializers/session_store.rb
Owners: @forem/sre

[deploy] Add dependent clauses to relations for Organization and add cleanup scripts (#9932)
  .rubocop_todo.yml
  app/models/organization.rb
  lib/data_update_scripts/20200821103125_nullify_orphaned_articles_by_organization.rb
  lib/data_update_scripts/20200821103305_nullify_orphaned_collections_by_organization.rb
  lib/data_update_scripts/20200821103405_remove_orphaned_credits_by_organization.rb
  lib/data_update_scripts/20200821103718_remove_orphaned_display_ads_by_organization.rb
  lib/data_update_scripts/20200821103834_remove_orphaned_listings_by_organization.rb
  lib/data_update_scripts/20200822082229_remove_orphaned_notifications_by_organization.rb
  lib/data_update_scripts/20200822083050_remove_orphaned_sponsorships_by_organization.rb
  spec/models/organization_spec.rb
Owners: @forem/sre

[deploy] Add dependent clauses to relations for Organization and add cleanup scripts (#9932)
  .rubocop_todo.yml
  app/models/organization.rb
  lib/data_update_scripts/20200821103125_nullify_orphaned_articles_by_organization.rb
  lib/data_update_scripts/20200821103305_nullify_orphaned_collections_by_organization.rb
  lib/data_update_scripts/20200821103405_remove_orphaned_credits_by_organization.rb
  lib/data_update_scripts/20200821103718_remove_orphaned_display_ads_by_organization.rb
  lib/data_update_scripts/20200821103834_remove_orphaned_listings_by_organization.rb
  lib/data_update_scripts/20200822082229_remove_orphaned_notifications_by_organization.rb
  lib/data_update_scripts/20200822083050_remove_orphaned_sponsorships_by_organization.rb
  spec/models/organization_spec.rb
Owners: @forem/sre

Manually load dotenv in test (#9971)
  spec/spec_helper.rb
Owners: none

Manually load dotenv in test (#9971)
  spec/spec_helper.rb
Owners: none

[deploy] Refactor:Move Sitemap Refresh Rake Task to Sidekiq (#9975)
  app/workers/sitemap_refresh_worker.rb
  config/schedule.yml
  spec/workers/sitemap_refresh_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move Sitemap Refresh Rake Task to Sidekiq (#9975)
  app/workers/sitemap_refresh_worker.rb
  config/schedule.yml
  spec/workers/sitemap_refresh_worker_spec.rb
Owners: @forem/sre

Display all authentication providers in mailer footer (#9961)
  app/helpers/authentication_helper.rb
  app/mailers/application_mailer.rb
  app/services/authentication/providers.rb
  app/views/layouts/mailer.html.erb
  app/views/users/_account.html.erb
  app/views/users/_account_providers_settings.html.erb
  spec/helpers/authentication_helper_spec.rb
Owners: none

Display all authentication providers in mailer footer (#9961)
  app/helpers/authentication_helper.rb
  app/mailers/application_mailer.rb
  app/services/authentication/providers.rb
  app/views/layouts/mailer.html.erb
  app/views/users/_account.html.erb
  app/views/users/_account_providers_settings.html.erb
  spec/helpers/authentication_helper_spec.rb
Owners: none

Refactor:Move Credit Counter Cache Sync to Sidekiq (#9972)
  app/workers/credits/sync_counter_cache.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/credits/sync_counter_cache_spec.rb
Owners: @forem/sre

Refactor:Move Credit Counter Cache Sync to Sidekiq (#9972)
  app/workers/credits/sync_counter_cache.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/credits/sync_counter_cache_spec.rb
Owners: @forem/sre

[deploy] Update Sendgrid to Use API Key if Present (#9981)
  config/environments/production.rb
Owners: @forem/sre

[deploy] Update Sendgrid to Use API Key if Present (#9981)
  config/environments/production.rb
Owners: @forem/sre

Moved from resolved_paths (deprecated) to additional_paths. (#9982)
  config/webpacker.yml
Owners: @forem/sre

Moved from resolved_paths (deprecated) to additional_paths. (#9982)
  config/webpacker.yml
Owners: @forem/sre

Fix typo (#9958)
  docs/frontend/plain-js.md
Owners: @forem/oss, @jacobherrington

Fix typo (#9958)
  docs/frontend/plain-js.md
Owners: @forem/oss, @jacobherrington

[deploy] Refactor:Move Enqueueing Podcast Workers to Sidekiq Cron (#9983)
  app/workers/podcasts/enqueue_get_episodes_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/podcasts/enqueue_get_episodes_worker_spec.rb
Owners: @forem/sre

[deploy] Refactor:Move Enqueueing Podcast Workers to Sidekiq Cron (#9983)
  app/workers/podcasts/enqueue_get_episodes_worker.rb
  config/schedule.yml
  lib/tasks/fetch.rake
  spec/workers/podcasts/enqueue_get_episodes_worker_spec.rb
Owners: @forem/sre

Add support for <picture> tag in RSSReader (#9977)
  app/services/rss_reader/assembler.rb
  spec/services/rss_reader_spec.rb
  spec/support/fixtures/vcr_cassettes/rss_reader_swimburger.yml
Owners: @forem/sre

Add support for <picture> tag in RSSReader (#9977)
  app/services/rss_reader/assembler.rb
  spec/services/rss_reader_spec.rb
  spec/support/fixtures/vcr_cassettes/rss_reader_swimburger.yml
Owners: @forem/sre
