Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

Add user as reactable (#5893)
  app/models/reaction.rb
  app/models/user.rb
Owners: none

Add user as reactable (#5893)
  app/models/reaction.rb
  app/models/user.rb
Owners: none

Use cleverer patterns to fetch/iterate AR objects when checking presence (#5833) [deploy]
  app/services/notifications/update.rb
  app/services/users/delete_articles.rb
  app/views/additional_content_boxes/boxes.html.erb
  app/views/articles/_sidebar.html.erb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/tag_index.html.erb
  app/views/articles/tags/_sidebar_additional.html.erb
  app/views/internal/articles/index.html.erb
  app/views/internal/podcasts/edit.html.erb
  app/views/moderations/mod.html.erb
  app/views/organizations/_sidebar_additional.html.erb
  app/views/organizations/show.html.erb
  app/views/partnerships/_form.html.erb
  app/views/users/_comments_section.html.erb
  app/views/users/_main_feed.html.erb
  app/views/users/_organizations_area.html.erb
Owners: @jacobherrington, @zhao-andy

Use cleverer patterns to fetch/iterate AR objects when checking presence (#5833) [deploy]
  app/services/notifications/update.rb
  app/services/users/delete_articles.rb
  app/views/additional_content_boxes/boxes.html.erb
  app/views/articles/_sidebar.html.erb
  app/views/articles/_sidebar_additional.html.erb
  app/views/articles/tag_index.html.erb
  app/views/articles/tags/_sidebar_additional.html.erb
  app/views/internal/articles/index.html.erb
  app/views/internal/podcasts/edit.html.erb
  app/views/moderations/mod.html.erb
  app/views/organizations/_sidebar_additional.html.erb
  app/views/organizations/show.html.erb
  app/views/partnerships/_form.html.erb
  app/views/users/_comments_section.html.erb
  app/views/users/_main_feed.html.erb
  app/views/users/_organizations_area.html.erb
Owners: @jacobherrington, @zhao-andy

Move user deletion by moderator to worker (#5887) [deploy]
  app/controllers/internal/users_controller.rb
  app/controllers/users_controller.rb
  app/services/moderator/delete_user.rb
  app/workers/users/delete_worker.rb
  spec/requests/internal/users_banish_spec.rb
  spec/requests/user/user_destroy_spec.rb
  spec/services/moderator/delete_user_spec.rb
  spec/system/user/user_self_destroy_spec.rb
  spec/workers/users/delete_worker_spec.rb
Owners: @jacobherrington, @zhao-andy, @thepracticaldev/sre

Move user deletion by moderator to worker (#5887) [deploy]
  app/controllers/internal/users_controller.rb
  app/controllers/users_controller.rb
  app/services/moderator/delete_user.rb
  app/workers/users/delete_worker.rb
  spec/requests/internal/users_banish_spec.rb
  spec/requests/user/user_destroy_spec.rb
  spec/services/moderator/delete_user_spec.rb
  spec/system/user/user_self_destroy_spec.rb
  spec/workers/users/delete_worker_spec.rb
Owners: @jacobherrington, @zhao-andy, @thepracticaldev/sre

Return NotFound error if ChatChannelMembership is not found (#5806)
  app/controllers/chat_channel_memberships_controller.rb
  spec/requests/chat_channel_memberships_spec.rb
Owners: none

Return NotFound error if ChatChannelMembership is not found (#5806)
  app/controllers/chat_channel_memberships_controller.rb
  spec/requests/chat_channel_memberships_spec.rb
Owners: none

Fix raising validation if followable already exist(race condition) (#5826)
  app/controllers/follows_controller.rb
Owners: none

Fix raising validation if followable already exist(race condition) (#5826)
  app/controllers/follows_controller.rb
Owners: none

Have counters:update_users use a transaction per user and customizable batch size (#5912) [deploy]
  lib/tasks/counters.rake
Owners: none

Have counters:update_users use a transaction per user and customizable batch size (#5912) [deploy]
  lib/tasks/counters.rake
Owners: none

Ignore `html_safe` in erb files (#5913)
  .erb-lint.yml
Owners: none

Ignore `html_safe` in erb files (#5913)
  .erb-lint.yml
Owners: none

Move Notifications::TagAdjustmentNotificationJob to Sidekiq (#5909) [deploy]
  app/models/notification.rb
  app/workers/notifications/tag_adjustment_notification_worker.rb
  spec/services/notifications/tag_adjustment_notification/send_spec.rb
  spec/services/tag_adjustment_creation_service_spec.rb
  spec/workers/notifications/tag_adjustment_notification_worker_spec.rb
Owners: @thepracticaldev/sre

Move Notifications::TagAdjustmentNotificationJob to Sidekiq (#5909) [deploy]
  app/models/notification.rb
  app/workers/notifications/tag_adjustment_notification_worker.rb
  spec/services/notifications/tag_adjustment_notification/send_spec.rb
  spec/services/tag_adjustment_creation_service_spec.rb
  spec/workers/notifications/tag_adjustment_notification_worker_spec.rb
Owners: @thepracticaldev/sre

Remove HtmlVariantTrialCreateJob & spec (#5910)
  app/jobs/html_variant_trial_create_job.rb
  spec/jobs/html_variant_trial_create_job_spec.rb
Owners: @thepracticaldev/sre

Remove HtmlVariantTrialCreateJob & spec (#5910)
  app/jobs/html_variant_trial_create_job.rb
  spec/jobs/html_variant_trial_create_job_spec.rb
Owners: @thepracticaldev/sre

Remove UpdateMainImageBackgroundHexJob & spec (#5911)
  app/jobs/articles/update_main_image_background_hex_job.rb
  spec/jobs/articles/update_main_image_background_hex_job_spec.rb
Owners: @thepracticaldev/sre

Remove UpdateMainImageBackgroundHexJob & spec (#5911)
  app/jobs/articles/update_main_image_background_hex_job.rb
  spec/jobs/articles/update_main_image_background_hex_job_spec.rb
Owners: @thepracticaldev/sre

Remove Notifications::TagAdjustmentNotificationJob (#5915) [deploy]
  app/jobs/notifications/tag_adjustment_notification_job.rb
  spec/jobs/notifications/tag_adjustment_notification_job_spec.rb
Owners: @thepracticaldev/sre

Remove Notifications::TagAdjustmentNotificationJob (#5915) [deploy]
  app/jobs/notifications/tag_adjustment_notification_job.rb
  spec/jobs/notifications/tag_adjustment_notification_job_spec.rb
Owners: @thepracticaldev/sre

Adds core team member [ci skip] (#5881)
  README.md
Owners: none

Adds core team member [ci skip] (#5881)
  README.md
Owners: none

Remove Foreman gem (#5821)
  Gemfile
  Gemfile.lock
  docs/getting-started/start-app.md
  docs/installation/others.md
  docs/installation/readme.md
Owners: @maestromac, @jacobherrington

Remove Foreman gem (#5821)
  Gemfile
  Gemfile.lock
  docs/getting-started/start-app.md
  docs/installation/others.md
  docs/installation/readme.md
Owners: @maestromac, @jacobherrington

Use yarn 1.21.1 (#5786)
  .prettierignore
  .yarnrc
Owners: none

Use yarn 1.21.1 (#5786)
  .prettierignore
  .yarnrc
Owners: none

Allow deleting comments if article has already been deleted (#5889) [deploy]
  app/controllers/comments_controller.rb
  spec/requests/comments_spec.rb
Owners: none

Allow deleting comments if article has already been deleted (#5889) [deploy]
  app/controllers/comments_controller.rb
  spec/requests/comments_spec.rb
Owners: none

Preact/React developer tools documentation. (#5884)
  docs/frontend/debugging.md
Owners: @jacobherrington

Preact/React developer tools documentation. (#5884)
  docs/frontend/debugging.md
Owners: @jacobherrington

Created documenation for Common PropTypes. (#5900)
  docs/frontend/preact.md
Owners: @jacobherrington

Created documenation for Common PropTypes. (#5900)
  docs/frontend/preact.md
Owners: @jacobherrington

Upgrade gemoji to support disability emojis (#5842)
  Gemfile
  Gemfile.lock
  spec/labor/emoji_converter_spec.rb
  spec/labor/markdown_parser_spec.rb
Owners: @maestromac

Upgrade gemoji to support disability emojis (#5842)
  Gemfile
  Gemfile.lock
  spec/labor/emoji_converter_spec.rb
  spec/labor/markdown_parser_spec.rb
Owners: @maestromac

Add common tag PropTypes (#5882)
  app/javascript/src/components/common-prop-types/index.js
  app/javascript/src/components/common-prop-types/tag-prop-types.js
Owners: none

Add common tag PropTypes (#5882)
  app/javascript/src/components/common-prop-types/index.js
  app/javascript/src/components/common-prop-types/tag-prop-types.js
Owners: none

Removed isRequired for whole user entity (#5902)
  app/javascript/src/components/common-prop-types/user-prop-types.js
Owners: none

Removed isRequired for whole user entity (#5902)
  app/javascript/src/components/common-prop-types/user-prop-types.js
Owners: none

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Team snackCase
/app/assets/stylesheets/internal/ @jacobherrington @zhao-andy
/app/controllers/internal/        @jacobherrington @zhao-andy
/app/views/internal/              @jacobherrington @zhao-andy
/app/views/moderation/            @jacobherrington @zhao-andy
/spec/system/internal/            @jacobherrington @zhao-andy
/spec/requests/internal/          @jacobherrington @zhao-andy
/docs/                            @jacobherrington
