Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

Remove mentions email notification job (#5708)
  app/jobs/mentions/send_email_notification_job.rb
  spec/jobs/mentions/send_email_notification_job_spec.rb
Owners: @thepracticaldev/sre

Remove mentions email notification job (#5708)
  app/jobs/mentions/send_email_notification_job.rb
  spec/jobs/mentions/send_email_notification_job_spec.rb
Owners: @thepracticaldev/sre

Fix capitalization in settings placeholders (#5707)
  app/views/users/_profile.html.erb
Owners: none

Fix capitalization in settings placeholders (#5707)
  app/views/users/_profile.html.erb
Owners: none

Setup SitemapGenerator and CarrierWave to use new AWS creds when ENV var is set (#5570) [deploy]
  config/initializers/carrierwave.rb
  config/sitemap.rb
Owners: @thepracticaldev/sre

Setup SitemapGenerator and CarrierWave to use new AWS creds when ENV var is set (#5570) [deploy]
  config/initializers/carrierwave.rb
  config/sitemap.rb
Owners: @thepracticaldev/sre

update frontend docs (#5706)
  docs/frontend/instant-click.md
  docs/frontend/linting-formatting.md
  docs/frontend/readme.md
  docs/frontend/styles.md
Owners: @jacobherrington

update frontend docs (#5706)
  docs/frontend/instant-click.md
  docs/frontend/linting-formatting.md
  docs/frontend/readme.md
  docs/frontend/styles.md
Owners: @jacobherrington

Add StimulusJS and Refactor Internal article_script (#5539) deploy]
  app/javascript/internal/__mocks__/mutationObserver.js
  app/javascript/internal/__tests__/controllers/article_controller.test.js
  app/javascript/internal/__tests__/controllers/buffer_controller.test.js
  app/javascript/internal/controllers/article_controller.js
  app/javascript/internal/controllers/buffer_controller.js
  app/javascript/packs/internal.js
  app/views/internal/articles/_image_upload_script.html.erb
  app/views/internal/articles/_individual_article.html.erb
  app/views/internal/articles/index.html.erb
  app/views/internal/articles/show.html.erb
  app/views/internal/classified_listings/index.html.erb
  app/views/layouts/internal.html.erb
  package.json
  yarn.lock
Owners: @zhao-andy, @maestromac

Add StimulusJS and Refactor Internal article_script (#5539) deploy]
  app/javascript/internal/__mocks__/mutationObserver.js
  app/javascript/internal/__tests__/controllers/article_controller.test.js
  app/javascript/internal/__tests__/controllers/buffer_controller.test.js
  app/javascript/internal/controllers/article_controller.js
  app/javascript/internal/controllers/buffer_controller.js
  app/javascript/packs/internal.js
  app/views/internal/articles/_image_upload_script.html.erb
  app/views/internal/articles/_individual_article.html.erb
  app/views/internal/articles/index.html.erb
  app/views/internal/articles/show.html.erb
  app/views/internal/classified_listings/index.html.erb
  app/views/layouts/internal.html.erb
  package.json
  yarn.lock
Owners: @zhao-andy, @maestromac

Add documentation around our use of pg-bouncer [ci-skip] (#5710)
  docs/installation/postgresql.md
Owners: @jacobherrington

Add documentation around our use of pg-bouncer [ci-skip] (#5710)
  docs/installation/postgresql.md
Owners: @jacobherrington

Remove Notifications#NewComment job (#5567) [deploy]
  app/jobs/notifications/new_comment_job.rb
  spec/jobs/notifications/new_comment_job_spec.rb
Owners: @thepracticaldev/sre

Remove Notifications#NewComment job (#5567) [deploy]
  app/jobs/notifications/new_comment_job.rb
  spec/jobs/notifications/new_comment_job_spec.rb
Owners: @thepracticaldev/sre

Remove ExportContentJob and spec (#5711)
  app/jobs/export_content_job.rb
  spec/jobs/export_content_job_spec.rb
Owners: @thepracticaldev/sre

Remove ExportContentJob and spec (#5711)
  app/jobs/export_content_job.rb
  spec/jobs/export_content_job_spec.rb
Owners: @thepracticaldev/sre

Move RssReaderFetchUserJob to Sidekiq (#5685) [deploy]
  app/controllers/users_controller.rb
  app/workers/rss_reader_fetch_user_worker.rb
  spec/workers/rss_reader_fetch_user_worker_spec.rb
Owners: @thepracticaldev/sre

Move RssReaderFetchUserJob to Sidekiq (#5685) [deploy]
  app/controllers/users_controller.rb
  app/workers/rss_reader_fetch_user_worker.rb
  spec/workers/rss_reader_fetch_user_worker_spec.rb
Owners: @thepracticaldev/sre

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Jacob
/app/assets/stylesheets/internal/ @jacobherrington
/app/controllers/internal/        @jacobherrington
/app/views/internal/              @jacobherrington
/app/views/moderation/            @jacobherrington
/spec/system/internal/            @jacobherrington
/spec/requests/internal/          @jacobherrington
/docs/                            @jacobherrington

# Andy
/app/assets/stylesheets/internal/ @zhao-andy
/app/controllers/internal/        @zhao-andy
/app/views/internal/              @zhao-andy
/app/views/moderation/            @zhao-andy
/spec/system/internal/            @zhao-andy
/spec/requests/internal/          @zhao-andy
