Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre

More frontend test cleanup (#8919)
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
  app/javascript/article-form/components/__tests__/ImageUploader.test.jsx
  app/javascript/articles/__tests__/Article.test.jsx
  app/javascript/chat/__tests__/chat.test.jsx
  app/javascript/chat/__tests__/content.test.jsx
  app/javascript/chat/__tests__/inviteForm.test.jsx
  app/javascript/chat/__tests__/leaveMembershipSection.test.jsx
  app/javascript/chat/__tests__/membership.test.jsx
  app/javascript/chat/__tests__/modFaqSection.test.jsx
  app/javascript/chat/__tests__/modSection.test.jsx
  app/javascript/chat/__tests__/personalSetting.test.jsx
  app/javascript/chat/__tests__/requestManager.test.jsx
  app/javascript/chat/__tests__/requestedMembershipSection.test.jsx
  app/javascript/chat/__tests__/settingsForm.test.jsx
  app/javascript/githubRepos/__tests__/githubRepos.test.jsx
  app/javascript/leftSidebar/__tests__/TagsFollowed.test.jsx
  app/javascript/listings/__tests__/ContactViaConnect.test.jsx
  app/javascript/listings/__tests__/ListingFilterTags.test.jsx
  app/javascript/listings/__tests__/ListingFiltersCategories.test.jsx
  app/javascript/listings/__tests__/MessageModal.test.jsx
  app/javascript/listings/__tests__/Modal.test.jsx
  app/javascript/listings/__tests__/ModalBackground.test.jsx
  app/javascript/listings/__tests__/NextPageButton.test.jsx
  app/javascript/listings/__tests__/SelectedTags.test.jsx
  app/javascript/listings/__tests__/SingleListing.test.jsx
  app/javascript/modCenter/singleArticle/singleArticle.test.jsx
  app/javascript/onboarding/__tests__/Onboarding.test.jsx
  app/javascript/onboarding/components/_tests/EmailPreferencesForm.test.jsx
  app/javascript/onboarding/components/_tests/FollowTags.test.jsx
  app/javascript/onboarding/components/_tests/FollowUsers.test.jsx
  app/javascript/onboarding/components/_tests/ProfileForm.test.jsx
  app/javascript/organization/__tests__/OrganizationPicker.test.jsx
  app/javascript/readingList/__tests__/readingList.test.jsx
  app/javascript/readingList/components/__tests__/ItemListItem.test.jsx
  app/javascript/readingList/components/__tests__/ItemListItemArchiveButton.test.jsx
  app/javascript/readingList/components/__tests__/ItemListLoadMoreButton.test.jsx
  app/javascript/readingList/components/__tests__/ItemListTags.test.jsx
  app/javascript/sidebar-widget/__tests__/sidebarUser.test.jsx
  jest.config.js
Owners: none

More frontend test cleanup (#8919)
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
  app/javascript/article-form/components/__tests__/ImageUploader.test.jsx
  app/javascript/articles/__tests__/Article.test.jsx
  app/javascript/chat/__tests__/chat.test.jsx
  app/javascript/chat/__tests__/content.test.jsx
  app/javascript/chat/__tests__/inviteForm.test.jsx
  app/javascript/chat/__tests__/leaveMembershipSection.test.jsx
  app/javascript/chat/__tests__/membership.test.jsx
  app/javascript/chat/__tests__/modFaqSection.test.jsx
  app/javascript/chat/__tests__/modSection.test.jsx
  app/javascript/chat/__tests__/personalSetting.test.jsx
  app/javascript/chat/__tests__/requestManager.test.jsx
  app/javascript/chat/__tests__/requestedMembershipSection.test.jsx
  app/javascript/chat/__tests__/settingsForm.test.jsx
  app/javascript/githubRepos/__tests__/githubRepos.test.jsx
  app/javascript/leftSidebar/__tests__/TagsFollowed.test.jsx
  app/javascript/listings/__tests__/ContactViaConnect.test.jsx
  app/javascript/listings/__tests__/ListingFilterTags.test.jsx
  app/javascript/listings/__tests__/ListingFiltersCategories.test.jsx
  app/javascript/listings/__tests__/MessageModal.test.jsx
  app/javascript/listings/__tests__/Modal.test.jsx
  app/javascript/listings/__tests__/ModalBackground.test.jsx
  app/javascript/listings/__tests__/NextPageButton.test.jsx
  app/javascript/listings/__tests__/SelectedTags.test.jsx
  app/javascript/listings/__tests__/SingleListing.test.jsx
  app/javascript/modCenter/singleArticle/singleArticle.test.jsx
  app/javascript/onboarding/__tests__/Onboarding.test.jsx
  app/javascript/onboarding/components/_tests/EmailPreferencesForm.test.jsx
  app/javascript/onboarding/components/_tests/FollowTags.test.jsx
  app/javascript/onboarding/components/_tests/FollowUsers.test.jsx
  app/javascript/onboarding/components/_tests/ProfileForm.test.jsx
  app/javascript/organization/__tests__/OrganizationPicker.test.jsx
  app/javascript/readingList/__tests__/readingList.test.jsx
  app/javascript/readingList/components/__tests__/ItemListItem.test.jsx
  app/javascript/readingList/components/__tests__/ItemListItemArchiveButton.test.jsx
  app/javascript/readingList/components/__tests__/ItemListLoadMoreButton.test.jsx
  app/javascript/readingList/components/__tests__/ItemListTags.test.jsx
  app/javascript/sidebar-widget/__tests__/sidebarUser.test.jsx
  jest.config.js
Owners: none

[deploy] Update Honeybadger's assetsUrl (#8916)
  config/webpack/environment.js
Owners: @thepracticaldev/sre

[deploy] Update Honeybadger's assetsUrl (#8916)
  config/webpack/environment.js
Owners: @thepracticaldev/sre

Adapt "gitdocs serve" to work in a remote dev env (#8791)
  .gitdocs.js
Owners: none

Adapt "gitdocs serve" to work in a remote dev env (#8791)
  .gitdocs.js
Owners: none

Fix article stats page (#8901)
  app/assets/stylesheets/dashboard.scss
Owners: none

Fix article stats page (#8901)
  app/assets/stylesheets/dashboard.scss
Owners: none

Fix incorrect styling of fork in repo list (#8876)
  app/assets/stylesheets/settings.scss
  app/javascript/githubRepos/singleRepo.jsx
Owners: none

Fix incorrect styling of fork in repo list (#8876)
  app/assets/stylesheets/settings.scss
  app/javascript/githubRepos/singleRepo.jsx
Owners: none

"Write a post" form clickable area (#8925)
  app/assets/stylesheets/dashboard.scss
  app/assets/stylesheets/views/article-form.scss
Owners: none

"Write a post" form clickable area (#8925)
  app/assets/stylesheets/dashboard.scss
  app/assets/stylesheets/views/article-form.scss
Owners: none

CSS cleanups (#8926)
  app/assets/stylesheets/dashboard.scss
  app/assets/stylesheets/footer.scss
  app/assets/stylesheets/top-bar.scss
  app/views/dashboards/followers.html.erb
Owners: none

CSS cleanups (#8926)
  app/assets/stylesheets/dashboard.scss
  app/assets/stylesheets/footer.scss
  app/assets/stylesheets/top-bar.scss
  app/views/dashboards/followers.html.erb
Owners: none

Fix available credits count in dashboard (#8928)
  app/views/dashboards/_analytics.html.erb
  spec/system/dashboards/user_visits_dashboard_spec.rb
Owners: none

Fix available credits count in dashboard (#8928)
  app/views/dashboards/_analytics.html.erb
  spec/system/dashboards/user_visits_dashboard_spec.rb
Owners: none

Fixed a bunch of linting issues in components (#8921)
  app/javascript/Snackbar/SnackbarItem.jsx
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/article-form/components/EditorActions.jsx
  app/javascript/article-form/components/Header.jsx
  app/javascript/article-form/components/ImageUploader.jsx
  app/javascript/articles/Feed.jsx
  app/javascript/articles/components/CommentsList.jsx
  app/javascript/articles/components/ContentTitle.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/content.jsx
  app/javascript/crayons/Modal/Modal.jsx
  app/javascript/githubRepos/githubRepos.jsx
  app/javascript/listings/listingForm.jsx
  app/javascript/listings/singleListing/index.jsx
  app/javascript/onboarding/components/EmailPreferencesForm.jsx
  app/javascript/onboarding/components/FollowTags.jsx
  app/javascript/onboarding/components/FollowUsers.jsx
  app/javascript/onboarding/components/IntroSlide.jsx
  app/javascript/onboarding/components/ProfileForm.jsx
  app/javascript/packs/videoChat.jsx
  app/javascript/readingList/components/ItemListItem.jsx
  config/webpack/environment.js
Owners: @thepracticaldev/sre

Fixed a bunch of linting issues in components (#8921)
  app/javascript/Snackbar/SnackbarItem.jsx
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/article-form/components/EditorActions.jsx
  app/javascript/article-form/components/Header.jsx
  app/javascript/article-form/components/ImageUploader.jsx
  app/javascript/articles/Feed.jsx
  app/javascript/articles/components/CommentsList.jsx
  app/javascript/articles/components/ContentTitle.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/content.jsx
  app/javascript/crayons/Modal/Modal.jsx
  app/javascript/githubRepos/githubRepos.jsx
  app/javascript/listings/listingForm.jsx
  app/javascript/listings/singleListing/index.jsx
  app/javascript/onboarding/components/EmailPreferencesForm.jsx
  app/javascript/onboarding/components/FollowTags.jsx
  app/javascript/onboarding/components/FollowUsers.jsx
  app/javascript/onboarding/components/IntroSlide.jsx
  app/javascript/onboarding/components/ProfileForm.jsx
  app/javascript/packs/videoChat.jsx
  app/javascript/readingList/components/ItemListItem.jsx
  config/webpack/environment.js
Owners: @thepracticaldev/sre

[deploy] Progress bar fix (#8847)
  app/assets/stylesheets/shared.scss
Owners: none

[deploy] Progress bar fix (#8847)
  app/assets/stylesheets/shared.scss
Owners: none

Fixes archived button in dashboard for PWA (#8930)
  app/assets/javascripts/initializers/initializeArchivedPostFilter.js
Owners: none

Fixes archived button in dashboard for PWA (#8930)
  app/assets/javascripts/initializers/initializeArchivedPostFilter.js
Owners: none

[deploy] Fixed broken video capabilities of Connect (#8922)
  app/javascript/chat/__tests__/VideoContent.test.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/videoContent.jsx
Owners: none

[deploy] Fixed broken video capabilities of Connect (#8922)
  app/javascript/chat/__tests__/VideoContent.test.jsx
  app/javascript/chat/chat.jsx
  app/javascript/chat/videoContent.jsx
Owners: none

[deploy] Fix Mod Center v1 bugs post-launch (#8883)
  app/assets/stylesheets/moderators.scss
  app/javascript/modCenter/singleArticle/index.jsx
  app/javascript/modCenter/singleArticle/singleArticle.test.jsx
Owners: none

[deploy] Fix Mod Center v1 bugs post-launch (#8883)
  app/assets/stylesheets/moderators.scss
  app/javascript/modCenter/singleArticle/index.jsx
  app/javascript/modCenter/singleArticle/singleArticle.test.jsx
Owners: none

[deploy] Add Forem link/reference in footer (#8934)
  app/views/layouts/_footer.html.erb
Owners: none

[deploy] Add Forem link/reference in footer (#8934)
  app/views/layouts/_footer.html.erb
Owners: none

[deploy] Remove sort links from tags for logged-out (SEO) (#8932)
  app/views/articles/tag_index.html.erb
  app/views/articles/tags/_meta.html.erb
  spec/requests/stories_index_spec.rb
  spec/system/articles/user_visits_articles_by_tag_spec.rb
Owners: @thepracticaldev/hells-bells

[deploy] Remove sort links from tags for logged-out (SEO) (#8932)
  app/views/articles/tag_index.html.erb
  app/views/articles/tags/_meta.html.erb
  spec/requests/stories_index_spec.rb
  spec/system/articles/user_visits_articles_by_tag_spec.rb
Owners: @thepracticaldev/hells-bells

Move edit and delete buttons on chat messages to dropdown menu (#7820)
  app/assets/stylesheets/chat.scss
  app/assets/stylesheets/scaffolds.scss
  app/javascript/chat/chat.jsx
  app/javascript/chat/message.jsx
Owners: none

Move edit and delete buttons on chat messages to dropdown menu (#7820)
  app/assets/stylesheets/chat.scss
  app/assets/stylesheets/scaffolds.scss
  app/javascript/chat/chat.jsx
  app/javascript/chat/message.jsx
Owners: none

More frontend lint fixes (#8931)
  app/javascript/.eslintrc.js
  app/javascript/article-form/articleForm.jsx
  app/javascript/articles/Feed.jsx
  app/javascript/articles/components/SaveButton.jsx
  app/javascript/chat/__tests__/util.test.js
  app/javascript/chat/content.jsx
  app/javascript/contentDisplayPolicy/hideBlockedContent.js
  app/javascript/listings/__tests__/utils.test.js
  app/javascript/shared/components/tags.jsx
  app/javascript/utilities/__tests__/search.test.js
Owners: none

More frontend lint fixes (#8931)
  app/javascript/.eslintrc.js
  app/javascript/article-form/articleForm.jsx
  app/javascript/articles/Feed.jsx
  app/javascript/articles/components/SaveButton.jsx
  app/javascript/chat/__tests__/util.test.js
  app/javascript/chat/content.jsx
  app/javascript/contentDisplayPolicy/hideBlockedContent.js
  app/javascript/listings/__tests__/utils.test.js
  app/javascript/shared/components/tags.jsx
  app/javascript/utilities/__tests__/search.test.js
Owners: none

Tell the service worker to skip /rss (#8944)
  app/views/service_worker/index.js.erb
Owners: none

Tell the service worker to skip /rss (#8944)
  app/views/service_worker/index.js.erb
Owners: none

[deploy] Remove dead code in chat-channels-controller (#8943)
  app/controllers/chat_channels_controller.rb
Owners: none

[deploy] Remove dead code in chat-channels-controller (#8943)
  app/controllers/chat_channels_controller.rb
Owners: none

Documentation: Vault Docs (#8936)
  docs/backend/configuration.md
  docs/installation/readme.md
  docs/installation/vault.md
Owners: @thepracticaldev/oss, @jacobherrington

Documentation: Vault Docs (#8936)
  docs/backend/configuration.md
  docs/installation/readme.md
  docs/installation/vault.md
Owners: @thepracticaldev/oss, @jacobherrington
