Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/hells-bells, @forem/sre, @jacobherrington, @forem/systems, @nickytonline

Remove app/labor/color_from_image.rb (#11825)
  Gemfile
  app/labor/color_from_image.rb
  app/models/article.rb
  app/workers/articles/update_main_image_background_hex_worker.rb
  spec/labor/color_from_image_spec.rb
  spec/models/article_spec.rb
  spec/workers/articles/update_main_image_background_hex_worker_spec.rb
Owners: @forem/sre, @forem/oss

Remove app/labor/color_from_image.rb (#11825)
  Gemfile
  app/labor/color_from_image.rb
  app/models/article.rb
  app/workers/articles/update_main_image_background_hex_worker.rb
  spec/labor/color_from_image_spec.rb
  spec/models/article_spec.rb
  spec/workers/articles/update_main_image_background_hex_worker_spec.rb
Owners: @forem/sre, @forem/oss

Move Twilio from labor to services (#11824)
  app/controllers/twilio_tokens_controller.rb
  app/labor/twilio_token.rb
  app/services/twilio/get_jwt_token.rb
  spec/labor/twilio_token_spec.rb
  spec/services/twilio/get_jwt_token_spec.rb
Owners: none

Move Twilio from labor to services (#11824)
  app/controllers/twilio_tokens_controller.rb
  app/labor/twilio_token.rb
  app/services/twilio/get_jwt_token.rb
  spec/labor/twilio_token_spec.rb
  spec/services/twilio/get_jwt_token_spec.rb
Owners: none

Fixed eslint/jest configurations for cypress. (#11841)
  cypress/.eslintrc.js
  jest.config.js
Owners: none

Fixed eslint/jest configurations for cypress. (#11841)
  cypress/.eslintrc.js
  jest.config.js
Owners: none

Don't attempt to call summary on profile during onboarding (#11836)
  app/validators/profile_validator.rb
Owners: none

Don't attempt to call summary on profile during onboarding (#11836)
  app/validators/profile_validator.rb
Owners: none

Update aspect ratio of images on the Admin's config page (#11527)
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
Owners: none

Update aspect ratio of images on the Admin's config page (#11527)
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
Owners: none

Fix misleading comment (#11847)
  app/validators/profile_validator.rb
Owners: none

Fix misleading comment (#11847)
  app/validators/profile_validator.rb
Owners: none

feat: update the contact email address in the database (#11848)
  lib/data_update_scripts/20201210163704_set_contact_email_address.rb
  spec/lib/data_update_scripts/set_contact_email_address_spec.rb
Owners: @forem/sre

feat: update the contact email address in the database (#11848)
  lib/data_update_scripts/20201210163704_set_contact_email_address.rb
  spec/lib/data_update_scripts/set_contact_email_address_spec.rb
Owners: @forem/sre

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/support/                                      @forem/sre
.buildkite/                                         @forem/systems @forem/sre
.travis.yml                                         @forem/sre
Containerfile                                       @forem/systems
docker-compose.yml                                  @forem/systems
Dockerfile                                          @forem/systems
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
podman-compose.yml                                  @forem/systems
scripts/                                            @forem/systems
yarn.lock                                           @forem/oss    @nickytonline
