Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

[deploy] Add unique index on articles canonical_url (#10161)
  app/models/article.rb
  db/migrate/20200902132326_add_unique_index_to_articles_canonical_url.rb
  db/schema.rb
  spec/models/article_spec.rb
Owners: @forem/sre

[deploy] Add unique index on articles canonical_url (#10161)
  app/models/article.rb
  db/migrate/20200902132326_add_unique_index_to_articles_canonical_url.rb
  db/schema.rb
  spec/models/article_spec.rb
Owners: @forem/sre

[deploy] Remove all attempts to delete cookies (#10211)
  app/controllers/omniauth_callbacks_controller.rb
  app/controllers/sessions_controller.rb
  config/routes.rb
Owners: @forem/sre

[deploy] Remove all attempts to delete cookies (#10211)
  app/controllers/omniauth_callbacks_controller.rb
  app/controllers/sessions_controller.rb
  config/routes.rb
Owners: @forem/sre

Fix spec (#10235)
  spec/lib/data_update_scripts/create_profile_fields_spec.rb
Owners: none

Fix spec (#10235)
  spec/lib/data_update_scripts/create_profile_fields_spec.rb
Owners: none

Change spec to use change over absolute count (#10242)
  spec/requests/admin/profile_field_groups_spec.rb
Owners: @forem/snackcase

Change spec to use change over absolute count (#10242)
  spec/requests/admin/profile_field_groups_spec.rb
Owners: @forem/snackcase

[deploy] Add LiquidTagsController (#10241)
  app/controllers/liquid_tags_controller.rb
  config/routes.rb
  spec/requests/liquid_tags_request_spec.rb
Owners: @forem/sre

[deploy] Add LiquidTagsController (#10241)
  app/controllers/liquid_tags_controller.rb
  config/routes.rb
  spec/requests/liquid_tags_request_spec.rb
Owners: @forem/sre

[deploy] Remove draft articles with duplicate feed source URL and cleanup invalid data: take 2 (#10239)
  lib/data_update_scripts/20200904132553_remove_draft_articles_with_duplicate_feed_source_url.rb
  lib/data_update_scripts/20200904141057_cleanup_articles_with_invalid_feed_source_url.rb
  spec/lib/data_update_scripts/cleanup_articles_with_invalid_feed_source_url_spec.rb
Owners: @forem/sre

[deploy] Remove draft articles with duplicate feed source URL and cleanup invalid data: take 2 (#10239)
  lib/data_update_scripts/20200904132553_remove_draft_articles_with_duplicate_feed_source_url.rb
  lib/data_update_scripts/20200904141057_cleanup_articles_with_invalid_feed_source_url.rb
  spec/lib/data_update_scripts/cleanup_articles_with_invalid_feed_source_url_spec.rb
Owners: @forem/sre

[deploy] Feature:Add ENV to Skip Fastly Config Update (#10251)
  lib/tasks/fastly.rake
Owners: none

[deploy] Feature:Add ENV to Skip Fastly Config Update (#10251)
  lib/tasks/fastly.rake
Owners: none

[deploy] Add unique index on articles feed_source_url (#10208)
  app/models/article.rb
  db/migrate/20200904151734_add_unique_index_to_articles_feed_source_url.rb
  db/schema.rb
  spec/models/article_spec.rb
Owners: @forem/sre

[deploy] Add unique index on articles feed_source_url (#10208)
  app/models/article.rb
  db/migrate/20200904151734_add_unique_index_to_articles_feed_source_url.rb
  db/schema.rb
  spec/models/article_spec.rb
Owners: @forem/sre

[deploy] Fixed issue with drag and drop image for cover image in editor. (#10254)
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
Owners: none

[deploy] Fixed issue with drag and drop image for cover image in editor. (#10254)
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
Owners: none

Bug Fix:Fix Data Update feed_source_url Script (#10253)
  lib/data_update_scripts/20200904132553_remove_draft_articles_with_duplicate_feed_source_url.rb
Owners: @forem/sre

Bug Fix:Fix Data Update feed_source_url Script (#10253)
  lib/data_update_scripts/20200904132553_remove_draft_articles_with_duplicate_feed_source_url.rb
Owners: @forem/sre

Fixing id and class of non featured article (#10247)
  app/javascript/articles/Article.jsx
  spec/system/articles/user_visits_articles_by_timeframe_spec.rb
Owners: none

Fixing id and class of non featured article (#10247)
  app/javascript/articles/Article.jsx
  spec/system/articles/user_visits_articles_by_timeframe_spec.rb
Owners: none

Refactor: Remove Unused Figaro Gem and Temp Rake Task (#10255)
  Gemfile
  Gemfile.lock
  bin/setup
  config/sample_application.yml
  lib/tasks/temporary/env_variables.rake
  vendor/cache/figaro-1.2.0.gem
Owners: @forem/sre, @forem/oss

Refactor: Remove Unused Figaro Gem and Temp Rake Task (#10255)
  Gemfile
  Gemfile.lock
  bin/setup
  config/sample_application.yml
  lib/tasks/temporary/env_variables.rake
  vendor/cache/figaro-1.2.0.gem
Owners: @forem/sre, @forem/oss

Using global util function for displaying date in listing dashboard (#10244)
  app/assets/javascripts/utilities/localDateTime.js
  app/javascript/listings/__tests__/ListingDashboard.test.jsx
  app/javascript/listings/dashboard/rowElements/listingDate.jsx
  app/javascript/shared/components/__tests__/dateTime.test.jsx
  app/javascript/shared/components/dateTime.jsx
Owners: none

Using global util function for displaying date in listing dashboard (#10244)
  app/assets/javascripts/utilities/localDateTime.js
  app/javascript/listings/__tests__/ListingDashboard.test.jsx
  app/javascript/listings/dashboard/rowElements/listingDate.jsx
  app/javascript/shared/components/__tests__/dateTime.test.jsx
  app/javascript/shared/components/dateTime.jsx
Owners: none

Drop containers styling (#10203)
  app/assets/stylesheets/views/article-form.scss
  app/javascript/article-form/components/EditorBody.jsx
  app/javascript/article-form/components/Meta.jsx
  app/javascript/article-form/components/__tests__/dragAndDropHelpers.test.js
  app/javascript/article-form/components/dragAndDropHelpers.js
  app/views/shell/_top.html.erb
Owners: none

Drop containers styling (#10203)
  app/assets/stylesheets/views/article-form.scss
  app/javascript/article-form/components/EditorBody.jsx
  app/javascript/article-form/components/Meta.jsx
  app/javascript/article-form/components/__tests__/dragAndDropHelpers.test.js
  app/javascript/article-form/components/dragAndDropHelpers.js
  app/views/shell/_top.html.erb
Owners: none

Article refactoring (#10256)
  app/models/article.rb
Owners: none

Article refactoring (#10256)
  app/models/article.rb
Owners: none

Add custom profile fields (#10202)
  app/models/concerns/acts_as_profile_field.rb
  app/models/custom_profile_field.rb
  app/models/profile.rb
  app/models/profile_field.rb
  app/services/profiles/update.rb
  db/migrate/20200904040009_create_custom_profile_fields.rb
  db/schema.rb
  spec/factories/custom_profile_fields.rb
  spec/models/custom_profile_field_spec.rb
  spec/models/profile_field_spec.rb
  spec/models/shared_examples/a_profile_field.rb
  spec/services/profiles/update_spec.rb
Owners: @forem/sre

Add custom profile fields (#10202)
  app/models/concerns/acts_as_profile_field.rb
  app/models/custom_profile_field.rb
  app/models/profile.rb
  app/models/profile_field.rb
  app/services/profiles/update.rb
  db/migrate/20200904040009_create_custom_profile_fields.rb
  db/schema.rb
  spec/factories/custom_profile_fields.rb
  spec/models/custom_profile_field_spec.rb
  spec/models/profile_field_spec.rb
  spec/models/shared_examples/a_profile_field.rb
  spec/services/profiles/update_spec.rb
Owners: @forem/sre

Actions bar overlapping footer (#10259)
  app/assets/stylesheets/footer.scss
Owners: none

Actions bar overlapping footer (#10259)
  app/assets/stylesheets/footer.scss
Owners: none

Give Admins the Ability to Add Co-Authors to Posts (#10252) [deploy]
  app/controllers/admin/articles_controller.rb
  app/models/article.rb
  app/views/admin/articles/_individual_article.html.erb
  spec/requests/admin/articles_spec.rb
Owners: @forem/snackcase

Give Admins the Ability to Add Co-Authors to Posts (#10252) [deploy]
  app/controllers/admin/articles_controller.rb
  app/models/article.rb
  app/views/admin/articles/_individual_article.html.erb
  spec/requests/admin/articles_spec.rb
Owners: @forem/snackcase

[deploy] Bump Rails to 6.0.3.3 (#10266)
  Gemfile.lock
  vendor/cache/actioncable-6.0.3.2.gem
  vendor/cache/actioncable-6.0.3.3.gem
  vendor/cache/actionmailbox-6.0.3.2.gem
  vendor/cache/actionmailbox-6.0.3.3.gem
  vendor/cache/actionmailer-6.0.3.2.gem
  vendor/cache/actionmailer-6.0.3.3.gem
  vendor/cache/actionpack-6.0.3.2.gem
  vendor/cache/actionpack-6.0.3.3.gem
  vendor/cache/actiontext-6.0.3.2.gem
  vendor/cache/actiontext-6.0.3.3.gem
  vendor/cache/actionview-6.0.3.2.gem
  vendor/cache/actionview-6.0.3.3.gem
  vendor/cache/activejob-6.0.3.2.gem
  vendor/cache/activejob-6.0.3.3.gem
  vendor/cache/activemodel-6.0.3.2.gem
  vendor/cache/activemodel-6.0.3.3.gem
  vendor/cache/activerecord-6.0.3.2.gem
  vendor/cache/activerecord-6.0.3.3.gem
  vendor/cache/activestorage-6.0.3.2.gem
  vendor/cache/activestorage-6.0.3.3.gem
  vendor/cache/activesupport-6.0.3.2.gem
  vendor/cache/activesupport-6.0.3.3.gem
  vendor/cache/loofah-2.6.0.gem
  vendor/cache/loofah-2.7.0.gem
  vendor/cache/nio4r-2.5.2.gem
  vendor/cache/nio4r-2.5.3.gem
  vendor/cache/rails-6.0.3.2.gem
  vendor/cache/rails-6.0.3.3.gem
  vendor/cache/railties-6.0.3.2.gem
  vendor/cache/railties-6.0.3.3.gem
  vendor/cache/websocket-driver-0.7.2.gem
  vendor/cache/websocket-driver-0.7.3.gem
Owners: @forem/sre, @forem/oss

[deploy] Bump Rails to 6.0.3.3 (#10266)
  Gemfile.lock
  vendor/cache/actioncable-6.0.3.2.gem
  vendor/cache/actioncable-6.0.3.3.gem
  vendor/cache/actionmailbox-6.0.3.2.gem
  vendor/cache/actionmailbox-6.0.3.3.gem
  vendor/cache/actionmailer-6.0.3.2.gem
  vendor/cache/actionmailer-6.0.3.3.gem
  vendor/cache/actionpack-6.0.3.2.gem
  vendor/cache/actionpack-6.0.3.3.gem
  vendor/cache/actiontext-6.0.3.2.gem
  vendor/cache/actiontext-6.0.3.3.gem
  vendor/cache/actionview-6.0.3.2.gem
  vendor/cache/actionview-6.0.3.3.gem
  vendor/cache/activejob-6.0.3.2.gem
  vendor/cache/activejob-6.0.3.3.gem
  vendor/cache/activemodel-6.0.3.2.gem
  vendor/cache/activemodel-6.0.3.3.gem
  vendor/cache/activerecord-6.0.3.2.gem
  vendor/cache/activerecord-6.0.3.3.gem
  vendor/cache/activestorage-6.0.3.2.gem
  vendor/cache/activestorage-6.0.3.3.gem
  vendor/cache/activesupport-6.0.3.2.gem
  vendor/cache/activesupport-6.0.3.3.gem
  vendor/cache/loofah-2.6.0.gem
  vendor/cache/loofah-2.7.0.gem
  vendor/cache/nio4r-2.5.2.gem
  vendor/cache/nio4r-2.5.3.gem
  vendor/cache/rails-6.0.3.2.gem
  vendor/cache/rails-6.0.3.3.gem
  vendor/cache/railties-6.0.3.2.gem
  vendor/cache/railties-6.0.3.3.gem
  vendor/cache/websocket-driver-0.7.2.gem
  vendor/cache/websocket-driver-0.7.3.gem
Owners: @forem/sre, @forem/oss

Include locale in fragment cache key (#10199)
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Owners: none

Include locale in fragment cache key (#10199)
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Owners: none

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre
