Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre

Fix RSS import (#8877)
  app/services/rss_reader.rb
  app/services/rss_reader/assembler.rb
  spec/services/rss_reader_spec.rb
  spec/support/fixtures/vcr_cassettes/rss_reader_dvirsegal.yml
Owners: @thepracticaldev/sre

Fix RSS import (#8877)
  app/services/rss_reader.rb
  app/services/rss_reader/assembler.rb
  spec/services/rss_reader_spec.rb
  spec/support/fixtures/vcr_cassettes/rss_reader_dvirsegal.yml
Owners: @thepracticaldev/sre

[deploy] Add SiteConfig for feed style (#8721)
  app/assets/javascripts/base.js.erb
  app/controllers/application_controller.rb
  app/controllers/async_info_controller.rb
  app/controllers/internal/configs_controller.rb
  app/javascript/articles/Article.jsx
  app/javascript/articles/__tests__/Article.test.jsx
  app/javascript/articles/__tests__/__snapshots__/Article.test.jsx.snap
  app/javascript/packs/homePageFeed.jsx
  app/models/site_config.rb
  app/views/articles/_single_story.html.erb
  app/views/internal/configs/show.html.erb
  spec/requests/internal/configs_spec.rb
  spec/requests/stories_index_spec.rb
Owners: @thepracticaldev/sre, @thepracticaldev/snackcase, @thepracticaldev/hells-bells

[deploy] Add SiteConfig for feed style (#8721)
  app/assets/javascripts/base.js.erb
  app/controllers/application_controller.rb
  app/controllers/async_info_controller.rb
  app/controllers/internal/configs_controller.rb
  app/javascript/articles/Article.jsx
  app/javascript/articles/__tests__/Article.test.jsx
  app/javascript/articles/__tests__/__snapshots__/Article.test.jsx.snap
  app/javascript/packs/homePageFeed.jsx
  app/models/site_config.rb
  app/views/articles/_single_story.html.erb
  app/views/internal/configs/show.html.erb
  spec/requests/internal/configs_spec.rb
  spec/requests/stories_index_spec.rb
Owners: @thepracticaldev/sre, @thepracticaldev/snackcase, @thepracticaldev/hells-bells

[deploy] Use max_by instead to get the highest value (#8890)
  app/models/application_record.rb
Owners: none

[deploy] Use max_by instead to get the highest value (#8890)
  app/models/application_record.rb
Owners: none

Added a11y tests to frontend tests that were missing them (#8873)
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/article-form/components/EditorBody.jsx
  app/javascript/article-form/components/TagsField.jsx
  app/javascript/article-form/components/Title.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
  app/javascript/article-form/components/__tests__/Close.test.jsx
  app/javascript/article-form/components/__tests__/Form.test.jsx
  app/javascript/article-form/components/__tests__/Help.test.jsx
  app/javascript/article-form/components/__tests__/Options.test.jsx
  app/javascript/article-form/components/__tests__/PageTitle.test.jsx
  app/javascript/article-form/components/__tests__/Preview.test.jsx
  app/javascript/article-form/components/__tests__/Tabs.test.jsx
  app/javascript/article-form/components/__tests__/Title.test.jsx
  app/javascript/articles/__tests__/ArticleLoading.test.jsx
  app/javascript/chat/__tests__/article.test.jsx
  app/javascript/chat/__tests__/channelRequest.test.jsx
  app/javascript/githubRepos/__tests__/githubRepos.test.jsx
  app/javascript/onboarding/components/Navigation.jsx
  app/javascript/onboarding/components/_tests/EmailPreferencesForm.test.jsx
  app/javascript/onboarding/components/_tests/FollowUsers.test.jsx
  app/javascript/onboarding/components/_tests/IntroSlide.test.jsx
  app/javascript/onboarding/components/_tests/ProfileForm.test.jsx
  app/javascript/organization/OrganizationPicker.jsx
  app/javascript/organization/__tests__/OrganizationPicker.test.jsx
  app/javascript/podcasts/__tests__/PodcastEpisode.test.jsx
  app/javascript/podcasts/__tests__/TodaysPodcasts.test.jsx
  app/javascript/readingList/__tests__/readingList.test.jsx
  app/javascript/readingList/components/__tests__/ItemListItem.test.jsx
  app/javascript/readingList/components/__tests__/ItemListItemArchiveButton.test.jsx
  app/javascript/readingList/components/__tests__/ItemListLoadMoreButton.test.jsx
  app/javascript/readingList/components/__tests__/ItemListTags.test.jsx
  app/javascript/readingList/readingList.jsx
  app/javascript/shared/components/__tests__/tags.test.jsx
  app/javascript/shared/components/tags.jsx
  app/javascript/sidebar-widget/__tests__/sidebarUser.test.jsx
Owners: none

Added a11y tests to frontend tests that were missing them (#8873)
  app/javascript/article-form/components/ArticleCoverImage.jsx
  app/javascript/article-form/components/EditorBody.jsx
  app/javascript/article-form/components/TagsField.jsx
  app/javascript/article-form/components/Title.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
  app/javascript/article-form/components/__tests__/Close.test.jsx
  app/javascript/article-form/components/__tests__/Form.test.jsx
  app/javascript/article-form/components/__tests__/Help.test.jsx
  app/javascript/article-form/components/__tests__/Options.test.jsx
  app/javascript/article-form/components/__tests__/PageTitle.test.jsx
  app/javascript/article-form/components/__tests__/Preview.test.jsx
  app/javascript/article-form/components/__tests__/Tabs.test.jsx
  app/javascript/article-form/components/__tests__/Title.test.jsx
  app/javascript/articles/__tests__/ArticleLoading.test.jsx
  app/javascript/chat/__tests__/article.test.jsx
  app/javascript/chat/__tests__/channelRequest.test.jsx
  app/javascript/githubRepos/__tests__/githubRepos.test.jsx
  app/javascript/onboarding/components/Navigation.jsx
  app/javascript/onboarding/components/_tests/EmailPreferencesForm.test.jsx
  app/javascript/onboarding/components/_tests/FollowUsers.test.jsx
  app/javascript/onboarding/components/_tests/IntroSlide.test.jsx
  app/javascript/onboarding/components/_tests/ProfileForm.test.jsx
  app/javascript/organization/OrganizationPicker.jsx
  app/javascript/organization/__tests__/OrganizationPicker.test.jsx
  app/javascript/podcasts/__tests__/PodcastEpisode.test.jsx
  app/javascript/podcasts/__tests__/TodaysPodcasts.test.jsx
  app/javascript/readingList/__tests__/readingList.test.jsx
  app/javascript/readingList/components/__tests__/ItemListItem.test.jsx
  app/javascript/readingList/components/__tests__/ItemListItemArchiveButton.test.jsx
  app/javascript/readingList/components/__tests__/ItemListLoadMoreButton.test.jsx
  app/javascript/readingList/components/__tests__/ItemListTags.test.jsx
  app/javascript/readingList/readingList.jsx
  app/javascript/shared/components/__tests__/tags.test.jsx
  app/javascript/shared/components/tags.jsx
  app/javascript/sidebar-widget/__tests__/sidebarUser.test.jsx
Owners: none

[deploy] Feature: Setup Vault and AppSecrets Wrapper Class (#8891)
  Envfile
  Gemfile
  Gemfile.lock
  app/lib/app_secrets.rb
  config/initializers/vault.rb
  spec/lib/app_secrets_spec.rb
  vendor/cache/vault-0.14.0.gem
Owners: @thepracticaldev/sre, @thepracticaldev/oss

[deploy] Feature: Setup Vault and AppSecrets Wrapper Class (#8891)
  Envfile
  Gemfile
  Gemfile.lock
  app/lib/app_secrets.rb
  config/initializers/vault.rb
  spec/lib/app_secrets_spec.rb
  vendor/cache/vault-0.14.0.gem
Owners: @thepracticaldev/sre, @thepracticaldev/oss

[deploy] Remove Vault ENV variables from Envfile so they arent Required in Prod (#8895)
  Envfile
  app/lib/app_secrets.rb
  config/initializers/vault.rb
  spec/lib/app_secrets_spec.rb
Owners: @thepracticaldev/sre

[deploy] Remove Vault ENV variables from Envfile so they arent Required in Prod (#8895)
  Envfile
  app/lib/app_secrets.rb
  config/initializers/vault.rb
  spec/lib/app_secrets_spec.rb
Owners: @thepracticaldev/sre

Track an event's target when clicking on a welcome notification (#8894) [deploy]
  app/views/notifications/index.html.erb
Owners: @thepracticaldev/delightful

Track an event's target when clicking on a welcome notification (#8894) [deploy]
  app/views/notifications/index.html.erb
Owners: @thepracticaldev/delightful

Bug Fix: Make FieldTestWorker More Resilient (#8893)
  app/workers/users/record_field_test_event_worker.rb
  spec/workers/users/record_field_test_event_worker_spec.rb
Owners: @thepracticaldev/sre

Bug Fix: Make FieldTestWorker More Resilient (#8893)
  app/workers/users/record_field_test_event_worker.rb
  spec/workers/users/record_field_test_event_worker_spec.rb
Owners: @thepracticaldev/sre

Add @honeybadger-io/webpack for source-map upload (#8899)
  config/webpack/environment.js
  package.json
  yarn.lock
Owners: @thepracticaldev/sre, @thepracticaldev/oss, @nickytonline

Add @honeybadger-io/webpack for source-map upload (#8899)
  config/webpack/environment.js
  package.json
  yarn.lock
Owners: @thepracticaldev/sre, @thepracticaldev/oss, @nickytonline

Enabled canned import rules as well as import order rule (fixable via --fix). (#8880)
  app/javascript/.eslintrc.js
Owners: none

Enabled canned import rules as well as import order rule (fixable via --fix). (#8880)
  app/javascript/.eslintrc.js
Owners: none

Actions bar fix on Article view (#8903)
  app/assets/stylesheets/views/article.scss
  app/views/articles/_actions.html.erb
  app/views/shell/_top.html.erb
Owners: @thepracticaldev/hells-bells

Actions bar fix on Article view (#8903)
  app/assets/stylesheets/views/article.scss
  app/views/articles/_actions.html.erb
  app/views/shell/_top.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Avoid running service workers on ios (#8889)
  app/views/service_worker/index.js.erb
Owners: none

[deploy] Avoid running service workers on ios (#8889)
  app/views/service_worker/index.js.erb
Owners: none

Some frontend testing cleanup. (#8902)
  app/javascript/Search/__tests__/Search.test.jsx
  app/javascript/article-form/components/Preview.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
  app/javascript/article-form/components/__tests__/ImageUploader.test.jsx
  app/javascript/article-form/components/__tests__/Options.test.jsx
  app/javascript/article-form/components/__tests__/Preview.test.jsx
  app/javascript/article-form/components/__tests__/Tabs.test.jsx
  app/javascript/article-form/components/__tests__/Title.test.jsx
  app/javascript/articles/__tests__/Article.test.jsx
  app/javascript/articles/__tests__/ArticleLoading.test.jsx
  app/javascript/articles/components/__tests__/CommentsList.test.jsx
  app/javascript/chat/__tests__/activeMembershipsSection.test.jsx
  app/javascript/chat/__tests__/alert.test.jsx
  app/javascript/chat/__tests__/article.test.jsx
  app/javascript/chat/__tests__/channelRequest.test.jsx
  app/javascript/chat/__tests__/channels.test.jsx
  app/javascript/chat/__tests__/chatChannelDescription.test.jsx
  app/javascript/podcasts/__tests__/TodaysPodcasts.test.jsx
Owners: none

Some frontend testing cleanup. (#8902)
  app/javascript/Search/__tests__/Search.test.jsx
  app/javascript/article-form/components/Preview.jsx
  app/javascript/article-form/components/__tests__/ArticleCoverImage.test.jsx
  app/javascript/article-form/components/__tests__/ImageUploader.test.jsx
  app/javascript/article-form/components/__tests__/Options.test.jsx
  app/javascript/article-form/components/__tests__/Preview.test.jsx
  app/javascript/article-form/components/__tests__/Tabs.test.jsx
  app/javascript/article-form/components/__tests__/Title.test.jsx
  app/javascript/articles/__tests__/Article.test.jsx
  app/javascript/articles/__tests__/ArticleLoading.test.jsx
  app/javascript/articles/components/__tests__/CommentsList.test.jsx
  app/javascript/chat/__tests__/activeMembershipsSection.test.jsx
  app/javascript/chat/__tests__/alert.test.jsx
  app/javascript/chat/__tests__/article.test.jsx
  app/javascript/chat/__tests__/channelRequest.test.jsx
  app/javascript/chat/__tests__/channels.test.jsx
  app/javascript/chat/__tests__/chatChannelDescription.test.jsx
  app/javascript/podcasts/__tests__/TodaysPodcasts.test.jsx
Owners: none

[deploy] Move @honebeybadger-io/webpack out of devDependencies (#8909)
  package.json
Owners: @thepracticaldev/oss, @nickytonline

[deploy] Move @honebeybadger-io/webpack out of devDependencies (#8909)
  package.json
Owners: @thepracticaldev/oss, @nickytonline

[deploy] Dashboard updates (#8879)
  app/assets/images/external-link.svg
  app/assets/images/footer-sloan.png
  app/assets/images/three-dots.svg
  app/assets/javascripts/initializers/initScrolling.js
  app/assets/javascripts/initializers/initializeDashboardSort.js
  app/assets/stylesheets/components/tables.scss
  app/assets/stylesheets/components/tags.scss
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/views/dashboard.scss
  app/views/dashboards/_actions.html.erb
  app/views/dashboards/_actions_mobile.html.erb
  app/views/dashboards/_analytics.html.erb
  app/views/dashboards/_dashboard_article_row.html.erb
  app/views/dashboards/_subactions.html.erb
  app/views/dashboards/followers.html.erb
  app/views/dashboards/following_organizations.html.erb
  app/views/dashboards/following_podcasts.html.erb
  app/views/dashboards/following_tags.html.erb
  app/views/dashboards/following_users.html.erb
  app/views/dashboards/show.html.erb
  spec/requests/dashboard_spec.rb
  spec/system/dashboards/user_followers_display_spec.rb
  spec/system/link_for_tags_in_posts_in_notifications_spec.rb
Owners: none

[deploy] Dashboard updates (#8879)
  app/assets/images/external-link.svg
  app/assets/images/footer-sloan.png
  app/assets/images/three-dots.svg
  app/assets/javascripts/initializers/initScrolling.js
  app/assets/javascripts/initializers/initializeDashboardSort.js
  app/assets/stylesheets/components/tables.scss
  app/assets/stylesheets/components/tags.scss
  app/assets/stylesheets/crayons.scss
  app/assets/stylesheets/views/dashboard.scss
  app/views/dashboards/_actions.html.erb
  app/views/dashboards/_actions_mobile.html.erb
  app/views/dashboards/_analytics.html.erb
  app/views/dashboards/_dashboard_article_row.html.erb
  app/views/dashboards/_subactions.html.erb
  app/views/dashboards/followers.html.erb
  app/views/dashboards/following_organizations.html.erb
  app/views/dashboards/following_podcasts.html.erb
  app/views/dashboards/following_tags.html.erb
  app/views/dashboards/following_users.html.erb
  app/views/dashboards/show.html.erb
  spec/requests/dashboard_spec.rb
  spec/system/dashboards/user_followers_display_spec.rb
  spec/system/link_for_tags_in_posts_in_notifications_spec.rb
Owners: none

[deploy] User subscriptions liquid tag MVP (#8871)
  app/assets/stylesheets/ltags/LiquidTags.scss
  app/assets/stylesheets/ltags/UserSubscriptionTag.scss
  app/controllers/articles_controller.rb
  app/controllers/user_subscriptions_controller.rb
  app/labor/markdown_parser.rb
  app/liquid_tags/user_subscription_tag.rb
  app/models/article.rb
  app/views/articles/show.html.erb
  app/views/liquids/_user_subscription.html.erb
  spec/requests/user_subscriptions_spec.rb
Owners: @thepracticaldev/hells-bells

[deploy] User subscriptions liquid tag MVP (#8871)
  app/assets/stylesheets/ltags/LiquidTags.scss
  app/assets/stylesheets/ltags/UserSubscriptionTag.scss
  app/controllers/articles_controller.rb
  app/controllers/user_subscriptions_controller.rb
  app/labor/markdown_parser.rb
  app/liquid_tags/user_subscription_tag.rb
  app/models/article.rb
  app/views/articles/show.html.erb
  app/views/liquids/_user_subscription.html.erb
  spec/requests/user_subscriptions_spec.rb
Owners: @thepracticaldev/hells-bells

Filter only ordinary tables in estimated count (#8913)
  app/models/application_record.rb
Owners: none

Filter only ordinary tables in estimated count (#8913)
  app/models/application_record.rb
Owners: none

Blackboxed node_modules when debugging jest tests in VS Code (#8888)
  .vscode/launch.json
Owners: none

Blackboxed node_modules when debugging jest tests in VS Code (#8888)
  .vscode/launch.json
Owners: none

Add documentation for tracking (#8914) [deploy]
  docs/backend/metrics.md
  docs/backend/tracking.md
  docs/frontend/tracking.md
Owners: @thepracticaldev/oss, @jacobherrington

Add documentation for tracking (#8914) [deploy]
  docs/backend/metrics.md
  docs/backend/tracking.md
  docs/frontend/tracking.md
Owners: @thepracticaldev/oss, @jacobherrington

Link to tracking docs from gitdocs sidebar (#8918) [deploy]
  docs/backend/readme.md
  docs/backend/tracking.md
  docs/frontend/readme.md
  docs/frontend/tracking.md
Owners: @thepracticaldev/oss, @jacobherrington

Link to tracking docs from gitdocs sidebar (#8918) [deploy]
  docs/backend/readme.md
  docs/backend/tracking.md
  docs/frontend/readme.md
  docs/frontend/tracking.md
Owners: @thepracticaldev/oss, @jacobherrington
