Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @forem/oss, @forem/snackcase, @forem/hells-bells, @forem/delightful, @forem/sre, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @forem/oss
/app/assets/stylesheets/admin/                      @forem/snackcase
/app/controllers/articles_controller.rb             @forem/hells-bells
/app/controllers/admin/                             @forem/snackcase
/app/services/notifications/                        @forem/delightful
/app/controllers/notifications/                     @forem/delightful
/app/workers/notifications/                         @forem/delightful
/app/controllers/admin/broadcasts_controller.rb     @forem/delightful
/app/controllers/async_info_controller.rb           @forem/sre
/app/controllers/stories_controller.rb              @forem/hells-bells
/app/services/search/                               @forem/sre
/app/views/articles/                                @forem/hells-bells
/app/views/admin/                                   @forem/snackcase
/app/views/moderation/                              @forem/snackcase
/app/views/notifications/                           @forem/delightful
/app/views/stories/                                 @forem/hells-bells
/app/workers/                                       @forem/sre
/config/                                            @forem/sre
/db/                                                @forem/sre
/docs/                                              @forem/oss    @jacobherrington
/lib/data_update_scripts/                           @forem/sre
/lib/sidekiq/                                       @forem/sre
/spec/rails_helper.rb                               @forem/sre
/spec/requests/admin/                               @forem/snackcase
/spec/support/                                      @forem/sre
/spec/system/admin/                                 @forem/snackcase
Gemfile                                             @forem/sre    @forem/oss
Gemfile.lock                                        @forem/sre    @forem/oss
package.json                                        @forem/oss    @nickytonline
yarn.lock                                           @forem/oss    @nickytonline
.travis.yml                                         @forem/sre

Refactor optimizer_spec (#10002)
  spec/services/images/optimizer_spec.rb
Owners: none

Refactor optimizer_spec (#10002)
  spec/services/images/optimizer_spec.rb
Owners: none

[deploy] Remove AWS SDK and private endpoints completely (#9978)
  .env_sample
  Gemfile
  Gemfile.lock
  app/black_box/black_box.rb
  app/labor/coupon_generator.rb
  app/labor/function_caller.rb
  app/views/admin/users/show.html.erb
  config/initializers/aws_sdk.rb
  spec/black_box/black_box_spec.rb
  spec/labor/coupon_generator_spec.rb
  spec/labor/function_caller_spec.rb
  vendor/cache/aws-partitions-1.356.0.gem
  vendor/cache/aws-sdk-core-3.104.3.gem
  vendor/cache/aws-sdk-lambda-1.48.0.gem
  vendor/cache/jmespath-1.4.0.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase

[deploy] Remove AWS SDK and private endpoints completely (#9978)
  .env_sample
  Gemfile
  Gemfile.lock
  app/black_box/black_box.rb
  app/labor/coupon_generator.rb
  app/labor/function_caller.rb
  app/views/admin/users/show.html.erb
  config/initializers/aws_sdk.rb
  spec/black_box/black_box_spec.rb
  spec/labor/coupon_generator_spec.rb
  spec/labor/function_caller_spec.rb
  vendor/cache/aws-partitions-1.356.0.gem
  vendor/cache/aws-sdk-core-3.104.3.gem
  vendor/cache/aws-sdk-lambda-1.48.0.gem
  vendor/cache/jmespath-1.4.0.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase

[deploy] Fiddle with hotness score calc (#10019)
  app/black_box/black_box.rb
Owners: none

[deploy] Fiddle with hotness score calc (#10019)
  app/black_box/black_box.rb
Owners: none

[deploy] Log in with Facebook (#9922)
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/components/dropdowns.scss
  app/controllers/admin/configs_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/services/authentication/providers/facebook.rb
  app/views/admin/configs/show.html.erb
  config/initializers/devise.rb
  db/migrate/20200818202007_add_facebook_login_fields.rb
  db/migrate/20200819162917_add_facebook_login_fields_index.rb
  db/schema.rb
  db/seeds.rb
  docs/backend/auth-facebook.md
  docs/backend/authentication.md
  docs/getting-started/config-env.md
  lib/data_update_scripts/20200820153340_insert_facebook_connect_broadcast_message.rb
  spec/factories/broadcasts.rb
  spec/models/identity_spec.rb
  spec/models/user_spec.rb
  spec/services/authentication/authenticator_spec.rb
  spec/services/authentication/providers/facebook_spec.rb
  spec/services/authentication/providers_spec.rb
  spec/services/broadcasts/welcome_notification/generator_spec.rb
  spec/support/omniauth_helpers.rb
  spec/system/authentication/user_logs_in_with_facebook_spec.rb
  vendor/cache/omniauth-facebook-6.0.0.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase, @jacobherrington

[deploy] Log in with Facebook (#9922)
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/components/dropdowns.scss
  app/controllers/admin/configs_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/services/authentication/providers/facebook.rb
  app/views/admin/configs/show.html.erb
  config/initializers/devise.rb
  db/migrate/20200818202007_add_facebook_login_fields.rb
  db/migrate/20200819162917_add_facebook_login_fields_index.rb
  db/schema.rb
  db/seeds.rb
  docs/backend/auth-facebook.md
  docs/backend/authentication.md
  docs/getting-started/config-env.md
  lib/data_update_scripts/20200820153340_insert_facebook_connect_broadcast_message.rb
  spec/factories/broadcasts.rb
  spec/models/identity_spec.rb
  spec/models/user_spec.rb
  spec/services/authentication/authenticator_spec.rb
  spec/services/authentication/providers/facebook_spec.rb
  spec/services/authentication/providers_spec.rb
  spec/services/broadcasts/welcome_notification/generator_spec.rb
  spec/support/omniauth_helpers.rb
  spec/system/authentication/user_logs_in_with_facebook_spec.rb
  vendor/cache/omniauth-facebook-6.0.0.gem
Owners: @forem/sre, @forem/oss, @forem/snackcase, @jacobherrington

Allow greater flexibility for footer mascot image (#10004)
  app/controllers/admin/configs_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  app/views/layouts/_footer.html.erb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase

Allow greater flexibility for footer mascot image (#10004)
  app/controllers/admin/configs_controller.rb
  app/lib/constants/site_config.rb
  app/models/site_config.rb
  app/views/admin/configs/show.html.erb
  app/views/layouts/_footer.html.erb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase

[deploy] Adjust ranking algo, including max score impact (#10020)
  app/black_box/black_box.rb
Owners: none

[deploy] Adjust ranking algo, including max score impact (#10020)
  app/black_box/black_box.rb
Owners: none

[deploy] More fiddling with algo score (#10022)
  app/black_box/black_box.rb
Owners: none

[deploy] More fiddling with algo score (#10022)
  app/black_box/black_box.rb
Owners: none

[deploy] Last algo fiddle I hope (#10023)
  app/black_box/black_box.rb
Owners: none

[deploy] Last algo fiddle I hope (#10023)
  app/black_box/black_box.rb
Owners: none

[deploy] Final fiddling (#10024)
  app/black_box/black_box.rb
Owners: none

[deploy] Final fiddling (#10024)
  app/black_box/black_box.rb
Owners: none

[deploy] Optimization:Default Production Logging to Error (#10025)
  config/environments/production.rb
Owners: @forem/sre

[deploy] Optimization:Default Production Logging to Error (#10025)
  config/environments/production.rb
Owners: @forem/sre

Removed the autoprefixer-rails deprecated gem (#10017)
  Gemfile
  Gemfile.lock
  lib/tasks/post_precompile_assets.rake
  package.json
  postcssconfig.js
  spec/fixtures/approvals/katextag/render/generates_katex_output.approved.html
  spec/liquid_tags/katex_tag_spec.rb
  yarn.lock
Owners: @forem/sre, @forem/oss, @nickytonline

Removed the autoprefixer-rails deprecated gem (#10017)
  Gemfile
  Gemfile.lock
  lib/tasks/post_precompile_assets.rake
  package.json
  postcssconfig.js
  spec/fixtures/approvals/katextag/render/generates_katex_output.approved.html
  spec/liquid_tags/katex_tag_spec.rb
  yarn.lock
Owners: @forem/sre, @forem/oss, @nickytonline

Add facebook page to Backend Guide index (#10027) [deploy]
  docs/backend/readme.md
Owners: @forem/oss, @jacobherrington

Add facebook page to Backend Guide index (#10027) [deploy]
  docs/backend/readme.md
Owners: @forem/oss, @jacobherrington

Bug Fix:Dont Kill Entire Job When User is Missing a Github Identity (#10030)
  app/models/github_repo.rb
Owners: none

Bug Fix:Dont Kill Entire Job When User is Missing a Github Identity (#10030)
  app/models/github_repo.rb
Owners: none

Make confirmation text a required field (#10014)
  app/controllers/admin/configs_controller.rb
  app/views/admin/configs/show.html.erb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase

Make confirmation text a required field (#10014)
  app/controllers/admin/configs_controller.rb
  app/views/admin/configs/show.html.erb
  spec/requests/admin/configs_spec.rb
Owners: @forem/snackcase

[deploy] Final final algo fiddle for the day (#10031)
  app/black_box/black_box.rb
Owners: none

[deploy] Final final algo fiddle for the day (#10031)
  app/black_box/black_box.rb
Owners: none

[deploy] Adjust score a little bit more (#10034)
  app/black_box/black_box.rb
Owners: none

[deploy] Adjust score a little bit more (#10034)
  app/black_box/black_box.rb
Owners: none

[deploy] Change branding preview text (#9798)
  app/assets/images/preview-logo.svg
  app/views/shared/_logo_design.html.erb
Owners: none

[deploy] Change branding preview text (#9798)
  app/assets/images/preview-logo.svg
  app/views/shared/_logo_design.html.erb
Owners: none

[deploy] Set UserSubscription sourceable columns to nullable (#10033)
  app/models/concerns/user_subscription_sourceable.rb
  app/models/user_subscription.rb
  db/migrate/20200827073520_set_user_subscription_sourceable_columns_to_null.rb
  db/schema.rb
  spec/models/user_subscription_spec.rb
Owners: @forem/sre

[deploy] Set UserSubscription sourceable columns to nullable (#10033)
  app/models/concerns/user_subscription_sourceable.rb
  app/models/user_subscription.rb
  db/migrate/20200827073520_set_user_subscription_sourceable_columns_to_null.rb
  db/schema.rb
  spec/models/user_subscription_spec.rb
Owners: @forem/sre

[deploy] Delete all cookies when signing out (#10036)
  app/controllers/sessions_controller.rb
  config/routes.rb
Owners: @forem/sre

[deploy] Delete all cookies when signing out (#10036)
  app/controllers/sessions_controller.rb
  config/routes.rb
Owners: @forem/sre

[deploy] Optimization:Break Github Repo Updates into Individual Sidekiq Jobs (#10040)
  app/models/github_repo.rb
  app/workers/github_repos/repo_sync_worker.rb
  spec/models/github_repo_spec.rb
  spec/workers/github_repos/repo_sync_worker_spec.rb
Owners: @forem/sre

[deploy] Optimization:Break Github Repo Updates into Individual Sidekiq Jobs (#10040)
  app/models/github_repo.rb
  app/workers/github_repos/repo_sync_worker.rb
  spec/models/github_repo_spec.rb
  spec/workers/github_repos/repo_sync_worker_spec.rb
Owners: @forem/sre
