Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre

[deploy] Add markdown version for DEV badge link (#9227)
  app/views/pages/badges.html.erb
Owners: none

[deploy] Add markdown version for DEV badge link (#9227)
  app/views/pages/badges.html.erb
Owners: none

[deploy] Hotfix: Disable Article Sinking (#9237)
  app/services/moderator/sink_articles.rb
  spec/services/moderator/sink_articles_spec.rb
Owners: none

[deploy] Hotfix: Disable Article Sinking (#9237)
  app/services/moderator/sink_articles.rb
  spec/services/moderator/sink_articles_spec.rb
Owners: none

Fix Style/SingleLineBlockParams, RSpec/MultipleExpectations and remaining Layout/LineLength (#9204)
  .rubocop.yml
  .rubocop_todo.yml
  app/labor/markdown_fixer.rb
  spec/lib/data_update_scripts/re_index_feed_content_and_users_to_elasticsearch_spec.rb
  spec/services/broadcasts/welcome_notification/generator_spec.rb
Owners: none

Fix Style/SingleLineBlockParams, RSpec/MultipleExpectations and remaining Layout/LineLength (#9204)
  .rubocop.yml
  .rubocop_todo.yml
  app/labor/markdown_fixer.rb
  spec/lib/data_update_scripts/re_index_feed_content_and_users_to_elasticsearch_spec.rb
  spec/services/broadcasts/welcome_notification/generator_spec.rb
Owners: none

Add metrics around welcome notifications + their click events (#9239)
  app/services/notifications/welcome_notification/send.rb
  app/workers/metrics/record_daily_notifications_worker.rb
  app/workers/metrics/record_daily_usage_worker.rb
  lib/tasks/metrics.rake
  spec/factories/ahoy.rb
  spec/factories/ahoy_message.rb
  spec/services/notifications/welcome_notification/send_spec.rb
  spec/workers/metrics/record_daily_notifications_worker_spec.rb
Owners: @thepracticaldev/delightful, @thepracticaldev/sre

Add metrics around welcome notifications + their click events (#9239)
  app/services/notifications/welcome_notification/send.rb
  app/workers/metrics/record_daily_notifications_worker.rb
  app/workers/metrics/record_daily_usage_worker.rb
  lib/tasks/metrics.rake
  spec/factories/ahoy.rb
  spec/factories/ahoy_message.rb
  spec/services/notifications/welcome_notification/send_spec.rb
  spec/workers/metrics/record_daily_notifications_worker_spec.rb
Owners: @thepracticaldev/delightful, @thepracticaldev/sre

Rubocop: fix Metrics/CyclomaticComplexity and disable Metrics/AbcSize (#9221)
  .rubocop.yml
  .rubocop_todo.yml
  app/controllers/articles_controller.rb
  app/controllers/notifications_controller.rb
  app/services/articles/builder.rb
  spec/services/articles/builder_spec.rb
Owners: @thepracticaldev/hells-bells

Rubocop: fix Metrics/CyclomaticComplexity and disable Metrics/AbcSize (#9221)
  .rubocop.yml
  .rubocop_todo.yml
  app/controllers/articles_controller.rb
  app/controllers/notifications_controller.rb
  app/services/articles/builder.rb
  spec/services/articles/builder_spec.rb
Owners: @thepracticaldev/hells-bells

[deploy] Revert "Add number_with_delimiter to post count (#9225)" (#9242)
  app/views/tags/index.html.erb
Owners: none

[deploy] Revert "Add number_with_delimiter to post count (#9225)" (#9242)
  app/views/tags/index.html.erb
Owners: none

Remove arrow-left-... from github issue embed (#9236)
  app/assets/stylesheets/ltags/GithubTag.scss
  app/views/liquids/_github_issue.html.erb
Owners: none

Remove arrow-left-... from github issue embed (#9236)
  app/assets/stylesheets/ltags/GithubTag.scss
  app/views/liquids/_github_issue.html.erb
Owners: none

Refactoring comments_controller#create reducing lines (#9162)
  app/controllers/comments_controller.rb
  app/views/comments/_comment.json.jbuilder
Owners: none

Refactoring comments_controller#create reducing lines (#9162)
  app/controllers/comments_controller.rb
  app/views/comments/_comment.json.jbuilder
Owners: none

Article page: edit and manage button spacing (#9230)
  app/assets/javascripts/initializers/initializeBaseUserData.js
  app/views/articles/show.html.erb
Owners: @thepracticaldev/hells-bells

Article page: edit and manage button spacing (#9230)
  app/assets/javascripts/initializers/initializeBaseUserData.js
  app/views/articles/show.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Refactor:Use if/else When Selecting Production Log Strategy (#9224)
  config/environments/production.rb
Owners: @thepracticaldev/sre

[deploy] Refactor:Use if/else When Selecting Production Log Strategy (#9224)
  config/environments/production.rb
Owners: @thepracticaldev/sre

Rubocop: Address Metrics/BlockLength violations (#9246)
  .rubocop.yml
  .rubocop_todo.yml
  app/models/message.rb
  app/views/api/v0/articles/me.json.jbuilder
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/honeycomb.rb
  lib/tasks/pages.rake
  package.json
Owners: @thepracticaldev/sre, @thepracticaldev/oss, @nickytonline

Rubocop: Address Metrics/BlockLength violations (#9246)
  .rubocop.yml
  .rubocop_todo.yml
  app/models/message.rb
  app/views/api/v0/articles/me.json.jbuilder
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/honeycomb.rb
  lib/tasks/pages.rake
  package.json
Owners: @thepracticaldev/sre, @thepracticaldev/oss, @nickytonline

[deploy] Bug Fix: Setup STDOUT Logger bc we need it (#9256)
  config/environments/production.rb
Owners: @thepracticaldev/sre

[deploy] Bug Fix: Setup STDOUT Logger bc we need it (#9256)
  config/environments/production.rb
Owners: @thepracticaldev/sre

[deploy] Update RssReader::Assembler#get_content hash syntax (#9255)
  app/services/rss_reader/assembler.rb
Owners: none

[deploy] Update RssReader::Assembler#get_content hash syntax (#9255)
  app/services/rss_reader/assembler.rb
Owners: none

[deploy] Optimization:Change Log Level in Prod to Info (#9257)
  config/environments/production.rb
Owners: @thepracticaldev/sre

[deploy] Optimization:Change Log Level in Prod to Info (#9257)
  config/environments/production.rb
Owners: @thepracticaldev/sre

Rubocop: fix Performance/OpenStruct (#9241)
  .rubocop_todo.yml
  app/models/article.rb
  app/models/organization.rb
  app/services/notifications/reactions/send.rb
  app/views/stories/feeds/show.json.jbuilder
  spec/models/github_repo_spec.rb
  spec/requests/github_repos_spec.rb
Owners: @thepracticaldev/delightful, @thepracticaldev/hells-bells

Rubocop: fix Performance/OpenStruct (#9241)
  .rubocop_todo.yml
  app/models/article.rb
  app/models/organization.rb
  app/services/notifications/reactions/send.rb
  app/views/stories/feeds/show.json.jbuilder
  spec/models/github_repo_spec.rb
  spec/requests/github_repos_spec.rb
Owners: @thepracticaldev/delightful, @thepracticaldev/hells-bells

Fix Rails/OutputSafety violations (#9244)
  .rubocop_todo.yml
  app/helpers/application_helper.rb
  app/helpers/comments_helper.rb
  app/liquid_tags/github_tag/github_issue_tag.rb
  app/liquid_tags/liquid_tag_base.rb
  app/models/comment.rb
  app/models/display_ad.rb
  app/models/message.rb
Owners: none

Fix Rails/OutputSafety violations (#9244)
  .rubocop_todo.yml
  app/helpers/application_helper.rb
  app/helpers/comments_helper.rb
  app/liquid_tags/github_tag/github_issue_tag.rb
  app/liquid_tags/liquid_tag_base.rb
  app/models/comment.rb
  app/models/display_ad.rb
  app/models/message.rb
Owners: none

Fixed some minor typos (#9260)
  docs/tests/readme.md
Owners: @thepracticaldev/oss, @jacobherrington

Fixed some minor typos (#9260)
  docs/tests/readme.md
Owners: @thepracticaldev/oss, @jacobherrington

Update Docs, Travis, and Containers to Use Postgres 11 (#9232)
  .travis.yml
  README.md
  container-compose.yml
  docker-compose.yml
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/windows.md
Owners: @thepracticaldev/sre, @thepracticaldev/oss, @jacobherrington

Update Docs, Travis, and Containers to Use Postgres 11 (#9232)
  .travis.yml
  README.md
  container-compose.yml
  docker-compose.yml
  docs/installation/linux.md
  docs/installation/mac.md
  docs/installation/windows.md
Owners: @thepracticaldev/sre, @thepracticaldev/oss, @jacobherrington

API: add docs for get published article by path (#9261)
  docs/api_v0.yml
Owners: @thepracticaldev/oss, @jacobherrington

API: add docs for get published article by path (#9261)
  docs/api_v0.yml
Owners: @thepracticaldev/oss, @jacobherrington

[deploy] Revert "Rubocop: fix Performance/OpenStruct (#9241)" (#9291)
  .rubocop_todo.yml
  app/models/article.rb
  app/models/organization.rb
  app/services/notifications/reactions/send.rb
  app/views/stories/feeds/show.json.jbuilder
  spec/models/github_repo_spec.rb
  spec/requests/github_repos_spec.rb
Owners: @thepracticaldev/delightful, @thepracticaldev/hells-bells

[deploy] Revert "Rubocop: fix Performance/OpenStruct (#9241)" (#9291)
  .rubocop_todo.yml
  app/models/article.rb
  app/models/organization.rb
  app/services/notifications/reactions/send.rb
  app/views/stories/feeds/show.json.jbuilder
  spec/models/github_repo_spec.rb
  spec/requests/github_repos_spec.rb
Owners: @thepracticaldev/delightful, @thepracticaldev/hells-bells
