Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Jacob
/app/assets/stylesheets/internal/ @jacobherrington
/app/controllers/internal/        @jacobherrington
/app/views/internal/              @jacobherrington
/app/views/moderation/            @jacobherrington
/spec/system/internal/            @jacobherrington
/spec/requests/internal/          @jacobherrington
/docs/                            @jacobherrington

# Andy
/app/assets/stylesheets/internal/ @zhao-andy
/app/controllers/internal/        @zhao-andy
/app/views/internal/              @zhao-andy
/app/views/moderation/            @zhao-andy
/spec/system/internal/            @zhao-andy
/spec/requests/internal/          @zhao-andy

Halt Deploys With release script if ENV variable DEPLOY_STATUS is set to blocked (#5510) [deploy]
  docs/deployment.md
  release-tasks.sh
Owners: @jacobherrington

Halt Deploys With release script if ENV variable DEPLOY_STATUS is set to blocked (#5510) [deploy]
  docs/deployment.md
  release-tasks.sh
Owners: @jacobherrington

Enable Bullet in development mode (#5527)
  config/environments/development.rb
Owners: @thepracticaldev/sre

Enable Bullet in development mode (#5527)
  config/environments/development.rb
Owners: @thepracticaldev/sre

Change Notifications::MilestoneJob to Notifications::MilestoneWorker and move to sidekiq (#5454) [deploy]
  app/jobs/notifications/milestone_job.rb
  app/models/notification.rb
  app/workers/notifications/milestone_worker.rb
  spec/workers/notifications/milestone_worker_spec.rb
Owners: @thepracticaldev/sre

Change Notifications::MilestoneJob to Notifications::MilestoneWorker and move to sidekiq (#5454) [deploy]
  app/jobs/notifications/milestone_job.rb
  app/models/notification.rb
  app/workers/notifications/milestone_worker.rb
  spec/workers/notifications/milestone_worker_spec.rb
Owners: @thepracticaldev/sre

record background queue stats in a worker (#5533) [deploy]
  app/workers/metrics/record_background_queue_stats_worker.rb
  lib/tasks/fetch.rake
  spec/workers/metrics/record_background_queue_stats_worker_spec.rb
Owners: @thepracticaldev/sre

record background queue stats in a worker (#5533) [deploy]
  app/workers/metrics/record_background_queue_stats_worker.rb
  lib/tasks/fetch.rake
  spec/workers/metrics/record_background_queue_stats_worker_spec.rb
Owners: @thepracticaldev/sre

Fix missing redis server to gitpod configuration (#5528)
  .gitpod.dockerfile
  .gitpod.yml
Owners: none

Fix missing redis server to gitpod configuration (#5528)
  .gitpod.dockerfile
  .gitpod.yml
Owners: none

Add Alex Smith to core team members [ci skip] (#5534)
  README.md
Owners: none

Add Alex Smith to core team members [ci skip] (#5534)
  README.md
Owners: none

Update settings links + descriptions in editor guide (#5473)
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_v1_editor_guide_preamble.html.erb
Owners: none

Update settings links + descriptions in editor guide (#5473)
  app/views/pages/_editor_guide_text.html.erb
  app/views/pages/_v1_editor_guide_preamble.html.erb
Owners: none

Changed user-metadata-details to overflow-y: auto (#5532) [deploy]
  app/assets/stylesheets/user-profile-header.scss
Owners: none

Changed user-metadata-details to overflow-y: auto (#5532) [deploy]
  app/assets/stylesheets/user-profile-header.scss
Owners: none

remove unused welcome notification job (#5535)
  app/jobs/notifications/welcome_notification_job.rb
  spec/jobs/notifications/welcome_notification_job_spec.rb
Owners: @thepracticaldev/sre

remove unused welcome notification job (#5535)
  app/jobs/notifications/welcome_notification_job.rb
  spec/jobs/notifications/welcome_notification_job_spec.rb
Owners: @thepracticaldev/sre

send screenshots to s3 after failed travis build (#5537)
  .travis.yml
Owners: none

send screenshots to s3 after failed travis build (#5537)
  .travis.yml
Owners: none

Fix typo in Skipping CI docs [ci skip] (#5538)
  docs/tests/skip-ci.md
Owners: @jacobherrington

Fix typo in Skipping CI docs [ci skip] (#5538)
  docs/tests/skip-ci.md
Owners: @jacobherrington

Add myself to core team in README (#5540)
  README.md
Owners: none

Add myself to core team in README (#5540)
  README.md
Owners: none

Remove Comments::CreateIdCodeJob which is now done inline (#5536)
  app/jobs/comments/create_id_code_job.rb
  spec/factories/comments.rb
  spec/jobs/comments/create_id_code_job_spec.rb
  spec/system/comments/user_edits_a_comment_spec.rb
Owners: @thepracticaldev/sre

Remove Comments::CreateIdCodeJob which is now done inline (#5536)
  app/jobs/comments/create_id_code_job.rb
  spec/factories/comments.rb
  spec/jobs/comments/create_id_code_job_spec.rb
  spec/system/comments/user_edits_a_comment_spec.rb
Owners: @thepracticaldev/sre

Migrate Comments::BustCacheJob to Comments::BustCacheWorker and move to Sidekiq (#5502)
  app/models/comment.rb
  app/workers/comments/bust_cache_worker.rb
  spec/models/comment_spec.rb
  spec/workers/comments/bust_cache_worker_spec.rb
Owners: @thepracticaldev/sre

Migrate Comments::BustCacheJob to Comments::BustCacheWorker and move to Sidekiq (#5502)
  app/models/comment.rb
  app/workers/comments/bust_cache_worker.rb
  spec/models/comment_spec.rb
  spec/workers/comments/bust_cache_worker_spec.rb
Owners: @thepracticaldev/sre

Add let_it_be_readonly to avoid updating variables (#5407)
  spec/models/notification_spec.rb
  spec/support/initializers/test_prof.rb
Owners: none

Add let_it_be_readonly to avoid updating variables (#5407)
  spec/models/notification_spec.rb
  spec/support/initializers/test_prof.rb
Owners: none

Send Sidekiq data to Honeycomb (#5517) [deploy]
  config/initializers/sidekiq.rb
  lib/sidekiq/honeycomb_middleware.rb
  spec/lib/sidekiq/honeycomb_middleware_spec.rb
Owners: @thepracticaldev/sre

Send Sidekiq data to Honeycomb (#5517) [deploy]
  config/initializers/sidekiq.rb
  lib/sidekiq/honeycomb_middleware.rb
  spec/lib/sidekiq/honeycomb_middleware_spec.rb
Owners: @thepracticaldev/sre

Add initial usage metrics for datatog (#5544) [deploy]
  app/workers/metrics/record_daily_usage_worker.rb
  lib/tasks/fetch.rake
  spec/workers/metrics/record_daily_usage_worker_spec.rb
Owners: @thepracticaldev/sre

Add initial usage metrics for datatog (#5544) [deploy]
  app/workers/metrics/record_daily_usage_worker.rb
  lib/tasks/fetch.rake
  spec/workers/metrics/record_daily_usage_worker_spec.rb
Owners: @thepracticaldev/sre

refact: refactor userDetails (#5467)
  app/javascript/.eslintrc.js
  app/javascript/chat/__tests__/__snapshots__/userDetails.test.jsx.snap
  app/javascript/chat/userDetails.jsx
Owners: none

refact: refactor userDetails (#5467)
  app/javascript/.eslintrc.js
  app/javascript/chat/__tests__/__snapshots__/userDetails.test.jsx.snap
  app/javascript/chat/userDetails.jsx
Owners: none

Internal Reports: Searching and sorting with Ransack (#5447) [deploy]
  Gemfile
  Gemfile.lock
  app/controllers/internal/feedback_messages_controller.rb
  app/views/internal/feedback_messages/index.html.erb
  spec/factories/feedback_messages.rb
  spec/system/internal/admin_manages_reports_spec.rb
Owners: @maestromac, @zhao-andy

Internal Reports: Searching and sorting with Ransack (#5447) [deploy]
  Gemfile
  Gemfile.lock
  app/controllers/internal/feedback_messages_controller.rb
  app/views/internal/feedback_messages/index.html.erb
  spec/factories/feedback_messages.rb
  spec/system/internal/admin_manages_reports_spec.rb
Owners: @maestromac, @zhao-andy

Add more info to architecture.md doc (#5541)
  docs/technical-overview/architecture.md
Owners: @jacobherrington

Add more info to architecture.md doc (#5541)
  docs/technical-overview/architecture.md
Owners: @jacobherrington
