Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/oss, @thepracticaldev/snackcase, @thepracticaldev/hells-bells, @thepracticaldev/delightful, @thepracticaldev/sre, @thepracticaldev/cool, @jacobherrington, @nickytonline

.github/CODEOWNERS:

# CODEOWNERS lists which teams are largely responsible for areas of code in the repository
# see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for further details

/*.md                                               @thepracticaldev/oss
/app/assets/stylesheets/internal/                   @thepracticaldev/snackcase
/app/controllers/articles_controller.rb             @thepracticaldev/hells-bells
/app/controllers/internal/                          @thepracticaldev/snackcase
/app/services/notifications/                        @thepracticaldev/delightful
/app/controllers/notifications/                     @thepracticaldev/delightful
/app/workers/notifications/                         @thepracticaldev/delightful
/app/controllers/internal/broadcasts_controller.rb  @thepracticaldev/delightful
/app/controllers/async_info_controller.rb           @thepracticaldev/sre
/app/controllers/pages_controller.rb                @thepracticaldev/cool
/app/controllers/stories_controller.rb              @thepracticaldev/hells-bells
/app/services/search/                               @thepracticaldev/sre
/app/views/articles/                                @thepracticaldev/hells-bells
/app/views/internal/                                @thepracticaldev/snackcase
/app/views/moderation/                              @thepracticaldev/snackcase
/app/views/notifications/                           @thepracticaldev/delightful
/app/views/partnerships/                            @thepracticaldev/cool
/app/views/stories/                                 @thepracticaldev/hells-bells
/app/workers/                                       @thepracticaldev/sre
/config/                                            @thepracticaldev/sre
/db/                                                @thepracticaldev/sre
/docs/                                              @thepracticaldev/oss    @jacobherrington
/lib/data_update_scripts/                           @thepracticaldev/sre
/lib/sidekiq/                                       @thepracticaldev/sre
/spec/rails_helper.rb                               @thepracticaldev/sre
/spec/requests/internal/                            @thepracticaldev/snackcase
/spec/support/                                      @thepracticaldev/sre
/spec/system/internal/                              @thepracticaldev/snackcase
Gemfile                                             @thepracticaldev/sre    @thepracticaldev/oss
Gemfile.lock                                        @thepracticaldev/sre    @thepracticaldev/oss
package.json                                        @thepracticaldev/oss    @nickytonline
yarn.lock                                           @thepracticaldev/oss    @nickytonline
.travis.yml                                         @thepracticaldev/sre

[deploy] Fix sign in flow (#9182)
  app/liquid_tags/user_subscription_tag.rb
  spec/liquid_tags/user_subscription_tag_spec.rb
Owners: none

[deploy] Fix sign in flow (#9182)
  app/liquid_tags/user_subscription_tag.rb
  spec/liquid_tags/user_subscription_tag_spec.rb
Owners: none

[deploy] Only run JS on appropriate Articles (#9191)
  app/liquid_tags/user_subscription_tag.rb
Owners: none

[deploy] Only run JS on appropriate Articles (#9191)
  app/liquid_tags/user_subscription_tag.rb
Owners: none

Use custom UglifierCompressor to enable source-maps (#9188)
  config/environments/production.rb
  config/initializers/sprockets_uglifier_with_source_maps_compressor.rb
Owners: @thepracticaldev/sre

Use custom UglifierCompressor to enable source-maps (#9188)
  config/environments/production.rb
  config/initializers/sprockets_uglifier_with_source_maps_compressor.rb
Owners: @thepracticaldev/sre

Ignore MetaMask errors on Honeybadger (#9190)
  app/assets/javascripts/base.js.erb
Owners: none

Ignore MetaMask errors on Honeybadger (#9190)
  app/assets/javascripts/base.js.erb
Owners: none

[deploy] Remove /rly code (#9192)
  app/assets/stylesheets/generator.scss
  app/assets/stylesheets/rlyweb.scss
  app/controllers/pages_controller.rb
  app/views/pages/generator.html.erb
  app/views/pages/rlyweb.html.erb
  app/views/service_worker/index.js.erb
  config/routes.rb
  spec/requests/pages_spec.rb
Owners: @thepracticaldev/cool, @thepracticaldev/sre

[deploy] Remove /rly code (#9192)
  app/assets/stylesheets/generator.scss
  app/assets/stylesheets/rlyweb.scss
  app/controllers/pages_controller.rb
  app/views/pages/generator.html.erb
  app/views/pages/rlyweb.html.erb
  app/views/service_worker/index.js.erb
  config/routes.rb
  spec/requests/pages_spec.rb
Owners: @thepracticaldev/cool, @thepracticaldev/sre

[deploy] Add subscriptions to the dashboard (#9161)
  app/controllers/dashboards_controller.rb
  app/models/user_subscription.rb
  app/policies/article_policy.rb
  app/views/dashboards/_dashboard_article_row.html.erb
  app/views/dashboards/subscriptions.html.erb
  config/routes.rb
  db/migrate/20200706184804_add_user_subscriptions_count_to_articles.rb
  db/schema.rb
  spec/models/shared_examples/user_subscription_sourceable_spec.rb
  spec/requests/dashboard_spec.rb
Owners: @thepracticaldev/sre

[deploy] Add subscriptions to the dashboard (#9161)
  app/controllers/dashboards_controller.rb
  app/models/user_subscription.rb
  app/policies/article_policy.rb
  app/views/dashboards/_dashboard_article_row.html.erb
  app/views/dashboards/subscriptions.html.erb
  config/routes.rb
  db/migrate/20200706184804_add_user_subscriptions_count_to_articles.rb
  db/schema.rb
  spec/models/shared_examples/user_subscription_sourceable_spec.rb
  spec/requests/dashboard_spec.rb
Owners: @thepracticaldev/sre

[deploy] Remove unnecessary ?url= param from report-abuse (#9203)
  app/views/articles/_conduct_and_abuse_actions.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Remove unnecessary ?url= param from report-abuse (#9203)
  app/views/articles/_conduct_and_abuse_actions.html.erb
Owners: @thepracticaldev/hells-bells

[deploy] Refactor: Remove Omniauth Error Logs, Send to Honeybadger (#9205)
  app/controllers/omniauth_callbacks_controller.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
Owners: none

[deploy] Refactor: Remove Omniauth Error Logs, Send to Honeybadger (#9205)
  app/controllers/omniauth_callbacks_controller.rb
  spec/system/authentication/user_logs_in_with_github_spec.rb
  spec/system/authentication/user_logs_in_with_twitter_spec.rb
Owners: none

[deploy] Refactor: Remove Unnecessary logging from Video States, Stripe, and GA Events (#9207)
  app/controllers/ga_events_controller.rb
  app/controllers/stripe_active_cards_controller.rb
  app/controllers/video_states_controller.rb
Owners: none

[deploy] Refactor: Remove Unnecessary logging from Video States, Stripe, and GA Events (#9207)
  app/controllers/ga_events_controller.rb
  app/controllers/stripe_active_cards_controller.rb
  app/controllers/video_states_controller.rb
Owners: none

[deploy] Add role and docs for user subscription liquid tag (#9170)
  app/controllers/articles_controller.rb
  app/liquid_tags/user_subscription_tag.rb
  app/models/liquid_tags/user_subscription_tag.rb
  app/models/role.rb
  app/views/pages/_editor_liquid_help.html.erb
  docs/frontend/liquid-tags.md
  spec/factories/articles.rb
  spec/factories/users.rb
  spec/liquid_tags/user_subscription_tag_spec.rb
  spec/models/role_spec.rb
  spec/policies/liquid_tag_policy_spec.rb
  spec/requests/dashboard_spec.rb
Owners: @thepracticaldev/hells-bells, @thepracticaldev/oss, @jacobherrington

[deploy] Add role and docs for user subscription liquid tag (#9170)
  app/controllers/articles_controller.rb
  app/liquid_tags/user_subscription_tag.rb
  app/models/liquid_tags/user_subscription_tag.rb
  app/models/role.rb
  app/views/pages/_editor_liquid_help.html.erb
  docs/frontend/liquid-tags.md
  spec/factories/articles.rb
  spec/factories/users.rb
  spec/liquid_tags/user_subscription_tag_spec.rb
  spec/models/role_spec.rb
  spec/policies/liquid_tag_policy_spec.rb
  spec/requests/dashboard_spec.rb
Owners: @thepracticaldev/hells-bells, @thepracticaldev/oss, @jacobherrington

[deploy] Make the mobile Navigation icons configurable (#9056)
  app/assets/images/lightning.svg
  app/assets/images/stack.svg
  app/assets/stylesheets/articles.scss
  app/controllers/internal/configs_controller.rb
  app/models/site_config.rb
  app/views/articles/index.html.erb
  app/views/articles/tag_index.html.erb
  app/views/internal/configs/show.html.erb
  app/views/users/show.html.erb
  spec/requests/internal/configs_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/hells-bells

[deploy] Make the mobile Navigation icons configurable (#9056)
  app/assets/images/lightning.svg
  app/assets/images/stack.svg
  app/assets/stylesheets/articles.scss
  app/controllers/internal/configs_controller.rb
  app/models/site_config.rb
  app/views/articles/index.html.erb
  app/views/articles/tag_index.html.erb
  app/views/internal/configs/show.html.erb
  app/views/users/show.html.erb
  spec/requests/internal/configs_spec.rb
Owners: @thepracticaldev/snackcase, @thepracticaldev/hells-bells

Refactor: Send RSS Reader and Payment Errors to Honeybadger (#9209)
  app/services/payments/customer.rb
  app/services/rss_reader.rb
  app/workers/users/delete_worker.rb
  spec/services/rss_reader_spec.rb
  spec/support/fixtures/vcr_cassettes/RssReader/_get_all_articles/logs_a_fetching_error.yml
  spec/support/fixtures/vcr_cassettes/RssReader/_get_all_articles/logs_an_article_creation_error.yml
  spec/support/fixtures/vcr_cassettes/RssReader/_get_all_articles/reports_a_fetching_error.yml
  spec/support/fixtures/vcr_cassettes/RssReader/_get_all_articles/reports_an_article_creation_error.yml
Owners: @thepracticaldev/sre

Refactor: Send RSS Reader and Payment Errors to Honeybadger (#9209)
  app/services/payments/customer.rb
  app/services/rss_reader.rb
  app/workers/users/delete_worker.rb
  spec/services/rss_reader_spec.rb
  spec/support/fixtures/vcr_cassettes/RssReader/_get_all_articles/logs_a_fetching_error.yml
  spec/support/fixtures/vcr_cassettes/RssReader/_get_all_articles/logs_an_article_creation_error.yml
  spec/support/fixtures/vcr_cassettes/RssReader/_get_all_articles/reports_a_fetching_error.yml
  spec/support/fixtures/vcr_cassettes/RssReader/_get_all_articles/reports_an_article_creation_error.yml
Owners: @thepracticaldev/sre

Refactor: Report Pusher Errors to Honeybadger, Remove Comment Error Logging (#9208)
  app/controllers/comments_controller.rb
  app/controllers/messages_controller.rb
  app/helpers/messages_helper.rb
Owners: none

Refactor: Report Pusher Errors to Honeybadger, Remove Comment Error Logging (#9208)
  app/controllers/comments_controller.rb
  app/controllers/messages_controller.rb
  app/helpers/messages_helper.rb
Owners: none

Create SECURITY.md file (#9216)
  SECURITY.md
Owners: @thepracticaldev/oss

Create SECURITY.md file (#9216)
  SECURITY.md
Owners: @thepracticaldev/oss

[deploy] Replace hardcoded logo with secondary logo config (#9219)
  app/assets/stylesheets/article-form-needed-legacy.scss
  app/views/devise/registrations/_registration_form.html.erb
Owners: none

[deploy] Replace hardcoded logo with secondary logo config (#9219)
  app/assets/stylesheets/article-form-needed-legacy.scss
  app/views/devise/registrations/_registration_form.html.erb
Owners: none

[deploy] Bug Fix: Remove Rails Validation for Follow Uniqueness, Guard against dup Follow Jobs (#9222)
  app/controllers/users_controller.rb
  app/models/follow.rb
  spec/models/follow_spec.rb
Owners: none

[deploy] Bug Fix: Remove Rails Validation for Follow Uniqueness, Guard against dup Follow Jobs (#9222)
  app/controllers/users_controller.rb
  app/models/follow.rb
  spec/models/follow_spec.rb
Owners: none

[deploy] Refactor:Send a Couple More Errors to Honeybadger (#9223)
  app/labor/email_digest.rb
  app/lib/release_phase_notifier.rb
Owners: none

[deploy] Refactor:Send a Couple More Errors to Honeybadger (#9223)
  app/labor/email_digest.rb
  app/lib/release_phase_notifier.rb
Owners: none

Add Github CodeQL code scanner for JavaScript (#9217)
  .github/workflows/codeql-analysis.yml
Owners: none

Add Github CodeQL code scanner for JavaScript (#9217)
  .github/workflows/codeql-analysis.yml
Owners: none

[deploy] Log instantClick errors (#9226)
  app/assets/javascripts/base.js.erb
Owners: none

[deploy] Log instantClick errors (#9226)
  app/assets/javascripts/base.js.erb
Owners: none

[deploy] Add number_with_delimiter to post count (#9225)
  app/views/tags/index.html.erb
Owners: none

[deploy] Add number_with_delimiter to post count (#9225)
  app/views/tags/index.html.erb
Owners: none
