Repository yellowflash2041/Assassin-Community, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thepracticaldev/sre, @maestromac, @jacobherrington, @zhao-andy

.github/CODEOWNERS:

# SRE
Gemfile @thepracticaldev/sre
/db/ @thepracticaldev/sre
/config/ @thepracticaldev/sre
/app/jobs/ @thepracticaldev/sre
/app/workers/ @thepracticaldev/sre

# Mac
Gemfile   @maestromac
yarn.lock @maestromac

# Jacob
/app/assets/stylesheets/internal/ @jacobherrington
/app/controllers/internal/        @jacobherrington
/app/views/internal/              @jacobherrington
/app/views/moderation/            @jacobherrington
/spec/system/internal/            @jacobherrington
/spec/requests/internal/          @jacobherrington
/docs/                            @jacobherrington

# Andy
/app/assets/stylesheets/internal/ @zhao-andy
/app/controllers/internal/        @zhao-andy
/app/views/internal/              @zhao-andy
/app/views/moderation/            @zhao-andy
/spec/system/internal/            @zhao-andy
/spec/requests/internal/          @zhao-andy

Add article's record key to Fastly Surrogate-Key to separate caches (#5543)
  app/controllers/api/v0/comments_controller.rb
  app/jobs/comments/bust_cache_job.rb
  app/workers/comments/bust_cache_worker.rb
  spec/jobs/comments/bust_cache_job_spec.rb
  spec/requests/api/v0/comments_spec.rb
  spec/workers/comments/bust_cache_worker_spec.rb
Owners: @thepracticaldev/sre

Add article's record key to Fastly Surrogate-Key to separate caches (#5543)
  app/controllers/api/v0/comments_controller.rb
  app/jobs/comments/bust_cache_job.rb
  app/workers/comments/bust_cache_worker.rb
  spec/jobs/comments/bust_cache_job_spec.rb
  spec/requests/api/v0/comments_spec.rb
  spec/workers/comments/bust_cache_worker_spec.rb
Owners: @thepracticaldev/sre

Adding info about disappearing tokens (#5523)
  docs/backend/auth-twitter.md
Owners: @jacobherrington

Adding info about disappearing tokens (#5523)
  docs/backend/auth-twitter.md
Owners: @jacobherrington

Send past week aggregate x day active user data to datadog (#5553) [deploy]
  app/workers/metrics/record_daily_usage_worker.rb
  spec/workers/metrics/record_daily_usage_worker_spec.rb
Owners: @thepracticaldev/sre

Send past week aggregate x day active user data to datadog (#5553) [deploy]
  app/workers/metrics/record_daily_usage_worker.rb
  spec/workers/metrics/record_daily_usage_worker_spec.rb
Owners: @thepracticaldev/sre

Improved BadgeRewarder (#5525)
  app/labor/badge_rewarder.rb
  spec/labor/badge_rewarder_spec.rb
Owners: none

Improved BadgeRewarder (#5525)
  app/labor/badge_rewarder.rb
  spec/labor/badge_rewarder_spec.rb
Owners: none

Add strong_migrations gem (#5522)
  Gemfile
  Gemfile.lock
  config/initializers/strong_migrations.rb
Owners: @maestromac, @thepracticaldev/sre

Add strong_migrations gem (#5522)
  Gemfile
  Gemfile.lock
  config/initializers/strong_migrations.rb
Owners: @maestromac, @thepracticaldev/sre

Remove old Notifications::RemoveAllJob (#5547) [deploy]
  app/jobs/notifications/remove_all_job.rb
Owners: @thepracticaldev/sre

Remove old Notifications::RemoveAllJob (#5547) [deploy]
  app/jobs/notifications/remove_all_job.rb
Owners: @thepracticaldev/sre

Only setup StrongMigrations in dev or test (#5562) [deploy]
  config/initializers/strong_migrations.rb
Owners: @thepracticaldev/sre

Only setup StrongMigrations in dev or test (#5562) [deploy]
  config/initializers/strong_migrations.rb
Owners: @thepracticaldev/sre

Disable Beeline on Schedulers and in Console (#5561)
  datadog/prerun.sh
Owners: none

Disable Beeline on Schedulers and in Console (#5561)
  datadog/prerun.sh
Owners: none

Remove Mentions create all job (#5550) [deploy]
  app/jobs/mentions/create_all_job.rb
  spec/jobs/mentions/create_all_job_spec.rb
Owners: @thepracticaldev/sre

Remove Mentions create all job (#5550) [deploy]
  app/jobs/mentions/create_all_job.rb
  spec/jobs/mentions/create_all_job_spec.rb
Owners: @thepracticaldev/sre

Add guide for Ransack to docs [ci skip] (#5554)
  docs/internal/internal-search.md
  docs/internal/readme.md
  docs/technical-overview/stack.md
Owners: @jacobherrington

Add guide for Ransack to docs [ci skip] (#5554)
  docs/internal/internal-search.md
  docs/internal/readme.md
  docs/technical-overview/stack.md
Owners: @jacobherrington

Remove migrated job to bust comment cache (#5548)
  app/jobs/comments/bust_cache_job.rb
  spec/jobs/comments/bust_cache_job_spec.rb
Owners: @thepracticaldev/sre

Remove migrated job to bust comment cache (#5548)
  app/jobs/comments/bust_cache_job.rb
  spec/jobs/comments/bust_cache_job_spec.rb
Owners: @thepracticaldev/sre

Create new NewFollowerWorker and start sending jobs to it (#5556) [deploy]
  app/models/notification.rb
  app/services/notifications/new_follower/send.rb
  app/workers/notifications/new_follower_worker.rb
  spec/models/notification_spec.rb
  spec/services/notifications/new_follower/send_spec.rb
  spec/workers/notifications/new_follower_worker_spec.rb
Owners: @thepracticaldev/sre

Create new NewFollowerWorker and start sending jobs to it (#5556) [deploy]
  app/models/notification.rb
  app/services/notifications/new_follower/send.rb
  app/workers/notifications/new_follower_worker.rb
  spec/models/notification_spec.rb
  spec/services/notifications/new_follower/send_spec.rb
  spec/workers/notifications/new_follower_worker_spec.rb
Owners: @thepracticaldev/sre

Increase cache TTL for social preview images (#5471) [deploy]
  app/lib/html_css_to_image.rb
  spec/lib/html_css_to_image_spec.rb
Owners: none

Increase cache TTL for social preview images (#5471) [deploy]
  app/lib/html_css_to_image.rb
  spec/lib/html_css_to_image_spec.rb
Owners: none

Update travis's artifacts path (#5568)
  .travis.yml
Owners: none

Update travis's artifacts path (#5568)
  .travis.yml
Owners: none

Change font size for search and message input (#5572) [deploy]
  app/assets/stylesheets/chat.scss
  app/assets/stylesheets/top-bar.scss
  app/views/service_worker/index.js.erb
Owners: none

Change font size for search and message input (#5572) [deploy]
  app/assets/stylesheets/chat.scss
  app/assets/stylesheets/top-bar.scss
  app/views/service_worker/index.js.erb
Owners: none

Add eager loading based on Bullet (#5552) [deploy]
  app/controllers/internal/feedback_messages_controller.rb
Owners: @zhao-andy

Add eager loading based on Bullet (#5552) [deploy]
  app/controllers/internal/feedback_messages_controller.rb
Owners: @zhao-andy

Add onboarding sanetization (#5575) [deploy]
  app/javascript/onboarding/components/ClosingSlide.jsx
Owners: none

Add onboarding sanetization (#5575) [deploy]
  app/javascript/onboarding/components/ClosingSlide.jsx
Owners: none

Remove flaky edit button spec (#5579)
  spec/system/articles/user_edits_an_article_spec.rb
Owners: none

Remove flaky edit button spec (#5579)
  spec/system/articles/user_edits_an_article_spec.rb
Owners: none

Move Chart.js to dynamic import (#5576) [deploy]
  app/javascript/analytics/dashboard.js
Owners: none

Move Chart.js to dynamic import (#5576) [deploy]
  app/javascript/analytics/dashboard.js
Owners: none

Add article.comment_score metric calc and tracking (#5560) [deploy]
  app/jobs/articles/score_calc_job.rb
  app/workers/metrics/record_daily_usage_worker.rb
  db/migrate/20200117135558_add_comment_score_to_articles.rb
  db/migrate/20200117135902_add_comment_score_index_to_articles.rb
  db/schema.rb
  spec/jobs/articles/score_calc_job_spec.rb
  spec/workers/metrics/record_daily_usage_worker_spec.rb
Owners: @thepracticaldev/sre

Add article.comment_score metric calc and tracking (#5560) [deploy]
  app/jobs/articles/score_calc_job.rb
  app/workers/metrics/record_daily_usage_worker.rb
  db/migrate/20200117135558_add_comment_score_to_articles.rb
  db/migrate/20200117135902_add_comment_score_index_to_articles.rb
  db/schema.rb
  spec/jobs/articles/score_calc_job_spec.rb
  spec/workers/metrics/record_daily_usage_worker_spec.rb
Owners: @thepracticaldev/sre
